[2020-05-03 06:34] balchua commented on #1172
Just testing this out, what about disabling ufw?  I know this is not the solution, but just wanted to rule it out. Wdyt?

[2020-05-03 10:50] balchua commented on #1172
If this may help, when i checked the logs you uploaded, it seems like `kube-apiserver` is only listening to tcp6.  Netstat didn't show it.
Would disabling tcp6 help?

[2020-05-03 13:41] #1174 closed

[2020-05-03 15:25] giorgos-apo commented on #1143
@iskitsas Thank you very much for your support and immediate answers.

[2020-05-03 15:25] #1143 closed

[2020-05-03 23:59] carlosrmendes commented on #1175
these issues seems related:
https://github.com/coreos/flannel/issues/1104
https://github.com/coreos/flannel/issues/977

[2020-05-04 09:17] ktsakalozos commented on #1034
Thank you @ymyzk. There is a new snap at https://github.com/ubuntu/microk8s/pull/1170/checks?check_run_id=640405337 . This one is better tested.

[2020-05-04 09:47] ymyzk commented on #1034
So far, I confirmed that `microk8s enable dns`, `microk8s disable dns`, and `microk8s join` work :tada: I'll report if I find an issue.

[2020-05-04 09:49] ThomasSchoenbeck commented on #1150
Sorry for the late response. I tested the script above. new certs are valid until the year 2030.

all pods went into unknown state. at around 30 seconds later, all pods went up.

Thanks for the help!

[2020-05-04 12:14] balchua commented on #1150
Now that there is a way to refresh the tokens, are we good to close this one?
Thanks

[2020-05-04 12:17] balchua commented on #1144
@wenhui-prudencemed can you try the new command `microk8s refresh-certs` as mentioned in this issue https://github.com/ubuntu/microk8s/issues/1150 to see if it fixes your problem?
Thanks.

[2020-05-04 12:20] balchua commented on #1144
If the command is not there yet, can u try the script https://gist.github.com/ktsakalozos/5de8d4c86c976eeef0242cc39fdf82b2 as provided in that issue?

[2020-05-04 14:58] ThomasSchoenbeck commented on #1150
yes. i am closing the ticket! Thanks again for the greate help @balchua and @ktsakalozos

[2020-05-04 14:58] #1150 closed

[2020-05-04 16:24] urbandroid commented on #392
i have the same problem

[2020-05-04 16:51] markmandel commented on #95
Would be great to document this. [Agones](https://agones.dev) requires hostPort to be able to connect players to game server Pods, and we've had a few new users get caught by this issue.

[2020-05-04 17:08] knkski commented on #1140
@sakaia: You're getting that error about HTTP request to an HTTPS port because you'll need to specify HTTPS in the curl command:

    curl https://localhost:443

If you do that, do you get a response?
@paravatha, same thing for you. Apologies about the bad command earlier, you'll also want to try `curl https://localhost:443` instead of `curl localhost:80`.

[2020-05-04 17:09] knkski commented on #958
@kawa23, can you attach the `/var/snap/microk8s/1357/inspection-report-20200426_183743.tar.gz` file generated by `microk8s.inspect`?

[2020-05-04 21:47] setharnold opened #1176 "/snap/microk8s/136/microk8s-config.wrapper: line 38: netstat: command not found"
Hello, the microk8s.config script appears to rely on the older `netstat(8)` and `ifconfig(8)` executables rather than using `ip route` and `ip addr`. `netstat(8)` and `ifconfig(8)` were removed from Ubuntu 20.04 (and perhaps earlier):

[code]

(Skipping the inspect, it doesn't feel relevant.)

Thanks

[2020-05-04 21:54] setharnold opened #1177 "significant amount of journal logging"
Hello, on a never-used microk8s install I believe the logging configuration is far too verbose. The microk8s logging completely swamps the other logs on the system:

[code]

Thanks

[2020-05-05 00:06] sakaia commented on #1140
still 404

[code]

[2020-05-05 00:16] APoole00 commented on #935
I am also getting the same issue.

[2020-05-05 04:45] ktsakalozos commented on #1034
The PR with the fix is merged. The snap on the edge channel should be available within the next few hours. Try it with:
[code]

The Patch should reach stable with the 1.18.3 release.

[2020-05-05 04:45] #1034 closed

[2020-05-05 09:29] kaikun213 commented on #1128
I have a similar problem and are not able to access the Kubeflow Dashboard UI via ssh-tunneling and port forwarding. I tried it without and without enabling istio.

@Byest did you find a solution?

[2020-05-05 10:08] a-hahn opened #1178 "Ingress keeps crash-looping on arm64"
On arm64 (Raspi4) my ingress keeps crash-looping and from the logs there is no meaningful information besides the container seems to start.

[code]

[code]

[code]

Not sure what I might try next. It works on another machine with amd64 architecture (and different nginx image of course)

[inspection-report-20200505_113739.tar.gz](https://github.com/ubuntu/microk8s/files/4580029/inspection-report-20

[2020-05-05 13:23] AntonOfTheWoods commented on #1169
Ok, weird, I had a working system and then all of a sudden it stopped working with pretty much exactly the same symptoms - unfortunately it could have been at any time over a period of a few weeks that I didn't notice, and I was also on 1.18/candidate. Could this have been caused by one of the snap auto-updates?

[2020-05-05 13:26] cetiberiojr opened #1179 "Microk8s Insecure Registry not working"
Hi Guys,

I’m configuring my microk8s and I’m having a stranger issue and don’t know anymore how to check it… I know the configurations are ok… at least, it should.

I have a registry I can access only as HTTP (insecure), if I point to my browser, I can see the HTTPS is not accessible but HTTP is (/v2/_catalog)

So, I configured the /var/snap/microk8s/current/args/containerd-template.toml with the

[2020-05-05 13:33] sakaia commented on #1140
I add kubectl describe and logs for nginx-ingress-microk8s-controller.
Private IP is 172.31.24.135

[code]

[code]

[code]

[2020-05-05 13:34] ktsakalozos commented on #1169
@AntonOfTheWoods would you be able to attach the `microk8s.inspect` tarball?

[2020-05-05 13:46] mcwienczek commented on #290
I also would like to know why is this commented out. We are going to use microk8s in production soon and need to retain volumes.

[2020-05-05 13:47] balchua commented on #1179
Can you try removing the `localhost:32000` registry in the `containerd.conf.template`? I've experienced this before.  The containerd v1.2.5 seems to be buggy when it comes to insecure registry.

[2020-05-05 13:55] balchua commented on #1178
The liveness probe isnt reachable.
`Warning  Unhealthy  11m (x136 over 156m)  kubelet, raspi  Liveness probe failed: Get "http://192.168.1.110:10254/healthz": dial tcp 192.168.1.110:10254: connect: connection refused`.
Can you try removing this `--publish-status-address=127.0.0.1` at the command args?

[2020-05-05 13:56] cetiberiojr commented on #1179
Hi @balchua, tested removing the `localhost:32000` restarted and I'm still having the same issue :(

[2020-05-05 16:47] double73 commented on #1179
You should add '--plain-http' option like this
`microk8s ctr --debug images pull --plain-http myregistry.domain.com:5000/image:latest`

[2020-05-05 17:05] cetiberiojr commented on #1179
The `--plain-http` worked,
BUT
the configuration on `containerd.conf.template` doesn't work anymore? if I want to install a pod, he will know that he should use the http?

[2020-05-05 19:06] nicks commented on #1173
Just to keep you all in the loop, sig-cluster-lifecycle has suggested I open a KEP for this to kick the tires more on the proposal.

But I also recognize that microk8s falls slightly outside the KEP process. Are the microk8s maintainers ok with that?

[2020-05-06 02:17] paravatha commented on #1140
@sakaia
are you trying as per the instructions here?
https://github.com/juju-solutions/bundle-kubeflow

[2020-05-06 05:10] ktsakalozos commented on #1179
Containerd should know this is an insecure http registry. Have a look at https://microk8s.io/docs/registry-private

[2020-05-06 05:37] ktsakalozos commented on #1178
@a-hahn this is not the ingress controller we ship with MicroK8s (`mcirok8s enable ingress`), right? Could you share the manifest you are applying? Do you see the same problem with amd64? For reference the ingress manifest we ship is in https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/ingress.yaml

[2020-05-06 05:40] ktsakalozos commented on #1176
Hi @setharnold are you on ppc? This architecture is not actively maintained. Would it be possible to switch to amd64 or arm64? The issue you are reporting is addressed on those archs.

[2020-05-06 06:25] ktsakalozos commented on #1173
Hi @nicks

Thank you for the suggestion and apologies for the late response.

I am +1 to the idea of formalizing on the registry use. I see your proposal this is under discussion. As soon as we have something concrete we can test and ship we will gladly do so.

Here is some info that you might find useful during your investigation. The registry add-on is enabled with `microk8s enable registry`. Th

[2020-05-06 06:41] ktsakalozos commented on #1172
It might worth checking the two first points in https://microk8s.io/docs/troubleshooting#common-issues

Also, could you check packet forwarding is not the problem here:
[code]

[2020-05-06 06:57] ktsakalozos commented on #290
@mcwienczek the hostpath-provisioner is based on [1]. You would better not use it in production. As mentioned in the upstream repository the code is not maintained anymore. It is offered in MicroK8s as an quick and easy way to get you a storage class. On a production environment you would want to follow a suggestion from upstream [2]. Let me know if you are interested in Canonical's recommendation

[2020-05-06 09:32] a-hahn commented on #1178
@balchua I removed `--publish-status-address=127.0.0.1` from the command args but got still the error. Then I removed the livenessProbe from deployment and surprisingly it works !
(I'm using `quay.io/kubernetes-ingress-controller/nginx-ingress-controller-arm:0.26.2` while observing this)
@ktsakalozos I tried a lot with different versions so this isn't the original manifest. No i wonder what would

[2020-05-06 09:58] a-hahn commented on #1178
@ktsakalozos  thats the current manifest (for the deamonset)

[code]

[2020-05-06 11:26] sakaia commented on #1140
No. And thank you for your suggestion.

After your suggestion, I try to install it with following commands.
But status is still installing after 20 minutes.

[code]

Outputs after 20 min following output still keeping

[code]

[2020-05-06 13:26] balchua commented on #1178
Your image isn't `arm64`.  It is only for `arm`.  For `arm64` the image name is this `		nginx-ingress-controller-arm64`
Perhaps that could be the issue.

[2020-05-06 14:11] paravatha commented on #1140
@sakaia , you have to try the cloud (aws) option.. Not the uk8s
https://github.com/juju-solutions/bundle-kubeflow/issues/197

[2020-05-06 16:27] mcwienczek commented on #290
I didn't know that I can use hostPath from vanilla kubernetes. I will use hostPath instead then. Thank you for help @ktsakalozos.

[2020-05-06 20:05] scottbisker opened #1181 "setup_grafana defunct process"
I have clean install of microk8s installed on an Ubuntu 20.04 vm.

I've run the following:
microk8s.enable cilium
microk8s.enable dns dashboard

After some time this results in setup_grafana going into a zombie state.

root        4691  0.0  0.0      0     0 ?        Z    19:47   0:00 [setup_grafana] <defunct>

I've tried without cilium as well and have the same issue.

[inspection-report-20200506

[2020-05-06 22:35] sakaia commented on #1140
Thank you for your suggestion.

It uses on minio for secret key and access key?
I am asking for access key setting.

https://github.com/juju-solutions/bundle-kubeflow/blob/223e3e5b374efd668f5f31ac49f19ce359800627/charms/minio/config.yaml#L7

[2020-05-07 01:03] setharnold commented on #1176
On Tue, May 05, 2020 at 10:40:43PM -0700, Konstantinos Tsakalozos wrote:

Ah, I'm glad to hear it's been addressed. My power9 is the biggest
machine I have that's not already allocated to something, so I thought
it'd be an ideal place to learn microk8s. Fast IO, lots of threads, it
seemed like a perfect fit.

Thanks

[2020-05-07 03:04] AntonOfTheWoods commented on #1169
@ktsakalozos , oops, sorry, I did a purge reinstall. It seems to be working again now. If it does it again (I am pegged on `1.18/stable` now) I will certain up load the `inspect` tarball!

[2020-05-07 07:03] ktsakalozos commented on #1166
I think we should keep the branches available in K8s upstream. As soon as a stable release comes out we also freeze the dqlite patch, place it to the respective branch and leave it. We backport only bug fixes. Performance improvements and new features are made available in the master branch and released on the latest MicroK8s track. This is how MicroK8s releases work so my suggestion is to match t

[2020-05-07 07:28] RootHouston commented on #1150
Also noting that the script @ktsakalozos provided fixes the issue for me. Thank you!

[2020-05-07 13:41] gfbett commented on #1113
I have a similar issue as LouisLang, pods are stuck on ContainerCreating, but I'm able to go to http://localhost:32000/v2/_catalog with the browser and it responds correctly. I had to restart microk8s a few times for the containers to be created.

[2020-05-07 13:50] a-hahn commented on #1178
@balchua @ktsakalozos After a complete reinstall (now Ubuntu 20.04) everything worked out-of-the-box. Seems that things got screwed up somewhere - probably access rights. Anyway thx for your support

[2020-05-07 13:50] #1178 closed

[2020-05-07 14:02] ktsakalozos commented on #1113
Please attach the tarball produced by the `microk8s.inspect` command.

[2020-05-07 16:10] gfbett commented on #1113
I need to clean some info that I cannot share before uploading the tarball. I'll create a minimal reproduction and attach the report.
In the meantime in the logs I see this: May 07 10:50:27 mycomputer microk8s.daemon-kubelet[27650]: E0507 10:50:27.664527   27650 kuberuntime_image.go:50] Pull image "localhost:32000/myservice:1.0.0-SNAPSHOT" failed: rpc error: code = Unknown desc = failed to resolve

[2020-05-08 01:08] jamesthegiantpeach commented on #729
Hi @jobh I don't know why I didn't see this. I actually just went back to that other workstation and it did in fact have caps in the hostname. I removed the caps from the hostname and everything worked on the work station just fine. Definitely a duplicate of your issue. Thanks I think we can close this as dupe of https://github.com/ubuntu/microk8s/issues/902

[2020-05-08 01:08] #729 closed

[2020-05-08 03:08] jazarja commented on #1167
I found similar issue, upon observation to daemon-apiserver journal.log, I found this entry

Seems the certificate is generated using UTC while my server using GMT+7

[2020-05-08 03:55] balchua commented on #499
This is fixed now.  The ingress is now in `ingress` namespace.

[2020-05-08 03:55] #499 closed

[2020-05-08 06:01] deruci opened #1184 "Use microk8s enable helm in offline environment"
This issue is request for supporting some offline mode(w/o connectivity) for "enable" command.
For microk8s, I can download required files and could install by following below:
![image](https://user-images.githubusercontent.com/5226447/81375440-7bd76380-913c-11ea-9950-5eb41fa45791.png)

But It seems that "enable" command doesn't support any offline environment currently.
Is there any other way to

[2020-05-08 07:04] njleon007 commented on #1179
@ktsakalozos
I use microk8s to be a CI/CD cluster, run all jobs in k8s with unsecurity registry.
 I find --plain-http is always worked.
microk8s ctr images pull --plain-http myregistry.domain.com/image:latest

[2020-05-08 07:20] balchua commented on #1184
MicroK8s isn't packaging the addon together with the snap.
Im guessing the easiest way is to setup a proxy while setting up your environment.

To use a proxy with MicroK8s, you can follow this doc.
https://microk8s.io/docs/install-proxy

[2020-05-08 07:51] balchua commented on #1181
Doesn't necessarily answer your question, but i think we should retire the use of heapster, influx and grafana in this addon.

[2020-05-08 12:02] ktsakalozos commented on #1181
+1 to that. @tvansteenburgh @joedborg wdyt?

@scottbisker you can get a prometheus based monitoring dashboard with the prometheus addon `microk8s enable prometheus`.

[2020-05-08 14:19] double73 commented on #1179
Please make sure /var/snap/microk8s/current/args/containerd.toml has your registry settings
It will be updated when after microk8s stop/start

[2020-05-08 14:38] double73 commented on #1179
If the pod is running in a worker node, not a master, it should also be microk8s stop/started there.

[2020-05-08 15:46] ktsakalozos commented on #1179
Restarting services on nodes is also possible with systemctl, for example: `systemctl restart snap.microk8s.daemon-containerd`

[2020-05-08 16:19] njleon007 commented on #1179
@double73 , need restart all system? including master and nodes?
I think restart containerd and microk8s should be OK.

[2020-05-08 17:33] double73 commented on #1179
Each worker node has to restart the containerd using @ktsakalozos' suggested command.

[2020-05-08 19:18] lazzarello commented on #629
Oh my yes. this works and is quite fast. closing.

[2020-05-08 19:18] #629 closed

[2020-05-09 02:52] njleon007 commented on #1179
@double73 thanks for your help, k8s pod can pull image from my registry.

[2020-05-09 20:09] paravatha commented on #1140
@knkski

I ran this and I am getting 302 redirect

`curl -vv http://10.64.140.43.xip.io`

[2020-05-09 20:27] paravatha commented on #1140
@knkski @sakaia
Just a thought..
As we are updating the public IP in ambassador

`microk8s.kubectl edit -n kubeflow ingress/ambassador # Set spec.rules[0].host to the public IP of the VM, with `xip.io` appended, e.g. `1.2.3.4.xip.io``

Do we have to update the same for these 2?

1. dex-auth
2. oidc-gatekeeper

[2020-05-10 06:12] gpintore82 commented on #382
Any chance to have a branch or version with docker?

[2020-05-10 19:06] urbandroid commented on #72
I have a problem that is something similar if anyone find the root cause if they share with me that will be great.

My problem is that whenever i disconnect wifi service that is reachable when connected becomes unreachable.

Both of them:

default     service/kubernetes         ClusterIP   10.152.183.1     <none>        443/TCP   7d5h
default     service/nginx-deployment   ClusterIP   10.152.183.2

[2020-05-10 23:07] peix2 commented on #1139
@ktsakalozos, wondering if you plan to work more on that in the nearest future or this one is out of priority at the moment?

[2020-05-11 05:22] ktsakalozos commented on #382
It is unlikely we will be shipping docker in MicroK8s. We only need containerd which is what docker is also using to manage containers.

[2020-05-11 11:10] yashjakhotiya opened #1189 "microk8s.enable kubeflow stuck at 2 remaining operator pods to come up"
When enabling kubeflow on an Azure VM with 16GB RAM and 4 CPUs, the waiting for operator pods to come up seems to take a long time. Right now the service has waited 3705s for operator pods to come up and 2 are still remaining.

Moreover, the 'remaining operator pods' started with 23, decreased gradually and then increased to 26 before decreasing again. Is this behaviour common?
[inspection-report-

[2020-05-11 11:26] arijitmazumdar opened #1190 "knative helloworld does not run in microk8s, giving x509 certificate issue"
I have installed knative on microk8s using ubuntu (Ubuntu 20.04 LTS). I am trying basic knative example , but it's not working. 1. First I've tried with kn. (kn was not able to read configuration, so I've exported the configuration using `microk8s.config > ~/kubeconfig`

[code]
I've tried to load using kubectl create, but getting the same error.

 have enable unverified connections using `kubectl

[2020-05-11 12:10] philkry commented on #1127
@ktsakalozos i tried to give it a shot but the branch does not seem to be available?
[code]

[2020-05-11 13:12] MathewStylianidis commented on #958
@kawa23 I have the exact same problem.

[2020-05-11 15:39] knkski commented on #958
@MathewStylianidis: It shouldn't be an issue with 1.18. Would you be able to run `microk8s.inspect` and attach the tarball that it generates here?

[2020-05-11 15:42] knkski commented on #1140
@paravatha: No, ambassador is sitting in front of those two services and will route requests to them as necessary.

In regards to the 302 Found, it looks like you are properly accessing the dashboard, as that will redirect to a login page. Are you able to access that URL with a browser and log in?

[2020-05-11 15:44] knkski commented on #1140
@sakaia: It looks like the service that got created for you in microk8s is `10.64.140.43`. You'll want to go to http://10.64.140.43.xip.io instead of http://localhost to access Kubeflow.

[2020-05-11 15:47] knkski commented on #1128
@kaikun213: Are you able to access the dashboard via Ambassador? If you run `microk8s.kubectl get -n kubeflow services/ambassador`, it should have an External IP set such as `1.2.3.4`, which you can access as http://1.2.3.4.xip.io/

[2020-05-11 17:02] yashjakhotiya commented on #1189
Update: I tried disabling and enabling it. The disabling got stuck so I killed that process and tried enabling. Now, `microk8s status` says, kubeflow is disabled but `microk8s enable kubeflow` says kubeflow has already been enabled. Stuck at this. Attaching my tmux screenshot here.
![2020-05-11-222958_1366x768_scrot](https://user-images.githubusercontent.com/26331636/81589671-3b474680-93d7-11ea-97

[2020-05-11 19:18] yashjakhotiya commented on #1189
Another update - `ERROR cannot deploy bundle: cannot deploy application "metadata-ui": storage class "microk8s-hostpath": etcdserver: request timed out `

[2020-05-11 23:28] jetpackdanger opened #1191 "microk8s.ctr does not support "images tag""
Occasionally I find myself wanting to manipulate image tags locally in the microk8s containerd. Unfortunately the version of ctr shipped (v1.2.5) is too old. Please consider upgrading it.

For reference, this subcommand was added in https://github.com/containerd/containerd/pull/3388

I've been working around this by bind-mounting a newer binary on top of the snap, but obviously that's pretty gross

[2020-05-12 06:03] ktsakalozos commented on #1127
@philkry, we are working on the next iteration of the ha work that would allow the transition of a non-ha cluster to ha. I will ping you again in this thread hopefully within the week to show you how this work progresses. Thank you for your interest, we appreciate your feedback.

[2020-05-12 06:53] ktsakalozos commented on #1139
@peix2 the issue you report is confirmed. The fix I thought I had (see the PR) works for me, it passed the review but you report it is not working on your setup so I did not go ahead with the merge. I am not sure how to proceed. Have you tried any configuration that worked?

[2020-05-12 11:25] MathewStylianidis commented on #958
@knkski  [inspection-report-20200511_150708.tar.gz](https://github.com/ubuntu/microk8s/files/4615205/inspection-report-20200511_150708.tar.gz)

[2020-05-12 14:19] ktsakalozos commented on #1139
@peix2 could you try to load br_netfilter with `modprobe br_netfilter` after installing the snap in the proposed PR?

[2020-05-12 20:38] bdols commented on #1167
I also encounted this error. @jazarja comment fixed my issue. I'm running stable version 1378, v1.18.2, will this be fixed in the next stable release?

[2020-05-12 20:40] DazWilkin opened #1192 "Remove kube-apiserver insecure port (8080)"
This question has been asked before (#198) but I'm unclear on the resolution.

Like MicroK8s a lot... running v.1.16.8:

I'd like to avoid having kube-apiserver on 8080.

I reviewed /var/snap/microk8s/current/args/kube-apiserver but there's no obvious place here where its being configured to run on 8080. In fact, the only port referenced is the expected 16443:

However:

[code]

Gets me `users:(("

[2020-05-12 22:27] balchua commented on #1192
Hi,

Can you go to `/var/snap/microk8s/current/args/kube-apiserver`
And add this `--insecure-port=0` like shown below?

[code]
Afaik setting `insecure-port=0` effectively turns off the insecure port.

After that you can restart microk8s.

[code]
Let me know if this works.

[2020-05-12 22:37] nicks commented on #1173
Thanks! That's helpful info. I'm hopeful this will be minimal engineering work to add, most of the work is driving consensus.

KEP PR: https://github.com/kubernetes/enhancements/pull/1757
KEP tracking issue: https://github.com/kubernetes/enhancements/pull/1755

[2020-05-13 00:36] peix2 commented on #1139
@ktsakalozos I have repeated test with br_netfilter loaded - indeed, it hasn't been loaded before - good spot.

[code]

That means it works!

Why I was looking into that is because I ran multinode cluster based on microk8s and this was breaking my app behaviour when certain pods been located on different nodes. In the meantime I just went with vanilla k8s and that works, so not much more environme

[2020-05-13 03:04] rpdeadly opened #1193 "microk8s stopped working after latest ubuntu update"
Hello.
           I am unable to produce a tarball using inspect or query using kubectl. The error message i get is "Unable to connect to the server: net/http: TLS handshake timeout". I'm running Ubuntu 18.04.4 LTS

Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running
  Service snap.microk8s.daemon-flanneld is running
  Service snap.microk8s.daemon-containerd is running
  Se

[2020-05-13 07:43] ktsakalozos commented on #1139
@peix2 good to hear we solved this mystery. I updated the attached PR to try an load the br_netfilter module. This setup seems to work fine in multinode setups. Thank you for helping in fixing this.

[2020-05-13 08:57] ktsakalozos commented on #1193
Does this persist if you reinstall with `snap remove microk8s` and `snap install microk8s --classic`? Have you installed a specific channel?

[2020-05-13 09:12] ednaganon opened #1194 "Multus does not create a second interface in POD"
I would like to have a second flannel interface  in a pod using Multus. I have few questions
1. First try - since Flannel exists as the default network, i create only multus-daemonset.yml and flannel networkAattachmentDefinition network (but not flannel daemonset). Creating a test pod with the annotation - only eth0 created:

$ **kubectl -n=kube-system get po -o wide**
[sudo] password for eganon:

[2020-05-13 12:04] rpdeadly commented on #1193
I'm running  v1.18.2 latest/stable version of microk8s. I did a reinstall and things are working again. Thanks @ktsakalozos

[2020-05-13 12:04] #1193 closed

[2020-05-13 16:27] DazWilkin commented on #1192
Outstanding! Thank you.

[2020-05-13 20:29] peix2 commented on #1139
Due diligence I will test it later on multinode setup and close this ticket in case of successful test.

[2020-05-13 21:52] peix2 commented on #1139
Tested on 2 node deployment where server and client pods are on different nodes and all works as it should. Problem solved. Again, thanks @ktsakalozos for taking care of it.

[2020-05-13 21:52] #1139 closed

[2020-05-14 01:04] jasonmccallister commented on #1132
Thanks @ktsakalozos, I think the issue is that most of what I was looking for is not available on ARM64 (e.g. Istio and Linkerd).

I think again the output is what threw me off. Something along the lines of `Linkerd is not available on ARM64` would be more clear and not cause me to make sure I did not screw something up. Happy to make a PR if/when I get some time.

[2020-05-14 03:20] balchua commented on #1192
@DazWilkin can we close this issue?
Thanks!

[2020-05-14 03:34] #1192 closed

[2020-05-14 10:51] natalytvinova commented on #1189
Same issue. The problem is the misleading status in kubeflow.enable command.
Kubeflow.enable shows that 2 pods remaining, when in fact, `microk8s.kubectl get to --all-namespaces ` shows that all pods are running. But if I do `microk8s.juju status` I can see that cert-manager-controller  and cert-manager-webhook charms are still in maintenance. They get active eventually and the problem resolves it

[2020-05-14 12:43] balchua commented on #1191
There is a PR to upgrade to 1.3.1 here.
Still pending review, this pr also upgraded the configuration to version 2.

https://github.com/ubuntu/microk8s/pull/838

[2020-05-14 20:38] grebennikov opened #1196 "storage is not available in microk8s after reboot"
Successfully installed microk8s 1.18 to 18.04, enabled registry and storage.
Rebooted the machine and kubectl reports that the node is in NotReady state, desired pods are not running.
Syslog shows that the volumes and the configmaps are not available stating some problem with system user.
https://paste.ubuntu.com/p/5ytnrRWTJn/

[2020-05-14 20:39] mrmhodak commented on #1196
[inspection-report-20200514_163656.tar.gz](https://github.com/ubuntu/microk8s/files/4630752/inspection-report-20200514_163656.tar.gz)

[2020-05-14 20:46] mrmhodak commented on #1196
https://paste.ubuntu.com/p/5ZfYKQJPvw/

[2020-05-14 20:49] grebennikov commented on #1196
@ktsakalozos

[2020-05-14 21:37] balchua commented on #1196
@grebennikov @mrmhodak i can see that your hostname contains capital letters.
Kubernetes will try to normalize the hostname to all small letters.
But when microk8s generates the token for the kubelet, its not normalized.

Two ways to try:
1. Easier change the hostname to use all small letters.  But you may need to reinstall microk8s.
2. You can go to `/var/snap/microk8s/current/args/kubelet` and a

[2020-05-15 05:17] ktsakalozos commented on #1196
To verify the capital letter issue try to disable RBAC with `microk8s.disable rbac`.

[2020-05-15 05:37] ktsakalozos opened #1197 "APIserver complaining after dqlite node is removed"
@freeekanayaka after forming an HA cluster and removing one of the nodes the apiserver keeps showing the following exception: https://pastebin.ubuntu.com/p/Xm2s52Gzm5/

*How to reproduce:*
On three machines install MicroK8s from the `edge/ha-dqlite` channel and enable ha:
[code]
Join the three nodes with `sudo microk8s add-node` and `sudo microk8s join ....`.

Wait for all the nodes to become vote

[2020-05-15 08:32] freeekanayaka commented on #1166
I've updated the canonical/kubernetes-dqlite repository, so now we have 2 branches:

- master: this is the current kubernetes master (as of today, hash 96e13de777a), plus dqlite patch
- release-1.18: this is the current kubernetes release-1.18 (as of today, hash 1666bcfa4d3) plus dqlite patch

These branches will need to be updated by hand and rebased when upstream kubernetes branches move forward

[2020-05-15 11:34] freeekanayaka commented on #1197
Ok, I think I've found where the problem is. I'll work on a fix.

This information is actually spurious, don't worry about it. It says "voter" but it's because that particular field is unused and doesn't get updated. It's mainly a bug in the logger, it should only mention the address and not the role.

[2020-05-15 12:08] freeekanayaka commented on #1197
I've put in place a workaround which should fix this specific situation. I've updated the master and release-1.18 branches with it.

If you can rebuild and let me know if it works for you, that'd be great.

I'll also start working on a better fix.

[2020-05-15 12:51] ktsakalozos commented on #1166
Sounds great. Thank you @freeekanayaka. I will start soon the work on pre-stable builds.

[2020-05-15 14:52] nojakub commented on #1127
@ktsakalozos Is it already possible to create fresh N node cluster with HA enabled? Which channel should be used?

[2020-05-15 15:52] adamyi commented on #956
I'm running into the same issue on v1.18.2

[2020-05-15 21:05] ghost opened #1199 "enable istio always takes two tries"
I am running microk8s with the k8s 1.18 snap channel. Every time I run microk8s.enable istio, I
get the following

[code]

However, after a disable and a second run, the install works. This is also true when I use the istio manifests in my internal repository. `kustomize build | microk8s.kubectl apply -f -` returns the same error, but running that command twice causes everything to install properl

[2020-05-16 09:28] adamyi commented on #956
This seems to be the same issue as https://github.com/ubuntu/microk8s/issues/1139 and is fixed in the latest HEAD.

[2020-05-16 11:50] balchua commented on #1181
I've made a pr to update the dashboard as well as remove some of the resources that it used to include such as heapster, influx and grafana.
Its a bare bones dashboard, it also enables metrics-server to get the node metrics.

https://github.com/ubuntu/microk8s/pull/1201

[2020-05-16 13:43] ktsakalozos commented on #1197
It seems to be working @freeekanayaka. Thank you.

[2020-05-16 14:07] ktsakalozos commented on #1127
To get an early glimpse of HA deploy microk8s with:
[code]
Enabling `ha-cluster` is required on all nodes joining/forming an HA cluster.
[code]

The joining process has not changed. You need to `microk8s add-node` to produce a connection string and use that string to join a node with `microk8s join`.

Your cluster needs to have at least three nodes. To check the status of HA you can:
[code]

To re

[2020-05-16 14:43] mogwai commented on #728
This didn't work for a rpi4 with ubuntu 20.04

[2020-05-16 20:26] korhojoa commented on #728
adding it to cmdline.txt does seem to work, however!

[2020-05-17 09:12] balchua commented on #1179
@cetiberiojr are you still getting this issue?

[2020-05-17 17:07] philkry commented on #1127
@ktsakalozos thanks for the info! i quickly spun up 3 nodes, cluster assembly worked as expected. control plane stays available if i kill one node and that node successfully re-joins the cluster when it becomes available again :)
i noticed one thing where i'm not sure it is expected behaviour or not:
it takes quite some time (not measured but i would guesstimate 1minute +)  until the two remaining

[2020-05-18 06:04] mcadam commented on #1151
@egeloen did that fix it for you? I am running in the same issue. thanks

[2020-05-18 06:53] ktsakalozos commented on #1127
@philkry thank you for your feedback. Can you provide more information on how you kill the node? In my tests the departing node is marked as NotReady almost immediately but the pods do not get re-scheduled until much later. This may have to do with the default five minute eviction delay [1].

Also, @freeekanayaka  correctly if I am wrong, if you kill (not cleanly remove) the node acting as the lea

[2020-05-18 07:16] ssmall commented on #1167
I was also experiencing this issue on the stable version. https://github.com/ubuntu/microk8s/issues/1150#issuecomment-620429378 worked for me.

[2020-05-18 07:41] freeekanayaka commented on #1127
I can't speak for the NotReady state as that's something that k8s control, for which I don't know the exact logic.

Regarding the dqlite database, if you have at least 3 nodes (i.e. you are HA), and you gracefully shutdown the current leader (with `systemctl stop snap.microk8s.daemon-apiserver` or any equivalent way to send a `TERM` signal to the apiserver process) then the leadership is immediate

[2020-05-18 07:41] philkry commented on #1127
@ktsakalozos what i did was just rebooting the the node via commandline. i did not cleanly remove it from the cluster.
do i always have to drain the node properly to keep dqlite working? how will HA work, if one node (out of 3) dies due to h/w failure? would this scenario not be covered at all?

[2020-05-18 10:16] tfluehmann commented on #1167
Thanks for the response, #1150 worked for me too. I am closing this issue, since it is tracked in the other thread.

[2020-05-18 10:16] #1167 closed

[2020-05-18 13:49] #819 closed

[2020-05-18 14:23] mavenir-labs opened #1203 "kubernetes kind 'Job' not recognized"
Error: no kind "Job" is registered for version "batch/v1" in scheme "k8s.io/kubernetes/pkg/api/legacyscheme/scheme.go:30"

tried to change it to v1 but still , kind 'Job' not recognized .

any help is welcomed

[2020-05-18 16:30] elf128 commented on #531
I've got similar issue in Ubuntu Server 19.10
[code]
[inspection-report-20200518_162017.tar.gz](https://github.com/ubuntu/microk8s/files/4645367/inspection-report-20200518_162017.tar.gz)

If I manually start microk8s, I get this.
[code]

But, if I run inspect once again — same result.
[code]

[2020-05-18 18:13] DazWilkin commented on #990
I'm unable to get this to work and it's driving me nuts :-)

@j0nd0n7 solution mostly makes sense but, if replicate it, I receive 401s from GCR.

It should not be necessary to duplicate username|password **and** auth; either username|password **or** auth should be required since auth = f(username,password)

I would also prefer to use an access token rather than a service account.

Please see the t

[2020-05-18 18:51] jtackaberry commented on #574
I can reliably reproduce this as well.  Host is Ubuntu 18.04.4 running microk8s 1.18.2 (however I've also observed this on 1.16 and 1.17).

Skipping the kubelet-integrated cAdvisor as the middle-man and looking at containerd directly with `crictl -r unix:///var/snap/microk8s/common/run/containerd.sock stats`, the problem does manifest there as well.  CPU and memory metrics stop incrementing after

[2020-05-18 21:04] mikebrow commented on #990
it worked for me (first try):

[code]

[2020-05-18 21:07] mikebrow commented on #990
[code]

[2020-05-19 00:15] knkski commented on #1127
@ktsakalozos: I've got a cluster deployed with 10 MicroK8s nodes from the stable channel. Will I have to do anything special to try out HA beyond `sudo snap switch microk8s --channel=edge/ha-preview && sudo snap refresh && microk8s enable ha-cluster`?

[2020-05-19 03:23] ssmall opened #1204 "Prometheus add-on pods cannot not start on arm64 nodes"
It appears that the deployments created by the Prometheus operator are not using multi-arch images. After running `microk8s enable prometheus` I see the following:

[code]

When I inspect one of the crashing pods I see
[code]

I am able to fix the crashlooping pods by doing
[code]

and adding the following to `spec.template.spec`:

[code]

[2020-05-19 03:52] m0khalifa commented on #728
Same issue here, tried the appending cgroup_enable=memory cgroup_memory=1 to /boot/firmware/nobtcmd.txt did not help on ubuntu 20.04 and a rb pi4. Appending it to /boot/firmware/cmdline.txt itself did the trick like @korhojoa mentioned.

For anyone who stumbles on this from google like I did and is stuck.

sudo nano /boot/firmware/cmdline.txt
at the end of the file add
cgroup_enable=memory cgroup_

[2020-05-19 05:23] ktsakalozos commented on #1203
Hi @mavenir-labs could you offer a minimal yaml manifest so I can reproduce this? Googling this error pointed me to a helm issue. Are you doing a helm based deployment?

[2020-05-19 05:37] mavenir-labs commented on #1203
Hi,
the problem occurs when I delete a Failed helm deployment of  longhorn (https://longhorn.io/docs/0.8.0/install/install-with-helm/) .

root@microk8s:~# helm ls
NAME            REVISION        UPDATED                         STATUS          CHART                   APP VERSION     NAMESPACE
longhorn        1               Mon May 18 15:18:19 2020        **FAILED**          longhorn-0.8.1

[2020-05-19 05:37] ktsakalozos commented on #531
@elf128, the snapd installation seems to have been corrupted. All services are failing with:
[code]

How did you reach to this setup? Any snapd/package related configuration? The snapcraft people may be able to help you at https://forum.snapcraft.io/ .

[2020-05-19 06:13] fieldju opened #1205 "Routing outbound traffic from pods on node with iptables not working"
I am trying to get something like kube2iam up and running with microk8s.

Basically the goal is to hijack traffic for all pods on a node that are making calls to http://169.254.169.254/latest/meta-data/iam/security-credentials and route them to a special endpoint in a container to turn annotations into AWS IAM credentials.

The service runs the following command at boot time.

[code]

example
[cod

[2020-05-19 07:04] ktsakalozos commented on #574
@jtackaberry could you share the output of `dmesg`? Are there any apparmor denials?

[2020-05-19 07:19] ktsakalozos commented on #1127
@knkski in general switching across channels is not recommended because the services configuration may have diverged. In this case the `latest/stable` and the `ha-preview` should be pretty close.

[2020-05-19 07:34] ktsakalozos commented on #728
So the instructions in [1] need to be updated so they do not indicate the `/boot/firmware/cmdline.txt` is for older machines. Right @evilnick ?

[1] https://microk8s.io/docs/install-alternatives#arm

[2020-05-19 08:02] ktsakalozos commented on #1205
I am not sure exactly what may be wrong but here are some thoughts. Comparing the minikube and microk8s cases, what is the 192.168.0.2:8181 and why is this different than the 192.168.64.12:8181? The pods are on 10.1.0.0/16 and microk8s does not use docker0 I suspect the  192.168.64.12 is where the translation service is?

Could you please use the edge channel of microk8s? We recently addressed a r

[2020-05-19 08:13] ktsakalozos commented on #1203
Are you using the helm binary packaged with MicroK8s (`microk8s enable helm`)?

We may want to upgrade helm as indicated in https://github.com/helm/helm/issues/6894#issuecomment-551896453

[2020-05-19 08:57] ktsakalozos commented on #1204
Which channel did you deploy MicroK8s from? How did you deploy prometheus? I do not think we ship the prometheus addon on arm64.

[2020-05-19 12:23] mavenir-labs commented on #1203
yes , + tiller
kubectl create serviceaccount --namespace kube-system tiller
kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller
helm init --client-only
helm init --service-account tiller --override spec.selector.matchLabels.'name'='tiller',spec.selector.matchLabels.'app'='helm' --output yaml | sed 's@apiVersion: extensions/v1beta1@a

[2020-05-19 17:52] mrmhodak commented on #1196
I have changed hostname to all lower case letters and reinstalled microk8s, but the issue has come back. Looking at the logs, this caught my eyes ( serviceaccount "microk8s-hostpath" not found)

[code]

[2020-05-19 18:00] fieldju commented on #1205
Running `k get pod kube2iam-96d4d86db-b6gl6 -o yaml` on minikube

[code]

So its the IP of the virtual image where as on microk8s its the ip of the physical server (`192.168.0.2`) that I am running ubuntu 20.04 on.

The `8181` comes from the daemon set manifest

[code]

I can override this with a flag:

[code]

Which is used here

[code]

I gave latest/edge a go and it didn't work, but I wonder if

[2020-05-19 18:20] mrmhodak commented on #1196
Looking at more logs, it seems that lots of service accounts do not get created - not sure if that is the symptoms or cause:

[code]

[2020-05-19 18:31] markus7811 opened #1207 "After Power Loss microk8s won't start again"
Hi,

i really need help to get my microk8s running again. I've installed it in an esx vm on my hp microserver gen8. Worked like a charm. Installed unifi, homeassistant, metallb, deconz ... everything worked like i've expected it,... till now -- powerloss and reboot of the vm resulted in:

[code]

 wtf - which certificate?

[code]
stuck here...

what can i do to make microk8s running again?

[2020-05-19 18:34] fieldju commented on #1205
Digging into this more, I found this:

https://askubuntu.com/a/579540
![image](https://user-images.githubusercontent.com/711726/82364751-8c9d9a00-99c4-11ea-9491-074ba0081d44.png)

I think this might be my issue here, let me do a little spike and adjust the command and report back.

[2020-05-19 19:30] mrmhodak commented on #1196
Here is a paste of errors in syslog

https://paste.ubuntu.com/p/fSRKDNfzF4/

[2020-05-19 19:44] knkski commented on #1127
@ktsakalozos: I removed the nodes from the cluster after getting a message about having to remove and rejoin them after enabling HA. I then tried to join a node to the cluster and got this error message:

    $ microk8s join 1.2.3.4:25000/...
    Failed to join cluster. Error code 500.

Checking on the master node, I saw this traceback:

[code]

Not really sure how I triggered this, but purging th

[2020-05-19 20:17] fieldju commented on #1205
Okay, running

[code]

Does have the effect I want, where as with `Minikube` you can use PREROUTING

[2020-05-19 20:17] #1205 closed

[2020-05-19 20:25] mogwai commented on #728
Yes can confirm this works on ubuntu 20.04 on a rpi 4. The file seems to have been renamed in ubuntu 20.04 to cmdline.txt?

[2020-05-19 21:47] balchua commented on #1196
@mrmhodak when u reinstalled microk8s, did you do a `snap remove microk8s` and then `snap install microk8s --classic --channel <preferred channel>`?

[2020-05-19 21:58] mrmhodak commented on #1196
I did the remove the same way (and also removed .kube directory), but did not use --channel option when installing, so it was: `snap install microk8s --classic`

[2020-05-19 22:02] balchua commented on #1196
I see thanks.  After installing microk8s you enabled rbac?

[2020-05-19 22:07] mrmhodak commented on #1196
Yes, I did. I enabled
`dns dashboard prometheus metrics-server rbac registry`

Then I noticed that registry does not work (push gets connection refused). I actually tried disabling rbac, but that did not help to get registry to work.

[2020-05-19 22:10] balchua commented on #1196
Will it be possible to upload the inspect tarball here?

[2020-05-19 22:13] balchua commented on #1207
Is it ok to attach the inspect tarball here?

[2020-05-19 22:14] mrmhodak commented on #1196
Here it is

[inspection-report-20200519_180116.tar.gz](https://github.com/ubuntu/microk8s/files/4653530/inspection-report-20200519_180116.tar.gz)

[2020-05-19 23:57] ElTimablo commented on #925
The problem mysteriously resolved itself on a reboot :shrug:

[2020-05-19 23:57] #925 closed

[2020-05-20 00:05] balchua commented on #1196
Based on the inspect dump they all seemed to be running.  The setup is without `RBAC`.

[code]

[2020-05-20 03:41] mrmhodak commented on #1196
Yes, I disabled rbac before doing the inspection

[2020-05-20 04:05] mrkunkel commented on #1207
Something similar happened to me after a reboot and I had to do this:
https://github.com/ubuntu/microk8s/issues/1150#issuecomment-620429378

[2020-05-20 04:29] balchua commented on #1196
Let's do this step by step. 😊
Ok registry issue with no RBAC.
What error are you getting when trying to push to registry?  It will be great to include the command.
Thanks.

[2020-05-20 05:46] ktsakalozos commented on #1127
Thank you for giving it a try @knkski

To try and reproduce the error I will start from latest/stable refresh to edge/ha-cluster and re-join the nodes.

Joining one node at a time is preferable but since we are in the testing phase we could test the multiple simultaneous join scenario.

Joining in HA takes more time that the non-ha case so the boring "Waiting for node to join the cluster"  is disp

[2020-05-20 06:45] markus7811 commented on #1207
I would upload the tarball, if it would be created - but inspect hangs on the Inspect kubernetes cluster step.

[2020-05-20 08:05] #1203 closed

[2020-05-20 08:12] ktsakalozos commented on #1203
@mavenir-labs I just updated helm to 2.16.7. The snap will be on edge within the day and should be on the latest/stable channel with the 1.18.3 release.

To install the edge channel `sudo snap install microk8s --classic --channel=latest/edge`.

Please reopen the issue if the problem persists.

[2020-05-20 09:46] ShadowJonathan commented on #1022
For anyone reading this with the same issue, `snapd` currently doesnt allow **any indefinite auto-update disabling**, other than this suggestion through a forum thread with a bigger umbrella issue discussion about this; https://forum.snapcraft.io/t/disabling-automatic-refresh-for-snap-from-store/707/268

TL;DR: `snap download foo ; snap install foo.snap --dangerous`, replace `foo` with application

[2020-05-20 20:14] nicks commented on #1173
Hi @ktsakalozos ! I'm doing a last call for any major objections or things I overlooked before we merge the initial spec

https://github.com/kubernetes/enhancements/pull/1757
https://github.com/kubernetes/enhancements/blob/c5b6b632811c21ababa9e3565766b2d70614feec/keps/sig-cluster-lifecycle/generic/1755-communicating-a-local-registry/README.md#design-details

If you're OK with this proposal, a thum

[2020-05-21 07:45] ktsakalozos commented on #1173
Looks good @nicks. You have my +1 on the PR.

[2020-05-21 10:03] nojakub commented on #1127
@ktsakalozos thank for the how to, I can spin ha-cluster with 3 nodes they are connecting to eachother and reporing Ready state. But when I inspect microk8s I get this:
[code]
Should flannel and etcd report FAIL in this case?

[2020-05-21 11:40] ktsakalozos commented on #1127
Yes, etcd and flannel are not used in the HA setup. Calico and dqlite are replacing those. I am making a note to fix inspect so it does not report this as failure. Thank you @nojakub

[2020-05-21 13:40] BigRedS opened #1214 "apparmor rules prevent `exec`s onto pods"
[code]

The fix is to add `/proc/self` to the exceptions in the regex `/etc/apparmor.d/cri-containerd.apparmor.d`

[code]

This appears to be undone when microk8s is updated but I'm not sure how to tell what Snap's doing to files.

I haven't added an inspect tarball because I don't think this is that related (it feels like a snap packaging issue) and mine has some stuff in it that I can't share; I

[2020-05-21 13:58] ktsakalozos commented on #1214
Could you help me reproduce this? What channel are you using? Do you have containerd installed in the host? What distribution are you on? What is the workload you are running?

MicroK8s ships its own containerd so it is strange why you have to update the apparmor profile of containerd on the host.

[2020-05-21 14:08] BigRedS commented on #1214
Sorry, yeah, missed out _all_ the details there. This is just from a `snap install microk8s --classic` on Ubuntu 18.04:

[code]
I'd fixed this before (in this way), and had set that file to immutable. Later, a microk8s.start failed because it couldn't modify that file; I can probably replicate that and grab some relevant logs if that's the interesting bit, and you let me know which logs are releva

[2020-05-21 20:43] camille-rodriguez opened #1215 "Issue with pod communication, pod unable to join cluster"
Hi,

I am aware that this might be more of an application issue, and maybe not caused by microk8s, but I deployed the same app on kubeadm and Charmed Kubernetes without problem, while it fails on microk8s. Any help would be appreciated!

I am deploying [Microsoft Big Data Clusters](https://docs.microsoft.com/en-us/sql/big-data-cluster/big-data-cluster-overview?view=sql-server-ver15) on microk8s. I

[2020-05-21 20:43] camille-rodriguez commented on #1215
[inspection-report-20200521_203539.tar.gz](https://github.com/ubuntu/microk8s/files/4664633/inspection-report-20200521_203539.tar.gz)

[2020-05-21 22:38] balchua commented on #1215
@camille-rodriguez its strange i couldn't find the pod logs in the inspect tarball.

Did you try these troubleshooting tips from https://microk8s.io/docs/troubleshooting

There is a section there where pods couldn't reach each other.

[2020-05-22 10:28] ktsakalozos commented on #1215
What is meant to be on `10.152.183.195:443`? I do not see kubernetes creating a service with that IP.

[2020-05-22 22:39] balchua commented on #1214
This could be related to [this](https://github.com/ubuntu/microk8s/issues/784)

Can you check if your prod has the security profile?
[code]
A workaround mentioned is to reload the apparmor profile
` sudo apparmor_parser -R /var/lib/snapd/apparmor/profiles/snap.microk8s.daemon-containerd`

[2020-05-23 03:07] balchua commented on #1207
@markus7811 can it be that certs are expired like what @mrkunkel mentioned?
There was a bug in the initial release of 1.18, where certs are valid for only 30 days.

[2020-05-23 03:10] balchua commented on #1204
Perhaps @ssmall has a mixed `amd64` and `arm64` cluster.

[2020-05-23 13:19] sstubbs opened #1221 "Replace flannel with calico"
Hi,

I've seen some scripts in the source for setting up calico and dqlite and this pr to change back to flannel https://github.com/ubuntu/microk8s/pull/1209. I have an installation via `sudo snap install microk8s --classic --channel=1.18/stable` Is there some way to do an installation or modify an installation to use calico that is part of the snap. I need network policies and from what I've read

[2020-05-23 15:55] tringuyen-yw opened #1222 "Upgrade Istio to 1.6 (major update)"
Istio has announced a major update [Announcing Istio 1.6](https://istio.io/news/releases/1.6.x/announcing-1.6/) on 2020-05-21
Would appreciate if you can update microk8s accordingly.

[2020-05-24 10:06] PeterSR commented on #1150
Was facing the same issue. The `refresh.sh` script worked for me. Afterwards I was facing DNS resolution errors. All services would crash with errors similar to

[code]

To save others from 2 hours of debugging: Make sure that `coredns` has 1/1 ready in `kubectl -n kube-system get all`. Its readiness probe had failed and logs showed

[code]

Deleting the pod (forcing it to restart) solved the issu

[2020-05-25 03:09] balchua opened #1223 "Rebuilding snap always fails, must always do snapcraft clean folllowed by snapcraft --use-lxd"
Lately, I've been experiencing failure when rebuilding the snap.

This is the error I am getting.

[code]
I have to do `snapcraft clean` followed by `snapcraft --use-lxd` before i can proceed.  Doing the clean makes it really slow when debugging / iterating through some changes.

I don't see this happening before.  Any help will be greatly appreciated.

[2020-05-25 05:59] balchua opened #1224 "`edge` channel issue when joining worker node"
When using the `edge` channel, joining a worker node is failing.

This is due to the cluster agent not returning the right token back (it is returning `None`) to the client.

Further diggin, found out that `get_token()` method (in `agent.py`) is not iterating through the `known_tokens.csv` to find a match.

Thrown error when joining a node:

[code]

[2020-05-25 06:01] balchua commented on #1223
I can do the `snapcraft clean microk8s`, but if my changes does not require a rebuild of kubernetes binaries, is it possible to reuse them?  I couldn't find the previous documentation on how to reuse prebuilt binaries.

[2020-05-25 07:00] ktsakalozos commented on #1221
Hi @sstubbs

Calico is introduced for the HA work, have a look at [1]. You can get get to a calico based setup by installing MicroK8s from the `ha-preview` channel and then `microk8s enable ha-cluster`.

Could you provide some more info on the use case you have? You mention you have resource constraints, could you provide more details? The HA work also replaces etcd with dqlite. Is this a problem?

[2020-05-25 07:09] ktsakalozos commented on #1215
@camille-rodriguez could you share a minimal manifest I could use to reproduce the issue?

As we recently did some network configuration fixes, it may worth trying out a MicroK8s deployment from the edge channel (`sudo snap install MicroK8s --classic --channel=edge`).

[2020-05-25 07:22] balchua commented on #1224
closing this, resolved by the PR

[2020-05-25 07:22] #1224 closed

[2020-05-25 08:14] balchua commented on #1222
Using the `istioctl` to install makes it a lot easier.  Allow different profiles to set during addon enabling will be great.

[2020-05-25 09:21] sstubbs commented on #1221
Ok thanks a lot. I will try it. Currently running kubenernetes on AWS but we still have some applications in vms on local servers which have some extra capacity. Our new work flow is quite reliant on kubernetes so I'm trying to see what I can do with these until everyhting is moved completely to kubernetes.

I will also try cillium. I read this https://itnext.io/benchmark-results-of-kubernetes-net

[2020-05-25 12:47] balchua commented on #1181
@scottbisker the defunct grafana process you see is coming from the old dashboard addon, where old influx , heapster and old grafana is included.
We have since remove those in favor of barebones dashboard and metrics server.
It is available in the `edge` channel.
Is it ok to close this?
Thanks.

[2020-05-25 22:22] cvgaviao commented on #743
@ktsakalozos, would be possible to us, once microk8s is installed and working, to upgrade the installed addons?

[2020-05-26 01:41] balchua commented on #1223
kindda found a way not to fail the build.
By doing an `rm -rf $GOPATH/src/$KUBERNETES_REPOSITORY/_output/` in the file `build-k8s-binaries.sh`.

This has **NO** effect on the build time, as snap detects that the source has changed and will proceed to perform the build.  But i feel that it is better than throwing that error out.

@ktsakalozos or anyone Wdyt?

I can submit a PR for this.

[2020-05-26 02:33] tegk commented on #1222
Feel free to have a look at my [PR](https://github.com/ubuntu/microk8s/pull/1233) to use v1.6.0

[2020-05-26 07:43] egeloen commented on #1151
@mcadam No, for now, I have disabled TLS by using `insecure-skip-tls-verify: true` in my kubeconfig :(I'm able to authenticate on it but without TLS), it's not a solution on a long run, I will need to investigate how to make it working. If you find a solution, it would be very appreciated :)

[2020-05-26 09:15] ktsakalozos commented on #1223
@sergiusens any hints on ho we could address this issue?

[2020-05-26 12:10] balchua commented on #1222
Continuing the discussion here @tegk

I do have some thoughts about using istioctl to install istio, just like what istio documentation says. The same thing with disabling the addon.
Instead of applying the demo profile we can have users set profiles while enabling the addon.
For example:
`microk8s enable istio:profile=default;addonComponents.grafana.enabled=true`

Where these `profile=default;add

[2020-05-26 12:22] tegk opened #1235 "Istio addon: Improvement of the installation options"
This issue aims to discuss how to improve the installation process of Istio for the user in terms of options that would normally be considered in a installation with istioctl.

Furthermore, Istio follows a strategy of built-in profiles to help the user to easily find the desired installation result based on the application scenario. From my point of view it would be desirable to offer these option

[2020-05-26 12:25] tegk commented on #1222
Sorry, I have created a separate issue for this because the discussion could diverge too much from the intention of this issue.

https://github.com/ubuntu/microk8s/issues/1235

[2020-05-26 12:39] balchua commented on #1235
Agree, offering this type of options to users allow one to have minimal istio installation especially on a constrained environment.

One thing that we need to take care of when disabling, is that, the profiles set or custom values set during enabling must also be passed on.

Or we can assume the demo profile while disabling, you will just see components not existing error.

[2020-05-26 16:41] realG commented on #1150
I hit upon the same issue just now, had to run `refresh.sh` and also had to give the coredns pod a kick, thank you @PeterSR for sharing that.

Everything seems to be back to working order, however I cannot pull an image from a private repo now.
[code]
The image is definitely there, I can pull it with docker from another host using the same dockerconfig.json, I haven't made any other changes to my

[2020-05-26 16:51] camille-rodriguez commented on #1215
Hi @ktsakalozos ,
This is a deployment with azdata's tool from Microsoft for Big Data Clusters, there is not really a 'minimal' manifest that I can share, it has to be the whole thing. But I did update to the latest edge version, and I was able to complete the deployment! So it must have been linked to a bug in the current stable version

[2020-05-26 17:46] PeterSR commented on #1150
I actually had problems pulling images as well for a specific deployment, but then I realized that I had forgotten

[code]

for that specific one and it was therefore unrelated to this issue. But I did recreate the regcred secret from scratch in an attempt to fix it, so who knows.

[2020-05-26 18:36] realG commented on #1150
@PeterSR thank you for the tip yet again! I was indeed missing `imagePullSecrets` in the deployment yaml.

[2020-05-26 18:55] camille-rodriguez commented on #1215
@ktsakalozos can you give me more information about what has changed for the networking between stable and edge?

[2020-05-26 19:04] tringuyen-yw commented on #1222
Can you show the step how to use this PR?

[2020-05-26 20:42] tegk commented on #1222
You can build the snap by your self as described here: https://github.com/ubuntu/microk8s/blob/master/docs/build.md

If you are simply interested in trying Istio 1.6, I would just install it by my self with istioctl.

[2020-05-26 20:50] tringuyen-yw commented on #1222
I am more interested in updating Istio 1.6. So `istioctl` seems more interesting. Regardless of the method I would use (whether build the snap or `istioctl`). Would there be any risk of corrupting the "normal" update of microk8s once a stable updated version is released?

[2020-05-26 23:05] tegk commented on #1222
There is no difference if you use istioctl yourself compared to installing binary via Microk8s as you are only assisted with the installation. Microk8s only simplifies the installation of maybe 10 steps to one. There is no update mechanism provided in Microk8s but you can probably use[ istioctl upgrade ](https://istio.io/docs/reference/commands/istioctl/#istioctl-upgrade) for that.

[2020-05-26 23:19] tegk commented on #1235
For installation with istioctl the profile can be specified: `istioctl install --set profile=demo`.

In case failure messages are not desired during uninstalling the `https://istio.io/docs/setup/install/istioctl/#generate-a-manifest-before-installation`can be parsed to obtain the information.

[2020-05-26 23:29] balchua commented on #1235
Good point!  We can keep the generated yaml in `$SNAP_DATA/tmp/istio-install-generated.yaml`.
On disable, we can perhaps just call `$KUBECTL delete -f $SNAP_DATA/tmp/istio-install-generated.yaml`.

[2020-05-26 23:35] tegk commented on #1235
yes, you're right it's even easier, you don't need to read out anything but just delete the generated manifest.

[2020-05-26 23:58] balchua commented on #1235
How about the old istio already installed?
We also need to remove them.
Perhaps the new istio will be extracted onto a different path than the old istio.
To give us chance to remove both the old and new when disabling the addon.

[2020-05-27 00:16] tegk commented on #1235
Do you mean with "old istio" the previous profile installed or a new version?

[2020-05-27 01:09] tringuyen-yw commented on #1222
Unfortunately the `upgrade` commande is not available in the `microk8s.istioctl` that comes with microk8s 1.18.2 which has istio 1.34. Let's see if I can install the istio 1.6 binaries following https://istio.io/docs/setup/upgrade/

[2020-05-27 01:12] tegk commented on #1222
`You can copy the latest istioctl to /var/snap/microk8s/current/bin` an then run `istioctl upgrade` in case you are running the edge snap with istio 1.5.x

[2020-05-27 01:12] balchua commented on #1235
The current istio addon that microk8s incorporate today.  I think its 1.5 or something like that.

[2020-05-27 01:26] tegk commented on #1235
Currently the Istio version is hard coded so there would be no old version present.

[2020-05-27 01:48] tringuyen-yw opened #1236 "Add command `microk8s about` or `microk8s version`"
Currently using microk8s 1.18.2. trying `microk8s version` got an error saying it is not a valid command. I think it would make sense to have a `microk8s about` command which give a quick "about" of the microk8s cluster:
- microk8s version and snap channel
- addon, enabled (or not) and version of the addon
- cluster info

[2020-05-27 02:18] tringuyen-yw commented on #1222
Upgrading istio 1.6 outside of microk8s is a total disaster! There was probably some config or path that microk8s set which `istioctl` is not aware. The upgrade had partially failed now I end up with itsio having incompleted upgrade. Sometime, even bot old and new version exists.
[code]
Is there a way to clean that up?

[2020-05-27 03:07] balchua commented on #1235
There will be. Snaps are automatically updated. Say today im using microk8s v 1.18.2, then it was upgraded to 1.19.0.
But when i was using 1.18.2, i enabled istio which is based on 1.5.

Then when i disable istio on a 1.19.0 the scripts are all based on the new `istioctl`.

Which leaves me with dangling istio 1.5.

I don't if i manage to explain the situation clearly.

[2020-05-27 03:19] abcilike commented on #1090
I had the same problem. How did you solve it?

[2020-05-27 05:07] tringuyen-yw opened #1237 "microk8s.reset still running after +2 hours"
Using microk8s 1.18.2 stable. After a flawed attempt to upgrade istio outside of microk8s I ended up with a partial updated of istio. I decided to reinstall microk8s from scratch by
[code]
`microk8s reset` still running since more than 2 hours. The activity monitor shows `microk8s-reset.wrapper` at 0% CPU but the LED of the hard drive is still blinking nonstop since `microk8s reset` was started.

[2020-05-27 05:58] ktsakalozos commented on #1237
I can see the cluster is not healthy. The apiserver is complaining. This is most probably why `microk8s reset` kept retrying to cleanup any running workloads. I could offer more insight on what went wrong if you give me a way to reproduce the setup you have.

[2020-05-27 07:03] ktsakalozos commented on #1215
Good to hear this seems to be addressed. The issue I suspect is related to what you see is https://github.com/ubuntu/microk8s/issues/1139 and the fix should be available soon on latest stable (it is on latest/edge now).

[2020-05-27 11:38] lwileczek-dmc commented on #1090
@abcilike are you using this on your localhost, a local VM, or in a cloud VM such as AWS, GCP, or Azure?

[2020-05-27 12:11] balchua commented on #1236
To see what microk8s version i use, i usually do `snap info microk8s`.  It will show u the channels available and what is installed.

[2020-05-27 12:42] matthiasbeyer commented on #771
I'm experiencing the same issue, the token just won't work. No error or other notification, just nothing happening.

[2020-05-27 12:55] balchua commented on #1237
Im actually surprised that you're not facing issues.  The hostname has capital letters.
Either change it to all small or add `--hostname-override` in kubelet.

[2020-05-27 13:22] scottbisker commented on #1181
Yes.  It can be closed.

[2020-05-27 13:34] balchua commented on #1181
Thanks.

[2020-05-27 13:34] #1181 closed

[2020-05-27 14:00] Bamfax opened #1239 "Are GPU-enabled container runnable with containerd runtime?"
GPU-enabled pods are failing to start using the gpu addon and trying to stay with containerd (not using docker as default runtime). The cuda-vector-add testing pod remains in pending state and does not start. Looking at the logs of nvidia-device-plugin-daemonset, it also has errors and mentions that the default runtime needs to be changed from containerd to docker.

I would prefer to stay with the

[2020-05-27 14:30] deepakrbharadwaj opened #1240 "Microk8s add-node issue with multiple slave nodes."
Hi Microk8s Team,

We are trying to setup a multinode cluster with microk8s.
To add slave nodes to the microk8s cluster, we are running the add-node command and generating the join command.

The token within that join command seems to be a single-use and with a TTL; and we need to run the add-node command everytime a new node needs to be added to cluster.

Is it possible to generate a multi use, n

[2020-05-27 14:54] camille-rodriguez opened #1241 "Python addons should be able to use the python extension"
This line prevents the use of python extension on files for addons. For example, enable.kubeflow.sh is a python addon, but uses the bash extension because of how the wrapper is configured. An option would be to look for addons with either .sh or .py extensions.  https://github.com/ubuntu/microk8s/blob/c256d7a007e2d5a6620196e778839d4dc9499064/microk8s-resources/wrappers/microk8s-enable.wrapper#L38

[2020-05-27 15:48] Nike-Prallow opened #1242 "Kubelet repeatedly fails when starting microk8s"
When starting microk8s on a Ubuntu 18 LTS v-server the node don't get ready.
Kubelet repeatedly tries to start but it fails each time.

Output from `kubectl describe node`
[code]
Maybe this issue belongs to kubelet. But let me know your thoughts.
Trank you for help.
[inspection-report.tar.gz](https://github.com/ubuntu/microk8s/files/4689867/inspection-report.tar.gz)

[2020-05-27 15:56] GdMacmillan opened #1243 "Create ssh tunnel to Kubeflow UI running on private network"
I'm trying to access the Kubeflow UI at url: 10.64.140.43.xip.io. Kubeflow is enabled on microk8s and I can access the dashboard via web browser on my server. I have enabled ssh so that I can connect from my laptop using `ssh <my-user>@<network-server-ip>`

What I wanted to try and do is use the following to access said web server from my laptop:
 1. Set up a tunnel to the network server:

[code]

[2020-05-27 17:52] ed1000 commented on #1127
@ktsakalozos I'm seeing some problems with certificates. It appears that the certificates from the "node 0" of the cluster are pushed to the other nodes. Whenever I try to access the cluster from any other node, I get:
Unable to connect to the server: x509: certificate is valid for 127.0.0.1, 10.152.183.1, 172.31.65.17, 10.1.56.0, not 172.31.70.251

Is this normal? Or should a new certificate be g

[2020-05-27 18:11] meghas186 commented on #713
@knkski @paravatha - I changed ip address in ingress. but still I am not able to access the dashboard outside my VM. attaching ambassador logs which is saying 302 response code -

ACCESS [2020-05-27T17:29:30.832Z] "GET / HTTP/1.1" 302 UAEX 0 325 2 - "my.laptop.ip.address,10.1.85.1" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36" "f103a9ff

[2020-05-27 18:35] tringuyen-yw commented on #1237
@balchua can you elaborate a bit more on "add --hostname-override in kubelet"?

[2020-05-27 18:49] tringuyen-yw commented on #1237
@ktsakalozos this would be quite time consuming, not sure if it would be worthwhile of your time for now. If there was nothing obvious in the inspection report. Maybe you can close that issue?

I am testing an application which uses an open source stateful serverless technology which is called [Cloudstate](https://cloudstate.io/docs/user/features/index.html). This needs a Custom Resource Definitio

[2020-05-27 21:48] Bamfax commented on #1239
Modifying the relevant files (for sake of testing, switched containerd to 1.3.4) in /var/snap/microk8s/current/args/ (ctr, kubelet, containerd and containerd.toml) to use containerd from the host keeps the error appearing.

[code]

[code]

[2020-05-27 22:46] balchua commented on #1242
I see errors in the kubelet logs like this `Failed to start ContainerManager open /proc/sys/kernel/panic: permission denied`.

Also something like this too.
`failed to get cache information for node 0: open /sys/devices/system/cpu/cpu0/cache: no such file or directory`

This is very strange. Do you happen to be running on strato?

[2020-05-27 23:16] sstubbs opened #1244 "Port Forwarding not working on fresh install"
Hi,

I've installed microk8s using `sudo snap install microk8s --classic --channel=1.18/stable` and installed the following addons `microk8s enable rbac dns storage` when I try to port-forward from another machine on the same internal network I'm getting this error.

[code]

I've found this issue. https://github.com/charmed-kubernetes/bundle/issues/696

Could it be related?

[2020-05-27 23:29] sstubbs commented on #1244
I've tested on the same computer running microk8s using `microk8s kubectl port-forward and am getting the same error`

[2020-05-28 00:03] balchua commented on #1244
@sstubbs
Can u try adding this? Just testing out.

[code]

[2020-05-28 00:24] sstubbs commented on #1244
Thanks. I'm getting this error:
[code]
while trying to create this. You got me on the right track though I think. I'm having a look at this now and will try it too. https://medium.com/@ManagedKube/kubernetes-rbac-port-forward-4c7eb3951e28

[2020-05-28 00:30] paravatha commented on #713
@meghas186 , Please try these port-forward commands
https://github.com/kubeflow/manifests/issues/974#issuecomment-612546805

[2020-05-28 00:51] sstubbs commented on #1244
I've tried this
[code]
The objects do get created but it still doesn't forward as it seems to be connecting as user 127.0.0.1 rather than admin for some reason.

[2020-05-28 03:27] balchua commented on #1244
I've seen this before. I end up creating this ClusterRoleBinding.

[code]
I still dont know where the user `127.0.0.1` is coming from.

[2020-05-28 03:43] Nike-Prallow commented on #1242
Trank you fit your command.
Yes i‘ve test microk8s on strato. Are they trying to block k8s?

[2020-05-28 03:49] Nike-Prallow commented on #1242
Okay im closing this. I think it is an issue at stratos. Thank you for help!
See #893.

[2020-05-28 03:49] #1242 closed

[2020-05-28 06:30] ktsakalozos commented on #1241
Thank you for spotting this and suggesting a fix @camille-rodriguez. We could even have a .* to support any extension.

Would you (or anyone else) be interested in a PR?

[2020-05-28 07:20] lucacerone commented on #884
Hi, I am trying to configure microk8s on my Ubuntu machine to learn about Kubernetes.
I installed microk8s on Ubuntu 20.04 from snap (with the command `sudo snap install microk8s --classic --channel=1.18/stable`), following the instructions from microk8s website.

I added my user to microk8s group, chownd the .kube folder and logged out and logged in.

Then I run:

[code]

and it just hangs, witho

[2020-05-28 07:26] calanchue opened #1245 "'microk8s.enable kubeflow' fails because of juju 'No controller registered'"
[inspection-report-20200528_161553.tar.gz](https://github.com/ubuntu/microk8s/files/4693888/inspection-report-20200528_161553.tar.gz)

running mcirok8s.enable is failed.

[code]

Error message is same as https://github.com/ubuntu/microk8s/issues/943. But problem cause seems different from it.

[code]

how can i solve this?

[2020-05-28 08:03] lucacerone opened #1246 "microk8s status --wait-ready just hangs"
I am new to kubernetes, and I am trying to install microk8s on Ubuntu 20.04 for learning purposes.

I followed the instruction on microk8s' website and I installed microk8s using:

`sudo snap install microk8s --classic --channel=1.18/stable`

Next I run:

`sudo microk8s status --wait-ready`

but after 30 minutes it was still hanging, so I just stopped the process.

FYI this is the output:

[code]

[2020-05-28 08:14] ktsakalozos commented on #1127
@ed1000 currently there is no way to redistribute certificates across nodes and I am not sure if this is the right approach.

Here is a workaround _assuming you know which nodes will join the cluster_. After you have `microk8s enable ha-cluster` on 'node 0' and before joining the nodes, edit the `/var/snap/microk8s/current/certs/csr.conf.template` file. In the `[ alt_names ]` section you can add t

[2020-05-28 08:57] sstubbs commented on #1244
This doesn't work for me either. I wonder do I need to add a service account for 127.0.0.1?

[2020-05-28 09:22] ktsakalozos commented on #1240
Hi @deepakrbharadwaj

We recently added the option to request tokens with a TTL as well as the option to set your own token instead of having one generated for you. This work is available in the `latest/stable` channel:
[code]

The work on the token types is in [1]. Note that the `latest` track is better suited for ephemeral clusters as it will get upgraded to v1.19, v1.20, etc when released from

[2020-05-28 09:40] ktsakalozos commented on #1246
Hi @lucacerone, if you look at the etcd logs with `sudo journalctl -u snap.microk8s.daemon-etcd` (you missed a 'd' in the end) you will see the error:
[code]

You can either free the 2380 port, or you could add something like `--listen-peer-urls https://0.0.0.0:12380` in `/var/snap/microk8s/current/args/etcd` to tell etcd to use a different port. Note this second approach is not tested but should

[2020-05-28 09:56] BigRedS commented on #1214
Ah, yes, we are running with `allowPrivilegeEscalation: false`.

Curiously, the `apparmor_parser -r` doesn't help, but -R followed by -a (as initially suggested in #784) _does_ work:

    sudo apparmor_parser -R /var/lib/snapd/apparmor/profiles/snap.microk8s.daemon-containerd
    sudo apparmor_parser -a /var/lib/snapd/apparmor/profiles/snap.microk8s.daemon-containerd

so I've got a reliable workar

[2020-05-28 09:56] #1214 closed

[2020-05-28 10:50] ktsakalozos commented on #1127
As there is no central identity management each node has its own admin user.

If you want an admin user with the same credentials across all nodes you will have to create one by add to `/var/snap/microk8s/current/credentials/known_tokens.csv` something like:
[code]

We will see if we can automate this, but for now this user creation is a manual step.

[2020-05-28 10:54] lucacerone commented on #1246
Thanks @ktsakalozos! I have no idea what might be using that port.

I'll try to follow your advice!

[2020-05-28 12:05] ktsakalozos commented on #884
@lucacerone `wait-ready` will check two things a) the apiserver responds b) there is a node available.

Try `microk8s.inspect` and attach the tarball in an issue so we take a look.

[2020-05-28 12:23] sstubbs commented on #1244
I also was not able to access logs. I've applied this and can now access logs and port forward for now.
[code]
However I do think there is possibly a bug with this version of the snap using user 127.0.0.1

[2020-05-28 13:41] balchua commented on #1244
I wonder where this `127.0.0.1` is coming from.

[2020-05-28 14:01] ktsakalozos commented on #1244
Could this be the reason: https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/common/utils.sh#L373

[2020-05-28 15:29] camille-rodriguez commented on #1241
@ktsakalozos Happy to help, I will look into it. I'm no expert in bash scripting, but I doubt something as simple as * exists in bash. We'll probably have to loop over the actions to find the correct one, since the following line needs the full path to launch the wrapper.

[2020-05-28 15:31] joedborg commented on #1241
If it's just py and sh, we could do `.{py,sh}`.  Depends what we want to allow I guess.

[2020-05-28 15:33] joedborg commented on #1241
Or do a similar to what I had to do with dashboard-proxy, where we have a shell wrapper around Python (useful for injecting the right environment) https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/microk8s-dashboard-proxy.wrapper

[2020-05-28 15:44] knkski commented on #1243
With that method, you'll run into an issue where you're connecting to `localhost:8080`, and the hostname that Kubeflow is responding to is `10.64.140.43.xip.io`. I'd recommend connecting like this instead:

    ssh -D9999 <username>@<network-server-ip>

And then telling your browser to use a SOCKS5 proxy at localhost, port 9999. Then, you can go to 10.64.140.43.xip.io in your browser

[2020-05-28 15:46] knkski commented on #1245
Can you post the output from `microk8s.juju list-clouds`?

If you run `microk8s.juju update-clouds`, does that fix it?

[2020-05-28 15:46] javaChip56 commented on #771
Got the same issue just now. Unable to authorize using the token. Running on Ubuntu 18.04 LTS.

[2020-05-28 18:09] camille-rodriguez commented on #1241
I submitted a PR, let me know what you think @joedborg @ktsakalozos ! :)

[2020-05-28 18:35] #1215 closed

[2020-05-28 22:16] balchua commented on #1239
@Bamfax you can enable gpu in microk8s by simply executing `microk8s enable gpu`.  It should do all the necessary changes, and then deploy the nvidia daemonset.
After that you can run gpu enabled pods.

[2020-05-29 08:16] Bamfax commented on #1239
@balchua sorry if I did not point that out at the beginning: I was not able to get gpu-enabled containers running at all so far (using containerd). Enabling the gpu addon seems to work fine, kmods are detected. Then trying to run the cuda-vector-add testcontainer it remains in pending state, with "insufficient gpu".

Adding more detail at the the first post in this issue.

[2020-05-29 08:30] ktsakalozos commented on #1239
Could you share the manifest of the `cuda-vector-add` testcontainer?

We use the manifest in [1], is it possible the "limits" are not the ones we have.

[1] https://github.com/ubuntu/microk8s/blob/feature/ha-dqlite/tests/templates/cuda-add.yaml

[2020-05-29 08:46] Bamfax commented on #1239
Thanks. I added missing details and the manifast in the first post. The manifest should have been identical. I retried using [1] to be sure, gives the same result.

[2020-05-29 11:07] calanchue commented on #1245
[code]
Actually i did updating clouds before writing this issue. Becuase of that,`list-clouds` say it is already up to date. I saw something is going on when i tried `update-clouds`. But as you can see above, There were no change when i do `microk8s.enable kubeflow`

[2020-05-29 11:11] balchua commented on #1239
I tested this when i was upgrading containerd to 1.3 and it was spinning up the pod in [1].

[2020-05-29 12:16] balchua commented on #1239
As far as i know (there's a good chance i am wrong), microk8s package the nvidia libs as shown in the [snapcraft.yaml](https://github.com/ubuntu/microk8s/blob/master/snapcraft.yaml).
These are the libs:
* https://nvidia.github.io/nvidia-container-runtime/ubuntu16.04/amd64/nvidia-container-runtime_2.0.0+docker18.06.1-1_amd64.deb
* https://nvidia.github.io/nvidia-container-runtime/ubuntu16.04/amd64/

[2020-05-29 12:23] balchua commented on #1244
@ktsakalozos i can't tell if that can be the reason.  I wonder how it can pass that condition either.

[2020-05-29 18:03] vinhdiesal opened #1251 "Ubuntu 20.04 not working"
I'm currently running Ubuntu 20.04 and having a hard time getting microk8s to show the nodes. After running microk8s inspect, I get the following error:
(base) vinhdiesal@vinhdiesal-Blade-Stealth:~$ microk8s inspect
Inspecting Certificates
Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running
  Service snap.microk8s.daemon-flanneld is running
 **_FAIL:  Service snap.microk8s.

[2020-05-29 18:49] Bamfax commented on #1239
@balchua the library conflict was spot on, many thanks. I purged the four packages mentioned and reinstalled microk8s, enabling just the gpu addon. Checking /var/snap/microk8s/current/args/kubelet config, it is set so use remote/containerd sock. Happy to confirm that containerd is indeed working fine. Many thanks for the help.

[...default install...]

[code]

[code]

[code]

[code]

[code]

Also

[2020-05-29 21:13] croesuslab commented on #920
@ktsakalozos, I tried your suggestion, but it doesn't appear to work. It doesn't fail with any error message, but the cluster does not appear to see the gpus
[code]

Output:
[code]

[2020-05-29 21:36] vinhdiesal commented on #1251
Nevermind, it turns out that I had some kubernetes left lying around, after I performed a snap remove it resolved the issues.

[2020-05-29 22:11] balchua commented on #1251
@vinhdiesal microk8s works on ubuntu 20.04 in your case?
Thanks for confirming.

[2020-05-29 22:22] balchua commented on #1239
Does it mean you are not using the containerd that comes with microk8s?
Sorry am a bit confused. 😁

[2020-05-29 22:52] Bamfax commented on #1239
Microk8s in its default install now, all standard. Installed as described in the previous post, with the standard install command:
`snap install microk8s --classic --channel=1.18/stable`

My /var/snap/microk8s/current/args/kubelet then has this config, that is what meant with "set so use remote/containerd sock"
[code]

[2020-05-29 22:52] #1239 closed

[2020-05-30 03:32] evantorrie commented on #1107
I can confirm that MetalLB works fine for me with microk8s, multipass and MacOS 10.15. Apple must have changed HyperKit networking in Catalina 10.15 vs. Mojave 10.14, but this does work for me.

[2020-05-30 12:38] vinhdiesal opened #1252 "Dashboard not showing."
Hi,

I'm running microk8s version v.1.18 stable on Ubuntu 20.04.
I enabled the dashboard on microk8s and I performed the following: microk8s.kubectl proxy --accept-hosts=.* --address=0.0.0.0 &
which servers on 8001.
I went to the following URL:
http://192.168.1.191:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/
and I see the following errors:
{
  "kind": "Status",

[2020-05-30 14:23] vinhdiesal opened #1253 "Issues with microk8s.kubeflow enable."
I'm having issues enabling kubeflow to start and get the following errors after around 20 minutes of timing out. I am on ubuntu 20.04 running microk8s 1.18.
Enabling dns...
Enabling storage...
Enabling dashboard...
Enabling ingress...
Enabling metallb:10.64.140.43-10.64.140.49...
Waiting for DNS and storage plugins to finish setting up
Kubeflow could not be enabled:
timed out waiting for the condi

[2020-05-30 14:59] vinhdiesal commented on #1252
**some further data points from microk8s:**
microk8s kubectl get pods --all-namespaces
NAMESPACE            NAME                                              READY   STATUS    RESTARTS   AGE
container-registry   registry-7cf58dcdcc-rgphq                         0/1     Unknown   0          17h
ingress              nginx-ingress-microk8s-controller-t5jj9           0/1     Unknown   0          17h
i

[2020-05-30 15:43] vinhdiesal commented on #1252
In my Ubuntu 20.04 environment I used a multipass of ubuntu 18.04 and it appears to have worked. so I believe there is no compatibility with Ubuntu 20.04.

[2020-05-30 15:44] vinhdiesal commented on #1253
I think there is no compatibility with Ubuntu 20.04. It appears to work only with 18.04 as the website described.

[2020-05-30 16:47] Sshuichi opened #1254 "Help building an API using microk8s"
Hello everyone, and thank you for the amazing work.
I'm trying to build the rudderstack-server using helm:
https://github.com/rudderlabs/rudderstack-helm

What I want to achieve:
Run the API and expose it to a port, so I can use Nginx as a reverse proxy on a domain.

What I tried:
[code]
When running kubectl get --namespace default svc -w myproject-rudderstack I get:
[code]
or `kubectl get service

[2020-05-30 18:21] maximillianus commented on #771
i am trying this and I cant access the dashboard too despite already generating token as told the tutorial here: https://ubuntu.com/tutorials/install-a-local-kubernetes-with-microk8s#4-accessing-the-kubernetes-and-grafana-dashboards

[2020-05-31 08:47] jkim711 commented on #1101
Hi
I am stuck at the same problem as well.
Ubuntu version is 18.04.

[2020-05-31 09:52] balchua commented on #1254
There is a metallb addon which can help provide a kubernetes service external ip.

[2020-05-31 09:59] balchua commented on #1252
In the docs, there's a section regarding networking.
https://microk8s.io/docs/troubleshooting#common-issues. If you haven't tried, maybe those can help.

[2020-05-31 10:05] #1251 closed

[2020-05-31 10:06] Sshuichi commented on #1254
Do you have any example how to use it?

On Sun, May 31, 2020, 1:52 PM balchua <notifications@github.com> wrote:

[2020-05-31 10:15] balchua commented on #1254
First you identify the external ips you want your pods to have.  For example in my internal network, my ip ranges from `192.168.0.0/24` which means it has up to 255 devices.  And i want to allocate `192.168.1.200-192.168.1.210`
Then enable metallb like this.

`microk8s enable metallb:192.168.1.200-192.168.1.210`

After you enable metallb, for every new `Service` of type `LoadBalancer` metallb will

[2020-05-31 10:21] balchua commented on #1254
For more info on metallb check their site.
https://metallb.universe.tf/
I believe the metallb addon is using layer 2 mode.

[2020-05-31 14:05] vinhdiesal opened #1255 "Multi-Node Microk8s"
I have a few computers I want to create a Kubernetes clusters. The problem with kubeadm is that it blows up my computer (i have a Razer) running on Ubuntu 20.04 and it is not compatible with the Mac OSx machines.
Apparently minikube doesn't support multi-node clustering, so the closest solution I have in making this Kubernetes cluster work is with MicroK8s.
I'm using the Multiclass with Ubuntu 18.

[2020-05-31 16:54] jeremypng opened #1256 "MicroK8s behind ssl-inspection proxy"
I have followed the proxy instructions and gotten connectivity through the proxy but Helm3 is not installing because the SSL inspection CA is not a trusted cert. Is there a way I can add it to the data directory and have the microk8s' update-ca-certificates script pick it up?

[2020-05-31 19:08] ssmall commented on #1204
^^ correct, I am running a mixed cluster.

1.18/stable

`microk8s enable prometheus`

[2020-05-31 19:27] ssmall opened #1257 "ingress addon does not work on mixed-arch cluster"
I have a 4-node microk8s cluster. 2 of the nodes (including the master) are `linux/amd64` and the remainder are `linux/arm64`. I am running microk8s from the `1.18/stable` channel.

After running `microk8s enable ingress`, I see the following:

[code]

The two pods with `Error` status are running on the `arm64` nodes. Their logs say

[code]

## Workaround

I am able to workaround the issue by upda

[2020-06-01 06:32] knkski commented on #1253
It should work fine on 20.04. Can you run `microk8s.inspect`, and attach the generated tarball?

[2020-06-01 06:41] ktsakalozos commented on #771
Please attach the tarball produced by `microk8s.inspect` and any instructions we could use to reproduce the issue. Thank you.

[2020-06-01 07:01] ktsakalozos commented on #1101
@jkim711, please attach the tarball produced by `microk8s.inspect`.

[2020-06-01 07:11] ktsakalozos commented on #1252
@vinhdiesal could you please attach the tarball created by `microk8s.inspect`? We need to see if all the services are running and they are not why.

[2020-06-01 07:31] ktsakalozos commented on #1255
Hi @vinhdiesal, you should create a network across all nodes so the VMs running into them could see each other without a NAT.

[2020-06-01 08:04] ktsakalozos commented on #1256
Hi @jeremypng I do not have a good answer for you right now. I can only point you to the helm3 addon https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.helm3.sh How would the curl command change?

[2020-06-01 08:18] ktsakalozos commented on #1257
Thank you for reporting this issue and offering a workaround. We should revise the manifests we ship to use this kind of multi-arch images.

For anyone interested in seeing fixing the ingress addon the enable script is at [1] and the manifest is at [2]

[1] https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.ingress.sh
[2] https://github.com/ubuntu/microk8s/blob/master

[2020-06-01 09:58] njleon007 commented on #1179
@double73 @balchua
Sorry to ask for help again.
Occasionally, I find some image can not pull from my insecure registry. I find the kubelet log：

still the https endpoint error, but I don't know what cause this unstable issue.
What I got from google
1. microk8s is not capable of IPV6,  I comment all ipv6 related from /etc/hosts
I guess it related to iptables/dns, but I don't know how to troubleshoo

[2020-06-01 11:57] balchua commented on #1179
@cetiberiojr mind uploading the `containerd.conf.template` here?

[2020-06-01 12:38] jkim711 commented on #1101
Amazing, I left them running on both my PC linux and Azure Linux. Event the PC version finished in the installation, but the Linux on Azure is still hanging, printing "Waited 25290s for operator pods to come up, 5 remaining.".
But the IP address that the kubeflow installation printed out is unreachable.

Congratulations, Kubeflow is now available.
The dashboard is available at http://10.64.140.43.

[2020-06-01 19:55] jeremypng commented on #1256
I do not believe the CURL command would need to change. The helm3 add-on is only generating the error because it is the first thing I have tried to download. The ssl-inspection cert needs to go into /var/lib/snapd/snap/microk8s/current/usr/share/ca-certificates and then /var/lib/snapd/snap/microk8s/current/usr/sbin/update-ca-certificates needs to be run. Then enabling the helm3 add-on or any other

[2020-06-01 20:18] croesuslab commented on #920
I figure out the solution: you need to use the enable command on the nodes, but **before** joining them to the master.
[code]
Then, you run this command on the master:
[code]
The gpus will be visible in the nodes description.

[2020-06-01 23:50] vinhdiesal commented on #1252
I attached the tarball report. All the services seems to be running but I can't get to the dashboard.
[inspection-report-20200601_164808.tar.gz](https://github.com/ubuntu/microk8s/files/4713962/inspection-report-20200601_164808.tar.gz)

[2020-06-01 23:51] vinhdiesal commented on #1253
I attached the tarball. I can't get the Kubeflow to be working
[inspection-report-20200601_164808.tar.gz](https://github.com/ubuntu/microk8s/files/4713966/inspection-report-20200601_164808.tar.gz)

[2020-06-01 23:58] vinhdiesal commented on #1255
Hi, Currently all my machines have the appropriate replicated SSH -keys to connect to each other without a password.
What I tried doing was adding nodes to the microk8s kubernetes cluster.
Here's my procedure:
On one machine I typed in microk8s add-node which gave me a join script which included a key and ipaddress.
I performed an ssh into my computer and logged in the multipass shell with microk8

[2020-06-02 00:15] balchua commented on #1252
@vinhdiesal i can see that your host name has capital letters.  You can do 2 things.

1.  You can change your hostname to all small letters
2. Add in the kubelet args `--hostname-override` located in `/var/snap/microk8s/current/args/kubelet`

Restart microk8s afterwards. Lets see if it works.

[2020-06-02 00:37] vinhdiesal commented on #1252
i tried that and I get the following error:
[code]

[2020-06-02 01:28] jdpc86 commented on #1255
...hmm I happen to run into the same issue today (master mk8s running locally, multipass vm mk8s)...
join via the multipass vm bridge network was hitting the "No route to host", I tried to telnet ip:25000 from vm and it did not work...

it turned out to be a firewall issue, opened it up on host (opened for all ports)...and after that microk8s join worked and a cluster with 2 nodes created...

Alth

[2020-06-02 02:30] njleon007 commented on #1179
@balchua attachment is the containerd-template.txt，I modify sandbox_image url and  add plugins.cri.registry section of my local insecure registry.

thanks for your reply.

[containerd-template.txt](https://github.com/ubuntu/microk8s/files/4714395/containerd-template.txt)

[2020-06-02 02:55] balchua commented on #1252
@vinhdiesal i checked the tarball, no pods are running.  Even coredns.  First i will suggest to bring up components needed by the dashboard.  I believe dns is required by dashboard.
Can help check if all pods are running when u change your hostname to all small letters?

[2020-06-02 05:34] NerdDoc opened #1260 "Does not work microk8s.helm3 plugins install"
Microk8s was installed by using snap on ubuntu 18.04.4

`# snap install microk8s --classic
microk8s (1.18/stable) v1.18.3 from Canonical✓ installed`

Then enabled Helm3

`# microk8s.enable helm3
Enabling Helm 3
Fetching helm version v3.0.2.
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
1

[2020-06-02 06:47] ionfist commented on #1260
I have a similar error trying to install helm plugins on Ubuntu 20.04
`#sudo microk8s.helm3 --debug plugin install https://github.com/databus23/helm-diff --version master`

`[debug] cloning https://github.com/databus23/helm-diff to /root/.cache/helm/plugins/https-github.com-databus23-helm-diff
Error: Unable to get repository: Cloning into '/root/.cache/helm/plugins/https-github.com-databus23-helm-

[2020-06-02 08:44] ktsakalozos commented on #1253
Hi @vinhdiesal I see your hostname has capital letters and you also have RBAC enabled. Could you disable RBAC or change the hostname to all lowercase? Another option is to use the `--hostname-override` argument of kubelet [1]. You will need to edit `/var/snap/microk8s/current/args/kubelet` and then restart microk8s with `microk8s stop; microk8s start`.

[1] https://github.com/ubuntu/microk8s/issue

[2020-06-02 09:49] munjalpatel opened #1262 "Unable to access k8s server using kubectl commands form macOS"
Hello,

I am installing `MicroK8s` using the following procedure as detailed on:
https://microk8s.io/docs/install-alternatives#heading--macos

[code]

However, when I run any command from my macOS with `kubectl` I keep getting the following error:
[code]

![image](https://user-images.githubusercontent.com/2717686/83504620-8fdf5e00-a479-11ea-977c-688757440845.png)

Here is my `~/.kube/config`
![ima

[2020-06-02 10:51] vinhdiesal commented on #1253
I have modifed the `/var/snap/microk8s/current/args/kubelet` as follows:

[code]
I have also disabled `RBAC` by typing in `microk8s.disable RBAC`

Afterwards I restarted microk8s with `microk8s  stop; microk8s start`

I performed a microk8s inspect and got the following error:
[code]
I attached the latest tarbell report from the `microk8s inspect`
[inspection-report-20200602_034805.tar.gz](https:/

[2020-06-02 11:12] vinhdiesal commented on #1255
I have opened the ports on the firewall on the host machine via `ufw` (`any to address port, any to port, etc`)however, still no success on getting the microk8s to communicate with each other. When I tested out the `ssh username@hostname` it establishes connection, however when I test out `ssh username@hostname -p port number` it refuses to establish connections.
Can you help me get the machines c

[2020-06-02 11:45] vinhdiesal commented on #1252
Can you help show how the hostname is in capital letters and how to change it?  In the terminal I see everything lower case.
I did performed the `--hostname-override` and I also changed my hostname to lowercase by going to the Ubuntu settings and put my account name in lowercase.
After I performed a `microk8s stop; microk8s start`, I typed in the following commands: `microk8s.kubectl proxy --accep

[2020-06-02 11:47] ktsakalozos commented on #1253
I am sorry I provided a wrong link for the kubelet arguments [1] in my comment. You need to provide what the hostname gets overridden with.

Also if you can just disable RBAC you do not need to use the hostname override.

[1] https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[2020-06-02 12:08] balchua commented on #1252
Hi,
The journal logs shows like this.
[code]

But with the latest tarball the hostname has been changed to `hadoopmaster` great.
When you added the kubelet args `hostname-override` you didn't pass a value.  But since the names are all small now, you can remove the `hostname-override` args in the kubelet.
After that restart microk8s. `microk8s stop` then `microk8s start`

[2020-06-02 12:18] ktsakalozos commented on #1262
Hi @munjalpatel

could you get the kubeconfig with `microk8s config`?

MicroK8s on mac and windows creates a linux VM. In your kubeconfig you should point to the IP of that VM and not your localhost (127.0.0.1).

[2020-06-02 12:26] balchua commented on #1179
@njleon007 @cetiberiojr another request.
Can you also upload the `containerd.toml`? Thanks

[2020-06-02 12:57] balchua commented on #1257
This is a bit more complex in my opinion.

We need to have as many `DaemonSet` manifest as the number of supported arch. One for `amd64` and another for `arm64` and using `nodeSelector` or `nodeAffinity` we pin it to the right arch.

[2020-06-02 13:51] vinhdiesal commented on #1252
Hi,
I have removed the `hostname-override` from `/var/snap/microk8s/current/args/kubelet` and then performed a `microk8s stop` even rebooted my computer and performed a `microk8s start`
I performed a `microk8s inspect ` and everything looks healthy:
[code]
I performed a `microk8s.kubectl proxy --accept-hosts=.* --address=0.0.0.0 &` command for port 8001 and tried to access the dashboard via `http:

[2020-06-02 14:07] vinhdiesal commented on #1253
Thank you for the Kubelet arguments, I have removed the `hostname-override` from `var/snap/microk8s/current/args/kubelet` restarted microk8s via `microk8s stop; microk8s start`.
I performed a `microk8s inspect` and services look heatlthy:
[code]
I then performed a `microk8s.enable kubeflow` however it hangs up at the following:
[code]

[2020-06-02 14:44] munjalpatel commented on #1262
That was it! Thanks @ktsakalozos

[2020-06-02 14:44] #1262 closed

[2020-06-02 15:06] njleon007 commented on #1179
@balchua sure, thanks

[containerd.txt](https://github.com/ubuntu/microk8s/files/4717983/containerd.txt)

[2020-06-02 16:10] ktsakalozos commented on #1253
With `microk8s kubectl get all -A` I see most of the pods are scheduled for days ago and now some of them are going into the Running state.

Could you try disabling the addons and re-enabling them so we kick-start kubernetes scheduling again?
[code]

[2020-06-02 17:08] davecore82 commented on #583
If anyone else falls here while trying to enable privileged containers on microk8s, the way to do it is to add a PodSecurityPolicy to /var/snap/microk8s/current/args/kube-apiserver:

`--enable-admission-plugins="NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota,PodSecurityPolicy"`

And restar

[2020-06-02 18:00] vinhdiesal commented on #1253
I have disable the pods as instructed by performing a `microk8s disable ` on the following pods individually: `dns, storage, dashboard, ingress, metallb, kubeflow.` When I re-enabled them individually, I noticed some pods stated they were `already enabled`:
[code]

So I thought I'd try disabling the pods again just to make sure, then I fell into the following:
`microk8s disable dns`
[code]
`microk

[2020-06-02 20:01] knkski commented on #1253
@ktsakalozos will probably have to chime in about why you're getting the errors while disabling services, but one thing you could try is just purging the microk8s snap and reinstalling it. That should remove any weirdness associated with having services that you can't disable:

    sudo snap remove microk8s --purge
    sudo snap install microk8s --classic
    microk8s.enable kubeflow

[2020-06-02 21:52] balchua commented on #1252
@vinhdiesal is it ok to reinstall microk8s?
By doing `sudo snap remove microk8s` then `sudo snap install microk8s --classic --channel=<the channel you want to use>`
I think changing the hostname completely led to adverse effect.

[2020-06-02 23:49] vinhdiesal commented on #1253
I performed the `sudo snap remove microk8s --purge` and gotten a little further.
I get the following errors now something about not being able to connect to the API server.
[code]
[inspection-report-20200602_164836.tar.gz](https://github.com/ubuntu/microk8s/files/4720211/inspection-report-20200602_164836.tar.gz)

[2020-06-03 00:01] vinhdiesal commented on #1252
Thank you @balchua, I performed a `sudo snap remove microk8s --purge` then `sudo snap install microk8s --classic` and the dashboard is now working. I am on Ubuntu 20.04.

[2020-06-03 00:06] balchua commented on #1252
Great.  Can we close the issue?

[2020-06-03 00:29] vinhdiesal commented on #1252
Yes. Thanks again.

[2020-06-03 00:29] #1252 closed

[2020-06-03 05:20] foxel commented on #920
@croesuslab how do you see gpu is available?

[2020-06-03 07:22] ktsakalozos commented on #1253
The cluster looks better now.

Could you share the output of `KUBEFLOW_DEBUG=true microk8s.enable kubeflow` ?

[2020-06-03 08:24] #1246 closed

[2020-06-03 08:38] sstubbs opened #1264 "Microk8s Namespaces In Terminating Status On Reset"
Hi,

Whenever I run microk8s reset it gets stuck at deleting namespaces. If I check the cluster I can see that all custom namespaces added are stuck terminating. If I cancel the reset process and then stop and start the cluster they then do terminate properly and are removed but ideally this wouldn't need to be done.

[2020-06-03 11:02] vinhdiesal commented on #1253
Hi,
I attached the output of the `KUBEFLOW_DEBUG=true microk8s.enable kubelow`

[Microk8s kubelow Debug True Output.txt](https://github.com/ubuntu/microk8s/files/4722803/Microk8s.kubelow.Debug.True.Output.txt)

[2020-06-03 13:36] croesuslab commented on #920
They appear in the nodes description as "nvidia.com gpu"

You can use this command to get a better formatted view:

[code]

[2020-06-03 19:26] vinhdiesal commented on #1253
any solution to the error?

[2020-06-04 00:30] james-powis opened #1266 "microk8s ingress backend timeout 110"
[inspection-report-20200604_001823.tar.gz](https://github.com/ubuntu/microk8s/files/4726794/inspection-report-20200604_001823.tar.gz)

I have a flask-restx API which works beautifully as a standalone in debug mode, as well as a gunicorn worker. However when coupled with the ingress provided by microk8s downloading of static files such as `swagger-ui-bundle.js` is extremely hit and miss when going

[2020-06-04 03:00] taintedkernel commented on #574
If it's any help, there are no apparmor denials that I see on my system.  I also tried the `crictl` test that @jtackaberry mentioned; see the same results: CPU is 0.00%

[2020-06-04 05:47] deepakrbharadwaj commented on #1240
Thanks @ktsakalozos . I will test it out and update my findings

[2020-06-04 10:58] MoDotEu commented on #531
Dear Microk8s Team, Thanks for the great work.
I can confirm that after reboot microk8s does not work properly

### Use Case 1
**Pre-Condition**: Microk8s is running..
**Action**: shutting ubuntu 18.04
**Result:**
- is rare successful, Ubuntu just restarts
- all own deployed deplyments-pods are in status "ImagePullBackOff"
Workarround: disable the Registry, re-enable, and re-deploy the apps.
- das

[2020-06-04 12:03] ktsakalozos commented on #531
@MoDotEu  could you please attach the tarball created with `microk8s inspect` ?

[2020-06-04 13:32] MoDotEu commented on #531
Steps to inspect.
1.  microk8s stop
2. ubuntu restart
3. microk8s start
4. wait about 8 min.
`~$ microk8s inspect
Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running
  Service snap.microk8s.daemon-flanneld is running
  Service snap.microk8s.daemon-containerd is running
  Service snap.microk8s.daemon-apiserver is running
  Service snap.microk8s.daemon-apiserver-kicker is run

[2020-06-04 13:38] MoDotEu commented on #531
[inspection-report-20200604_152126.tar.gz](https://github.com/ubuntu/microk8s/files/4730368/inspection-report-20200604_152126.tar.gz)

[2020-06-04 22:56] vinhdiesal commented on #1253
thank you for your help, what I ended up doing was reinstall `ubuntu 20.04` and performed a fresh installation of `sudo snap install microk8s --classic` and everything seems to be working as expected. I'm not sure exactly what the root cause was, but it is now working and I'm happy.

[2020-06-04 22:56] #1253 closed

[2020-06-05 08:12] pelojoy opened #1270 "Centos 7.4: microk8s.join throws openssl error"
Running microk8s.join on Centos 7.4 version, getting the following error:

`microk8s.join 192.168.1.33:25000/oAnOGKxcsBCfkRybcDudVCdWkGamOsOf
openssl: relocation error: /snap/core/current/lib/x86_64-linux-gnu/libresolv.so.2: symbol __h_errno, version GLIBC_PRIVATE not defined in file libc.so.6 with link time reference
Traceback (most recent call last):
  File "/snap/microk8s/1253/scripts/cluster/j

[2020-06-05 10:25] kawa23 commented on #958
@knkski @markshuttle Sorry for late reply, I have installed kubeflow based on k8s cluster with [multipass](https://github.com/canonical/multipass), and removed the microk8s.

[2020-06-05 12:14] nikolayvinogradov opened #1272 "Grafana reports "Panel plugin not found: grafana-piechart-panel" on several dashboards"
Installed microk8s and enabled dns, storage and prometheus add-ons. Connected to grafana via port-forward from external kubectl (localhost:3000).

On few dashboards (see below) grafana shows red labels with "Panel plugin not found: grafana-piechart-panel" instead of pie charts.

    $ kubectl get cm -n monitoring  | awk '{ print $1; }' | tail -n +2 | while read cm; do ( kubectl describe cm -n moni

[2020-06-05 12:50] nikolayvinogradov opened #1273 "Gadgets on different Grafana dashboards report "no data" though there should be some data to show"
See the attached screenshot. I have enabled dns, dashboard, prometheus and HA features and I have simple workload running.

![Screenshot_20200605_154922](https://user-images.githubusercontent.com/32940265/83878037-2d6db280-a744-11ea-923f-3f43baa479cc.png)

[2020-06-05 19:30] ktsakalozos commented on #1273
The work on updating the metrics server was pushed to the ha-preview branch and seems to address this issue. Please have a look.

[2020-06-05 20:12] Logibox opened #1275 "microk8s won't start unknown reason"
I'm installing microk8s 1.16 into a ubuntu 18.04 cloud image via ['packer'](https://www.packer.io/).

I essentially want to create a pre-baked kubernetes master node, with a few deployments and services baked in.

During the build, when `microk8s status` is run I get:
[code]
Output from `snap services` is
[code]
Unsure how to debug this any further - any help would be greatly appreciated!

`kubect

[2020-06-05 21:47] panManfredini commented on #1127
Hi,

I'm having some problems with calico (not exactly an issue with this repo).

Calico chooses the wrong interface, this seems to be a [common issue](https://github.com/projectcalico/calico/issues/1480) and the solution seems to be to set an the env variable `IP_AUTODETECTION_METHOD` to something different from default `first-found`.

I couldn't find a way to do it yet, the deployment `calico-ku

[2020-06-05 22:26] balchua commented on #1275
I think it is running out of memory.
I see this in the inspect tarball
[code]
Looking at `free`, the system seems to running with little memory.

[code]
Is there a way to increase the memory?

[2020-06-05 23:04] balchua commented on #1127
@panManfredini is this environment `IP_AUTODETECTION_METHOD` modifiable after `calico-node` starts running?  Or it has to be done before installing `calico-node`?
Sorry not very familiar with calico. 😁

[2020-06-06 01:34] vinhdiesal commented on #1255
I solved the problem by re-installing Ubuntu 20.04 and microk8s and I was able to get the multi-node cluster up and running. On the `master` I performed a `microk8s add-node` then I performed an ssh to my other machines and pasted the `microk8s join <>:2500/<token>`
Thanks!

[2020-06-06 01:34] #1255 closed

[2020-06-06 09:04] Logibox commented on #1275
Ah an easy fix then - by default the qemu builder for packer only assigns 512MiB for the build machine https://www.packer.io/docs/builders/qemu/#memory. Bumping it up to 2GiB resolves the issue.

Thanks so much for looking it this!

[2020-06-06 09:08] Logibox commented on #1275
Ah an easy fix then - by default the qemu builder for packer only assigns 512MiB for the build machine https://www.packer.io/docs/builders/qemu/#memory. Bumping it up to 2GiB resolves the issue.

Thanks so much for looking it this!

[2020-06-06 10:40] balchua commented on #1275
That's great to hear!  Im closing this now.
Thanks

[2020-06-06 10:40] #1275 closed

[2020-06-06 10:42] balajiv113 commented on #1120
The same issue appears for registry.access.redhat.com registry also.

[2020-06-06 16:43] sstubbs opened #1277 "Best Way To Change Istio CPU Limits"
Hi,

I've just installed the beta of microk8s on ubuntu 20.04 with the following:
[code]
and installed the following addons.
[code]

I haven't even had to do any fixes for any of the issues I was experiencing on 1.18/stable.

I'm extremely impressed as everything seems to just work out the box. Really really happy. One thing though is the cpu limits for the `istio-system` namespace are quite high

[2020-06-06 20:12] serversonic opened #1278 "CreatePodSandbox errors in RPI 4 cluster"
I have three RPI 4s in a cluster using the 18.04.3 image from berryboot. Microk8s setup is as per the documentation. Running `microk8s enable dns` appears to complete, but `kubectl get all --all-namespaces` then shows

`kube-system   pod/coredns-588fd544bf-clsrh   0/1     ContainerCreating   0          29m`
and
`journalctl -f -u snap.microk8s.daemon-kubelet` shows

`Jun 06 19:55:42 cluster01 micro

[2020-06-06 22:45] balchua commented on #1278
Hi @serversonic i see this in the `dmesg
[code]
Are you using zfs?

[2020-06-07 03:51] balchua commented on #1266
I am trying to find the culprit.  i could not find the error you pointed out above.  Is it possible to tone down the logs a little bit?  The `liveness` and `readiness` probes are generating lots of logs.
The error you are experiencing is strange.
As you mentioned, hitting the pod ip directly doesn't seem to be a problem.  Did you try hitting the `Service`'s `ClusterIp`?

[2020-06-07 06:38] serversonic commented on #1278
I'd seen that and started looking at it last night `df -Th`shows the filesystem as `overlay`:

` df -Th
Filesystem     Type      Size  Used Avail Use% Mounted on
dev            devtmpfs  759M     0  759M   0% /dev
none           overlay   458G   13G  422G   3% /
tmpfs          tmpfs     888M     0  888M   0% /dev/shm
tmpfs          tmpfs     888M  832K  887M   1% /run
`
So the error makes sense. A

[2020-06-07 07:09] balchua commented on #1278
Im not sure if containerd supports overlay over overlay.  Can you try making it a proper filesystem?

[2020-06-07 07:43] serversonic commented on #1278
I think that's the issue, it didn't occur to me that the OS would be installed as anything other than a valid filesystem. I'll rebuild the disks and report back.

[2020-06-07 08:10] balchua commented on #1264
I see this happen when there are crds or apiservices still left behind.

[2020-06-07 11:40] balchua commented on #1278
Thanks @serversonic ! Let us know how it goes.

[2020-06-07 11:46] balchua commented on #1277
Not as of the moment.  Right now, editing the manifest is the way to go.
There's an open issue to further improve the way we enable istio.
https://github.com/ubuntu/microk8s/issues/1235

[2020-06-07 12:42] sstubbs commented on #1277
ok thanks easy enough to change just was courious.

[2020-06-07 13:18] kstenerud opened #1279 "microk8s is not running"
[code]
[inspection-report-20200607_131456.tar.gz](https://github.com/ubuntu/microk8s/files/4742131/inspection-report-20200607_131456.tar.gz)

[2020-06-07 18:13] nikkoura commented on #1127
Hi,

I'd like to test HA clustering on a 3-nodes RPi4 cluster, but it seems that the latest/edge/ha-preview branch is no longer opened (or maybe is not available for arm64).
Is there another branch I could test?

Thanks a lot!

[2020-06-07 20:17] ktsakalozos commented on #1279
Hi @kstenerud, could you try one of the lxc profiles in https://github.com/ubuntu/microk8s/tree/master/tests/lxc ?

[2020-06-07 20:21] serversonic commented on #1278
Got the cluster rebuilt with ext4 filesystems using the Ubuntu arm64 RPI image. There was another problem with enabling cgroup memory as it isn't enabled in RPI 4, which may be worth adding as a note somewhere (basically add `cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1` to `/boot/firmware/nobtcmd.txt`). System pods are now enabled and I can access the dashboard remotely.

[2020-06-07 20:24] ktsakalozos commented on #1278
To change the snapshotter you will need to edit  `/var/snap/microk8s/current/args/containerd-template.toml` and stop/start microk8s. You may have luck with some other snapshotter.

[2020-06-07 20:28] ktsakalozos commented on #1278
We have this in the docs [1], but we may want to detect and display an error message in the `microk8s inspect` script [2].

[1] https://microk8s.io/docs/install-alternatives#heading--arm
[2] https://github.com/ubuntu/microk8s/blob/master/scripts/inspect.sh

[2020-06-07 20:33] serversonic commented on #1278
I took an inspect dump to try and identify the problem myself:
[inspection-report-20200607_190944.tar.gz](https://github.com/ubuntu/microk8s/files/4742885/inspection-report-20200607_190944.tar.gz)

[2020-06-08 04:31] pelojoy commented on #1270
Thanks to @Balchu’s hint, I tried to modify `join.py` to use /snap/core/current/usr/bin/openssl. And it seems to work. I need to mount the scripts to a different location to be able to modify it:

`mount --bind -o nodev,ro  /home/cluster  /var/lib/snapd/snap/microk8s/1253/scripts/cluster`

It comes back with a warning. But it does seem to work.
[code]

[2020-06-08 07:21] njleon007 commented on #1179
@balchua @double73
I find this issue is gone when I change master to unschedule pods.
I guess it's an io issue from etcd server.

[2020-06-08 08:01] giner commented on #543
Still valid

[2020-06-08 09:30] mavenir-labs commented on #1203
Hi,
I have updated microk8s  with the following command,
           snap refresh microk8s --classic --channel=latest/edge
got response --> microk8s (edge) v1.18.3 from Canonical✓ refreshed

but still helm is not updated,
            Client: &version.Version{SemVer:"v2.16.0", GitCommit:"e13bc94621d4ef666270cfbe734aaabf342a49bb", GitTreeState:"clean"}
            Server: &version.Version{SemVer:"v2.

[2020-06-08 09:46] mavenir-labs commented on #1203
think I got it,
Just needed to re-init helm .

Thanks

[2020-06-08 13:59] Svendegroote91 opened #1280 "Enable Kubeflow stuck when deploying on Azure VM: cert-manager-webhook-tls certificate not found."
When enabling Kubeflow on microk8s, the deployment scripts gets stuck as it's waiting eternally for 4 remaining operators pods.

It looks like all the kubernetes pods are running but the juju status for some components seems broke:

<img width="955" alt="Screenshot 2020-06-08 at 15 52 56" src="https://user-images.githubusercontent.com/33965133/84038360-22af5980-a9a0-11ea-8797-517b50c1b148.png">

I

[2020-06-08 15:34] Svendegroote91 commented on #1243
Can you elaborate how to practically implement `telling your browser to use a SOCKS5 proxy at localhost, port 9999` on Google Chrome?

[2020-06-08 15:49] Svendegroote91 commented on #1243
I have tried using the chrome-extension https://chrome.google.com/webstore/detail/socks-proxy/odiakldnmmpjabkemfboijigageaelcn but I get a 403. When I check the ambassador pods I see the following message:

[code]

Any idea on what I am doing wrong?

[2020-06-08 16:14] Svendegroote91 commented on #1243
I also tried via Firefox using https://addons.mozilla.org/en-US/firefox/addon/proxy-toggle/ but no luck, getting the same error message as above with Chrome.

[2020-06-08 21:25] vinhdiesal opened #1281 "HTTPS Connection Pool error"
I currently have two machines joined in a `microk8s kubernetes cluster`. One machine is a `IMAC` with IP: `192.168.1.108` and the other one is a Razer running `Ubuntu 20.04` with IP address `192.168.1.192`.
On the `IMAC` I've installed `microk8s` through `Multipass` where the `multipass list` command shows a VM IP address of `192.168.64.6`. Both the `Razer` and `IMAC` have `microk8s version 18.3`

[2020-06-08 23:28] jklaw90 opened #1282 "No network connection in my pod"
I can't seem to get internet within my pods.
I have a vm using a bridge network which is assigned a real ip from the routers dchp.
The vm contains microk8s and can pull images from an external private repo just fine.
When it comes to the pod communication i'm unable to contact the internet.
I've tried  `sudo iptables -P FORWARD ACCEPT` but it doesn't seem to work
I've had this working locally befo

[2020-06-09 07:51] ktsakalozos commented on #1127
@nikkoura, I just updated the launchpad builders to build snaps for arm64. Please give it a few hours for the branch to be populated. Thank you for giving this a try. Your feedback is much appreciated.

[2020-06-09 08:24] ktsakalozos commented on #1282
Can you give me an example of what fails and how? Can you ping 8.8.8.8 from a pod? I wonder if the problem is with name resolution or not. Could you also try to install MicroK8s from the latest beta channel? `sudo snap install microk8s --classic --channel=latest/beta`

[2020-06-09 08:39] ktsakalozos commented on #1281
However, when you install MicroK8s with Multipass a new VM is created inside your `IMAC`. That VM does not have the IP: `192.168.1.108` and therefore the two MicroK8s instances cannot "see" each other.

You have to create a VM (possibly without Multipass [1]) with bridged network and then run MicroK8s inside it.

[1] https://github.com/canonical/multipass/issues/118

[2020-06-09 10:05] ktsakalozos commented on #1270
@pelojoy thank you for reporting the issue an taking the extra step to provide a fix.

Could you please try to set in the `check_call` the following environment variables and keep using the openssl found in the MicroK8s snap:
[code]

Using the snap in the core is an option however there is the chance the snap will break in the future as the updates of the openssl in the core snap is out of our rea

[2020-06-09 11:52] Pflegusch commented on #537
Same issue here, been trying for hours to get it work but nope. @ktsakalozos are there any news on this? The `top` command works perfectly fine, but as soon as I install Grafana and Prometheus as a data source it just failes to fetch information from pods.

[2020-06-09 13:28] vinhdiesal commented on #1281
I created a VM using Virtual Box with Ubuntu 20.04 with microk8s running inside, however I'm having the same problem with reaching `192.168.1.108 port 25000`. When I performed an `ifconfig` the `IP Address` is different than the `MAC host` and I attached the VMWARE ethernet to the `bridge network adapter`. When I performed a `microk8s.enable` cilium as an example I'm getting the same errors.

[2020-06-09 13:46] vinhdiesal commented on #1281
Nevermind, I had to close the `Multipass` instance and restarted the cluster using the `microk8s add-node` and `join` method and deployment started to work.

Thanks for your help.

[2020-06-09 13:46] #1281 closed

[2020-06-09 14:47] heckad opened #1283 "Why image name in metrics is empty?"
[code]
Why container, image, name are empty?

[inspection-report-20200609_164432.tar.gz](https://github.com/ubuntu/microk8s/files/4752826/inspection-report-20200609_164432.tar.gz)

[2020-06-09 17:54] vinhdiesal opened #1285 "Flanner D"
I'm getting closer to my goal with this local cluster, but it appears every time something works something else breaks.
My current configuration is that I have three machines running `Ubuntu 20.04` with `microk8s` installed on all three machines.
I successfully created the `microk8s kubernetes cluster`, however my master node now has the following error:
[code]
I can't access the `kubeflow/kuberne

[2020-06-09 17:55] vinhdiesal commented on #1285
[inspection-report-20200609_104253.tar.gz](https://github.com/ubuntu/microk8s/files/4753894/inspection-report-20200609_104253.tar.gz)

[2020-06-09 20:38] knkski opened #1286 "Lightweight version of kubeflow addon"
Many people would like to try out Kubeflow on their laptop. The full deployment of Kubeflow is quite heavyweight, taking up about 16G of memory. We should find some way of letting people deploy either a predefined "lightweight" version of Kubeflow with just the most popular services, or have an easy way of picking and choosing which services to deploy.

This would be good to get community feedback

[2020-06-09 21:51] kodeninja opened #1287 "Unable to "microk8s install" on macos"
Following https://ubuntu.com/tutorials/install-microk8s-on-mac-os#3-install-microk8s for installation.

I currently cannot get past the `microk8s install` stage.

[code]

I can't run `inspect`, or any other sub-command either.

[code]

**Hardware**: `MacBook Pro (Retina, 15-inch, Mid 2015)`

**OS**: `macOS Mojave v10.14.5`

[2020-06-10 02:15] james-powis commented on #1266
So low and behold I was able to the container outside of k8s doing the same behavior it was inside of kubernetes using completely divergent poc code which I was developing to provide a complete example... I hate to say it but it was the base image I was using having the issue. Moving off that container to a simple gunicorn runner and the issue has completely disappeared.

[2020-06-10 02:15] #1266 closed

[2020-06-10 03:37] kinowarrior opened #1288 "How to increase the Microk8s Built-in Registry default limit of 20GB"
With Microk8s latest version, how can we change the built-in registry default size limit of 20GB.

My colleague has[ posted to the forum](https://discuss.kubernetes.io/t/registry-addon-resizing-the-default-20gb-capacity/11354) with the same question.

If someone knowledgeable could please reply quickly here, or on the forum question, be very grateful. It's impacting our production env. so any poin

[2020-06-10 04:22] bml1g12 commented on #1288
We noticed that in theory master branch seems to have support for this already:
`microk8s.enable registry:size=30Gi`
https://github.com/ubuntu/microk8s/pull/1024
But this command does not seem to do anything on latest snap (1.18). Could it be a result of the [failing CI snap build ](https://github.com/ubuntu/microk8s/runs/755206315) here?

very grateful for any support!

[2020-06-10 05:55] junhwi commented on #1245
@calanchue Have you tried it without `sudo`?
I got the same problem and adding permissions solved it.
[code]

[2020-06-10 06:20] atamahjoubfar commented on #958
I tried to install `kubeflow` and got the same error:
[code]
Everything works up to here, but
[code]
fails with this error:
[code]
Any idea what is causing it?

[2020-06-10 06:52] markshuttle commented on #958
Looks like a networking issue - it needs to be able to retrieve the charms from jujucharms.com. I think we should do some connectivity tests before we launch into the orchestration of kubeflow, so we catch and warn more appropriately if that is going to fail as it has here.

[2020-06-10 06:58] atamahjoubfar commented on #958
But I can ping jujucharms.com from the same server.

[2020-06-10 07:13] ktsakalozos commented on #1288
@bml1g12 @kinowarrior could you please get MIcroK8s from the latest stable channel?
[code]
The size argument is available there.

[2020-06-10 07:38] ktsakalozos commented on #1286
@knkski this is great news. Instead of a separate addon have you considered putting it into the existing kubeflow addon? With a flag you could decide if the addon would give you the full or the lite version:
[code]
By default (no arguments) the lite version will be installed.

[2020-06-10 07:44] ktsakalozos commented on #958
@atamahjoubfar could you share the output of:
[code]

[2020-06-10 07:58] ktsakalozos commented on #1287
Looks like a temporary (?) network issue. Is snapcraft.io reachable from your system? You may also want to look at common issues at [1].

[1] https://multipass.run/docs/troubleshooting-networking-on-macos

[2020-06-10 08:17] ktsakalozos commented on #1285
Hi @vinhdiesal,

I see you have cilium enabled. The cilium cni stops flannel so the reported error is expected. If you are testing kubeflow could you please go with flannel just because this is the setup we are testing and we are confident with.

Thank you

[2020-06-10 08:19] ktsakalozos commented on #1283
Where do you see this? What is the effect of it? Is there something failing?

[2020-06-10 08:27] jklaw90 commented on #1282
Good call.

`root@cc-api-6866db488f-s67sz:/# ping 8.8.8.8
PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.
64 bytes from 8.8.8.8: icmp_seq=1 ttl=116 time=16.2 ms
64 bytes from 8.8.8.8: icmp_seq=2 ttl=116 time=13.4 ms
64 bytes from 8.8.8.8: icmp_seq=3 ttl=116 time=15.5 ms
64 bytes from 8.8.8.8: icmp_seq=4 ttl=116 time=17.9 ms
--- 8.8.8.8 ping statistics ---
4 packets transmitted, 4 received, 0% packet

[2020-06-10 08:33] kinowarrior commented on #1288
@ktsakalozos - Thanks for your reply. Alas, we are already on `latest/stable` and have refreshed snap.  The command `microk8s.enable registry:size=30Gi` didn't do anything (`kubectl get pv -A` just displays 20GB).

Found an [original issue for this here](https://github.com/ubuntu/microk8s/issues/157), where there were different options considered. Please can you confirm the right command to use.

[2020-06-10 08:48] ktsakalozos commented on #537
Could you please try the latest stable channel?
[code]

[2020-06-10 09:15] ktsakalozos commented on #1288
You have the command right: `microk8s.enable registry:size=30Gi`

Could you please make sure the PVC is recreated with the new specs? This may mean you disable and re-enable the registry and the storage addons. If this is not possible, you may want to delete the PVC and re-enable the registry so the registry manifest is re-applied.

[2020-06-10 09:22] Pflegusch commented on #537
I'm already using the latest stable channel (correct me if I'm wrong - v1.18.3 Rev 1422 1.18/stable), I also have a seperate server with (v1.18.3 Rev 1470 latest/edge) and I'm getting the same error there :/

[2020-06-10 09:43] ktsakalozos commented on #537
Hi @Pflegusch, `1.18/stable` is not the same as `latest/stable`. We recently did a few updates in Prometheus and the metric server. Could you make sure you have these addons enabled? You may want to disable them and re-enable them to get the updated manifests applied.

[2020-06-10 09:44] bml1g12 commented on #1288
Excellent thanks very much, seems we needed to update from  v1.18.3  rev 1422 to   v1.18.3  rev 1443 (`sudo snap refresh --channel latest/stable microk8s`)

[code]

[2020-06-10 09:57] atamahjoubfar commented on #958
It fails at
[code]

[2020-06-10 10:28] vinhdiesal commented on #1285
Thank you very much for your help.

[2020-06-10 10:28] #1285 closed

[2020-06-10 11:57] Pflegusch commented on #537
So I updated to microk8s v1.18.3 (Rev 1443 latest/stable) disabled and re-enabled metrics-server and prometheus, made grafana accessible over an ingress and used the build-in data source prometheus. Again `kubectl top nodes` and `kubectl top pods` works fine, but in grafana I just don't get all data.

![grafana-no-data](https://user-images.githubusercontent.com/44372539/84263378-ba878180-ab1f-11ea

[2020-06-10 22:32] cmars opened #1291 "microk8s reset is slow"
`microk8s reset` takes at least several minutes on my laptop and heats it up considerably. I've only deployed a modest application with 3 application pods, postgres and a cronjob.

`sudo snap remove microk8s && sudo snap install microk8s --classic && microk8s enable ...` takes way less time. Definitely under a minute, and not resource intensive at al.

[2020-06-10 23:06] nikkoura opened #1292 "HA preview / Kubelet config not updated on all nodes when enabling CoreDNS add-on"
When creating a HA cluster with 3 nodes, enabling coredns only updates the kubelet configuration on the node where `microk8s enable dns` has been executed.
The lines which are then added to `/var/snap/microk8s/current/args/kubelet` are similar to this:
[code]
However, kubelet arguments are not updated on the other participating nodes.

As a result, DNS resolution is not really operational on these

[2020-06-10 23:08] nikkoura commented on #1127
Thanks for build. I have been able to use them to test them on my setup.
So far, so good, except a small issue with coredns (#1292)

[2020-06-10 23:37] kodeninja commented on #1287
@ktsakalozos, it's still happening (just tried again). I've tried with/without VPN and the issue persists.

I looked at the multipass troubleshooting guide you linked to, and don't see anything obvious pop out from there as an issue.

One thing I will note though--the guide mentions _"Multipass uses “hyperkit” to run instances"_, and I'm wondering if this is the problem.

I today installed **minik

[2020-06-11 01:38] mianos commented on #945
Installing: snap install microk8s --classic --channel=edge
I still get the following, very invalid, certificate:
5C 7D 9E 3E 9C B1 9C 92 33 2F 0E 38 1F 7C A8 EA
That seems to have been generated during the install: (Thursday, 11 June 2020 at 11:30:43 am Australian Eastern Standard Time)
Brand new install of Ubuntu and then the non edge version which I removed, then the edge version and I still get

[2020-06-11 02:30] cameronbraid commented on #500
FYI I have this on a ubuntu 20.04 system installed using kubespray.

I did use microk8s at one point, but had already stopped it.

Interestingly if I run nautilus on this machine, it freezes.  Same with all browser file save dialogs.

Running

[code]

Fixes both the 100% CPU issue, and makes nautilus stop from freezing

[2020-06-11 05:49] pelojoy commented on #1270
@ktsakalozos  Add the following to join.py:

[code]
but getting this error:
[code]

[2020-06-11 07:03] pelojoy commented on #1270
The following code change in `join.py` seems to work:

[code]

[2020-06-11 07:22] ktsakalozos commented on #1270
Awesome. Thank you for reporting this and offering the fix. Would you be interested in submitting a PR? It is absolutely fair you get the credit for this work.

[2020-06-11 08:07] ktsakalozos commented on #945
@mianos the certificate used by MicroK8s is self signed. Is this why the certificate is blocked?

[2020-06-11 09:22] tomtor opened #1293 "snap refresh microk8s fails (from v1.18.2)"
Ubuntu 18.04, currently on:

 installed:          v1.18.2                    (1378) 201MB classic

`snap refresh microk8s` fails with:

[code]

[2020-06-11 09:50] tomtor commented on #1293
For some reason `/snap/microk8s/1443` is accessed but `1378` is active:

[code]

[2020-06-11 10:27] pelojoy commented on #1270
@ktsakalozos Thanks for the credit. But can you submit the PR instead? I don't have the environment setup to do it. Thanks.

[2020-06-11 11:46] mianos commented on #945
Yes, it is self signed but I think it also does not have enough details filled in to be accepted as valid by chrome or safari. I will fix the certificate issue myself by setting up a local CA, creating a cert and loading it into the client. I am mainly commenting here as I just installed the 'edge' snap and it is no way 'fixed' as far as I can see.

[2020-06-11 12:12] vinhdiesal opened #1294 "External IP not exposed."
Hi,
I had this working at one time, now it doesn't work anymore.
What I'm trying to do is create a `dask cluster` on `microk8s kubernetes`.
According to the `Helm` website: `https://hub.helm.sh/charts/dask/dask`, to deploy the cluster I must type in the following:
[code]
However, I performed a `microk8s kubectl get svc` I don't see an `external IP signed`:
[code]
When I performed a the following I

[2020-06-11 12:34] balchua commented on #1294
@vinhdiesal `ExternalIP` is only applicable if you have a load balancer in place.  Most cloud providers have their cloud controller create an external ip for you.
In microk8s, we have Metallb addon, which can provide an external IP.
`microk8s enable metallb:<specify ip range>`

[2020-06-11 12:53] balchua commented on #1293
I think there an issue with the `configure` hook.  Is the cluster originally installed with 1.18 or its been being upgraded since then.

[2020-06-11 13:10] tomtor commented on #1293
@balchua No, it's an old cluster, at least 12 months old. All previous automatic updates went smoothly.

[2020-06-11 13:29] balchua commented on #1293
That's what i suspect.  Looks like an easy fix.
But if you are in a hurry, you can copy the `/snap/microk8s/current/default-args/cluster-agent` to `/var/snap/microk8s/current/args/`.
Then try to do refresh.

[2020-06-11 13:39] tomtor commented on #1293
@balchua Thanks!

[code]

worked!

I assume many users have this issue. I only noticed it because I have a watchdog monitoring the cluster and it goes down a few minutes every few hours (due to a failed update) since the last two days:

[code]

[2020-06-11 13:49] balchua commented on #1293
Thanks @tomtor for reporting this.  Will probably do a PR soon.

[2020-06-11 14:04] nicks commented on #1173
The KEP has been marked implementable! I suspect it will be straightfoward to implement, and I think I understand the microk8s internals well enough to send a PR if that would help, but it might take me a little while to get to it.

[2020-06-11 15:13] jan-hudec commented on #429
With the latest build, `1443`, the changes I made are reverted, they are in more places, and the upgrade strangely started starting some pods in 10.1.98, but the rest is still running in 10.200 and the cluster is broken again.

Since flannel seems clever enough to pick subrange of 10.1.0.0/16 that does not conflict with the actual externally routed ranges, it does not render it completely useless,

[2020-06-11 15:19] bmbferreira commented on #1287
I'm also having issues running microk8s install but the error that I get is different:

[code]

[2020-06-11 16:04] knkski commented on #958
@atamahjoubfar, @markshuttle: I've opened up #1296 to do a basic network connectivity check before enabling Kubeflow

@atamahjoubfar: If you follow the installation instructions in the README here for deploying the Kubeflow bundle instead of via `microk8s.enable kubeflow`, does it work for you?

https://github.com/juju-solutions/bundle-kubeflow/

[2020-06-11 16:09] knkski commented on #958
@kawa23, @MathewStylianidis: I believe the issue that you're facing is due to your hostname having capital letters, see this error message:

mai 11 15:06:58 SESTVSDV0002 microk8s.daemon-kubelet[24507]: E0511 15:06:58.330800   24507 csi_plugin.go:271] Failed to initialize CSINodeInfo: error updating CSINode annotation: timed out waiting for the condition; caused by: csinodes.storage.k8s.io "sestvsd

[2020-06-11 19:37] ktsakalozos commented on #1292
Thank you for reporting this bug @nikkoura.

There is a patch ready with the fix. It should be fixed soon.

[2020-06-12 06:09] ktsakalozos commented on #1127
Thank you for reporting the issue @nikkoura the latest build should have the coredns issue addressed.

[2020-06-12 06:42] ratnadeeprdg opened #1298 "Failed to provision volume with StorageClass "gp2": Failed to get AWS Cloud Provider. GetCloudProvider returned <nil> instead"
When I am trying to create mongo stack using stateful set containing pvc volumeclaim templates, I am getting the below error . I am using microk8s in my AWS EC2 instance with installation done through snap.

_** Failed to provision volume with StorageClass "gp2": Failed to get AWS Cloud Provider. GetCloudProvider returned <nil> instead **_

I have already created a default storage class gp2 explic

[2020-06-12 09:21] biiiipy opened #1300 "Windows container support?"
Is it possible to add Windows worker nodes to microk8s cluster? Haven't seen this topology mentioned anywhere.
So basically:
microk8s clusters in WSL2 and plain windows worker nodes with windows containers (without running the microk8s on the windows worker nodes, which would be linux containers).

[2020-06-12 11:05] kunalpuriii commented on #854
@ktsakalozos I am facing same issue on my on-prem
 I have freshly installed kubernetes cluster 1.16.0 version. This is a single master cluster that we use for testing and integrate with other network elements. I am facing issues with nginx pod talking to the api intermittently, like this
Error trying to get the default server TLS secret nginx-ingress/default-server-secret: could not get nginx-ingr

[2020-06-12 12:01] balchua commented on #1300
Joining non microk8s nodes to a microk8s cluster you mean?

[2020-06-12 12:08] hemna commented on #1046
I am having this same problem.   I had to use an old version of firefox to access the dashboard.  I even added the cert to my macos keychain access and said trust, and chrome still didn't like it.

[2020-06-12 12:21] balchua commented on #1298
I think there's a lot more to do than just adding the `StorageClass`.
Though never tried it, but i think the way to go is to use this https://github.com/kubernetes/cloud-provider-aws

[2020-06-12 13:15] biiiipy commented on #1300
Yes, non-microk8s nodes (plain windows worker nodes) to microk8s clusters running on WSL2.
The goal is to have microk8s cluster running in WSL2, BUT run windows containers (on Windows Server 2019).

[2020-06-12 18:25] krichter722 commented on #553
Still an issue with v1.16.8 (1302)

[2020-06-12 21:29] balchua commented on #1300
From what i can tell, not possible.

[2020-06-13 10:14] balchua commented on #1257
PR to use multi-arch images. Also upgraded ingress to `v0.33.0`

[2020-06-13 12:11] biiiipy commented on #601
Having the same issue and it's driving me crazy. I'm behind non-functioning NTLM proxy, so I preloaded all images into containerd. All other services work, but for dashboard it fails to pick up the image and tries to download it:
```failed to "StartContainer" for "kubernetes-dashboard" with ImagePullBackOff: "Back-off pulling image \"kubernetesui/dashboard:v2.0.0-rc5\""```

but I have the images:

[2020-06-13 12:22] biiiipy commented on #601
OK, it seems that the problem is that dashboard yaml has:
```imagePullPolicy: Always```

While others have:
```imagePullPolicy: IfNotPresent```

[2020-06-13 13:20] vinhdiesal commented on #1294
Thanks @balchua I re-installed the `helm` with the `load balancer` override and it now works.

[2020-06-13 13:20] #1294 closed

[2020-06-13 13:32] vinhdiesal opened #1306 "Microk8s enable is very slow"
What I did was reinstalled `Ubuntu 18.04` so I can install `CUDA 11.0 RC Toolkit` and then I performed an upgrade to `Ubuntu 20.04`. Now it takes forever like 10-30 minutes for the `microk8s.enable` to respond. I reinstalled `microk8s` with purge and the problem still exists.
Is there something that can make it go faster?

[2020-06-13 15:51] sstubbs opened #1307 "Feature Request - Backup And Restore"
I have found this issue https://github.com/ubuntu/microk8s/issues/223 which went stale. I was wondering what the best way of backing up and restoring a cluster is.

Is it just a case of backing up etcd and the certs like it would be with kubeadm?

[2020-06-13 16:55] ratnadeeprdg commented on #1298
I followed the link https://kubernetes.io/docs/concepts/storage/volumes/#awselasticblockstore and then ran the command below , before provisioning the mongo.yaml mentioned earlier, but still same result.

root@ip-10-7-23-91:/dev/shm/infra# aws ec2 create-volume --availability-zone=ap-south-1a --size=40 --volume-type=gp2
{
    "AvailabilityZone": "ap-south-1a",
    "CreateTime": "2020-06-12T09:01:1

[2020-06-13 19:14] vinhdiesal opened #1308 "Distributed Machine Learning"
My goal is to perform distributed machine learning using `microk8s`. I want a Jupyter Notebook to be performed between my machines.
Before I joined the nodes together on the network, I performed a `kubeflow` and `helm/dask` installation only on the master node. Even though there are multiple machines on the Kubernetes cluster, when I execute kubeflow or jupyter notebook, it only works off the one

[2020-06-13 22:05] balchua commented on #1306
@vinhdiesal what particular addon you are enabling?
Are also experiencing the same slow response when using `microk8s status` command?
Thanks

[2020-06-13 22:19] balchua commented on #1291
Hi, `microk8s reset` tries to disable all addons if it is enabled and then remove all workloads, crds, apiservices etc interacting with the cluster using `kubectl`.  It goes through all standard kubernetes checks and validations.  Yes it tends to be intensive most especially if you have lots of workloads or kubernetes resources in the cluster.

The difference between `microk8s reset` and `snap rem

[2020-06-13 22:23] balchua commented on #1307
There is another issue https://github.com/ubuntu/microk8s/issues/820 which can potentially address more than just backup and restore based on the user's need is to utilize snap hooks.

[2020-06-14 07:10] sstubbs commented on #1307
ok thanks I'll see how I can use this.

[2020-06-14 08:55] mac2000 commented on #849
Not sure if related - there is no docs for ingress certs being used

In my case I have deployment with ingress and valid certificates, everything in ok in browser, but trying to talk to service from nodejs gives me `unable to verify the first certificate` reason seems to be in using default certs instead of provided because of lack of SNI being send, e.g.:

[code]

will show valid certs and everyt

[2020-06-14 09:42] StarpTech opened #1310 "Can't enable Knative with fresh install - no matches for kind "Deployment" in version "extensions/v1beta1""
### microk8s inspect
[code]

### microk8s status --wait-ready
[code]
### microk8s enable knative
[code]

[2020-06-14 10:18] balchua commented on #1307
Do you think adding velero addon will be useful? https://velero.io/docs/v1.4/

[2020-06-14 10:48] ratnadeeprdg commented on #1298
@balchua  I followed the link [](https://github.com/kubernetes/cloud-provider-aws) provided by you but all I understood is that I need to pass flag --cloud-provider kubelet, kube-apiserver, and kube-controller-manager. Any way to do so in microk8s?

[2020-06-14 10:52] balchua commented on #1298
To change the `kubelet`, `kube-apiserver` and controller.
Go to the directory `/var/snap/microk8s/current/args`, if you see the file `kubelet` you can add the argument `--cloud-provider`.
Im not familiar with aws stuffs so i can't be too much of a help.

[2020-06-14 12:53] vinhdiesal commented on #1306
I ended up reinstalling `Ubuntu` and things are back to normal.

[2020-06-14 12:53] #1306 closed

[2020-06-14 16:04] vinhdiesal opened #1311 "Upgrading Helm"
I performed an `helm` installation by `microk8s.enable helm`. However I'm having problems with installing some `helm` charts from the hub respository. The installed version of helm as stated by `microk8s helm version` is `2.16.0`, which has a bug associated with installing some helm charts.  See [Helm Issue](https://github.com/helm/helm/issues/6894)
For example when I try to install `Jupyter Hub`

[2020-06-14 16:09] vinhdiesal commented on #1311
sorry about this. I guessed about `microk8s.enable helm3` and it works.

[2020-06-14 16:09] #1311 closed

[2020-06-15 08:06] #1257 closed

[2020-06-15 08:10] ktsakalozos commented on #1257
Thank you for your work @balchua and @ssmall for reporting the issue. The patch is merged and the fix will be available in the latest/edge channel within a day.

[2020-06-15 08:34] ktsakalozos commented on #1310
Hi @StarpTech, how did you install MicroK8s? Did you specify a channel? Can you share the out put of `snap info` ? Thanks

[2020-06-15 09:06] StarpTech commented on #1310
Hi @ktsakalozos

[code]

[code]

[2020-06-15 09:27] RFMVasconcelos opened #1312 "'Microk8s.enable Kubeflow' replies "Kubeflow is already enabled" with missing services"
When 'microk8s.enable kubeflow' fails to launch all the services, or is in a state with missing services, 'microk8s.enable kubeflow' states that Kubeflow is enabled.

There should be some kind of recovery mechanism, where this command checks the status of the Kubeflow services and restarts missing ones - (e.g. 7/30 pods running).

Example:
![unstable3](https://user-images.githubusercontent.com/270

[2020-06-15 12:30] balchua commented on #1293
The PR is merged it should be available in `latest/edge` within the day.

[2020-06-15 12:30] #1293 closed

[2020-06-15 15:47] joedborg commented on #1287
@kodeninja Thanks for letting us know.  I'm wondering if minikube has set some weird network settings or, as you say, if Hyperkit is bugged.  If you ever manage to fix it with `hyperkit`, please let us know and we'll document it or try to write an automated fix.

[2020-06-15 15:49] joedborg opened #1313 "launch failed: instance "microk8s-vm" already exists"
Originates from @bmbferreira on https://github.com/ubuntu/microk8s/issues/1287#issuecomment-642731101

[code]

[2020-06-15 15:50] joedborg commented on #1313
Hi @bmbferreira,
Can you please try running `microk8s uninstall` before `microk8s install` and let me know if you still see an issue?

Many thanks,
Joe

[2020-06-15 15:51] joedborg commented on #1287
@bmbferreira Moved your issue to https://github.com/ubuntu/microk8s/issues/1313

[2020-06-15 15:51] #1287 closed

[2020-06-15 18:22] dick-twocows opened #1314 "ingress does not expose port 10254 to access metrics"
After running microk8s enable ingress, the ingress daemonset only exposes ports 80 and 443. This means it is not possible to scrape 10254/metrics.

Is it possible to expose this port in the daemonset?

Currently the liveness is using http-get http://:10254/healthz

The quay.io image used does support http://:10254/metrics location.

[code]

If you edit the daemonset and add the port it will then s

[2020-06-15 18:25] dick-twocows commented on #1314
The Prometheus config includes the following simple scrape.
[code]

[2020-06-15 22:13] RFMVasconcelos opened #1315 "Microk8s.Kubeflow dashboard not accessible after EC2 instance stopped + re-started"
This error occurred by:
1. EC2 instance running microk8s + kubeflow with no issues
2. Stopped EC2 instance from AWS console (without disabling kubeflow)
3. Started instance again

All services seem to reboot fine:

[code]

But dashboard can not be accessed:

![image](https://user-images.githubusercontent.com/27001378/84710012-4142c100-af5b-11ea-90ac-3ed94daa6afd.png)

And juju status mentions cert

[2020-06-16 05:03] ktsakalozos commented on #1315
@knkski is it possible that the machine got a new IP on the second start and this affects Kubeflow?

[2020-06-16 06:22] wtao-volvo opened #1316 "express.js use fluent-logger reports ECONNREFUSED 127.0.0.1:24224"
microk8s inspect tarbar [inspection-report-20200616_060335.tar.gz](https://github.com/ubuntu/microk8s/files/4784704/inspection-report-20200616_060335.tar.gz)

Ubuntu 20.04, microk8s 1.18/stable, addon enabled fluentd dns

Hi, In my express.js app, I followed the singleton example from the fluentd-logger, [https://github.com/fluent/fluent-logger-node](url)
[code]

I provisioned fluentd's configMap,

[2020-06-16 07:12] bmbferreira commented on #1313
Hi @joedborg ,
Thanks for prioritising this. I think the problem is related with hyperkit since it worked when I switched to virtualbox, by running this `multipass set local.driver=virtualbox`.

Hyperkit version: `0.20200224`
OS: `macOS Catalina 10.15.5`
Docker: `19.03.8, build afacb8b`

[2020-06-16 07:15] ktsakalozos commented on #1308
Could you describe the exact steps you are following to get to your setup? K8s and kubeflow should take advantage the entire cluster, not just one node.

@knkski this might interest you.

[2020-06-16 07:53] ktsakalozos commented on #849
@mac2000 for the ingress certificate you may want to look into the `--default-ssl-certificate` of the ingress controller [1]. You will need to `microk8s kubectl edit` the daemonset to add the argument and then delete the ingress pods so as to force a respawn with the introduced flag.

We recently merged a PR [2] that will allow you to set the ssl certificate when you `microk8s enable ingress` but

[2020-06-16 07:56] ktsakalozos commented on #1310
Could you use the latest/stable channel until we get this issue addressed?

`sudo snap install microk8s --classic --channel=latest/stable`

[2020-06-16 07:59] StarpTech commented on #1310
I tried it already. Right know, it works. I enabled the module in different order and reinstalled nicrok8s multiple times.

[2020-06-16 09:18] atamahjoubfar commented on #958
@knkski: I tried to follow these instructions:
https://github.com/juju-solutions/bundle-kubeflow/#setup-microk8s
But got the same error:
[code]

[2020-06-16 10:44] mac2000 commented on #849
@ktsakalozos after further investigation it is more or less related to wildcard certs

e.g. with almost same ingress config, aka:

[code]

in GKE sending request without SNI uses `wildcard.contoso.com` in microk8s `Kubernetes Ingress Controller Fake Certificate` and it seems like it is more because of difference in nginx ingress controller used in microk8s and proprietary controller used in google

[2020-06-16 14:32] joedborg commented on #1313
No problem @bmbferreira.  Are you happy to stay on Virtualbox, or would you like to try and fix with Hyperkit?

Out of interest, did you also have Minikube installed too?

[2020-06-16 14:49] bmbferreira commented on #1313
I'm ok with virtualbox

Yes, and I noticed that I was also having problems with hyperkit. When I changed to virtualbox or docker it worked, so I guess this is not a problem with microk8s. Thank you!

[2020-06-16 14:52] joedborg commented on #1313
No problem @bmbferreira, thanks again for bringing this to our attention.  We'll close this issue but try to investigate a way we can document or script a fix for MacOS after minikube.

[2020-06-16 14:52] #1313 closed

[2020-06-17 03:02] pradhyu commented on #327
sudo chmod -R 0755 /var/lib/snapd

sudo chmod -R 0755 /var/lib/snapd

[2020-06-17 04:54] balchua commented on #1316
The thing is `localhost` isn't pointing to the fluentd pod.

You probably need to
* expose the port `24244` in the fluentd daemonset.
Example:
[code]
* Create a `Service` that can be linked to the `fluentd-ds`.
[code]
* From your code, instead of using `localhost`, use `fluentd-service.kube-system`.

Example:
[code]
This is assuming your expressjs app is running as a pod.

[2020-06-17 06:37] #601 closed

[2020-06-17 09:19] goal86sg commented on #1184
addons like kubeflow, metallb,promethus, linkerd, istio are they able to be enabled on a offline environment once microk8s offline snap is installed? What can be offline enabled by default and what cant be? Are there any way we can deploy this in an airgap offline environment?

[2020-06-17 09:52] balchua commented on #1184
There is a work to allow side loading images for situations where you dont have access to internet.

https://github.com/ubuntu/microk8s/pull/1295

[2020-06-17 12:12] Pflegusch commented on #537
Fixed it by re-installing microk8s with latest/stable channel :+1:

[2020-06-17 12:56] davigar15 opened #1319 "Metallb doesn't support multiple IP ranges"
Hello,

I'm trying to add multiple IP ranges in metallb but I cannot:

[code]

That's because in this line, the REGEX doesn't consider that possibility of having comma separated IP ranges. https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.metallb.sh#L37

I tested modifying the config map of the metallb to add multiple ranges, and it works:

[code]

And I deployed two

[2020-06-17 16:25] wtao-volvo commented on #1316
Thank you so much balchua, your method works.

**Recap of the system**

1. A very simple express.js server app for testing microk8s fluentd add-on. It integrates with [fluent-logger](https://github.com/fluent/fluent-logger-node) and is deployed as a pod

2. In mk8s,  fluentd's configMap is provisioned to start listening at 24224 port

3. In mk8s, fluentd's daemonSet is provisioned to expose port 2

[2020-06-17 16:25] #1316 closed

[2020-06-17 16:46] usamaB commented on #828
when I close a terminal session and try to run kubectl command I get the same insufficient permission error again. the group isn't persisting through sessions.

[2020-06-17 19:53] kstedman9 opened #1321 "Self Signed Registry - X509: certificate signed by unknown authority Error"
So I just started started using microk8s today, but I have been developing in DCOS and Kubernetes for years now.  We have a development docker registry on our network that is self signed running on https with no proxy.  I cannot figure out how to properly configure microK8s to talk to this registry.   (I have another kubernetes cluster that is working just fine not microk8s)

The machine is an Ubu

[2020-06-17 21:54] balchua commented on #1321
The `insecure_skip_verify` was added from containerd 1.3.
The upgrade to containerd 1.3.4 was recently merged.
@ktsakalozos which channel should have the latest containerd, maybe @kstedman9  can give that a try.

[2020-06-18 09:42] sstubbs commented on #1307
This would be great.

[2020-06-18 11:54] kstedman9 commented on #1321
@balchua Thank you for the heads up.  I see where you did the merge but SNAP does not show a channel with that yet.  So it sounds like for the short term to get what I need to work is to just create a simple http -> https proxy around my registry unless that channel is going to show up today.

[2020-06-18 12:07] balchua commented on #1321
Usually it gets to the `latest/stable` within a day.  If not, you can try the channel `edge`.
But edge channel is not for prod use at all.

[2020-06-18 12:43] kstedman9 commented on #1321
@balchua  I just just updated to the latest/edge version which was updated with yesterday's date and everything seems to be working now.  Thank you.

This is only for development and test, so at this point I do not care if we are on edge.

[2020-06-18 12:53] balchua commented on #1321
@kstedman9 great to hear that. I will be closing this issue. If there are other issues feel free to file a new one.
Thanks!

[2020-06-18 12:53] #1321 closed

[2020-06-18 14:25] jonhadfield commented on #508
Thanks @chmit.
I had to modify slightly to work for me on Ubuntu 19.10 with microk8s v1.18.2.
Modifications:
- specify a signal for the kill
- remove namespace from microk8s.ctr in a couple of places as it threw an error, and I'm ok to remove the lot (maybe too drastic for others?)
The ctr error I got is mentioned here: https://stackoverflow.com/questions/61882755/how-could-i-list-the-images-pushe

[2020-06-18 14:53] joedborg commented on #1035
Hey @CalvinHartwell,
Option 1 can currently be done via https://microk8s.io/docs/registry-private.  I agree that a CLI option to set would be nicer, but just FYI if you're blocked on it.

Will investigate point 2.  As far as I'm aware, adding a registry as part of point 1 should also impinge upon the addons.  I'll test to confirm.

[2020-06-18 15:15] vinhdiesal commented on #1308
I have three machines:

**PART ONE**
- Razer with Ubuntu 20.04

1. `sudo snap install microk8s --classic`
2. `microk8s.enable dns dashboard ingress fluentd register istio`
3. `microk8s.enable kubeflow`

**PART TWO**
- iMAC with OSX Catalina

1. `brew install /ubuntu/microk8s`
2. `microk8s install`
3. `microk8s join ...........`

When I check the `kubernetes dashboard` it shows the `kubeflow` pods

[2020-06-18 15:17] vinhdiesal opened #1324 "Dask Helm Chart - Ingress Route error"
I'm having issues installing `dask-gateway` helm chart.
I followed the revised version of the helm installation procedure:
`microk8s helm repo add daskgateway https://dask.org/dask-gateway-helm-repo/`
`microk8s helm repo update`
[code]
I have the following error:
[code]
Please help with this issue.
Thanks,

[2020-06-18 16:27] andredrumond1995 opened #1325 "restarting a single node by master node"
[inspection-report-20200618_122206.tar.gz](https://github.com/ubuntu/microk8s/files/4799842/inspection-report-20200618_122206.tar.gz)

is it possible to restart a worker node by the master node?

sometimes it is needed when some changes need to be applied
what i've done is 'sudo microk8s stop' and then i ran 'start' param, but it was in worker node

[2020-06-18 16:29] andredrumond1995 commented on #1314
are you trying to collect nginx metrics using prometheus, is it? I got it using helm3

[2020-06-18 18:23] aceeric opened #1326 "Unable to install OLM 0.15.1 on MicroK8s 1.17/stable"
I'm running Ubuntu 18.04.4 LTS desktop. I'm unable to bring up OLM 0.15.1 on MicroK8s 1.17/stable
[code]

Referring to: https://github.com/operator-framework/operator-lifecycle-manager/releases:
[code]

Everything proceeds smoothly until the packageserver CSV  is reached in olm.yaml. The symptom is  that package server pods perpetually go through ContainerCreating > Running > Terminating - and the

[2020-06-18 22:39] balchua commented on #1326
@aceeric i can see some warnings regarding `extension-apiserver-authentication-reader` role.  I am not sure if this may fix it, can you try enabling the rbac `microk8s.enable rbac`?

[2020-06-19 03:28] javajon opened #1327 "`microk8s dashboard-proxy` produces `https://N/A:10443`"
Generated tarball to this issue. [inspection-report-20200618_225707.tar.gz](https://github.com/ubuntu/microk8s/files/4802268/inspection-report-20200618_225707.tar.gz)

- Installed the latest microk8s fresh on Windows 10 using microk8s-installer.exe
- Ran `microk8s enable dashboard dns registry`
- List of pods appears healthy and running: `microk8s kubectl get pods -A`

However, attempting access t

[2020-06-19 04:15] javajon commented on #1327
Uninstalled both microk8s and multipass. Upgraded VirtualBox to version 6.1.8. Rebooted. Reinstalled microk8s and still getting the same error.  Multipass reports instance running:
[code]
However, not seeing VM in VirtualBox, if it's supposed to be listed there.

[2020-06-19 06:01] joedborg commented on #1327
Hi @javajon,

Apologies for this, I’m not sure why Multipass isn’t assigning an IP address to your container.  I’ll do some investigation and update you shortly.

[2020-06-19 07:06] ktsakalozos commented on #1325
This is a nice feature request. We do not have this functionality yet. You have to login into the node to restart it.

[2020-06-19 07:46] ktsakalozos commented on #1308
If you want to see pods spread across the cluster you may want to first form the cluster (via `microk8s.add-node` and `microk8s join`) and then enable the addons.

[2020-06-19 09:22] vinhdiesal commented on #1324
This is solved by creating the crd objects per the provided traefik.yaml file.

Thanks,

[2020-06-19 09:22] #1324 closed

[2020-06-19 09:37] vinhdiesal opened #1328 "Jupyter Notebook server not created"
I've waited for 20 hours for the `Notebook Server` on `Kubeflow` to be added, but the `notebook server never got created. See attached screenshot which shows that I can't connect to the server.
I performed the notebook setup per the provided selections, but somehow I never was able to get the notebook server to work?
Please help.

Thanks,

![Notebook Server](https://user-images.githubusercontent.c

[2020-06-19 09:41] ktsakalozos commented on #1328
Could you attach the `microk8s.inspect` tarball? Is this reproducible? Does it happen every time you enable kubeflow?

[2020-06-19 09:58] #1308 closed

[2020-06-19 10:16] vinhdiesal commented on #1328
I probably tried installing notebook server 15 times, even after reinstalling `Ubuntu` and `microk8s+kubeflow` so I think it is reproducible.
See the attached of the `microk8s.inspect`.
[inspection-report-20200619_031322.tar.gz](https://github.com/ubuntu/microk8s/files/4803920/inspection-report-20200619_031322.tar.gz)

[2020-06-19 11:58] pfisterer commented on #421
@kawsark Thanks a lot, you saved my day.

For anybody interested in this, I've used the above hint to create an Ansible playbook (https://github.com/pfisterer/edsc-microk8s-playbook) that installs microk8s in OpenStack and modifies the CSR accordingly.

[2020-06-19 14:03] tringuyen-yw commented on #1236
Fair enough, but is your microk8s version in sync with the snap repo?

Here is what I got when running `sudo snap info microk8s`. Tracking `latest/edge` which is ` v1.18.4`. How to verify that the Microk8S version I am running is really `1.18.4`?

[2020-06-19 14:42] andredrumond1995 commented on #1325
thank you!

[2020-06-19 14:42] #1325 closed

[2020-06-19 14:45] aceeric commented on #1326
That immediately fixed it. Thanks. Maybe I will create a PR to have the add-on docs indicate that OLM cannot be installed unless rbac is enabled.

[2020-06-19 14:45] #1326 closed

[2020-06-19 14:55] joedborg commented on #1035
@CalvinHartwell I've tested this, using the built in registry.  I've enabled the registry addon, pushed the coredns image to it, pulled away the network and then enabled the dns addon; this works fine which leads me to believe a private registry would too.  I'll double check this though.

[2020-06-19 15:45] belsakn opened #1332 "Enable cilium offline"
Is it possible to enable a cilium plugin in an offline environment?
btw I can transfer files to the offline machine

[2020-06-19 18:20] philkry commented on #1127
@ktsakalozos is it possible to add a worker-only node to a 3 node HA cluster? i was expecting it to work by just adding a node without prior
```microk8s enable ha-cluster```
but i do get an error upon joining the node. is this not supported?
my idea was to have a 3 node HA control pane and adding workers as needed.

[2020-06-19 21:53] balchua commented on #1332
Hi,
Unfortunately its is not possible today.

The addon downloads the cilium release (tar.gz) from where cilium publishes its releases.
That is the first part, the images are also retrieved from dockerhub.
If you are interested to see how the addon is enabled check out this script.

https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.cilium.sh
If it is possible to have

[2020-06-19 22:48] TimHarmon commented on #375
I seem to have the same problem  attached are my inspect logs
[node00_inspection-report-20200619_223517.tar.gz](https://github.com/ubuntu/microk8s/files/4806929/node00_inspection-report-20200619_223517.tar.gz)

[2020-06-20 01:36] vinhdiesal opened #1333 "Load Balance Not exposing external IP."
Was there a recent update to microk8s in the --classic channel? I'm not sure why, but ever since I re-downloaded microk8s today, my LoadBalancers had problems exposing the external-ip. It was working before the download. I even reinstalled `Ubuntu and microk8s` and the problem still exists.
The problem didn't exist before the re-download.

[code]

[2020-06-20 06:58] belsakn commented on #1332
tnx @balchua
but I could build microk8s myself and change the https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.cilium.sh so that it grabs a local file and then i would also need to transfere docker images to the machine and change cilium deployment images to grab them from the localhost?

[2020-06-20 08:07] balchua commented on #1332
Thank you @belsakn. Is it something that you can contribute? 😊
In my opinion that will be a nice feature. Thoughts @ktsakalozos ?

[2020-06-20 13:16] nikkoura opened #1334 "HA-cluster: calico-node pods are exceedingly verbose"
When enabling ha-cluster, calico replaces flannel.
The default logging settings used for calico-node pods generates a massive amount of log - about 10 entries/second.

This can be adjusted by modifying the `FELIX_LOGSEVERITYSCREEN` env variable for calico-node pods, in the relevant Daemonset.

[2020-06-20 20:15] mehdisadeghi commented on #1127
Today I spent sometime trying to enable ha on a 3 node microk8s cluster but failed with various problems.

The first problem is that on the HA channel, enabling DNS add-on fails on a fresh snap installation (before trying to enable HA). Doing `kubectl explain coredns_pod` shows dependency failure on calico.

The second problem is the HA itself..On the master I could enable HA. Then I got the messa

[2020-06-20 22:17] bingh0 commented on #688
I recently came across this issue and spent a week tearing my hair apart before finding this issue. I can confirm this issue with Ubuntu 20.04 and Fedora 32. Has anybody figured out a workaround for this? I'm surprised so few people have reported this - I would imagine there are people running microk8s and wireguard.

[2020-06-20 22:18] j75 opened #1336 "'dashboard-proxy' is not a valid MicroK8s subcommand !"
Following the infos at https://microk8s.io/ I tried to do ` microk8s dashboard-proxy` but I get only this:
[code]

[2020-06-20 22:20] j75 commented on #1336
[inspection-report-20200621_001621.tar.gz](https://github.com/ubuntu/microk8s/files/4808642/inspection-report-20200621_001621.tar.gz)

[2020-06-20 22:56] balchua commented on #1333
@vinhdiesal check if you have metallb addon enabled.

[2020-06-21 03:32] sstubbs opened #1337 "Add A Second Storage Class"
I have two different mounted volumes. I would like two different storage classes Is there any way to configure the hostpath provisioner to add a second storage class so I can specify in PVC which to use?

[2020-06-21 11:09] sstubbs commented on #1337
I have found https://github.com/rancher/local-path-provisioner which seems to exactly what I need. I just install a helm release per path.

[2020-06-21 13:19] vinhdiesal commented on #1328
I tried a different image using the available `tensorflow 1.14 + cpu` and it was able to create, but when i connect I get into the following error:
`upstream connect error or disconnect/reset before headers`
Is there something I have to configure?

[2020-06-21 13:25] ranst91 opened #1338 "Unbind microk8s installation from Multipass"
When Installing microk8s using an installer, it requires that Multipass will be installed, and insists on installing it. If Multipass is already installed and the user clicks cancel on the Multipass installation, the microk8s one gets stuck.

I suggest unbinding the two in some way, Since Multipass has now version 1.3 and microk8s installer installs 1.2.

[2020-06-21 14:27] knkski commented on #1328
@vinhdiesal: I don't see the Jupyter notebook pod in the inspection report that you posted. It's possible that it's not getting created. Can you post the output from these commands?

    microk8s.kubectl logs --tail 100 -l juju-app=jupyter-controller
    microk8s.kubectl logs --tail 100 -l juju-app=jupyter-web

[2020-06-21 14:47] knkski commented on #1243
@Svendegroote91: Apologies for the slow response. In Firefox, you can do this by going to Preferences, then scrolling all the way down in the General tab and clicking on the `Network Settings > Settings` button. From there you can configure Firefox's proxy settings like this:

![kf_proxy_settings](https://user-images.githubusercontent.com/20422884/85227559-ddc5f280-b3a3-11ea-98e4-0e2651095f91.png)

[2020-06-21 14:53] sstubbs opened #1339 "How to backup dqlite in ha mode"
Hi,

I'm running the ha-mode to test it out. Works great so far. When using the standard mode I backup etcd like:

[code]

Is there an equivalent command to backup dqlite?

[2020-06-21 19:35] fidesachates commented on #1336
Same here.

[2020-06-21 21:29] vinhdiesal opened #1340 "Homebrew install Microk8s MacOSx"
I'm not sure if I am imagining things, but for a couple days straight after installing `microk8s` through `homebrew` on `MAC OSX`, i was able to get the same VM ip address as the host computer which made it possible to be on a cluster and install pods from the master as if I using the Ubuntu version of `microk8s`. Now, after I reinstalled homecrew, I no longer have this capability. Is there a way

[2020-06-22 06:44] ktsakalozos commented on #1340
I think what you are describing is bridged mode networking. You can have a look at the multipass docs [1] to see how this can be configured.

[1] https://multipass.run/docs/using-virtualbox-in-multipass-macos

[2020-06-22 06:48] ktsakalozos commented on #1336
`dashboard-proxy` is a recent addition. It is available on the latest track and will be available in the 1.19 track and forward. Please install MicroK8s with the `--channel` argument:
[code]

[2020-06-22 06:54] j75 commented on #1336
In this case please update the documentation at https://microk8s.io/ because is there where I find that
[code]

[2020-06-22 07:11] belsakn commented on #1332
I will try to use a proxy server and if that will not be the case I will need this feature and will contribute

[2020-06-22 07:36] ktsakalozos commented on #1336
@evilnick @joedborg, @j75 is right. With  `sudo snap install microk8s --classic` you get the 1.18/latest track that does not have the `dashboard-proxy` command. The  `dashboard-proxy` command is on the latest stable and will be available with the tracks from 1.19 and on. Should we update the docs to have the old dashboard access command or should we have the snap install to use the "latest/stable"

[2020-06-22 08:34] ktsakalozos commented on #1339
Hi @sstubbs

We are packaging a `migrator` tool with the snap that will take care of data migration and backups from/to etcd and dqlite. There is a PR up [1] that adds the backup-dqlite functionality. It should soon be added to the snap.

[1] https://github.com/ktsakalozos/go-migrator/pull/1/files#diff-7ddfb3e035b42cd70649cc33393fe32cR31

[2020-06-22 08:49] ktsakalozos commented on #1337
It would be great to introduce an addon to provide HA storage in an cluster.

[2020-06-22 08:55] ktsakalozos commented on #1127
@philkry, this is not possible. We are looking into ways to take into account any user preferences.

Why do you want a worker only node? I can thing of a few reasons, I just want to hear what your exact requirement is.

[2020-06-22 09:35] ktsakalozos commented on #1127
@mehdisadeghi thank you for trying out HA and providing feedback.

I would like some more info in order to understand what exactly happened and why.

Can you show me what happens? Could you attach the tarball created by `microk8s.inspect`? Here is a test run I just did:
[code]

On the second issue you reported:

This indicates that the pod scheduling of calico is failing. There are a few reasons w

[2020-06-22 09:59] ktsakalozos commented on #375
@TimHarmon could you try `microk8s.status  --wait-ready`? There is a short delay between the services start and the time they are actually ready to use.

[2020-06-22 11:12] vinhdiesal commented on #1328
I received no output.
I attached the latest tarball.
[inspection-report-20200622_040819.tar.gz](https://github.com/ubuntu/microk8s/files/4812842/inspection-report-20200622_040819.tar.gz)

[2020-06-22 11:14] vinhdiesal commented on #1340
When I set `sudo multipass set local.driver=virtualbox` on the Mac OSx, microk8s was able to deploy the pods to the nodes.

Thanks!

[2020-06-22 11:14] #1340 closed

[2020-06-22 11:28] #1333 closed

[2020-06-22 13:19] joedborg commented on #1338
Hi @ranst91,
Please try installer from https://github.com/ubuntu/microk8s/suites/780478462/artifacts/8232134, if you are installing on Windows.

We are waiting for this to be signed internally.

Thanks,
Joe

[2020-06-22 15:41] knkski commented on #1280
@Svendegroote91: Can you update to the latest stable microk8s (if snap hasn't already automatically done it)? cert-manager has been moved to a separate bundle, which should eliminate this problem.

[2020-06-22 15:42] knkski commented on #1189
@yashjakhotiya: Can you update microk8s to the latest stable version (if snap hasn't automatically updated it)? cert-manager has been moved to a separate bundle, which should eliminate this issue.

[2020-06-22 18:59] joedborg commented on #1338
MicroK8s Windows installer 2.0.0 released with Multipass 1.3.

[2020-06-22 18:59] #1338 closed

[2020-06-22 22:24] joedborg commented on #1035
@CalvinHartwell Just tried this with a private registry in an LXD container (as if it were a corporate one) and it works fine with the steps above.  Please let me know if there's any more to this.

[2020-06-22 22:37] sstubbs commented on #1337
I've been testing this and its working well so far if it was added as an addon I would happily use it but it's easy enough to setup using their helm chart for the time being. When I get some time to understand the source of microk8s a bit better I will try and do a pr for this.

[2020-06-22 22:38] sstubbs commented on #1339
That really is great news. This project is amazing.

[2020-06-23 00:00] TimHarmon commented on #375
I have done that and the command simply times out.

On Mon, Jun 22, 2020, 02:59 Konstantinos Tsakalozos <
notifications@github.com> wrote:

[2020-06-23 02:55] kinowarrior opened #1342 "microk8s crashed with latest/stable - channel 1.18.4 revision 1499"
We have:

[code]

We believe this revision has broken our GPU.   If we roll back to

[code]

Then things work again, but we have a problem that we need more local registry space.

Unfortunately for us, currently:

1.18/stable --> 1422 revision which has no registry disk expansion option
latest/stable --> 1499 revision which breaks our GPU plugin

In our syslog:

[code]

Right before our entire clu

[2020-06-23 03:13] kinowarrior commented on #1342
Yes, using:

[2020-06-23 03:18] bml1g12 commented on #1342
To give a bit more details on the issue, a fresh install of latest stable ` latest/stable:    v1.18.4 rev 1499` would have this behaviour:

[code]
And the `describe` for gpu plugin would give errors like the below with similar rpc errors for registry pod.

[code]

[2020-06-23 03:23] kinowarrior commented on #1342
Working:

[code]

Broken:

[code]

[2020-06-23 06:31] ktsakalozos commented on #1342
Hi @bml1g12 @kinowarrior I would like to know your hardware and OS and any relevant information that would help me reproduce the issue. Also, how do you switch from one track to the other? Do you snap refresh or are you doing a clean re-install?

Here is how to change the registry size on 1.18/stable:
[code]

In general, please do not use the `latest` track for non-ephemeral deployments. Package u

[2020-06-23 09:09] bml1g12 commented on #1342
Thank you for your suggestions, we will try them.

[code]

[code]

[2020-06-23 12:24] ghost opened #1343 "enable IPv6 cidr in microk8s"
Hi
Recently we have started testing our apps in IPv6 env .  We require our microk8s dev stations to support Dual Stack or IPv6 .  I couldn't find any documentation or reference online .
Need some guidance whether adding IPv6 support to existing microk8s or scratch installing it .

Thanks,
Leon

[2020-06-23 12:37] dick-twocows commented on #1314
Yes, to scrap using Prometheus. If you ```microk8s enable ingress``` you do not get containerPort 10254. It would seem to be a simple thing to add to wherever microk8s is defining the daemonset..? If somebody points me in the correct direction I'll make a PR...

[2020-06-23 13:25] kinowarrior commented on #1342
@ktsakalozos  - Thanks alot for helping us. We're back up and running after using your suggestion.

We've put the registry.yml into version control so we can reapply the same approach across multiple deployments (we'll eventually have 1000+ clusters).

Wished to ask about one concern here. The registry.yml looks very generic - but the image entry has:

[code]

is there any risk if we upgrade micro

[2020-06-23 14:57] nuinattapon opened #1347 "InvalidDiskCapacity in a fresh install of microk8s on Ubuntu 20.04 on Raspberry Pi 4 8GB"
Please run `microk8s inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.
I install microk8s fresh in my new Raspberry PI 4 8GB model today on top of UBUNTU 20.04LTS.

And I found that my K8s node is always not ready because of "invalid capacity 0 on image filesystem".
I believe that this is a bug. Pls advise.

`NAME     STATUS     RO

[2020-06-23 15:01] joedborg commented on #1336
https://github.com/ubuntu/microk8s/pull/1341

[2020-06-23 19:51] knkski commented on #958
@atamahjoubfar: Can you paste the output from this command?

    microk8s.kubectl get configmap -n kube-system coredns -oyaml

[2020-06-23 20:20] mehdisadeghi commented on #1127
@ktsakalozos thanks for explaining.

Unfotunately, I did not run `microk8s.inspect` back then and I had already purged and reinstalled microk8s and I can not reproduce the problem. I guess, I was trying to do `microk8s.reset` which was stuck and I had to kill it, so my cluster probably was in an unknown state. I repeated the join process and it worked. Consider my issue solved please.

[2020-06-23 20:58] mehdisadeghi commented on #1127
Another update from my side. DNS failed indeed. I noticed that unlike non-HA cluster, the HA cluster uses hostnames as node names and then the DNS resolver fails because it tries to resolve it with 1.1.1.1. (for example when a pod tries to call a healthz endpoint on another node). Previously, it used to work because the application pod would use node IP to call the endpoints.

This time I did a `m

[2020-06-23 22:32] zenbones opened #1349 "Unable to pull from private insecure docker registry"
We have a private insecure registry, and this works fine...

docker pull docker.forio.com/k8s/epicenter/desktop/epicenter-facade:2.9.0

...but this does not...

microk8s.ctr image pull docker.forio.com/k8s/epicenter/desktop/epicenter-facade:2.9.0
docker.forio.com/k8s/epicenter/desktop/epicenter-facade:2.9.0: resolving      |--------------------------------------|
elapsed: 0.6 s

[2020-06-24 03:17] atamahjoubfar commented on #958
[code]

[2020-06-24 03:36] auqf opened #1350 "heapster can not connect to the influxdb"
can not see the cpu usage and mem usage.
![image](https://user-images.githubusercontent.com/8895540/85496237-90998900-b60e-11ea-873e-066d0c524cce.png)
![image](https://user-images.githubusercontent.com/8895540/85496353-b9218300-b60e-11ea-8cfd-8431f9f0fbe0.png)

[2020-06-24 04:11] slmingol commented on #1313
I ran into a similar issue while I had a VPN connection running, after stopping it I was able to `microk8s uninstall` and `microk8s install` and things worked.

[code]

Droppped VPN

[code]

[2020-06-24 05:31] EnziinSystem commented on #1291
Me too,  spent 30+ minutes with a simple application.

[2020-06-24 07:48] ktsakalozos commented on #1291
In most cases I've seen `microk8s.reset` gets stuck because when a namespaces cannot be deleted [1]. There are some proposed workarounds in the upstream issue.

I wonder if instead of waiting for a "clean" reset by kubernetes we may be able to erase the etcd database in our reset script.

[1] https://github.com/kubernetes/kubernetes/issues/60807

[2020-06-24 08:01] ktsakalozos commented on #1350
Hi @auqf, how did you install MicroK8s? Did you select a channel? What addons do you have enables? Did you try the Prometheus and the metrics server addons?

[2020-06-24 08:15] ktsakalozos commented on #1349
@joedborg @CalvinHartwell have you seen anything similar in your experimentation with the registries?

[2020-06-24 08:51] ktsakalozos commented on #1342
Great to hear. In the meantime we have reverted the offending commit and a fixed revision (soon to be released) is going through our CI now.

1000+ clusters is a substantial number. We should make sure we do not break you in the future. Anything you could share regarding the deployments (eg OS version, machine specs, k8s version, add-ons used, workloads) would help us ensure we have enough test co

[2020-06-24 09:05] ktsakalozos commented on #1347
Hi @nuinattapon, I suspect cgroups are not enabled. Can you please take a look at [1]?

[1] https://microk8s.io/docs/install-alternatives#heading--arm

[2020-06-24 09:31] ktsakalozos commented on #1314
The ingress ports you are looking for are in [1]. Does everyone want to have this port open by default?

[1] https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/ingress.yaml#L178

[2020-06-24 09:48] ktsakalozos commented on #1343
Hi Leon. We haven't looked into IPv6 on MicroK8s yet. If you give me a set of steps/questions you need help with to enable IPv6 I might be able to guide you through. @johnsca knows more on what IPv6 needs.

[2020-06-24 09:54] mavenir-labs commented on #1343
Basically , how to add create the microk8s with IPv6 CIDR . if possible .

[2020-06-24 10:28] mmattersdorfer opened #1351 "microk8s (Windows) command not found after fresh installation"
Please run `microk8s inspect` and attach the generated tarball to this issue. --> Sorry cannot run microk8s inspect

After fresh / first installation of microk8s on Windows 10 Pro (Version 1903) with the 2.0 installer, i cannot run microk8s commands. All commands are returning:

sudo: microk8s.status: command not found
An error occurred when trying to execute 'sudo microk8s.status --wait-ready' wi

[2020-06-24 11:57] balchua commented on #1291
That would mean we need 2 different clean approach, one for etcd and one for dqlite.

[2020-06-24 12:07] nuinattapon commented on #1347
I tried install another UBUNTU 20.04 from scratch again today. And I have tried following the instruction to enable cgroups as advised above. But the issue is still there. Here is a new inspect file
[inspection-report-20200624_190633.tar.gz](https://github.com/ubuntu/microk8s/files/4825238/inspection-report-20200624_190633.tar.gz)

`ubuntu@ubuntu:~$ microk8s kubectl describe nodes
Name:

[2020-06-24 12:07] #1347 closed

[2020-06-24 12:26] nuinattapon commented on #1347
OK, thanks for the instruction. This issue happen because of cgroups is not enabled. The instruction at https://microk8s.io/docs/install-alternatives#heading--arm won't work on Ubuntu 20.04LTS. MicroK8s master node is up now.

Instead I found the solution in https://askubuntu.com/questions/1189480/raspberry-pi-4-ubuntu-19-10-cannot-enable-cgroup-memory-at-boostrap . And what I need is changing /bo

[2020-06-24 14:09] nVitaliy opened #1352 "microk8s is not proper works on Raspberry Pi 4 B (ubnunu 20.04)"
1)
 - Raspberry Pi 4 B (4GB RAM)
 - microCd ADATA 32GB
 - LAN

2)
- From Windows 10 run Raspberry Pi Imager v1.3
- choose operating system: Ubuntu 20.04 LTS (Raspberry Pi3/4) 64-bit server OS
- choose appropriate SD card
- write

3)
after success installation:
go to SD Card and update cmdline.txt ->
`net.ifnames=0 dwc_otg.lpm_enable=0 console=serial0,115200 console=tty1 root=LABEL=writable rootfst

[2020-06-24 14:13] joedborg commented on #1352
Hi @nVitaliy,

Thanks for raising the bug.

Could you please paste the output of `microk8s kubectl describe pod/microbot-6d97548556-t5bz4`?

Thanks,
Joe

[2020-06-24 14:16] nVitaliy commented on #1352
[microbot.txt](https://github.com/ubuntu/microk8s/files/4825925/microbot.txt)

Thanks

[2020-06-24 14:27] joedborg commented on #1352
Thanks @nVitaliy, will attempt to reproduce.

[2020-06-24 14:39] joedborg commented on #1352
Can reproduce this on an AWS a1 instance (ARM aarch64).  I imagine this is an issue with Microbot on ARM issue, will continue to dig.

[2020-06-24 15:25] nVitaliy commented on #1352
the same issue for `microk8s kubectl create deployment hello-node --image=k8s.gcr.io/echoserver:1.4` from https://kubernetes.io/pl/docs/tutorials/hello-minikube/

[2020-06-24 15:48] joedborg commented on #1352
Okay @nVitaliy, this is because the K8s docs are not providing you with multiarch images (which is a shock to me).

If you run `microk8s kubectl edit deployment.apps/microbot` and change image to `cdkbot/microbot-arm64:latest\, it'll work fine.

Same issue applies to the echoserver (https://github.com/kubernetes-retired/contrib/issues/2991).

[2020-06-24 15:57] nVitaliy commented on #1352
works
Thank you!

[2020-06-24 16:16] nVitaliy commented on #1352
I think need to update https://ubuntu.com/blog/deploying-kubernetes-locally-microk8s

Thanks

[2020-06-24 18:39] joedborg commented on #1352
Ah thank you @nVitaliy, I will raise that with the author to fix.

[2020-06-24 18:39] #1352 closed

[2020-06-24 20:35] joedborg commented on #1349
I believe this to be an issue with the remote server as I get the same issue inside a Ubuntu VM with a fresh install of Containerd

[code]

And from docker.io is working:

[code]

[2020-06-24 20:45] joedborg commented on #1349
Yes, it would appear their manifest is failing this check https://github.com/containerd/containerd/blob/574bde08ba1a698d96fd4a294443ea90fd7bd213/remotes/docker/schema1/converter.go#L547

Which is either a bug in containerd or in the image you are trying to pull.

[2020-06-25 00:18] zenbones commented on #1349
Not sure how it could be a bug in the image, in that it's a valid docker image, built by packer, which works when pulled by docker? If docker can pull the docker image, I'd have to ask why the failing check is appropriate? Is there a way to switch microk8s to use docker as opposed to containerd?

[2020-06-25 13:43] joedborg commented on #1351
Hey @mmattersdorfer,

Can you try `microk8s status`, i.e. a space and not a period?

Thanks,
Joe

[2020-06-25 13:59] joedborg commented on #1349
@zenbones You could try pulling it into Docker and then pushing it into a MicroK8s registry to see if that fixes it (https://microk8s.io/docs/registry-built-in).  I'm not sure why this image, in particular, isn't working with containerd, but is with Docker.  I'd definitely raise a bug there too so they are aware.

In reference to Docker with MicroK8s; it is technically possible.  You can change th

[2020-06-25 14:08] joedborg commented on #1300
Hi @biiiipy, to get the Linux workers (i.e. MicroK8s) on Windows, we recommend using the Windows installer found here: https://microk8s.io/docs/install-alternatives#heading--windows.

Getting the Windows workers running would be a different challenge, but (I think), if you could get MicroK8s running  with the installer, you could enroll manually installed Windows Kubelets; in theory at least.

[2020-06-25 15:43] tegk commented on #1235
@balchua you still interested to work on this? I would have some time in the next days :-)

[2020-06-25 16:39] zenbones commented on #1349
Sounds fair. Thanks for the advice. I'll try setting up the local registry and let you know how it goes. I'll file this against containerd to see what they have to say.

[2020-06-25 16:47] mmattersdorfer commented on #1351
Hi @joedborg,

I tried it with a space.... In the error message there is always a period instead.

Greetings,
Marcus

[2020-06-25 18:01] joedborg commented on #1351
Thanks @mmattersdorfer

Did you check the "Add MicroK8s to PATH" when installing?  And have you tried opening a new `cmd` window to try?

Thanks,
Joe

[2020-06-25 18:03] joedborg commented on #1349
Thanks @zenbones.  I'll close this issue.  Feel free to link that containerd issue here, in case it's useful to others with the same issue.  I'll close this issue but please do comment here if you come across any issues with the registry.

[2020-06-25 18:03] #1349 closed

[2020-06-25 18:37] mmattersdorfer commented on #1351
Hello @joedborg,

yes I checked the option to add microk8s to the path. And I used a new CMD. I even tried a reboot. No success.

Thanks for your help.

[2020-06-25 18:41] cmars opened #1354 "Can't enable microk8s when juju is installed"
I usually leave microk8s disabled with `sudo snap disable microk8s` except when I need to test a deployment, because it tends to consume resources when left running.

I happened to install juju (`sudo snap install juju`) while microk8s was disabled, and now I can't enable it.

[code]

Removing juju seems to fix the issue and then I can enable it.

[2020-06-25 18:55] joedborg commented on #1351
No problem @mmattersdorfer, we'll get to the bottom of this.

Can you open a `cmd` window and show me the output of `echo %PATH%`, please?

[2020-06-25 21:28] balchua commented on #1235
@tegk if you have sometime to work on this, we will be more than happy to get help.
Thanks!

[2020-06-26 06:55] ktsakalozos commented on #1354
@wallyworld @ycliuhw do you know anything about this error? Is it going to be addressed in Juju 2.8.1 as part of https://bugs.launchpad.net/juju/+bug/1881769

[2020-06-26 08:10] mmattersdorfer commented on #1351
Hi @joedborg,

here is the result of echo %PATH%:

C:\Program Files\AdoptOpenJDK\jdk-8.0.242.08-hotspot\bin;C:\Program Files\AdoptOpenJDK\jdk-11.0.6.10-hotspot\bin;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;c:\ProgramData\chocolatey\bin\;C:\Python38\Scripts\;C:\Python38\;C:\windows\system32;C:\windows;C:\windows\System32\Wbem;C:\windows\System32\WindowsPowerShell\v1.0\;C:\windows\Sys

[2020-06-26 13:45] vinhdiesal opened #1357 "Viewing dashboard microk8s -MACosX"
How do I view the `kubernetes dashboard` on the Mac OSx with the brew installation of the `microk8s`.
In `multipass` I input `microk8s kubectl proxy` so I can attempt to view the dashboard at `http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/` however I'm having trouble.

I've tried port forwarding on Virtual Box with a rule for `host port`: 8001 and `

[2020-06-26 13:56] vinhdiesal commented on #1357
I also tried the instructions on the `microk8s` website and it results in `Client sent an HTTP request to an HTTPS server`

[2020-06-26 17:59] vinhdiesal opened #1358 "microk8s enable GPU"
I have two machines with `NVIDIA GPUS` and a MAC with `Radeon GPU`. I'm using the MAC as the master node because I want to share resources mainly with the NVIDIA machines.
However, even when all the resources are connected to a cluster, when I enter in `microk8s enable GPU` it errors out because it doesn't see an NVIDIA, even though there are NVIDIA machines on the cluster?

[2020-06-26 18:40] vinhdiesal opened #1359 "Uploading yaml file for configuring helm charts"
microk8s is based off a multipass virtual machine on the mac os.
How do I upload a values.yaml file to the multipass so it can configure my helm chart during installation/upgrade.
I can't seem to get commands to read off my host directory.

[2020-06-26 19:27] adharshmk96 commented on #452
Is there any option to remove all of the images ?

[2020-06-26 19:32] ajochope commented on #728
Thanks m0khalifa!!
This works on ubuntu 20.04 on a rpi 4.
sudo nano /boot/firmware/cmdline.txt
at the end of the file add
cgroup_enable=memory cgroup_memory=1
reboot

[2020-06-26 20:00] #1149 closed

[2020-06-27 03:45] win5do opened #1360 "support `mirror` or` http_proxy` flags when run `microk8s install`"
Please run `microk8s inspect`:
[code]
There is not even a version command like `mirok8s version`.

`brew info microk8s`:
[code]

Download vm image failed in China.

[2020-06-27 03:54] win5do opened #1361 "`dashboard-proxy` command print twice when use `microk8s --help`"
[code]

![image](https://user-images.githubusercontent.com/22112659/85914039-7ceb5e00-b86c-11ea-894b-39e5e3efd91e.png)

[2020-06-27 04:09] siddharths2710 opened #1362 "Snapcraft failure when building the snap from source"
My OS is Ubuntu 18.04, and while following the procedure for [building the snap from source](https://github.com/ubuntu/microk8s/blob/master/docs/build.md), I was halted by this error from snapcraft:

[code]

Attached the entire log for the full picture. Please advise if I must use the `--debug` switch as well.

[microk8s-error.log](https://github.com/ubuntu/microk8s/files/4839949/microk8s-error.lo

[2020-06-27 04:12] siddharths2710 commented on #1362
I also want to mention that I had previously built from snapcraft successfully and I uninstalled the package using `snap remove`. Could this be propogating the issue by any chance?

[2020-06-27 11:43] sureshsmvc commented on #1243
yes, this works, Thanks

[2020-06-27 13:06] HLFH commented on #1287
Same issue does not work on macOS Catalina (10.15.5 Beta (19F94a)).

[2020-06-27 14:03] EnziinSystem opened #1363 "MicroK8s using large amount disk"
In 1 day only, microk8s using increment from 22GB to 35GB in ` /var/snap/microk8s/common`

[code]
My application is simple.
I don't know why, please help me.
Thanks.

[2020-06-28 02:24] wjpbiblio commented on #1351
I can confirm this also happens for me, this is sadly a blocking issue for the windows installer.

microk8s status
sudo: microk8s.status: command not found
An error occurred when trying to execute 'sudo microk8s.status' with 'multipass': returned exit code 1.

[2020-06-28 11:09] vinhdiesal commented on #1358
I used alternate method of installing Nvidia GPU plugins through `Helm`.

[2020-06-28 11:09] #1358 closed

[2020-06-28 11:10] vinhdiesal commented on #1357
I got this to work by `https://` instead of `http`.

[2020-06-28 11:10] #1357 closed

[2020-06-28 11:10] vinhdiesal commented on #1359
I mounted the directory as `multipass mount ~/<directory> microk8s-vm`

[2020-06-28 11:10] #1359 closed

[2020-06-29 00:13] balchua commented on #1362
I get this too occasionally.  I tend to do `snapcraft clean microk8s`.  After that i can do `snapcraft --use-lxd`.
Not so long ago i made a pr to clean the kubernetes build which is throwing me some error when rebuilding.

[2020-06-29 03:39] sean-abbott opened #1364 "use hostname for kubelet for worker nodes in multinode setup"
I've given all my worker nodes hostnames, but when I run `kubectl get nodes`, the kubelet config shows the IP. The server shows the hostname.

[code]
if possible, it'd be nicer if it showed the hostname. Or was configurable via the `add node` or `join` commands.

[2020-06-29 05:47] siddharths2710 commented on #1362
That works! Thank you for the reply. Hope the pr goes through :)

[2020-06-29 05:47] #1362 closed

[2020-06-29 06:10] ktsakalozos commented on #1364
Are all hostnames resolvable on all nodes?

[2020-06-29 06:31] ktsakalozos commented on #1363
Hi @EnziinSystem. The docker images are stored under that directory. You can read more on how and when the unused images are garbage collected in [1]. To configure kubelet to match the behavior you desire you will need to edit `/var/snap/microk8s/current/args/kubelet` and restart MicroK8s with `microk8s stop; microk8s start`.

[1] https://kubernetes.io/docs/concepts/cluster-administration/kubelet-

[2020-06-29 08:45] ktsakalozos commented on #452
@adharshmk96, you may want to look at https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/

[2020-06-29 09:46] tomalbrecht opened #1366 "Unable to login into KubeFlow after the addon is enabled"
When I install microk8s on a workstation an enabling kubernetes, I am not able to open the kubeflow dashboard remotely. I found several other issues and solutions for this, but none of them worked (attached/linked). Does anyone have a working configuration, so I am able to remotely use Kubeflow on this workstation?

https://github.com/ubuntu/microk8s/issues/817
https://stackoverflow.com/questions/

[2020-06-29 12:12] tomalbrecht commented on #1366
When following this solution:

[code]

and restarting microk8s
[code]

"connection refused" errors accessing http://lenovo.local (Ports :80 and :31362)

[2020-06-29 12:16] vinhdiesal commented on #1328
Any updates?
I was able to get the logs of the failed jupyter pods:
[code]

[2020-06-29 13:15] tomalbrecht commented on #1366
Checked Workstation hostname: `lenovo` and reinstalled kubeflow (disable/enable).

[code]

Same result. Accessing http://lenovo/ results in 403 not authorized.

[2020-06-29 13:16] tomalbrecht commented on #1366
Accessing the k8 dashboard does work, though:

` microk8s dashboard-proxy`

accessing via https://lenovo:10443

[2020-06-29 13:20] tomalbrecht commented on #1366
`kubectl describe -n kube-system pod/coredns-588fd544bf-xs5tp` looks ok to me?

[code]

[2020-06-29 13:50] #1361 closed

[2020-06-29 19:50] charlesharden commented on #1287
FYI - I have the same issue, but I can actually connect to network services, other than ping:
(base) @ / ==> multipass shell microk8s-vm
Welcome to Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-108-generic x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

  System information as of Mon Jun 29 12:40:05 PDT

[2020-06-29 19:54] knkski commented on #1328
@vinhdiesal: Apologies, forgot the namespace in the commands I posted earlier. Can you try these?

[code]

And are you attaching any volumes to the notebook servers you're creating? If you are attaching any volumes, can you try running a notebook server without attaching any volumes? The permission denied error seems to me like an issue related to the volumes getting mounted into the notebook serv