[2019-09-06 07:19] ktsakalozos commented on #612
@affanse sorry for the late response we pushed an update on edge but it seems the fix is not complete yet (at least not for centos).

[2019-09-06 09:00] phcollignon commented on #258
Hello ! Any plan to support NetworkPolicy yet ?
Is there an easy way to change the network plugin ?

[2019-09-06 09:16] ktsakalozos commented on #258
Hi @phcollignon we are releasing today to stable a cilium add-on. You should be able to get it with:
[code]
This add-on will install the [cilium](https://cilium.io/) network plugin and allow setting network policies.
We appreciate any feedback, as this is the first time this addon is included in MicroK8s.

[2019-09-06 12:41] starpit opened #633 "new issue in travis: Insufficient permissions to access MicroK8s"
our travis builds have been fine, until this morning. now we see this message:

our install script has this, which has not changed in a while, certainly not this morning:

has something changed on your end? if so, what is the last version we can pin before this change was made? or was this a change on travis's side?

of the two suggested changes, the one suggesting a `usermod` and relogin clearly

[2019-09-06 13:04] ktsakalozos commented on #633
@starpit you would have to use sudo then. The 1.14, 1.15 and latest tracks have been updated to require sudo (or users in the microk8s group).

Apologies for this inconvenience. We communicated this change in https://discuss.kubernetes.io/t/explicit-use-of-sudo-in-microk8s-cli/7605 but I see this announcement did not reach you. The tag you should watch for is "microk8s" (https://meta.discourse.org

[2019-09-06 13:09] ktsakalozos commented on #633
@starpit you could also use newgrp if neither sudo nor relogin are acceptable. See https://superuser.com/questions/272061/reload-a-linux-users-group-assignments-without-logging-out

[2019-09-06 15:39] myers opened #634 "snap version 826 has a bug with network interface that has 2 ip addresses"
Last night, due to one a design defect in the snap system (forced upgrades with no way to stop it), my system upgraded to the the 826 version of the microk8s snaps.  Since this version has a new bug it stopped my microk8s cluster from coming back up with the new version.

I think the line of code with a bug is this one:

https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/com

[2019-09-06 16:11] Kylex87 opened #635 "Error: failed to generate container XX spec: invalid environment variable "ENV_VAR""
Hi,

I'm trying to run a deployment with some environment variables that are set through a configMap. But the container cannot be run, because i get the error message

It's an environment variable that is used inside the container to define which port should be used for a specific service.

I tried using different methods to set the environment variable. Directly in the deployment, through envFrom

[2019-09-06 16:43] ktsakalozos commented on #634
Thank you for reporting this @myers. Yes it is a bug in the new revision.

Our approach is to start with sane defaults and allow the user to reconfigure the services if needed. One fix you could have tried is to update `/var/snap/microk8s/current/args/etcd` with the IP you desire and then restart MicroK8s with `microk8s.stop; microk8s.start`. In your case would it work if we used any of the two IP

[2019-09-06 18:42] myers commented on #634
@ktsakalozos thank you for the tip on how to get the new version working.

I'm not totally sure what the IP address is used for, so I can't say if either would work.  I think you probably want the IP address on `eth0` not the ip address from `eth0:2`.

[2019-09-07 05:27] #440 closed

[2019-09-09 08:44] phcollignon opened #637 "Dashboard not working with RBAC"
Using Dashboard with default serviceaccount when RBAC is enabled has insufficient privileges ..

i.e. we get this kind of message : pods is forbidden: User "system:serviceaccount:default:default" cannot list resource "pods" in API group "" at the cluster scope

[2019-09-09 08:53] ashishraman commented on #633
` sudo usermod -a -G microk8s ubuntu ` doesnt work

[2019-09-09 08:54] phcollignon commented on #637
oops .. forgot to read the doc and create a dedicated user !
https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.dashboard.sh

[2019-09-09 09:03] ktsakalozos commented on #633
Hi @ashishraman

Which distribution are you on? How does it fail? What is the error message?

[2019-09-09 09:05] ktsakalozos commented on #637
We may need to improve the experience here. Any suggestions? What would you expect to happen @phcollignon ?

[2019-09-09 09:31] phcollignon commented on #637
Well .. I should have read the doc !

But I tried to use the default "dashboard-token" but it was not working neither .. maybe that one should be changed or add another one with more privileges as many users use microk8s for dev ..

Using the token from a created account as this works :
define user and clusterole in a `dashboard-admin-serviceaccount.yaml` file :
[code]
and run ` kubectl -f apply d

[2019-09-09 09:39] phcollignon commented on #637
But why using the default serviceaccount do not have enough privileges by default ?
I try running helm with rbac and also has issues .. system serviceaccount cannot create namespace ..
(so I also created a tiller service account with cluster-admin roles)

[2019-09-09 10:31] ashishraman commented on #633
Uh, sorry, its not a microk8s issue but CircleCI issue, `newgrp microk8s` on CircleCI gets stuck and doesn't run subsequent commands.

[2019-09-09 19:20] phcollignon commented on #637
I created an unsecured dashboard addon in my fork.  If you find it useful, there is a pull request : https://github.com/ubuntu/microk8s/pull/639

[2019-09-09 21:25] wallyworld opened #640 "can we remove sudo for microk8s.config?"
When microk8s.config started requiring sudo, Juju bootstrap breaks.
Since config is a read only command, I think that should not require sudo.

In general, even for other commands, perhaps the use of sudo can be restricted to those cases that really require it. eg if kubectl is not operating as admin, then is sudo really required? Or perhaps microk8s can look at what LXD did to remove the need for

[2019-09-10 07:20] ktsakalozos commented on #640
The options available for accessing MicroK8s currently is either sudo or add users to the microk8s group. Adding users to a group is done with: `sudo usermod -a -G microk8s ubuntu` and a logout-login so you get an updated shell. If logout-login is not an option you need to `newgrp microk8s` to get a shell with the group included. I believe this is what LXD is doing, there is a group users can be a

[2019-09-10 08:27] alexey-chernikov commented on #634
Same problem affected me as well - have 2 ips addresses on main interface

[2019-09-10 08:39] alsasian commented on #632
@ktsakalozos When checking available versions for hostpath-provisioner, I noticed that it has only one version **latest** in [dockerhub](https://hub.docker.com/r/cdkbot/hostpath-provisioner-amd64/tags). Do you know if we or someone else could add a fixed version for this docker image?

[2019-09-10 08:39] ktsakalozos commented on #634
@myers @alexey-chernikov a fix is on the edge channel.

Could you please take it for a test drive so we can push the fix to the stable channel?
[code]

Thank you

[2019-09-10 08:55] alexey-chernikov commented on #634
@ktsakalozos Thank you! Edge version 834 solved that problem for me, cluster successfully started

[2019-09-10 11:15] #128 closed

[2019-09-10 11:31] wallyworld commented on #640
We need to do whatever needs to be done automatically when the snap is installed or refreshed, so that things Just Work. We are already running under sudo at that point so can (should?) perform the necessary operations for the current user, including the newgrp. Users expect to be able to snap install microk8s and juju and have things work out of the box. With the change to microk8s, we've started

[2019-09-10 13:04] tvansteenburgh commented on #640
Can you link to some of these so we can see what issues people are hitting?

While perhaps not convenient, the change to require sudo was done for good reason and under the guidance of the Security team. CC'ing them for guidance on your suggestion to set up the group membership at snap install time.

/cc @jdstrand @alexmurray

[2019-09-10 13:34] ktsakalozos commented on #632
@alsasian just added the 1.0.0 tag. Give it a try.

[2019-09-10 19:43] jdstrand commented on #640
The classic microk8s can do this at install time. A strict mode microk8s cannot without coordination with snapd (we have a mechanism for this now, but the username would almost certainly need to be 'snap_microk8s' instead of 'microk8s'). Cc @pedronis for awareness)

[2019-09-10 21:35] wallyworld commented on #640
@tvansteenburgh here's one such bug report
https://bugs.launchpad.net/bugs/1843281

Juju calls microk8s.config to get the cluster info and now that's not possible without sudo

[2019-09-11 11:21] Kylex87 commented on #635
Seems like there was a problem with the docker-compose build script so it resulted in a bad layer. Docker runtime seems to ignore that, microk8s doesn't.
Fixing the build script removed the error.

[2019-09-11 11:21] #635 closed

[2019-09-11 21:18] amozoss commented on #606
After updating, I now get this message
[code]

I was able to resolve this issue by adding myself to the microk8s group. As suggested by the error message.
[code]

[2019-09-11 22:29] lazzarello opened #641 "refreshing snap from 1.13/stable to 1.15/stable fails"
The following sequence results in reproducible failures with the following inputs / outputs.
[code]

[2019-09-12 00:24] dp1140a opened #642 "utils.sh getDefault_ip causes returns multiple ip addresses"
Im running on ubuntu 18.04 in an lxc container.  Installed following instructions on https://microk8s.io/docs/.

`snap install microk8s --classic`

Worked fine so far when I run `microk8s.status` I get:
`microk8s is not running. Use microk8s.inspect for a deeper inspection.`

microk8s.inspect
`
Inspecting services
  Service snap.microk8s.daemon-containerd is running
  Service snap.microk8s.daemon-

[2019-09-12 00:26] dp1140a commented on #642
Just saw this is related to issue 634

[2019-09-12 06:19] #531 closed

[2019-09-13 23:12] AntonOfTheWoods opened #647 "docker network disappeared"
[inspection-report-20190914_065831.tar.gz](https://github.com/ubuntu/microk8s/files/3612059/inspection-report-20190914_065831.tar.gz)

I appear to have a couple of issues:
- The 10/ network has disappeared
- I'm getting the dreaded `microk8s is not running. Use microk8s.inspect for a deeper inspection.` for `microk8s.status` but all the services are running. A `microk8s.start` runs without reporti

[2019-09-13 23:20] lazzarello commented on #641
There is another directory that is not created on refresh
[code]

[2019-09-15 09:52] #632 closed

[2019-09-16 08:29] yangshenhuai opened #648 ""GLIBC_PRIVATE not defined in file libc.so.6 with link time reference" error when try to install microk8s in centos7"
when I try to install microk8s in centos7(CentOS Linux release 7.2.1511 (Core))  I got below error. any idea how to solve this error?

error: cannot perform the following tasks:
\- Run install hook of "microk8s" snap if present (run hook "install":
\-----
\+ export LD_LIBRARY_PATH=/snap/microk8s/826/lib:/snap/microk8s/826/usr/lib:/snap/microk8s/826/lib/x86_64-linux-gnu:/snap/microk8s/826/usr/lib/x

[2019-09-16 09:37] ktsakalozos commented on #641
Can you please try again:
[code]

[2019-09-16 10:05] phcollignon commented on #258
Hi, a small feedback as requested to tell you that networkpolicies support is working with cilium plugin.  Thanks for that new feature.

[2019-09-16 12:50] ktsakalozos commented on #258
You have to thank @joestringer and the folks at https://cilium.io/ for their contribution.

[2019-09-16 12:50] #258 closed

[2019-09-16 20:26] lazzarello commented on #641
Great! It works. Thanks so much.

[2019-09-17 08:19] khteh commented on #558
Happens again!
[code]
[inspection-report-20190917_161423.tar.gz](https://github.com/ubuntu/microk8s/files/3620047/inspection-report-20190917_161423.tar.gz)

[2019-09-17 09:09] khteh commented on #558
It doesn't work even after I have restart my laptop.

[2019-09-17 11:05] #641 closed

[2019-09-17 11:10] ktsakalozos commented on #648
We intend to address this kind of problems by moving to a strictly confined setup.

[2019-09-17 12:05] davigar15 commented on #596
@ktsakalozos @petevg Hello guys!

I have tested the new microstack version with the ''sudo microstack.init --auto` function. (edge/rocky channel).

Now, this issue is not happening. I mean that when the microstack is installed, the microk8s pods are not going down.

BUT, when rebooting the machine, I'm getting the same issue. ` remove /var/run/netns/cni-8b87d453-70d4-c38b-73a3-2da54ca6a77b: device

[2019-09-17 12:10] ktsakalozos commented on #647
@AntonOfTheWoods does this happen in new clusters or only this one?

A quick fix could be to copy the default arguments found in /snap/microk8s/current/default-args to /var/snap/microk8s/current/args.

[2019-09-17 12:16] ktsakalozos commented on #647
I see that kubelet is not authorized to reach the apiserver. So probably it is missing the following arguments:
[code]

You could start by:
[code]

[2019-09-17 12:20] Grexeo commented on #500
I'm seeing the same, Ubuntu 18.04 LTS.

[code]

This issue locks up my high-spec development machine for a few minutes. I/O becomes saturated. This is with a very basic cluster deployment with no "traffic".

Interestingly, this only happens if I change network (i.e. connect to a wifi network) or resume from suspend. (Resuming from suspend may be triggering a "network change").

Disabling and re-en

[2019-09-17 13:35] ktsakalozos commented on #558
Hi @khteh, this looks similar to https://github.com/ubuntu/microk8s/issues/647#issuecomment-532192657

[2019-09-17 21:06] lionelvillard opened #650 "disable prompt when installing knative addons"
The Knative addon cannot be installed in a CI/CD pipeline due to this prompt:

[code]

Can this be turned off?

[2019-09-17 21:50] rkujawa opened #651 "kubelet service not compatible with cgroups v2"
I have a snap-based microk8s installation on Fedora. After upgrading to Fedora 31 Beta, kubelet service failed to start:

[code]

This seems to be related to a change introduced in Fedora, that made cgroups v2 default:
https://fedoraproject.org/wiki/Changes/CGroupsV2

Setting `systemd.unified_cgroup_hierarchy=0` kernel parameter (essentially, going back to cgroups v1) works the problem around and

[2019-09-18 00:14] iperry83 opened #652 "Unable to enable most features on fresh 1.16-rc2 installation"
After a fresh install of microk8s, most of the features available under the microk8s.enable command can't actually be enabled.

    <snip>
    DNS is enabled

    Applying manifest
    secret/kubernetes-dashboard-certs created
    serviceaccount/kubernetes-dashboard created
    role.rbac.authorization.k8s.io/kubernetes-dashboard-minimal created
    rolebinding.rbac.authorization.k8s.io/kubernetes-

[2019-09-18 01:26] khteh commented on #558
Tried but doesn't work for me.

[2019-09-18 01:31] iperry83 commented on #652
Never mind, just noticed commit #646 specifically addresses this issue, just need to wait for the new build. Closing.

[2019-09-18 01:31] #652 closed

[2019-09-18 05:56] ktsakalozos commented on #650
There is not option to pass to the `microk8s.enable istio` command so that you are not prompted for input. You will have to do something like: `echo "y" | microk8s.enable istio`.

Adding an option is not that difficult. The `microk8s.enable` script accepts arguments for every addon you request (https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/microk8s-enable.wrapper#L39).

[2019-09-18 06:20] ktsakalozos commented on #647
@AntonOfTheWoods @khteh I know that your deployments are rather old and you are following the latest/stable track (ie you do not specify a track when you snap install microk8s). The latest/stable track will periodically introduce breaking changes either by upstream kubernetes deprecating features or us the by changing the default configuration. If you intend to keep a deployment for long you would

[2019-09-18 06:54] cyrilthank commented on #513
i executed sudo microk8s.enable dns storage dashboard
the 2nd time and it went through

![image](https://user-images.githubusercontent.com/4562436/65122718-48aa5d80-da0f-11e9-8902-97df7579da28.png)

[2019-09-18 07:03] cyrilthank commented on #20
i am getting the below error on Ubuntu 18.04

cyril@tensorflowextended:~$ sudo snap alias microk8s.kubectl kubectl
error: cannot perform the following tasks:
- Setup manual alias "kubectl" => "kubectl" for snap "microk8s" (cannot enable alias "kubectl" for "microk8s", it conflicts with the command namespace of installed snap "kubectl")

can you please advise?

[2019-09-18 07:10] AntonOfTheWoods commented on #647
Hi @ktsakalozos . Actually it was the 1.15.3 update that happened on 2019-09-06 that broke things. I have had some issues in the past with major upgrades but was actually happy to be keeping up to date, so didn't mind. I'm tracking stable, so I'm actually guessing that what happened was that the incompatibility was only introduced in the final update (not moving from 1.14 to 1.15, or 1.15.1 to 1.1

[2019-09-18 07:17] petevg commented on #596
@davigar15 the behavior you're seeing is expected. After you run .init, microstack basically behaves in the same way that it was behaving before. It's grabbing a port, or doing something else that is interfering w/ k8s.

The next steps w/ the init script are to make it accept a config flie, which can set ports and the like.

If you have some insight into which ports need to be configurable, please

[2019-09-18 07:22] davigar15 commented on #596
That’s great, but do you think the ports are the ones responsible of this
conflict? It seems like that is happening because some networking conflict
(according to the output).

Thanks
David

On Wed, 18 Sep 2019 at 09:17, Pete Vander Giessen <notifications@github.com>
wrote:

[2019-09-18 07:32] ktsakalozos commented on #20
@cyrilthank is it possible you have the kubectl snap already installed?

You could try giving it a different alias, eg `sudo snap alias microk8s.kubectl mkctl`

[2019-09-18 08:09] cyrilthank commented on #20
Thanks for updating this patiently.

You are right it was all set and i just had to ignore the step and proceed

[2019-09-18 08:11] rfrerebe opened #653 "Unable to connect to microk8s with kubectl after enabling ufw"
Hello,

After enabling ufw on microk8s host, it causes kubectl to stop working on the client machine.

It was solved with
[code]

[2019-09-18 08:11] #653 closed

[2019-09-18 08:14] matoous opened #654 "Knative with custom domain"
Hello!

I tried to run Knative on microk8s on my private server and assign it a domain but I was not able to access it.

I did following:

1. installed fresh microk8s
2. enabled `dns`, `istio` and `knative`
3. created service which was exact copy of the on mentioned here: https://knative.dev/docs/serving/samples/hello-world/helloworld-go/index.html
4. Knative tutorial mentions Ingress setup but on

[2019-09-18 12:40] ktsakalozos commented on #651
Thank you for reporting this @rkujawa with a workaround.

[2019-09-18 12:54] petevg commented on #596
@davigar15 Just re-reviewed the conversation. Yes, I think that you at @ktsakalozos are correct, in that it's not a port issue.

Unfortunately, I don't know what the issue is. k8s and microstack are arguing over some resource, but I'm not clear why they're respective virtualization layers aren't keeping them separate ...

[2019-09-18 13:41] #647 closed

[2019-09-19 05:19] harindaka commented on #319
I ran microk8s on a AWS Lightsail VPS with 1 GB RAM and 1 Core with Ubuntu 18.04. Microk8s itself runs fine but whenever I try to deploy via kubectl apply, the api server becomes unresponsive and the command times out. i.e. "Error from server (Timeout): error when creating "Kubernetes/dev-ingress.yaml": the server was unable to return a response in the time allotted, but may still be processing th

[2019-09-19 09:17] ycheng commented on #597
steps in https://ubuntu.com/kubeflow/install works, with two minor change.

1. export VERSION='curl ...'
     is not working because the quote is not correct. Maybe change to
     export VERSION=$(curl ....)

2. as "kfctl apply all -V", it complains namespace kubeflow-anonymous does not exists.
    manually create it, then it works. Not sure why.
    command to create the namespace: "kubectl creat

[2019-09-20 02:24] ycheng commented on #597
for the  kubeflow-anonymous, wait longer with create it works.

However, after finish installation, can't create notebook. There is not corresponding pod created, while it works fine as using microk8s 1.14 + kubeflow 0.5.

[2019-09-20 03:37] ycheng commented on #597
I can successfully create kubeflow_notebook if I select namespace kubeflow-anonymous.

Will check kubeflow if this is a "feature" instead of a "bug".

[2019-09-20 03:44] ycheng commented on #597
ref: https://github.com/kubeflow/kubeflow/issues/4156

[2019-09-20 10:33] SukiCZ commented on #249
[code]
fixed the issue for me. Asked for password once :tongue:

[2019-09-20 11:48] heckad opened #661 "How to enable use-forwarded-headers?"
I want to get real IP in my app but X-Forwarded-For is empty. Why? I run ingress by `microk8s.enable ingress`. In google I found that in config need add `use-forwarded-headers: true`. How to do it?

[2019-09-20 14:40] thomaskwok91 opened #663 "Issue Installing Microk8s"
Hi when I tried to install microk8s using snap install microk8s --classic I get this error

`+ export LD_LIBRARY_PATH=/snap/microk8s/826/lib:/snap/microk8s/826/usr/lib:/snap/microk8s/826/lib/x86_64-linux-gnu:/snap/microk8s/826/usr/lib/x86_64-linux-gnu
+ LD_LIBRARY_PATH=/snap/microk8s/826/lib:/snap/microk8s/826/usr/lib:/snap/microk8s/826/lib/x86_64-linux-gnu:/snap/microk8s/826/usr/lib/x86_64-linux-

[2019-09-20 23:11] balchua commented on #661
You may want to edit the configmap `nginx-load-balancer-microk8s-conf` and add the option to it.  example:
`kubectl edit cm nginx-load-balancer-microk8s-conf`
then add the `use-forwarded-headers: true` in the `data section.

[code]

[2019-09-22 05:27] a1exus commented on #552
I do have `ufw` already installed on the system:

[code]

[2019-09-22 15:21] heckad commented on #661
It's return `Error from server (BadRequest): error when replacing "/tmp/kubectl-edit-76l5q.yaml": ConfigMap in version "v1" cannot be handled as a ConfigMap: v1.ConfigMap.Data: ReadString: expects " or n, but found t, error found in #10 byte of ...|headers":true},"kind|..., bigger context ...|apiVersion":"v1","data":{"use-forwarded-headers":true},"kind":"ConfigMap","metadata":{"annotations":|...
`

[2019-09-22 23:35] balchua commented on #661
That's strange, perhaps you have tabs in your yaml.  The `ConfigMap` should look like this.

[code]

[2019-09-23 07:54] heckad commented on #661
My configmap is
[code]
I am added
[code]
And did `kubectl replace -f /tmp/kubectl-edit-ua11p.yaml` because
[code]
And got that erro.

[2019-09-23 09:28] balchua commented on #661
@heckad can you enclose true with quotes? Ex.
[code]

[2019-09-23 09:47] heckad commented on #661
Yes, it accepts but  `X-Forwarded-For` still empty.

[2019-09-23 10:08] balchua commented on #661
Do you have a load balancer in front of your ingress?

If no, the easiest way to test if you can do a curl and pass the header `X-Forwarded-For`.

[2019-09-23 20:30] HowellBP opened #665 "cgroup permission error attempting to run pod as non-root user"
Relvant log line from `microk8s.kubectl describe pod`:
[code]

microk8s.inspect tarball:
[inspection-report-20190923_152339.tar.gz](https://github.com/ubuntu/microk8s/files/3643992/inspection-report-20190923_152339.tar.gz)

I'm attempting to run microk8s on a Raspberry Pi 4B with 4GB RAM on Ubuntu 18.04 using a [custom arm64 kernel](https://github.com/TheRemote/Ubuntu-Server-raspi4-unofficial/rele

[2019-09-24 06:47] NumesSanguis opened #666 "v1.16.0 stable&candidate break Dashboard Token login 404 redirect error"
# System
- Ubuntu 18.04
- snap install (today, 2019-09-24): `sudo snap install microk8s --classic --channel=candidate` (installs: candidate: v1.16.0  2019-09-21 (918) 187MB classic)

Report tarball:
[inspection-report-20190924_151054.tar.gz](https://github.com/ubuntu/microk8s/files/3645557/inspection-report-20190924_151054.tar.gz)

# Problem
Just started with MicroK8s and following the tutorial at

[2019-09-24 07:31] Multiply commented on #500
We're also seeing the same issue with Ubuntu.
The problem is less severe on computers with more cores, it seems.

[2019-09-24 07:34] ktsakalozos commented on #663
Hi @thomaskwok91 what distribution are you on? I suspect this might be an issue with snapd not placing the snaps in the right location.

[2019-09-24 09:02] ktsakalozos commented on #666
Thank you for reporting this @NumesSanguis

A fix is on the way to upgrade the dashboard. For now you should be able to deploy the latest  dashboard with:
[code]

[2019-09-24 10:37] jareks commented on #198
@ktsakalozos any news on changing the default port?

8080 is commonly used by developers and there's no simple way in microk8s to change it. I understand it's a way more work to add configuration option so I am suggesting to only change the number for now (and that will hopefully remove issue for 90%+ of users?).

I believe 7895 would be a fine port number (`random.randint(7000, 8000) # =>7895`) ;

[2019-09-24 10:38] jareks commented on #198
8080 is commonly used by developers and there's no simple way in microk8s to change it. I understand it's a way more work to add configuration option so I am suggesting to only change the number for now (and that will hopefully remove issue for 90%+ of users?).

I believe 7895 would be a fine port number (random.randint(7000, 8000) # =>7895) ;)

Last but not least, thanks for your great work on mk

[2019-09-24 10:56] ktsakalozos commented on #665
Hi @HowellBP I am not exactly sure what you are doing. Could you provide more information?

I know that snapd will start all daemons as root and that includes containerd. Containerd is the one creating the containers and kubelet is talking to containerd through a socket. So a user talks to kubernetes and kubernetes asks containerd to spawn the containers (with runc). Do you want containerd to run

[2019-09-24 13:55] thomaskwok91 commented on #663
I am using Ubuntu 18.04 @ktsakalozos

[2019-09-24 14:07] ktsakalozos commented on #198
Hi @jareks,

We recently completely removed the insecure 8080. All communication now goes through the secure port 16443. Please review all open ports at [1]

If you need the insecure port 8080 back (or configure it) you need to edit `/var/snap/microk8s/current/args/kube-apiserver` and restart MicroK8s (`microk8s.stop; microk8s.start`)

[1] https://github.com/ktsakalozos/microk8s.io/blob/docs/ports

[2019-09-24 14:20] ktsakalozos commented on #597
/cc ammarn911

[2019-09-24 14:51] ammarn911 commented on #597
thanks @ktsakalozos , I'll update the installation.

[2019-09-24 14:59] jareks commented on #198
@ktsakalozos thanks for that excellent news :-)
I have quickly updated my snap to v1.16.0  (2019-09-21) but I still see kube-apiserver ( /snap/microk8s/918/kube-apiserver ) listening on 127.0.0.1:8080.

Are you referring to unreleased changes? Or maybe I am missing something?

[2019-09-24 15:05] #666 closed

[2019-09-24 15:05] #631 closed

[2019-09-24 15:26] ktsakalozos commented on #663
What is the out put of `snap changes microk8s`. Are you able to `sudo snap remove microk8s`? When removing the snap, can you make sure there is no `microk8s` directory under `/snap/`?

[2019-09-24 15:56] ktsakalozos commented on #198
Could you try the edge channel?
[code]

Should hit stable very soon.

[2019-09-24 16:11] HowellBP commented on #665
On a standard AMD64 PC running Ubuntu 18.04, I have a non-privileged user as a member of a group, `microk8s`, and I use `microk8s.kubectl apply -f` to create a deployment. I don't know how the underlying framework of microk8s or containerd work, so I can't tell you exactly what's different, aside from the fact it's running in an ARM64 environment instead of AMD64, on a custom kernel. I have the sa

[2019-09-24 16:32] jareks commented on #198
I have refreshed snap to edge: (v1.16.0 - 920)
[code]

But both 8000/8080 are taken:
[code]

[2019-09-24 16:42] ktsakalozos commented on #198
When you refresh we try to apply the service configuration you already have to the new installation. In this way we try to preserve any "special" tuning you may have done to your cluster(*). Since you are refreshing from an installation where 8080 was open that port remains open. You have to do a new installation so that the new defaults are used.

(*) Of course this comes with the risk that the o

[2019-09-24 17:04] jareks commented on #198
That makes perfect sense. Indeed, with clean install everything works as intended.
Thanks for your help and patience!

[2019-09-24 17:20] ktsakalozos commented on #663
When microk8s is removed, can you make sure you do not have a directory named `microk8s` under `/var/snap` (notice the `/var/` this time)?

The error says that the cp command in  https://github.com/ubuntu/microk8s/blob/master/snap/hooks/install#L10 cannot find the directory with the default configuration. This directory however is part of the snap. It does not make sense, it seems part of the snap

[2019-09-24 17:23] kschroed commented on #597
I've tried with the suggested two changes above from @ycheng but getting exit status of

Error: couldn't apply KfApp:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: couldn't create resources from application Error: no matches for kind "Application" in version "app.k8s.io/v1beta1"

This is on microk8s 1.15.3 and kubeflow v0.6.2

[2019-09-24 17:28] thomaskwok91 commented on #663
I just checked and I do not have /var/snap/microk8s either. And I'll send the message to the snapcraft forum to see if they know. Is there any dependencies or anything that I may have needed to install before doing sudo snap install microk8s --classic that may have been the reason?

[2019-09-24 23:44] davidthewatson opened #669 "requests.exceptions.SSLError: Can't connect to HTTPS URL because the SSL module is not available."
I'm following this guide:

https://discuss.kubernetes.io/t/microk8s-clustering-preview/7472

They are all running Ubuntu 19.04 with passwordless ssh enabled.

I have a master and 2 nodes. I've done:

    sudo snap install microk8s --classic --channel=1.15/edge/clustering

on all nodes.

I tried to add node with:

    sudo microk8s.add-node

and copied/pasted the join command. When I run that, I ge

[2019-09-25 01:23] NumesSanguis commented on #666
@ktsakalozos I'm not sure if your patch is in already in `1.16/candidate`, but after the following steps, I get a new dashboard error:

[code]

<details><summary> `Failed to enable dashboard` error: (click me)</summary>
<p>

[code]

</p>
</details>

[2019-09-25 01:31] NumesSanguis commented on #666
I successfully accessed the Dashboard when I reinstalled the snap again and switched the `dns` and `dashboard` order.

- Didn't work: `microk8s.enable dns dashboard registry`
- Worked: `microk8s.enable dashboard dns registry`

[2019-09-25 02:38] NumesSanguis opened #670 "Tutorial broken link to Charmed Kubernetes"
Just a small heads-up. On the last tutorial page (https://tutorials.ubuntu.com/tutorial/install-a-local-kubernetes-with-microk8s#6), the `Try Charmed Kubernetes` link is broken.
It refers to: https://tutorials.ubuntu.com/tutorial/get-started-canonical-kubernetes#0

[2019-09-25 07:08] ktsakalozos commented on #663
I guess you have already checked for missing packages, `apt-get install --fix-missing`.

[2019-09-25 07:31] ktsakalozos commented on #670
Thank you for reporting this. A fix is under way.

[2019-09-25 08:21] ycheng commented on #597
@kschroed I try again today and it still works. my output of snap list are
[code]
I also put all those steps into script in https://github.com/ycheng/microk8s-kubeflow-install.
It's the same with those on the web page with minor enhancement. To use it:
[code]
Sorry that I don't know why it failed on your side based on the log you provided.

[2019-09-25 09:17] ktsakalozos commented on #670
The PR with the fix is merged. The tutorial should be updated soon.

[2019-09-25 09:17] #670 closed

[2019-09-25 09:20] ktsakalozos commented on #654
Is there a way to configure `istio-ingressgateway` to use `NodePort` or `ClusterIP` instead of `LoadBalancer`. There is no `LoadBalancer` in MicroK8s.

[2019-09-25 09:40] MaxCaresYww opened #671 "microk8s.daemon-kubelet fail to start in latest stable channel"
Please run `microk8s.inspect` and attach the generated tarball to this issue.
[inspection-report-20190925_123430.tar.gz](https://github.com/ubuntu/microk8s/files/3651743/inspection-report-20190925_123430.tar.gz)

We appreciate your feedback. Thank you for using microk8s.

I use `snap install microk8s --classic` to install `microk8s`, kubelet fail to start with following error message from journal

[2019-09-25 09:47] ktsakalozos commented on #669
Hi @davidthewatson, thank you for reporting this.

I was able to reproduce this on 19.04. I do not have a workaround or fix for now.

[2019-09-25 11:22] kschroed commented on #597
I ran through it again and it got past stage but on to hanging with no kubflow-anonymous namespace, which after I created manually it then completed and is functional with the exception of argo runtime working with containerd.

[2019-09-25 12:13] davidthewatson commented on #669
Thanks @ktsakalozos

Wouldn't the workaround be to apt install openssl and run the join again?

[2019-09-25 12:58] ktsakalozos commented on #669
Did this work for you?

[2019-09-25 13:23] matoous commented on #654
https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/ there's tab `node port` so it seems like it is possible. I will try it when I have some time and I will report here.

[2019-09-25 13:50] thomaskwok91 commented on #663
Yes I have run that and there is no packages that need to be fixed. This is the oddest error

[2019-09-25 15:15] ktsakalozos commented on #669
@davidthewatson a version with a fix should be available on the latest edge channel (`snap install microk8s --classic --edge`) by tomorrow. Let me know if it works for you.

[2019-09-25 16:00] thomaskwok91 commented on #663
So the reason we wanted microk8s is because I heard that kubeflow is the best job scheduler at the moment and we need a job scheduler for our deep learning server. Is it possible to install kubeflow job scheduler without microk8s? And are there any alternatives for job scheduling at the mean time while I try to figure this issue out with snap community and github?

Thanks

[2019-09-25 16:38] thomaskwok91 commented on #663
Wow actually it seemed my issue was more with snapd than with microk8s. I uninstalled and reinstalled snapd and it fixed everything. Seemed something was broken with my core and snap

[2019-09-25 16:59] thomaskwok91 opened #673 "microk8s.status not running and microk8s inspect gives error"
Hi all, I just ran microk8s.status and see that it is not running, it suggested to use microk8s.inspect and when I use it, I receive this error

[code]
I have attached the gz file for reference. [https://drive.google.com/open?id=1bUMY25GrT8QH1fsZvHfGf-1arpwrn9G-](url)

[2019-09-25 17:42] ktsakalozos commented on #663
@thomaskwok91 let me introduce @knkski who can point you to some easy to use scripts to install kubeflow.

[2019-09-25 17:52] ktsakalozos commented on #673
It seems you have another kubernetes running localy in your system. Many of the default kubernetes ports are already used so MicroK8s will not start. I am not sure how you installed the second kubernetes so I am not sure what is the right process to remove it.

[2019-09-25 17:54] thomaskwok91 commented on #673
I think one of the grad students was trying to install kubernetes and kubeflow and ran into error so they told me and I took over for it. Do you know how I would check which kubernetes is running on my system, so I can ask them if it is needed and then remove it?

[2019-09-25 19:12] davidthewatson commented on #669
Awesome. Thanks. I'll watch for the update.

[2019-09-25 19:14] townsend2010 opened #674 "Failed to enable dashboard when running microk8s inside Multipass"
Hi,

We have a user of Multipass who reported a microk8s error when trying out the Kubeflow via the tutorial at https://ubuntu.com/kubeflow/install.  The Multipass related issue can be found at CanonicalLtd/multipass#1083.

I tried the steps as well and reproduced the issue.  It seems that maybe some configuration step is missing inside the Multipass instance?

Thanks!

[2019-09-25 19:33] thomaskwok91 commented on #673
Hi @ktsakalozos so I had the student uninstall kubernetes and then I reinstalled microk8s and followed the steps on [https://microk8s.io/docs/](url) to get kubeflow installed. I am running into the issue with the dashboard is not able to get enabled as I get this error

`Applying manifest
secret/kubernetes-dashboard-certs unchanged
serviceaccount/kubernetes-dashboard unchanged
role.rbac.authorizat

[2019-09-25 19:36] knkski commented on #663
@thomaskwok91: There's a README here that covers installing kubeflow on microk8s:

https://github.com/juju-solutions/bundle-kubeflow/

[2019-09-25 19:39] evilhamsterman commented on #276
I agree with @AdamIsrael, I started playing with K8s and decided that since we were and Ubuntu shop microk8s would be a great way to get started. However we also happen to use the subnet 10.1.1.0/24 and so the cbr0 interface caused issues for me accessing portions of our network.

[2019-09-25 20:19] thomaskwok91 commented on #663
Hi @knkski I am currently running

`python3 scripts/cli.py deploy-to uk8s`

and I get these error messages
`Running microk8s.enable storage
+ microk8s.enable storage
Enabling default storage class
deployment.extensions/hostpath-provisioner unchanged
storageclass.storage.k8s.io/microk8s-hostpath unchanged
serviceaccount/microk8s-hostpath unchanged
clusterrole.rbac.authorization.k8s.io/microk8s-host

[2019-09-25 21:26] knkski commented on #663
@thomaskwok91: Those messages are expected output, actually (I'm assuming you mean the `... unchanged` lines). That's just the output that `microk8s.enable storage` has, which that script echoes.

[2019-09-25 21:55] balchua commented on #673
@thomaskwok91 another process is using the port 10252.

Try running `netstat tulpn | grep 10252` might help you find the pid of the process using that port.  Note, if the process is executed by root or another user you might not see it if you execute the command with an unprivileged user.

[2019-09-25 22:08] thomaskwok91 commented on #673
I forgot about that command, but it also fixed itself the minute I ran microk8s.reset and then started it again.

[2019-09-25 22:08] #673 closed

[2019-09-26 02:10] ycheng commented on #597
@kschroed please checkhttps://github.com/kubeflow/kubeflow/issues/40900 for kubeflow-anonmous.

Per current status, I believe we can close this bug. Feel free to open another for other issues.

[2019-09-26 02:10] #597 closed

[2019-09-26 02:57] thomaskwok91 commented on #663
I ran into some hiccups today so I will try again tomorrow when I'm back in the office and state the problems. I ended up uninstalling microk8s and reinstalling it as I ran one of the scripts and it kept giving me an error that's output seemed to be a misplaced directory.

Anyways wanted to ask first, possibly stupid question, but I saw that the juju-solutions requires an AWS account for authoriza

[2019-09-26 06:53] kartoch opened #675 "enabling coredns: error validating data"
When enabling coredns:

[code]

The reason seems to be in the way the coredns enable script handle string for `$ALLOWESCALATION` in `/microk8s-resources/actions/enable.dns.sh`:

https://github.com/ubuntu/microk8s/blob/e0dbaab51273b8cac36eaee8e80b0c56f00d484d/microk8s-resources/actions/enable.dns.sh#L10-L17

Which is injected as a string with double quote in `microk8s-resources/actions/coredns.yaml

[2019-09-26 07:17] kartoch commented on #675
enable dns works fine, and uses `coredns`:

[code]

[2019-09-26 07:46] ktsakalozos commented on #675
Indeed you are expected to `microk8s.enbale dns` and not coredns. The `coredns.yaml` file served as a template to the enable script.

[2019-09-26 07:47] ktsakalozos commented on #675
What made you try to `enable coredns`?

[2019-09-26 07:47] matoous commented on #654
I was able to start `httpbin` service and access it (http://potski.tech:31380/headers) using the guide mentioned before, but now I am not able to expose it on port 80.

[code]

[2019-09-26 08:30] kartoch commented on #675
Just testing enabling all plugins for fun.

Maybe removing the coredns script makes sense ?

[2019-09-26 09:25] ktsakalozos commented on #674
Thank you @townsend2010, @ycheng for reporting this.

The issue is with `microk8s.enable dns dashboard` in a fresh install. The dns addon restarts k8s serves and it needs more time for the cluster to come up. While we wait for the PR with the fix to reach stable, a workaround is to do a `microk8s.enable dns; microk8s.status --wait-ready; microk8s.enable dashboard`.

[2019-09-26 10:03] #674 closed

[2019-09-26 10:14] ktsakalozos commented on #663
Where did you saw this? Juju works on many substrates (aws included) public and private clouds, local hardware.

[1] https://jaas.ai/docs/clouds
[2] https://jaas.ai/

[2019-09-26 11:39] #675 closed

[2019-09-26 14:10] thomaskwok91 commented on #663
I actually was able to install microk8s so I moved the topic to juju-solutions bundle-kubeflow as that is the next part where I am having the issue.

[2019-09-26 14:16] 00-matt opened #679 "Snap fails to install >=1.16"
Version 1.15.3 installs and works fine, but 1.16 and edge fails with the following error:

[code]

[code]

[2019-09-26 14:40] xrogtolis opened #680 "Failed cloning to gitRepo Volume"
Creating the following volume in a Pod:
[code]
fails with the following message from the Pod description:
[code]
[inspection-report-20190926_163445.tar.gz](https://github.com/ubuntu/microk8s/files/3658298/inspection-report-20190926_163445.tar.gz)

[2019-09-26 15:41] mitsuan commented on #513
add the user multipass to the 'microk8s' group:

`    sudo usermod -a -G microk8s multipass`

The new group will be available on the user's next login.

and then setup microk8s again:
`sudo kubernetes-tools/setup-microk8s.sh`

you will be able to acces the dashboard now

[2019-09-26 15:58] myers commented on #634
I'm now running 920 and this works.  Thanks for your prompt help @ktsakalozos !

[2019-09-26 15:58] #634 closed

[2019-09-26 16:01] benoitdr opened #681 "cannot pull image from hub.docker.com"
microk8s cannot pull image from my docker hub repo.

Steps to reproduce :
[code]

[2019-09-26 16:02] myers opened #682 "When upgrading to 1.16/stable 2019-09-25 (920) unable to use cluster until change of configs"
It looks like the default port the kube-apiserver was changed from 16443 to 6443.  The problem is some autogenerated files in `/var/snap/microk8s/current/credentials`: `controller.config`, `kubelet.config`, `proxy.config`, and `scheduler.config` all had the line

[code]

which needed to be corrected before the cluster would come up all the way (e.g. nginx-ingress worked).

I post this as both to h

[2019-09-26 16:03] benoitdr commented on #681
[inspection-report-20190926_175727.tar.gz](https://github.com/ubuntu/microk8s/files/3658754/inspection-report-20190926_175727.tar.gz)

[2019-09-26 19:33] davidthewatson commented on #669
I grabbed the update to 1.16 after it came out today and attempted the same steps above. Unfortunately, the bug still occurs with the merged PR #672 above. Are you sure that python3 can find the openssl module? This was a common problem with the request module which I think this code depends on.

[2019-09-26 19:40] ktsakalozos commented on #669
Could you try the edge channel?
[code]

[2019-09-26 19:47] ktsakalozos commented on #680
@xrogtolis I suspect you are seeing this because the gitrepo got deprecated on v1.16. Please [the official docs](https://kubernetes.io/docs/concepts/storage/volumes/#gitrepo) for a workaround or keep using the v1.15 kubernetes with:
[code]

[2019-09-26 19:50] ktsakalozos commented on #513
A fix for this should be on edge (`sudo snap install microk8s --classic --edge`) and should reach the stable channel along with v1.16.1.

[2019-09-26 21:14] Mohl commented on #679
Just ran into the exact same problem. Same snap version.
[code]

[2019-09-26 21:53] 00-matt commented on #679
Could it be that the OpenSSL in the base snap is 1.0.0, and the version of OpenSSL shipped in Debian 10 is 1.1.1? I think that they broke binary compatibility between those releases.

[2019-09-26 23:16] balchua commented on #682
Looking at the source, I think it moved from 6443 to 16443 instead.

[2019-09-27 09:06] jareks opened #684 "Publicly exposed ports don't match documentation in v1.16"
I have noticed two occasions where https://microk8s.io/docs/ports is incorrect for v1.16.

1. According to docs it is possible stop exposing ports by "remove --proxy-mode from /var/snap/microk8s/current/args/kube-proxy". But there is no `--proxy-mode` in that file anymore (or elsewhere).
What's the v1.16 way to stop exposing ports?

2. Documentation seems to miss one tcp and three tcp6 ports:
[cod

[2019-09-27 10:23] DomFleischmann opened #685 "'pod not found not found' When juju bootstrapping microk8s the first time"
After installing microk8s and running a bootstrap quickly afterwards the following error appears:
[code]
After running the command several times it works.

These were the commands executed:
[code]

microk8s.inspect report is attached
[inspection-report-20190927_122008.tar.gz](https://github.com/ubuntu/microk8s/files/3662268/inspection-report-20190927_122008.tar.gz)

[2019-09-27 11:36] ktsakalozos commented on #684
There was a PR against our docs sitting there for some time now. That doc is now updated: https://github.com/ubuntu/microk8s/issues/684

Yes, K8s could work with only private interfaces. Do you think we should run with everything closed until the user says something like `microk8s.expose`, or `microk8s.expose apiserver`?

[2019-09-27 11:43] ktsakalozos commented on #682
Indeed every MicroK8s update that pushes a new upstream release (in this case v1.16) may introduce breaking changes. If you are interested in having a long lasting MicroK8s cluster it is safer to select the channel you want to follow (eg `sudo snap install microk8s --classic --channel=1.16/stable`). Ephemeral clusters you want to keep for a few hours or days can use the latest stable version by sk

[2019-09-27 11:46] michael-db opened #686 "install v1.16.0 fails: "can't open config file: /usr/lib/ssl/openssl.cnf""
Neither microk8s v1.16.0 (920) nor edge (922) installs on my Centos 7.6 1810 VM. v1.15.3 installs without error.
[code]
At this point, here is how things look wrt openssl.cnf
[code]
Nothing looks wrong. Following the instructions at https://snapcraft.io/docs/installing-snap-on-centos, I reboot.
Note that I've done nothing else significant up to now, I did the above steps on a new VM.
Then
[code]
N

[2019-09-27 13:11] Mohl commented on #679
So we just need stick to 1.15 until this gets fixed?

[2019-09-27 13:21] jareks commented on #684
Yes, I think everything should be closed by default.
My rationale is as follow:
- I am installing isolated k8s via snap on my host
- I am going to use my host's shell (microk8s.* commands) to manage it
- that's the default way of using microk8s and it doesn't require exposing ports to outside

Now regarding how to implement that - if k8s should bind to different interfaces or if it should have sep

[2019-09-27 13:28] ktsakalozos commented on #684
Sorry about that, here is the link https://microk8s.io/docs/ports

[2019-09-27 13:33] myers commented on #682
@ktsakalozos Thank you for that info.  That's super helpful.  Would it make sense to put that in the README.md some where?

[2019-09-27 15:03] evilnick opened #687 "microk8s.status should order list of addons"
When there were only a handful of addons, it was simple to see which were available/running. Now the list is longer, it is harder to instantly pick out relevant addons.

I suggest that simply ordering the output alphabetically would make it considerably easier for users.

[2019-09-27 15:42] jareks opened #688 "Stoping or removing microk8s does not clear iptables"
Installing and starting microk8s adds rules to host's iptables but stopping / removing snap does not remove them (without reboot).

---

Version: microk8s v1.16.0  2019-09-25 (920).
Tested on ubuntu/xenial64 with Vagrant.
[code]

If you reboot the machine the rules are finally removed.

(Possibly the problem is not with iptables rules itself, but with k8s network interface(s) not being removed)

[2019-09-27 20:21] pmundt commented on #101
Incidentally, I ended up on this issue facing the same problem with containerd:

[code]

In this case it was sufficient to simply disable the profile:

`# aa-disable /etc/apparmor.d/cri-containerd.apparmor.d`

It would be nice to have an option to get rid of apparmor entirely, but on the present version of Ubuntu this unfortunately takes snap/snapd with it.

[2019-09-27 22:56] davidthewatson commented on #669
@ktsakalozos

I just installed edge channel. Same version: 1.16. Fails the same way. Again, I ask: Are you sure python3 can find the openssl module? It's not clear to me what the point of trying the edge channel was when it's the same version as tested previously. Do you actually have any evidence that the bug is fixed or are we just flying blind?

[2019-09-27 23:56] tvansteenburgh opened #689 "microk8s.enable jaeger fails on fresh install of 1.16/stable"
[code]

[code]
[inspection-report-20190927_195448.tar.gz](https://github.com/ubuntu/microk8s/files/3664856/inspection-report-20190927_195448.tar.gz)

[2019-09-28 04:55] ktsakalozos commented on #669
The edge and stable do have the same version but they do not have the same revision. In `sudo snap info microk8s` you see stable at 920 and edge at 922. Revision 922 includes this PR  https://github.com/ubuntu/microk8s/pull/672/files that pulls openssl into the snap. Openssl is part of your system as it is a dependency of snapd. In 19.04 there is a misalignment between the openssl version on the s

[2019-09-28 14:34] a1exus opened #690 "error: cannot perform the following tasks:"
Hello World!

My environment:

[code]

I'm trying to install `microk8s` on my Linux, by issuing following command:

yet running into following error:

[code]

Please advise.

[2019-09-29 09:04] jareks commented on #684
Awesome, I confirm update is publicly visible now. Thanks!

[2019-09-29 09:04] #684 closed

[2019-09-29 18:11] #661 closed

[2019-09-30 11:59] Sandvich commented on #686
I'm having the same issue. I see the following results for the config file:
`
sudo find / -name *openssl.cnf
/etc/ssl/openssl.cnf
find: File system loop detected; ‘/.snapshots/1/snapshot’ is part of the same file system loop as ‘/’.
/.snapshots/2/snapshot/etc/ssl/openssl.cnf
-snipped-
/.snapshots/14/snapshot/etc/ssl/openssl.cnf
/snap/core/7713/etc/ssl/openssl.cnf
/snap/core/7713/usr/lib/ssl/openss

[2019-09-30 13:07] xrogtolis commented on #680
thank you @ktsakalozos, that's the case

[2019-09-30 13:07] #680 closed

[2019-09-30 13:11] bsyd commented on #630
Doing this on my CentOS7 box seems to resolve the same issue :

`cp /var/lib/snapd/snap/core/current/etc/ssl/certs/ca-certificates.crt /etc/ssl/certs`

looks like the embedded curl binary has the wrong path for ca-certificates hardcoded.

[2019-09-30 14:37] ktsakalozos commented on #686
There should be a fix on edge by tomorrow (`sudo snap install microk8s --classic --edge`). Please let me know if it worked for you too.

Thank you @DomFleischmann for your work.

[2019-09-30 15:03] ktsakalozos commented on #689
Could you try `--edge` @tvansteenburgh . This was fixed by https://github.com/ubuntu/microk8s/pull/676 but hasn't made it to stable yet.

[2019-09-30 16:04] tvansteenburgh commented on #689
Yep, that worked, thanks @ktsakalozos.

[2019-09-30 16:04] #689 closed

[2019-09-30 16:19] #687 closed

[2019-10-01 08:38] aeneasr commented on #633
Yeah, I too can not for the life of me get 1.14 to work on CircleCI. `usermod` doesn't work because I can not relog and `newgrp` has no effect. Because a lot of downstream commands (helm, ...) rely on microk8s I would really like to avoid adding `sudo` everywhere as a workaround.

[2019-10-01 08:47] ktsakalozos commented on #690
@a1exus could you use the 1.15 track while we work on this issue? (`sudo snap install microk8s --classic --channel=1.15/stable`). Thank you.

[2019-10-01 08:56] michael-db commented on #686
[code]
Thank you for the quick response.

[2019-10-01 08:56] #686 closed

[2019-10-01 12:01] ktsakalozos commented on #630
@popey @bsyd, there should be a fix on the edge channel within the day.
`sudo snap install microk8s --classic --edge`.

Thank you @DomFleischmann for the work on this fix!

[2019-10-01 12:17] ktsakalozos commented on #679
@Mohl @00-matt the snap on edge fixes this issue. Try it with:
[code]

Thank you @DomFleischmann your work on https://github.com/ubuntu/microk8s/pull/691

[2019-10-01 12:18] ktsakalozos commented on #679
Feel free to reopen if the issue persists for you.

[2019-10-01 12:18] #679 closed

[2019-10-01 12:35] ktsakalozos commented on #690
The snap on edge fixes this issue. Try it with:
``
sudo snap install microk8s --classic --edge
[code]

[2019-10-01 12:35] #690 closed

[2019-10-01 13:10] rzr commented on #488
I guess this issue can be closed since release of  v1.16.0  (920) ?
[code]

Relate-to: https://github.com/ubuntu/microk8s/pull/616

[2019-10-01 13:19] ktsakalozos commented on #488
Yes, thank you @rzr

[2019-10-01 13:19] #488 closed

[2019-10-01 13:32] rzr commented on #681
This look like a problem that occurs docker side

Can you try again and eventually also run ?
[code]
that line worked for me, I didnt try with microk8s

[2019-10-01 13:58] rzr commented on #688
Should a wrapper script handle this ?

[2019-10-01 14:11] rzr commented on #532
Does your OS use apparmor ?

[2019-10-01 14:38] antevens commented on #513
For myself the source of this issue/error turned out to be that the interface name changed so rather than doing:
sudo ufw allow in on cbr0 && sudo ufw allow out on cbr0
Now its:
sudo ufw allow in on cni0 && sudo ufw allow out on cni0

[2019-10-01 18:00] davidthewatson opened #695 "microk8s.helm returns Eror: could not find tiller"
I've installed microk8s on ubuntu 19.04 with:

    snap install microk8s --classic --edge

I then enable helm:

    microk8s.enable helm

which produces:

    Enabling Helm
    Helm is enabled

I then issue:

    microk8s.helm version

which produces:

    Client: &version.Version{SemVer:"v2.14.3",     GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085",  GitTreeState:"clean"}
    Error: could no

[2019-10-01 19:38] inastrangeland opened #696 "Cannot access dashboard from browser"
Running on Mac OSX 10.14.

Followed the guide and installed multipass and microk8s.  Got the cluster running and dashboard enabled.  Next step is to paste the URL in the browser and get to the login screen.  Get error saying the site cannot be reached.  I can ping it from within the VM.  Is there a DNS setup I have to do in order to access the IP address from the Mac OS?

Kubernetes master is runn

[2019-10-01 20:53] buildhue opened #697 "jaeger add-on does not collect traces"
More details on this thread:
https://discuss.kubernetes.io/t/jaeger-auto-injecting-into-pods/8138/5

It works out when using the official jaeger operator and the inject=true annotation: https://www.jaegertracing.io/docs/1.14/operator/#installing-the-operator-on-kubernetes

[2019-10-01 20:54] #697 closed

[2019-10-01 20:54] romainr opened #698 "jaeger add-on does not collect traces"
More details on this thread:
https://discuss.kubernetes.io/t/jaeger-auto-injecting-into-pods/8138/5

It works out when using the official jaeger operator and the inject=true annotation: https://www.jaegertracing.io/docs/1.14/operator/#installing-the-operator-on-kubernetes

[2019-10-01 22:45] balchua commented on #695
Enabling helm in microk8s does not explicitly install tiller.

Also Kubernetes 1.16 disabled the deprecated apis.  Helm/tiller 2.14.3 still uses them.  2.15.0 will fix that.  You can also use their canary release.

https://github.com/helm/helm/issues/6374

[2019-10-02 05:30] benoitdr commented on #681
If I install docker on the VM, yes a "docker pull" of the same image is working.
But microk8s does not use docker anymore, it uses containerd.
That's way this issue should be reproduced with the following command :
microk8s.ctr i pull

[2019-10-02 14:46] jemc commented on #233
I'm also looking for a lightweight way to run kubernetes integration tests in a CI system that only supports docker container build agents. I think microk8s would be an attractive solution if it were possible to run it in a docker container.

[2019-10-02 15:31] davidthewatson commented on #695
Sorry about that. Here's the additional detail that I forgot:
[code]
Of course, this is after the helm enable.

[2019-10-02 15:51] davidthewatson commented on #669
Thanks for the additional detail.

I'm aware of the openssl history on ubuntu having run into this years ago with requests in python. I'd like to help but I don't understand the microk8s virtual environment. Are you using docker or lxd to build the snaps?

I could pursue this, but I don't find any developer documentation when searching the microk8s git repo. Can you point me in the right direction

[2019-10-02 22:12] balchua commented on #695
@davidthewatson yeah that's due to the disabled api in kubernetes 1.16.
Thanks

[2019-10-03 05:31] NumesSanguis commented on #70
It seems that the original issue of Helm integration with MicroK8s has been (partly) solved?
In the documentation I see the command `microk8s.enable helm` (https://microk8s.io/docs/)

## local server connection
I have an issue with connecting to the local server, however.
[code]

Also, when I try to install an Airflow chart (https://github.com/tekn0ir/airflow-chart):
[code]

## system
- Ubuntu 18.

[2019-10-03 07:56] ktsakalozos commented on #70
@NumesSanguis let me replay here what we discussed over at the #microk8s slack channel.

At the time of this writing helm has not released a version that works with v1.16 [1]. As soon as a release comes out we will have to update the addon script [2] to pick it up.

While we wait you have two options:
- use MicroK8s v1.15 with `sudo snap install microk8s --classic --channel=1.15/stable`
- go throu

[2019-10-03 08:04] ktsakalozos commented on #695
While we wait for a helm release [1] we can:
-  use MicroK8s v1.15 with sudo snap install microk8s --classic --channel=1.15/stable
-  go through the issue [2] and try any workarounds described there.

Apologies for any inconvenience.

[1] https://github.com/helm/helm/releases
[2] helm/helm#6374

Related to:
https://github.com/ubuntu/microk8s/issues/70#issuecomment-537832749

[2019-10-03 08:27] ktsakalozos commented on #669
Thank you @davidthewatson for offering your help.

@DomFleischmann has been working on this issue for a couple of days now and he might have some fix ready soon. We would appreciate your feedback on the PR as soon it is ready.

For building MicroK8s have a look at [1]. `snapcraft cleanbuild` creates an lxc container and does all the building there. The files you may want to look at is the `microk8

[2019-10-03 08:29] ktsakalozos opened #699 "Helm does not show up in microk8s.status"
The helm addon does not have a corresponding pod so the `microk8s.status` script [1] need to be updated to check for the existence of the helm binary before reporting the addon enabled or disabled.

[1] https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/microk8s-status.wrapper

[2019-10-03 08:46] ktsakalozos commented on #233
For reference some links related to the issue:
- https://forum.snapcraft.io/t/snapd-in-docker/177
- https://forum.snapcraft.io/t/running-snaps-inside-docker-containers/869
- https://bugs.launchpad.net/snappy/+bug/1841327
- https://github.com/ogra1/snapd-docker

[2019-10-03 09:06] jareks commented on #70
Just in case it helps:
I have been using helm v3.0.0-beta.3 with microk8s v1.16.0 (920) and it seems to work fine.

[2019-10-03 09:07] ktsakalozos commented on #497
The `--help` flag was added beginning of September so it was not released at the time this issue was opened.

I am closing this. Please feel free to reopen it if you need further improvements.

[2019-10-03 09:07] #497 closed

[2019-10-03 09:09] ktsakalozos commented on #630
My tests show this fixed. The snap will be available on stable along with v1.16.1. Feel free to reopen the issue if the fix does not work for you.

Thank you for reporting this.

[2019-10-03 09:09] #630 closed

[2019-10-03 09:13] NumesSanguis commented on #70
What steps did you take to use Helm v3?

[2019-10-03 09:13] ktsakalozos commented on #633
@aeneasr `sudo -E` may come in handy. It preserves the env variables.

[2019-10-03 09:43] sakshamkhanna commented on #650
@lionelvillard can you please give more info on how to reproduce this issue

[2019-10-03 12:44] lionelvillard commented on #650
here the travis config I was trying: https://travis-ci.org/lionelvillard/knative-examples/jobs/586240984

[2019-10-03 12:58] DF-ui opened #701 "enable.fluentd creates OLD elastic (6.5.1) & kibana (6.3.2)"
`sudo microk8s.enable fluentd`

works fine and links are available with  "kubectl cluster-info".

Its very conveniently, but microk8s install old elasticsearch 6.5.1 and old kibana 6.3.2. Metrics in old versions dont work correctly for now.

How can I update them for modern versions (7.3.2 or 7.4.0)?
Or maybe you can update them in newer version of microk8s?

Thx.

[2019-10-03 14:29] inastrangeland commented on #696
Thanks, exactly what I was looking for.  Solved my problem.

[2019-10-03 14:29] #696 closed

[2019-10-04 11:33] amouat opened #702 "Update containerd to 1.3.0"
The latest release of containerd - 1.3.0 - is a major step forward in functionality https://github.com/containerd/containerd/releases/tag/v1.3.0 and it would be great to move to it as standard asap.

In particular, it includes support for pulling from registries that have their own TLS cert. In some cases this is essential for securely pulling from private registries. The microk8s docs currently i

[2019-10-04 13:55] #669 closed

[2019-10-04 13:56] ktsakalozos commented on #669
@davidthewatson the fix should be available on edge within a day. Hope, it gets fixed this time.

[2019-10-04 19:33] andrewfinnell commented on #70
To make this easier for anyone stuck like I was, this following command worked:

`microk8s.helm init --override spec.selector.matchLabels.'name'='tiller',spec.selector.matchLabels.'app'='helm' --output yaml | sed 's@apiVersion: extensions/v1beta1@apiVersion: apps/v1@' | microk8s.kubectl apply -f -`

[2019-10-05 13:37] gostaj opened #704 "Error when pulling image built locally without a registry"
I've followed the instructions from https://microk8s.io/docs/working "Working with locally built images without a registry" and I'm building a JVM app from Maven with the `jib-maven-plugin` outputting to `<image>outlooktoslack:local</image>`.

[code]

I've tried with deployment as:
[code]
and
[code]
but to no avail:
[code]
[code]

[code]
I'm probably the one doing something wrong but you might be

[2019-10-05 15:24] andrewfinnell commented on #695
The following command worked quite well for me

[code]

[2019-10-05 23:26] balchua commented on #704
May i know what is your `imagePullPolicy` defined in your deployment or pod?

[2019-10-06 07:41] gostaj commented on #704
I have not defined an `imagePullPolicy`.

[2019-10-06 08:39] balchua commented on #704
This is strange.

mind sharing your deployment/pod manifest?

Thanks.

[2019-10-06 08:53] balchua commented on #704
@gostaj
Can you add `imagePullPolicy: Never` ? or `IfNotPresent`

[2019-10-06 09:40] octopus-prime opened #705 "v1.16.0 (rev 920) broken"
Some days ago all works fine. But now:

[code]
So i tried this: https://github.com/ubuntu/microk8s/issues/682
And then:
[code]
So... what else i have to repair to run this broken version?

[inspection-report-20191006_113045.tar.gz](https://github.com/ubuntu/microk8s/files/3694188/inspection-report-20191006_113045.tar.gz)

[2019-10-06 10:04] octopus-prime opened #706 "v1.16.1 (rev 936) broken"
[code]

[2019-10-06 12:02] gostaj commented on #704
That was it! Great @balchua !
`imagePullPolicy: Never` was the only thing that was needed.

I think it would be great to include this information under *"Working with locally built images without a registry"* at https://microk8s.io/docs/working

Thank you very much for you help!

[2019-10-06 12:02] #704 closed

[2019-10-06 12:06] balchua commented on #704
@gostaj, great news.  Do you mind creating an issue ?

[2019-10-06 12:09] balchua commented on #706
Hi @octopus-prime I've seen this happen when the cluster is not fully ready.

Usually i do `microk8s.status --wait-ready` before enabling addons.

[2019-10-06 14:17] gostaj opened #707 "Add to documentation about imagePullPolicy for locally built images without a registry"
@balchua helped me fix an issue https://github.com/ubuntu/microk8s/issues/704 when my deployment failed for an image built locally without a registry.

The solution was to add
`imagePullPolicy: Never`
to the deployment.

I think it would be great to include this information under
**"Working with locally built images without a registry"**
at https://microk8s.io/docs/working

[2019-10-07 08:33] ktsakalozos commented on #707
Thank you @gostaj and @balchua for working on this. The PR with the fix in our docs is under review.

[2019-10-07 08:48] ktsakalozos commented on #706
@octopus-prime I cannot reproduce this. Could you please attach the `microk8s.inspect` tarball? in addition to what @balchua suggested could you try to enable each addon separately? The dns addon is a bit special because it has to restart services. It might be that there is a delay in services comming up and the triggering of the next addon.

[2019-10-07 08:49] rzr commented on #706
Well I guess it wont harm to wait in enabler tool too, no ?

[2019-10-07 08:52] ktsakalozos commented on #706
@rzr we recently added the `microk8s.status --wait-ready` in the `microk8s.enable` wrapper https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/microk8s-enable.wrapper#L38 . It might worth making the `microk8s.enable ingress` addon blocking (ie wait for services to come up). Any tips on how to reproduce this race condition?

[2019-10-07 09:28] ktsakalozos commented on #702
Containerd 1.3.0 came out 10 days ago https://github.com/containerd/containerd/releases

Updating MicroK8s should be as easy are updating the commit hash we use to build containerd and the respective runc https://github.com/ubuntu/microk8s/blob/master/build-scripts/set-env-variables.sh#L20 .

[2019-10-07 09:46] ktsakalozos commented on #701
Hi @DF-ui to update the fluentd addon we need to update (if needed) the script at https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.fluentd.sh and probably the yaml manifests in https://github.com/ubuntu/microk8s/tree/master/microk8s-resources/actions/fluentd based on the instructions found in You will need to follow the instructions at https://docs.fluentd.org/conta

[2019-10-07 09:47] ktsakalozos commented on #698
@DomFleischmann is working on this. Thanks.

[2019-10-07 09:55] amouat commented on #702
FWIW I tried to update myself and failed despite several attempts - you can read the details on the Kubernetes slack: https://kubernetes.slack.com/archives/CAUNWQ85V/p1570188839178700

Thanks for the suggestion though.

[2019-10-07 10:16] octopus-prime commented on #706
Running `microk8s.enable` separately for each add-on works. Thanks!

[2019-10-07 11:05] balchua commented on #704
@gostaj i just realized that you are using jib.  In fact jib can create oci compliant images without docker.

I also use jib maven. And i find it simpler to enable the registry  addon in microk8s than saving and importing it using ctr.
It's even better when u pair skaffold and jib.

I have some samples that i can share if you're interested.

[2019-10-07 11:10] avanindra1 commented on #407
hi
i found error:
error: SchemaError(io.k8s.api.core.v1.StorageOSVolumeSource): invalid object doesn't have additional properties.
 while performing kubernetes deployment in CircleCI

[2019-10-07 12:06] gostaj commented on #704
Yes please @balchua do that.
I have enabled the registry addon in microk8s but didn't know that it's not used by ctr 🙈 .
I'm building my images locally right now and want them running on a rather closed down VM running microk8s.

[2019-10-07 12:42] balchua commented on #704
@gostaj, the registry addon is used by `microk8s.ctr`.  The microk8s guide you pointed out explains how to use.

I have this project in github (shameless plug) https://github.com/balchua/demo

Checkout the `skaffold.yaml` file there. For example https://github.com/balchua/demo/blob/master/votes/skaffold.yaml

I may have some skaffold there still using dockercli, but its safe to turn it to false.

[2019-10-07 21:33] knkski opened #708 "Creating a sample user link in microk8s output no longer valid"
As of Sep 16th according to the kubernetes dashboard wiki git log, the "Creating sample user" page no longer exists that's linked in the microk8s dashboard enable script:

https://github.com/ubuntu/microk8s/blob/5b349a4a1a6492a9a2357db37053835e13ba98ff/microk8s-resources/actions/enable.dashboard.sh#L17

I don't see any indication of where the information may have gone to

[2019-10-07 22:00] balchua commented on #708
The docs were moved to https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/creating-sample-user.md

[2019-10-08 04:33] ktsakalozos commented on #708
Thank you @knkski, @balchua for reporting this.

[2019-10-08 04:34] #708 closed

[2019-10-08 16:07] knkski opened #712 "Clean up network interfaces"
Spinning up containers in microk8s leaves a lot of network interfaces behind. Would it be possible to have some way of cleaning those up, either by adding that functionality to `microk8s.reset`, or by having a specific command to clean them up? Cleaning them up this way worked for me:

    ip a | grep -o "veth[a-z0-9]\+" | xargs -I[] sudo ip link delete []

Note that there shouldn't be anything el

[2019-10-08 16:13] knkski commented on #712
I also ended up with a `flannel.1` network that was presumably created by microk8s, and that persisted after I snap uninstalled microk8s. Is that something that could get cleaned up during snap uninstall?

[2019-10-08 16:59] knkski opened #713 "Issues bootstrapping Juju into microk8s-on-AWS"
I spun up an Ubuntu server, then ran `sudo snap install microk8s --classic`. I then ran `microk8s.enable dns ingress storage`, copied over the output from `microk8s.config`, and tried to import microk8s into Juju:

    juju add-k8s uk8saws --controller uk8saws --region=aws/us-east-1 --storage juju-operator-storage

This failed first off due to security groups, and I had to run `juju run --unit ubu

[2019-10-11 07:01] zy445566 opened #714 "Can't enable Knative"
Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running
  Service snap.microk8s.daemon-flanneld is running
  Service snap.microk8s.daemon-containerd is running
  Service snap.microk8s.daemon-apiserver is running
  Service snap.microk8s.daemon-apiserver-kicker is running
  Service snap.microk8s.daemon-proxy is running
  Service snap.microk8s.daemon-kubelet is running
  Service s

[2019-10-11 11:28] #714 closed

[2019-10-11 12:50] rzr commented on #706
is it same issue as:
https://github.com/ubuntu/microk8s/issues/705
?

[2019-10-11 12:55] ktsakalozos commented on #706
Yes it seems to be the same only in rev 936 we have some mitigation: https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/microk8s-enable.wrapper#L38

Unfortunately I cannot reproduce this anymore.

[2019-10-11 13:13] octopus-prime commented on #706
Revision 940 works like a charm:

[code]

[2019-10-11 19:47] knkski opened #716 "Enabling storage fails initially"
Enabling storage fails at first, but works fine when I try it again. The first time:

[code]

This is with `v1.16.0`, #920

[2019-10-12 21:14] containerwriter opened #717 "Error enabling helm"
Here's my inspection report (if dragging and dropping is working):

[inspection-report-20191012_133256.tar.gz](https://github.com/ubuntu/microk8s/files/3721150/inspection-report-20191012_133256.tar.gz)

I was ready to install some pods, so I wanted to install helm, but this happened:

$ microk8s.enable helm
Enabling Helm
Fetching helm version v2.14.3.
  % Total    % Received % Xferd  Average Speed

[2019-10-13 07:34] ktsakalozos commented on #717
Can you please use the edge channel? `sudo snap install microk8s --classic --edge`

This has been addressed in a past issue and should reach stable really soon.

[2019-10-13 07:36] ktsakalozos commented on #716
@knkski could you try this with `--edge`? `sudo snap install install microk8s --classic --edge`

We have recently added a guard to not try to enable an addon when the cluster is not ready.

[2019-10-13 16:45] CalvinHartwell opened #719 "Microk8s on armhf architecture"
Hi all,

The armhf binary is missing and not available right now, which means that some users cannot install microk8s on Ubuntu. For example, if you use the armhf image for Raspberry Pi, you cannot install microk8s:

It would be really good if we could also get the build compiled for this architecture and make officially available.

Cheers,

- Calvin

[2019-10-13 23:06] CalvinHartwell opened #720 "Microk8s clustering (join command) error caused by missing SSL Module"
Hi all,

Microk8s v1.16.0 rev 921 doesn't seem to start on arm64. The main issue I am seeing is related to a missing SSL library within the snap:

[code]

I have attached the inspection report.

[inspection-report-20191013_230126.tar.gz](https://github.com/ubuntu/microk8s/files/3722566/inspection-report-20191013_230126.tar.gz)

Cheers,

- Calvin

[2019-10-14 00:04] containerwriter commented on #717
This worked as advertised. Thanks for the response. Closing.

[2019-10-14 00:04] #717 closed

[2019-10-14 06:48] balchua commented on #720
I think there's already a fix for this ssl thingy.  Can you try the `1.16/edge` release?

[2019-10-14 09:40] ktsakalozos opened #721 "Separete CA for the aggregation layer"
Currently we use the same CA to authorize users and the aggregation apiserver requests [2]. As described in [1] this is not a good practice.

This issue seems to be related with https://github.com/ubuntu/microk8s/pull/664

[1] https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/#ca-reusage-and-conflicts
[2] https://github.com/ubuntu/microk8s/blob/master/microk8s-reso

[2019-10-14 11:00] CalvinHartwell commented on #720
[code]

[2019-10-14 12:07] balchua commented on #720
@ktsakalozos @DomFleischmann It looks like we need to add the same fix for the micrk8s.join command like mentioned in this PR https://github.com/ubuntu/microk8s/pull/703

[2019-10-14 12:46] giner commented on #721
Best practices:
- https://kubernetes.io/docs/setup/best-practices/certificates/#single-root-ca
- https://kubernetes.io/docs/setup/best-practices/certificates/#all-certificates
- https://kubernetes.io/docs/setup/best-practices/certificates/#certificate-paths

[2019-10-14 13:15] ktsakalozos commented on #720
I believe the problem is with definitions like this one: https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/microk8s-join.wrapper#L6
[code]

Obviously `x86_64` does not apply for arm. Trying a fix now.

[2019-10-14 13:38] ktsakalozos commented on #698
Thank you @DomFleischmann for your work on this issue. The update should be available within a day on the edge channel (`sudo snap install microk8s --classic --edge`).

[2019-10-14 13:38] #698 closed

[2019-10-14 17:09] CalvinHartwell commented on #720
Thanks @ktsakalozos as soon as you are ready to test, let me know.

[2019-10-14 17:51] davigar15 opened #724 "Containerd-env not working"
Hello,

I am facing issues with containerd in microk8s.

Environment: I have set up an environment with two VMs, one with a squid http proxy, and another one with microk8s.

1. SETUP SQUID
**Squid proxy VM**: 10.28.55.187
[code]

By default, it denies everything. Test it:
[code]

2. SETUP MICROK8S
**Microk8s VM**: 10.28.55.202
[code]

Now I'm going to configure the proxy in containerd.
[code]

In

[2019-10-14 19:26] ktsakalozos commented on #724
@davigar15 I was able to pull the image behind a proxy with `sudo microk8s.ctr image pull rocks.canonical.com:443/canonicalosm/light-ui:release6` by adding the `HTTPS_PROXY` variable in  `/etc/environment`.

To see the effect of  `HTTPS_PROXY` in ` /var/snap/microk8s/current/args/containerd-env` tell containerd to pull the image with something like `sudo microk8s.kubectl run nginx --image=rocks.ca

[2019-10-14 20:13] chrishoerl commented on #70
Thank you! That finally worked for me. I would appreciate if you could explain the parameters you used in brief.

[2019-10-14 20:13] chrishoerl commented on #70
Thank you! That finally worked for me. I would appreciate if you could explain the parameters you used in brief.

[2019-10-15 03:37] jizusun opened #725 "401 forbidden when pulling images from private registry"
I've read the documents about [https://github.com/containerd/cri/blob/master/docs/registry.md](https://github.com/containerd/cri/blob/master/docs/registry.md), and configured as following:
[code]

When I run `kubectl run --generator=run-pod/v1 demo --image=docker.wdf.sap.corp:65168/dsx/istiotest:1.0`, the pod ended up with `ImagePullBackOff` status, and the reason is
[code]

Further details as fol

[2019-10-15 05:09] #720 closed

[2019-10-15 05:52] balchua commented on #725
@jizusun what i usually do is, i configure the `imagePullSecrets` in the pod or deployment manifests.

Wrt to why it works with docker cli, my guess is that you may already have this configured into your `~/.docker/config`. So docker will not ask again.

It also seems like your registry is using `https`, are you running it with self signed certificates?
If so, you may need to check out containerd'

[2019-10-15 11:06] ktsakalozos commented on #705
Closing this in favour of https://github.com/ubuntu/microk8s/issues/706

[2019-10-15 11:06] #705 closed

[2019-10-15 11:21] CalvinHartwell opened #726 "Running the microk8s.join command without any parameter returns an exception as opposed to a human-readable error"
Hi all,

When running the microk8s.join command without any parameters, it returns a python exception as opposed to a human-readable error:

[code]

My assumption is that this should give a warning or error, I.E:

"Microk8s Error: no microk8s end point specified, please run microk8s .add-node on one node to generate the correct microk8s.join endpoint for additional cluster nodes."

Cheers,

- Calv

[2019-10-15 14:23] CalvinHartwell commented on #720
Thanks for the help, fix is confirmed to work!

[2019-10-15 14:45] CalvinHartwell opened #727 "Microk8s cluster nodes staying registered after cluster upgrade"
Hi all,

After hitting an issue with the SSL Library (https://github.com/ubuntu/microk8s/issues/720), I upgraded microk8s on each machine to the edge snap. I had previously tried to create a microk8s cluster before the upgrade which didn't work.

After rolling out the new snap on each of the machines in my cluster, I noticed that the node was appearing twice when I ran microk8s.kubectl get nodes:

[2019-10-15 15:30] CalvinHartwell opened #728 "Microk8s cluster nodes stuck in NotReady state on ARM64"
Hi all,

After refreshing my snaps to fix the SSL Issue (https://github.com/ubuntu/microk8s/issues/720), my microk8s nodes seem to be acting better but still have some issues.

First of all when I run microk8s.status on any node, it reports that microk8s is not running, despite running microk8s.start and this is the case irrelevant of if a microk8s node is part of a cluster or just a standalone no

[2019-10-15 15:44] jizusun commented on #725
@balchua Yes, maybe I should delete the `~/.docker/config` and have a try with docker 👍

[2019-10-15 23:41] jamesthegiantpeach opened #729 "MountVolume.SetUp failed for all volumes"
Upon inspecting any pod, I get an error like the following
[code]

Please run `microk8s.inspect` and attach the generated tarball to this issue.
[inspection-report-20191015_164003.tar.gz](https://github.com/ubuntu/microk8s/files/3731811/inspection-report-20191015_164003.tar.gz)

We appreciate your feedback. Thank you for using microk8s.

[2019-10-16 04:17] r8code commented on #70
I'm also currious how to use helm v3  with microk8s
may u share the steps ?
thx

[2019-10-16 07:08] davigar15 commented on #724
@ktsakalozos Thank you very much for your time. Effectively, I was testing the `microk8s.ctr` command without putting the HTTPS_PROXY in /etc/environment. That was causing me a bit of a confusion.

May be, if you consider, it would be nice to add some more information about this in the microk8s docs.

Thanks again!

[2019-10-16 07:08] #724 closed

[2019-10-16 07:43] ktsakalozos opened #730 "The dashboard on 1.16 needs to be upgraded - fails for arm64"
Currently the dashboard is in beta. On arm64 the scraper pod is failing see https://github.com/kubernetes/dashboard/issues/4029. As soon rc1 is released the dashboard addon needs to be updated.

[2019-10-16 08:48] jareks opened #731 "Feature request: shared storage with OS X"
In my team we are using mk8s for local development. It works great because we can use host storage to mount source code directly into containers and edit code with all the benefits of hot reloading.
Unfortunately, that only works for Linux users and we can't run same setup on OS X. It would be truly great if we could use microk8s + multipass to achieve same result. Perhaps it is possible to config

[2019-10-16 10:28] jareks commented on #70
@r8code
I think all I did was to download Linux amd64 binary from: https://github.com/helm/helm/releases/tag/v3.0.0-beta.4
In any case, there's plenty of documentation there too.

[2019-10-16 12:13] Gemstone123 commented on #234
i am trying to access the microk8s dashboard at:
https://myserverip:port

i first ssh to my machine using its pub ip then i run the microk8s in it.
i've enabled the dashboard,dns, and rbac.
when i search browser tyipng this:
https://myserverip:port

i get:

{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "forbidden: User \"system:anonymous\" ca

[2019-10-16 12:40] jon-dearaujo commented on #695
This allows the creation of Tiller's deployment and service but when I tried `microk8s.helm version` again I got the same `Error: cannot connect to Tiller`.

[2019-10-16 12:59] SamyCoenen commented on #388
The above annotation didn't work for me, but adding .local in the host field did solve the issue.
for example
[code]

[2019-10-16 14:45] knkski commented on #716
Looks like it's working with the edge channel. Thanks!

[2019-10-16 14:45] #716 closed

[2019-10-16 15:21] davigar15 commented on #585
Any updates on this?

[2019-10-16 15:28] ktsakalozos commented on #585
@davigar15 the fix described in https://github.com/ubuntu/microk8s/issues/585#issuecomment-518991504 has low priority as the workaround is to do the `microk8s.enable dns` first. If there is however a PR we can merge it.

[2019-10-16 21:09] simonhardingforgerock opened #732 "multiple nodes on same host?"
I'd like to start by saying **great project** :)

I am very happy to see multi node support has been added (https://github.com/ubuntu/microk8s/issues/235).

However, one of the things requested on feature request https://github.com/ubuntu/microk8s/issues/235 was for multiple nodes on the same host, but the [docs so far](https://github.com/canonical-web-and-design/microk8s.io/blob/master/docs/clust

[2019-10-17 08:50] ktsakalozos commented on #732
Hi @simonhardingforgerock,

Indeed, the request https://github.com/ubuntu/microk8s/issues/235 was to have locally more than one nodes. What we delivered is a way to connect two or more MicroK8s instances. We do not cover the step of provisioning the substrate where these instances reside. You may want them in a VM, in an LXC container, or in a Docker container. Out of these options, the VM solutio

[2019-10-17 08:52] ktsakalozos commented on #731
@tvansteenburgh @ammarn911 here are some interesting suggestions we could consider for the future.

[2019-10-17 09:08] ktsakalozos commented on #729
Hi @jamesthegiantpeach, can you provide me with exact steps on how to reproduce this?

Here is what I think is happening. On the inspections tarball you provided I see these pods:
[code]

I suspect kube-dns is not up yet causing the other pods to complain because they cannot setup the DNS service properly. Could you enable DNS and wait for it to become ready before firing up any new pods?

[2019-10-17 13:58] slimjim777 opened #733 "Storage and initial user experience"
As a new user to microk8s, I've tried installing an application workload, following the "getting started" user instructions. In that process I deployed the application, which needed storage, without storage enabled. The deployment failed, and it took some investigation to realise the error that I made. I then enabled storage, but that did not fix the deployment. Even restarting microk8s did not re

[2019-10-17 17:43] evilnick commented on #726
Connected to this, you also get an exception if you enter an incorrect address:
[code]

or a valid address which refuses the connection:

[code]

[code]

[2019-10-17 17:51] aiankoulski commented on #50
Experienced the same issue in microk8s stable/1.14 on Ubuntu 18 and Amazon Linux 2.
With microk8s stable/1.15, verified that services exposed on NodePort or ClusterIP with --external-ip work as expected and are accessible from external sources.

[2019-10-17 21:01] simonhardingforgerock commented on #732
Thanks @ktsakalozos !

VMs seem pretty straight forward. I'll go with that. I am also pretty tempted by the docker approach.

I also saw that you can run [multiple instances of the same snap app simultaneously](https://www.omgubuntu.co.uk/2019/06/snappy-now-lets-you-install-multiple-versions-of-the-same-snap-app), but I suspect I would need to do some tweaking on the network side of things.

[2019-10-17 22:34] strigona-worksight opened #734 ""Clustering" snap seems to have vanished"
`sudo snap install microk8s --classic --channel=1.15/edge/clustering`

Still succeeds, however the cluster specific commands no longer exist. On top of that, my cluster seems to have been downgraded to the non-clustering version of the snap automatically and is essentially dead.

[2019-10-17 22:38] nicks commented on #196
The 127.0.0.1:32000 work-around didn't work for me, because 127.0.0.1 isn't listed as an insecure registry :(

[2019-10-18 06:57] octopus-prime opened #735 "v1.16.2 (rev 981) services not reachable from outside"
After

[code]

`microk8s              v1.16.2                     981   edge          canonical*   classic`

- trying to browse `jaeger` with `https://localhost` causes `ERR_TIMED_OUT`
- trying to browse any self-deployed service with `https://localhost/<service>` causes `ERR_TIMED_OUT`

[inspection-report-20191018_084810.tar.gz](https://github.com/ubuntu/microk8s/files/3742614/inspection-report-2

[2019-10-18 08:57] ktsakalozos commented on #735
@octopus-prime from the tarball you attached I see the following services hosted in MicroK8s:
[code]

Your kubernetes node is your host. Therefore on localhost you can find the services exposed with nodeport and in your case there is only the registry listening on port 32000. The rest of the services are available through the ClusterIP. For example on 10.152.183.172:80 you will find preis-service.

[2019-10-18 09:06] octopus-prime commented on #735
hi @ktsakalozos,
all services are exposed by ingress-mappings.
i think the same is true for jaeger.
and all worked fine before rev 981.

[2019-10-18 10:05] ktsakalozos commented on #735
I see the ingress controller is crashlooping. What is the output of:
[code]

Was ingress enabled correctly? Could you first `microk8s.enable dns` and after the dns is up try to enable the rest of the addons?

Was it enabled without any issues?

[2019-10-18 10:47] octopus-prime commented on #735
[code]

[code]
Okay. I see... 'port 80 is already in use' :-(
So `sudo netstat -tulpn | grep :80` ->
[code]
Strange...
So `microk8s.reset` and `sudo snap remove microk8s`.
But same output for `sudo netstat -tulpn | grep :80` :-(
Will restart the system and try again...

[2019-10-18 11:21] octopus-prime commented on #735
Thanks for help!
After reboot and reinstall all works fine now.
Do you have any idea how i can get a more stable microk8s?
Every day i have to reset, reinstall or reboot because microk8s stops working.

Is it the snap? Allmost every day there is out of sudden a new version installed...
Is it the suspend-to-ram when systems goes to sleep?

I dont know...

[2019-10-18 11:45] ktsakalozos commented on #735
You are currently following the edge channel. Please look at https://microk8s.io/docs/release-channels to see how channels get updates.

The edge channel get updated a few times per day. The beta channels get updated once a patch release is available from upstream (eg 1.16._3_) and will include what the edge channel has at that time. The stable channel gets updated a week after the beta channels.

[2019-10-18 11:53] octopus-prime commented on #735
thanks for suggestions.
i think 1.15/stable does not support helm.
so i will stick with 1.16.
does it make sence to switch to beta instead of edge?

[2019-10-18 13:41] ktsakalozos commented on #735
Give 1.15/stable a try, I think it has helm.

Yes, beta is more stable than edge for sure.

[2019-10-18 13:58] evilnick commented on #733
Sorry you had this problem. As MicroK8s is minimal by default it is a deliberate design choice not to enable anything not strictly necessary.

However, we can do much better in docs and I hope you will see we are - there is a big overhaul of docs happening right now (you will see updates, new pages and sections being added pretty much daily). I will leave this issue open until we have updated the

[2019-10-18 15:16] strigona-worksight commented on #734
Thanks - will give that a shot.

[2019-10-18 15:46] tvansteenburgh commented on #734
@ktsakalozos Might be good to post a comment about that on https://discuss.kubernetes.io/t/microk8s-clustering-preview/7472

[2019-10-18 16:01] #734 closed

[2019-10-18 18:40] strigona-worksight opened #737 "1.16/candidate - Cluster volume permssion problems on non-master nodes"
I have a 3 node cluster. I have set the --allow-privileged flag in /args/kube-apiserver (unsure if that's related). Addons enabled: dns, storage.

I setup the elasticsearch operator (1.0 beta) and setup a cluster just fine - eventually turns green (healthy).
I try setting up a [strimzi operator (0.14.0)](https://strimzi.io/quickstarts/minikube/) to manage kafka cluster and it only gets as far as c

[2019-10-19 00:04] joestringer opened #738 "microk8s.ctr doesn't list any containers since k8s 1.16"
[code]

[2019-10-19 00:05] joestringer commented on #738
This command works:

[code]

[2019-10-19 00:05] #738 closed

[2019-10-19 09:34] hernil commented on #688
I'm dropping this here since I did not find anyone mentioning this on the internet so far.

`-A KUBE-FIREWALL -m comment --comment "kubernetes firewall for dropping marked packets" -m mark --mark 0x8000/0x8000 -j DROP`

This iptables rule created by microk8s might interfere with WireGuard using wg-quick. I'm guessing it's because wg-quick adds a fwmark to the packets and this rule catches that but

[2019-10-19 19:43] giner opened #741 "Scheduling the first pod on fresh installation triggers restart of microk8s services"
Scheduling the first pod on a fresh installation of microk8s triggers restart of its services which somewhat complicates automated provisioning using tools such as Vagrant.

Here is how to reproduce:
1. Install microk8s
2. Schedule a pod (or enable any plugin which schedules a pod, e.g. enable dns, storage, etc)
3. api server is still available (i.e. microk8s.status --wait-ready will pass successf

[2019-10-20 13:43] PhilAndrew opened #742 "High disk usage, is this normal?"
Is this normal? I haven't really done anything much with microk8s except let it run for about two weeks.

philip@philipserver:~$ df
Filesystem     1K-blocks      Used Available Use% Mounted on
udev            32916732         0  32916732   0% /dev
tmpfs            6596184      2884   6593300   1% /run
/dev/nvme0n1p2 238797468 186241464  40356020  83% /
tmpfs           32980912         0  32980912

[2019-10-20 23:18] AndrewX192 opened #743 "Update Istio"
The version of Istio installed with MicroK8s (via istioctl) is version 1.2.2 which is a few months old and doesn't address several recent (though probably not too significant) vulnerabilities:

With 1.3.3 out, the 1.3 branch is probably stable enough to include https://istio.io/news/2019/announcing-1.3.3/

[2019-10-20 23:30] balchua commented on #742
@PhilAndrew, have you ran any pods there?

[2019-10-21 02:16] PhilAndrew commented on #742
Sorry, its not microk8s's fault, its my other program.

[2019-10-21 02:16] #742 closed

[2019-10-21 08:12] amouat commented on #390
I note a lot of people in this thread are using the *1.3* containerd syntax for specifying registries, which isn't supported in containerd 1.2.5 that is currently shipped with microk8s https://github.com/ubuntu/microk8s/issues/702
https://github.com/containerd/cri/issues/1143
https://github.com/containerd/containerd/releases/tag/v1.3.0

[2019-10-21 13:16] djjudas21 commented on #671
I am running into this error too.

[code]

Attached inspection report
[inspection-report-20191021_141455.tar.gz](https://github.com/ubuntu/microk8s/files/3750952/inspection-report-20191021_141455.tar.gz)

Platform is Fedora 29. `libxcrypt` is installed.
[code]

[2019-10-21 21:23] camille-rodriguez commented on #276
I tried to do this, but when I run the kubectl edit on the downloaded dns.yaml file, it complains of this: `error: error parsing ./dns.yaml: error converting YAML to JSON: yaml: line 619: mapping values are not allowed in this context`. I tried correcting the line in question, but then another line complains of the same thing. Is there no way to change the chosen subnet in one place and have the d

[2019-10-22 01:49] andyzheung opened #747 "I want to install microk8s by snap, but met this problem."
root@ubuntu:/etc/systemd/system# snap install microk8s --classic
error: cannot install "microk8s": Post https://api.snapcraft.io/v2/snaps/refresh: x509: certificate
       signed by unknown authority

How can set the right certificate?

[2019-10-22 04:52] ktsakalozos commented on #747
Hi @andyzheung

This like a snapd installation problem. I suspect you cannot install any snap. Could you ask at https://forum.snapcraft.io ? Here is a similar issue: https://forum.snapcraft.io/t/solved-cant-install-snaps-ubuntucore16-x509-certificate-has-expired/13470

[2019-10-22 10:08] ktsakalozos commented on #743
Thank you for the suggestion @AndrewX192 . Updating MicroK8s should be as easy as patching the desited release version at https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.istio.sh#L12 and rebuilding the snap as described in https://github.com/ubuntu/microk8s/blob/master/docs/build.md

[2019-10-22 10:38] ghost opened #749 "Getting error while installing elasticsearch with helm"
helm install incubator/elasticsearch --namespace logging --name elasticsearch --set data.terminationGracePeriodSeconds=0

Error: release elasticsearch failed: Deployment.apps "elasticsearch-client" is invalid: spec.template.spec.initContainers[0].securityContext.privileged: Forbidden: disallowed by cluster policy

[2019-10-22 13:01] camille-rodriguez commented on #276
Hello everyone, @ktsakalozos,
I followed these steps to deploy microk8s on a different range (simply 10.152.182.0/24). However, I run into a similar issue when trying to enable istio. It tries to re-deploy kube-dns (even if it is already deployed) and gets stuck because of the clusterIP spec again.

`crodriguez@camille-hp:~$ microk8s.kubectl get all --all-namespaces
NAMESPACE            NAME

[2019-10-22 20:16] #642 closed

[2019-10-23 08:25] ktsakalozos commented on #749
Could you try to add `--allow-privileged` into `/var/snap/microk8s/current/args/kube-apiserver` and do a restart with `microk8s.stop; microk8s.start` ?

[2019-10-23 11:36] andyzheung commented on #747
thank you, I have solve the problem, by put our ca.crt  to /usr/local/share/ca-certificates/
and
#update-ca-certificates..
@ktsakalozos

[2019-10-23 11:36] #747 closed

[2019-10-23 11:42] andyzheung opened #752 "I meet to problem thant enable dns, didn't know why?"
I have install microk8s by
$snap install microk8s --classic
and I want to install corens.
$microk8s.enable dns

but I meet to the problem:
![image](https://user-images.githubusercontent.com/22912347/67389232-c5ab9280-f5cc-11e9-912f-ab8d755c2bef.png)
![image](https://user-images.githubusercontent.com/22912347/67389288-e4aa2480-f5cc-11e9-8b54-3ec39da50d77.png)

I have change the container-template.t

[2019-10-23 12:15] ktsakalozos commented on #752
Are you behind a proxy?

[2019-10-23 15:09] andyzheung commented on #752
Yes I am behind the proxy.
But why I use microk8s.ctr CLI can pull the images from docker.io?
@ktsakalozos

[2019-10-23 15:39] ktsakalozos commented on #752
You will need to setup the proxy in the containerd-env file as described in https://microk8s.io/docs/

ctr is using the overall `/etc/environment` settings, have a look at this issue https://github.com/ubuntu/microk8s/issues/724#issuecomment-541872651

[2019-10-23 16:46] jesinity commented on #344
what is the format of the `dockerd-env` ?
Can you provide an example?

[2019-10-23 16:56] phcollignon commented on #637
I put my config files to access dashboard with RBAC here : https://github.com/phcollignon/microk8s-dashboard

[2019-10-24 00:23] mihairadulescu commented on #629
#3 (cannot create archive: tar: 384/run/docker/metrics.sock: socket ignored (and 2 more))

[2019-10-24 02:10] ktaletsk commented on #448
@ktsakalozos I have the same problem as @tmbdev: node does not have 'gpu' label. exactly the same errors in logs of `nvidia-device-plugin-daemonset-xxxx` pod.

I went throuugh steps to set "nvidia" as the default runtime in Docker: https://www.pugetsystems.com/labs/hpc/How-To-Install-Docker-and-NVIDIA-Docker-on-Ubuntu-19-04-1460/
So, now if I check Docker info it shows "nvidia" as a default runtim

[2019-10-24 02:34] praveen049 opened #753 "Unable to enable kubeflow using channel 1.16/edge/kubeflow"
[microk8s_kubeflow.txt](https://github.com/ubuntu/microk8s/files/3765410/microk8s_kubeflow.txt)
Please run `microk8s.inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.
I am using the `1.16/edge/kubeflow` channel and when i try `microk8s.enable kubeflow` the command hangs at this step

[code]
Any suggestion on how can i troubleshoot

[2019-10-24 04:43] andyzheung commented on #752
Thank you so much, I read it and solve the problem.@ktsakalozos

[2019-10-24 04:43] #752 closed

[2019-10-24 05:03] ktsakalozos commented on #753
Hi @praveen049

Could you attach here the tarball created by `microk8s.inspect`. Could you also share the logs you get with `microk8s.juju debug-log -n 2000`. @knkski can you think of anything else it could help us figure out what might be wrong here?

[2019-10-24 05:05] ktsakalozos commented on #741
@giner, there is a PR up that takes the approach suggested in the second bullet point. Let me know what you think.

[2019-10-24 05:15] ktsakalozos commented on #448
@ktaletsk could you share the tarball produced by `microk8s.inspect`?

Did you do the `microk8s.enable gpu`? This will update the containerd configuration used in microk8s. Most of the work described in the blog post you are following is taken care by the `microk8s.enable gpu` command, the only prerequisite is that you have the nvidia drivers already installed.

[2019-10-24 06:18] praveen049 commented on #753
@ktsakalozos

Attaching it here.
[inspection-report-20191024_054807.tar.gz](https://github.com/ubuntu/microk8s/files/3765960/inspection-report-20191024_054807.tar.gz)

`microk8s.juju debug-log -n 2000` gives `ERROR Gateway Timeout`.

I am behind a proxy and no_proxy is set correctly.

[2019-10-24 09:30] andyzheung opened #754 "Some question about microk8s"
I have install the microk8s use one command:
$snap install microk8s --classic

Is the k8s Master component is containerized? example:
kube-controller-manager, kube-apiserver, kube-scheduler etc...

How can I search the containers that I deploy in the k8s?
I use the k8s 1.16 and containerd as container-engine.

I deploy 50s nginx app demo which is containerized:
![image](https://user-images.githubu

[2019-10-24 11:08] andyzheung opened #755 "Ahout how to visit the k8s dashboard?"
I have enable the dashboard.
$ microk8s.enable dns dashboard

1、I try to visit by the cluster IP like this:
![image](https://user-images.githubusercontent.com/22912347/67480261-29e45a00-f692-11e9-958b-6cadcbd18546.png)
![image](https://user-images.githubusercontent.com/22912347/67480307-46809200-f692-11e9-9a59-2d54b0dc7b75.png)

2、I try to change the service traffic mode to NodePort:
![image](http

[2019-10-24 11:13] balchua commented on #755
@andyzheung you cannot access the dashboard using `http://localhost:32000/`?

[2019-10-24 12:16] andyzheung commented on #754
Thank you.
But the second question I try like this:
![image](https://user-images.githubusercontent.com/22912347/67484667-273a3280-f69b-11e9-93af-0d7e9bbe2ad5.png)
@ktsakalozos

[2019-10-24 12:18] andyzheung commented on #755
Yes, I use web browser in the node (Ubunt), also can't access.
@balchua

[2019-10-24 12:27] ktsakalozos commented on #754
Try `--namespace k8s.io` ?

[2019-10-24 12:41] balchua commented on #755
It seems to be connecting, except your browser doesn't like self signed certs.

[2019-10-24 13:38] slimjim777 commented on #733
The docs have certainly improved and been helpful.

I'm not sure that the docs is the right place to fix the issue. Whilst I understand that you may not want to turn on unnecessary services, it may be helpful if you could catch and log situations where the user is deploying something that needs an extra service enabled. In the case of storage, it's jarring that you can deploy a workload that needs

[2019-10-24 14:16] ktsakalozos commented on #754
Like so: `microk8s.ctr --namespace k8s.io containers list`

[2019-10-24 14:48] ktaletsk commented on #448
Okay, this is the `microk8s.inspect` log. I reset the cluster and only enabled GPU (`microk8s.enable gpu`), nothing else.

See the logs here: https://github.com/ktaletsk/microk8s-inspection-report.

[2019-10-24 14:50] andyzheung commented on #755
But how to solve it?

[2019-10-24 17:20] marian-margeta opened #756 "Unable to pull images from private registry"
I have installed microk8s on Ubuntu 18.04.3 server that is behind the firewall and access to internet is limited. Thus I downloaded snap from another computer
[code]
and then installed it on that server (with root privileges) and imported sandbox_image (k8s.gcr.io/pause:3.1) that was needed and couldn't be downloaded because of firewall
[code]

Then, I have updated file /var/snap/microk8s/current/

[2019-10-24 21:24] balchua commented on #755
Can you try this https://timleland.com/firefox-allow-self-signed-certificate/

[2019-10-25 01:31] ycliuhw opened #757 "kubelet insufficient rbac setup."
Hi @ktsakalozos

It seems kubelet does not have sufficient `RBAC`  permissions set up.
Would you help to take a look at this error?
Thanks

After I enabled `RBAC`, I got the following pvc mounting errors:

[code]

[2019-10-25 02:04] andyzheung commented on #754
thx, ctr is some different from kubectl.

[2019-10-25 02:04] #754 closed

[2019-10-25 03:50] andyzheung commented on #755
Thank you that I have solve the problem by your answer.
@balchua

[2019-10-25 03:50] #755 closed

[2019-10-25 04:57] lordcf commented on #749
Into var/snap 2 directories amazon-ssm-agent and core
I am not getting where exactly i need to add --allow-privileged

[2019-10-25 08:38] ktsakalozos commented on #749
Could you attach the tarball produced by `microk8s.inspect`? Thank you.

[2019-10-25 08:43] ktsakalozos commented on #448
@ktaletsk the nvidia drivers are not detected, see https://github.com/ktaletsk/microk8s-inspection-report/blob/master/k8s/cluster-info-dump#L1653 . How did you install the nvidia drivers?

[2019-10-25 09:44] andyzheung opened #758 "I use the demo--nginx in dockerhub deploy on microk8s, but can't access from browser"
I just use microk8s to deploy a demo, and meet some problem:
1、microk8s use k8s 1.16:

2、nginx:
![image](https://user-images.githubusercontent.com/22912347/67561134-ddab1f80-f74e-11e9-82ed-b8bdb745f327.png)

3、deploy like this:
![image](https://user-images.githubusercontent.com/22912347/67561153-e3a10080-f74e-11e9-880c-b6a331788a83.png)
![image](https://user-images.githubusercontent.com/22912347/6

[2019-10-25 09:45] ktsakalozos commented on #756
@marian-margeta I see you are importing the image to containerd cache as described in "Working with locally built images without a registry" but then you mention a private registry. Can you please explain with more detail what steps are you following?

[2019-10-25 13:17] lizebang commented on #472
@ktsakalozos Thank you for your work. Maybe we can add a flag just like `kubeadm` did.

[code]

[2019-10-25 14:01] davigar15 opened #760 "Pods with `exec` in the readiness failing in Disco"
Hello,

I have noticed that when I deploy k8s charms on microk8s, using Disco instead of Bionic, there are issues when the readiness of the pod uses `exec`.

Here are some logs:
(Deployed charm: cs:~charmed-osm/mariadb-k8s)

http://paste.ubuntu.com/p/WFtyQTKqpJ/
http://paste.ubuntu.com/p/sHSq8W3knf/

Thanks,
David Garcia

[2019-10-25 14:25] starpit commented on #601
we are seeing this error quite routinely when running in travis:

[code]

two of them recently:

https://travis-ci.org/IBM/kui/jobs/602798055
https://travis-ci.org/IBM/kui/jobs/602798727

it's hard for me to tell whether this is a travis networking error or some issues with error handling in microk8s. perhaps a networking issue that microk8s incorrectly handles? e.g. something a retry would resolv

[2019-10-25 14:50] marian-margeta commented on #756
@ktsakalozos I had to import just one image manually - k8s.gcr.io/pause:3.1, because it is defined as **sandbox_image** by default in file /var/snap/microk8s/current/args/containerd-template.toml at **[plugins]->[plugins.cri]->sandbox_image**. My private registry doesn't contain that file and each my pod (with docker image from my private registry) ends with en error as microk8s tries to pull this

[2019-10-26 01:20] ktaletsk commented on #448
I have Nvidia drivers come preinstalled with `pop!_os`. Everything is working fine with Nvidia drivers except for microk8s. I am even able to run the same container in Docker without problems:
[code]
When the same containers runs in microk8s (as I enable gpu, `microk8s.enable gpu`), the logs are:
[code]

I still don't understand what's wrong

[2019-10-26 04:31] balchua commented on #756
I think containerd 1.3.0, seems to be much better in handling this registries, there a lot of fixes related to registry in this release. I cooked a PR https://github.com/ubuntu/microk8s/pull/761 to upgrade containerd to 1.3.0

[2019-10-26 23:30] balchua commented on #758
@andyzheung, you are accessing it as `https`.  I think you mean `http`, i.e. unsecure.

[2019-10-28 01:23] praveen049 commented on #753
@ktsakalozos

Any suggestions on how i can troubleshoot this issue ?

Thanks

[2019-10-28 02:35] knkski commented on #753
@praveen049: Are you able to run any `microk8s.juju` commands at all? Can you post `microk8s.juju status` if it runs successfully?

[2019-10-28 03:06] praveen049 commented on #753
@knkski
i have tried couple of commands
`microk8s.juju status` and `microk8s.juju users` and they both hang

[2019-10-28 04:40] knkski commented on #753
@praveen049: Can you try `microk8s.juju status --debug` and see if you get any output? Otherwise, can you post the logs from the juju controller pod?

[2019-10-28 05:09] praveen049 commented on #753
@knkski

Output of `microk8s.juju status -debug`

[code]

The output of `kubectl describe pods -n controller-uk8s` is attached
[juju_pod2.txt](https://github.com/ubuntu/microk8s/files/3777202/juju_pod2.txt)

[2019-10-28 15:48] knkski commented on #753
@praveen049: Can you also post the logs from that pod? It looks like it's running normally.

[2019-10-28 22:28] knkski commented on #753
@praveen049: If nothing else, can you try `microk8s.disable kubeflow`, or `microk8s.juju unregister -y uk8s` if that doesn't work, then trying `microk8s.enable kubeflow` again?

[2019-10-29 02:08] praveen049 commented on #753
@knkski
i have reinstalled microk8s from `1.16/edge/kubeflow `channel. Previously it was installed with `1.14/stable` and then switched channel to `1.16/edge/kubeflow`

Attached are the logs from the mongodb and api-server pods
[apiserver.txt](https://github.com/ubuntu/microk8s/files/3781380/apiserver.txt)
[mongodb.txt](https://github.com/ubuntu/microk8s/files/3781381/mongodb.txt)

This time the `

[2019-10-29 07:08] #741 closed

[2019-10-29 07:29] ktsakalozos commented on #757
Hi @ycliuhw

Could you attach the tarball created by `microk8s.inspect` and also provide a minimal manifest/script with which I can reproduce the issue?

On a fresh microk8s installation I `microk8s.enable rbac` and then `microk8s.enable storage`. At that point I was able to apply the following PVC with no problem:
[code]

But, this is probably not what you are testing.

[2019-10-29 07:33] ktsakalozos commented on #760
Hi @davigar15

Could you please attach the tarball produced by `microk8s.inspect` and a minimal manifest/script with which I can reproduce the issue?

Many thanks.

[2019-10-29 07:42] ktsakalozos commented on #756
@marian-margeta have you tried removing the invalid entries from `/var/snap/microk8s/current/args/containerd-template.toml` and leaving only your registry? Could you also attach the tarball created from `microk8s.inspect`?

[2019-10-29 07:42] #730 closed

[2019-10-29 09:20] marian-margeta commented on #756
@ktsakalozos I have tried that and the result is the same. Even when I provide invalid url:
[code]
it tries to pull image from https://registry01:80/, while http://xxxxxxx:80 is expected.

Here is the tarball [inspection-report-20191029_100729.tar.gz](https://github.com/ubuntu/microk8s/files/3782626/inspection-report-20191029_100729.tar.gz)

[2019-10-29 09:23] davigar15 commented on #760
Hello,

Well, apparently is not a Disco issue, because I was able to successfully deploy this on Disco:

[code]

@AdamIsrael, as you could reproduce the error repetitively, could you please attach the `microstack.inspect` generated tar.gz?

[2019-10-29 10:23] balchua commented on #756
I find that containerd 1.2.5 cri plugin is giving different results when it comes to insecure registry.  I also faced the same thing sometime back when doing builds with kaniko.  Using my machine's ip instead of localhost.
But so far with containerd 1.3.0 this flakiness is not there.
Just my 2 cents.

[2019-10-29 13:36] racarvalho1987 opened #764 "Helm version needs to be updated to 2.15.1"
There is a bug on helm v2.15.0 [https://github.com/helm/helm/issues/6708](url)
and it is already fixed on v2.15.1.
Please update helm version on enable.helm.sh script

[2019-10-29 13:37] racarvalho1987 commented on #764
There is a pull request for this issue. I am closing it.

[2019-10-30 02:54] ycliuhw commented on #757
Hi @ktsakalozos
I tested the testing YAML you provided, got the same issue.

Here is the pod status:
https://pastebin.ubuntu.com/p/6mPp2M6pDV/

And here is the tar generated by `microk8s.inspect`:
[inspection-report-20191030_134734.tar.gz](https://github.com/ubuntu/microk8s/files/3786707/inspection-report-20191030_134734.tar.gz)

Thanks

[2019-10-30 11:37] imaimai86 commented on #75
This is what I am looking for.
OR
Can I tell microk8s to use dns on host machine to resolve urls

[2019-10-30 14:16] ktsakalozos commented on #75
You should be able to set any forward DNS by editing the respective config map: `microk8s.kubectl edit -n kube-system cm/coredns`

[2019-10-31 08:07] gysel commented on #508
I just ran into this problem as well.

`Okt 31 08:49:43 marvin microk8s.daemon-containerd[15212]: time="2019-10-31T08:49:43.094783878+01:00" level=fatal msg="Failed to run CRI service" error="failed to recover state: failed to reserve sandbox name "metrics-server-v0.2.1-598c8978c-dtkm7_kube-system_e001f423-4af0-41ca-91be-76d611f961af_8": name "metrics-server-v0.2.1-598c8978c-dtkm7_kube-system_e001

[2019-10-31 08:54] balchua commented on #756
@marian-margeta would you be able to try the edge version?  the edge comes with containerd 1.3, perhaps this will solve your registry issue.
thanks.

[2019-10-31 20:52] knkski commented on #753
@praveen049: Could you try updating the snap (`sudo snap refresh microk8s`), and running `KUBEFLOW_DEBUG=true microk8s.enable kubeflow`? That will add in the `--debug` flag to Juju, which should help diagnose what's going on here.

[2019-10-31 22:58] andre-brongniart opened #766 "loadBalancer external IP stuck in pending - lb controller cannot talk to api server"
microk8s 1.16.2 with 11 node cluster and 1 "master" node.

Following services enabled:
- dns
- dashboard
- ingress
- prometheus
- storage
- fluentd
- metrics-...

Seems it enabled flanneld by default while clustering.

Using Metallb as loadBalancer in layer 2 mode.

The LB controller deployement shows this output:

```E1031 21:50:05.789616       1 reflector.go:125] pkg/mod/k8s.io/client-go@v0.0.0-

[2019-11-01 05:30] praveen049 commented on #753
@knkski
Attached is the log with the debug option.
[juju_status_error_debug.txt](https://github.com/ubuntu/microk8s/files/3796739/juju_status_error_debug.txt)

[2019-11-01 09:15] regiuskornel commented on #728
I found same issue with Rpi4 4GB with Ubuntu 18.04 image. (I used it because of USB issue with 19.10)
Worked fine for me after fixed ubuntu host ip from 127.0.**1**.1 to 127.0.**0**.1 in /etc/host and reinstalled microk8s.

[2019-11-01 09:27] ktsakalozos commented on #728
I forgot to reply to this issue sorry.

K8s was complaining that the cgroup memory was not enabled. Looking at `/proc/cgroups` was showing memeory disabled. Changes in config.txt are not enough, what actually worked is editing `/boot/firmware/nobtcmd.txt`, appending `cgroup_enable=memory cgroup_memory=1`. and rebooting.

[2019-11-01 13:28] #766 closed

[2019-11-01 15:54] a1exus opened #769 "FAIL: Service snap.microk8s.daemon-kubelet is not running"
Hello World!

I'm trying to follow [User Guide | MicroK8s](https://microk8s.io/docs/), yet running into following issue:

**microk8s.reset**:

[code]
**microk8s.status**:
[code]
**microk8s.inspect**:
[code]
[inspection-report-20191101_114702.tar.gz](https://github.com/ubuntu/microk8s/files/3798579/inspection-report-20191101_114702.tar.gz)
**snap.microk8s.daemon-kubelet**:
[code]
**snap**:

[code]

[2019-11-01 21:36] ktsakalozos commented on #769
Hi @a1exus , what distro is this on?

[2019-11-01 21:58] a1exus commented on #769
[code]

[2019-11-01 23:03] balchua commented on #702
@ktsakalozos i think we can close this one now that we have merged the pr. Thanks

[2019-11-01 23:15] balchua commented on #695
This can be closed now.  Helm 2.15.1 is now merged.
@ktsakalozos

[2019-11-01 23:17] balchua commented on #699
@ktsakalozos i think we can close this issue now.

[2019-11-02 06:00] ktsakalozos commented on #702
Thank @balchua.

@amouat containerd 1.3.0 is on edge (`snap install microk8s --classic --channel=edge`) and should reach stable soon (with v1.16.3).

[2019-11-02 06:00] #702 closed

[2019-11-02 06:01] ktsakalozos commented on #699
Thanks @balchua

[2019-11-02 06:01] #699 closed

[2019-11-02 06:03] ktsakalozos commented on #695
Indeed, the latest helm is on edge and should reach stable with the next patch release (1.16.3)

[2019-11-02 06:03] #695 closed

[2019-11-02 10:41] balchua commented on #725
@jizusun are you still getting this issue?

[2019-11-02 10:42] balchua commented on #721
@ktsakalozos this is resolved.  We can close this one now.

[2019-11-02 22:29] krichter722 opened #770 "startupProbe ignored"
As far as I understand, version >= 1.16 is supposed to support `startupProbe`, e.g. in `template.spec.containers` of a `Deployment`. However a simple deployment like

[code]

with `krichter/microk8s-startup-probe-ignored` being

[code]

doesn't contain the specified `startupProbe` according to the details from the dashboard

[code]

and immediately fails due to failing readiness probe rather than

[2019-11-03 00:28] balchua commented on #770
@krichter722 this requires explicit enabling as its an alpha feature in 1.16.
In the kubelet args https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/default-args/kubelet
You can try adding `--feature-gates="StartupProbe"` and then restart the kubelet `sudo systemctl restart snap.microk8s.daemon-kubelet`

[2019-11-03 07:46] krichter722 commented on #770
@balchua Thanks for the information. Afaik, I need to rebuilt the snap in order to be able to edit that file since snap doesn't allow editing any file, not even configuration files, right?

[2019-11-03 09:05] balchua commented on #770
@krichter722 you dont need to rebuild the snap to add this feature gate.  You can edit the file in `/var/snap/microk8s/current/args/kubelet`

[2019-11-03 12:25] krichter722 commented on #770
@balchua I was too hasty. I changed

[code]
to
[code]
in `/var/snap/microk8s/current/args/kubelet` following https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/, but the given example neither contains the `startupProbe` nor does it behave as it'd have it. Therefore I assume it's a bug and I'll reopen the issue.

[2019-11-03 22:25] balchua commented on #770
Maybe this feature gate needs to be added to the apiserver too.  Can try adding this feature gate to `var/snap/microk8s/current/args/kube-apiserver`
Then do a `microk8s.stop` and then `microk8s.start`.

[2019-11-04 10:53] marian-margeta commented on #756
@balchua I wouldn't now, maybe after one or two week. I have bypassed the problem for now so I will try it later. Thank you anyway.

[2019-11-04 11:04] balchua commented on #756
@marian-margeta its all good. When u get the chance. Thanks.

[2019-11-04 13:52] lukitch59 opened #771 "MicroK8s Token Dashboard"
Hello,

I've installed MicroK8s and all is working except the dashboard authentification

I can acces to the dashboard but the token is not working

I've generate the token using this command 👍
token=$(microk8s.kubectl -n kube-system get secret | grep default-token | cut -d " " -f1)
microk8s.kubectl -n kube-system describe secret $token

I get this :

Data
====
token:      eyJhbGciOiJSUzI1NiIsImtp

[2019-11-04 18:00] jasperkuperus commented on #770
Would be nice if the documentation states that this is currently alpha and not enabled by default... Just wasted quite some time on this. Thanks for the `feature-gates` URL @krichter722 , will definitely check that next time.

[2019-11-04 19:27] mprostko commented on #771
I experienced this issue today too. Tried the --classic option while installing and --classic --edge. Both produced same results - very long token that does not work with dashboard.

[2019-11-04 20:22] a1exus commented on #769
[code]

[code]

[2019-11-05 02:55] andyzheung commented on #758
I use http, still not ok.@balchua

[2019-11-05 03:03] balchua commented on #758
I think it has something to do with ipv6 in your system.  There is an existing issue https://github.com/ubuntu/microk8s/issues/498#issuecomment-501088380 cud be related to ur case.

[2019-11-05 03:59] andyzheung commented on #758
I try , may be I did't use ipv6.
![image](https://user-images.githubusercontent.com/22912347/68177566-ad237b00-ffc3-11e9-89d5-c85d06081b10.png)

[2019-11-05 04:17] balchua commented on #758
You can use `kubectl exec` to get into the pod.  Could it be that the nginx container is uaing 8080 port instead of 80?

[2019-11-05 04:51] andyzheung commented on #758
I enter into the container:
![image](https://user-images.githubusercontent.com/22912347/68179370-8f0d4900-ffca-11e9-9fcb-627b80d54b9c.png)
![image](https://user-images.githubusercontent.com/22912347/68179382-9af90b00-ffca-11e9-8771-a4f8268c070f.png)
![image](https://user-images.githubusercontent.com/22912347/68179401-aa785400-ffca-11e9-9319-1ec7ad2fe67b.png)

I change my yaml port to 8080, that is

[2019-11-05 04:51] #758 closed

[2019-11-05 09:27] ktsakalozos commented on #771
@lukitch59  @lukitch59 could you help me reproduce this? I just tested it and got it working. Could you attach the tarball from `microk8s.inspect`?

[2019-11-05 10:23] ktsakalozos commented on #770
@krichter722 to enable the StartupProbe you need to edit the `/var/snap/microk8s/current/args/kube-apiserver` file that holds the arguments of the API server and add the line `--feature-gates="StartupProbe=true"`. After that you have to restart MicroK8s with `microk8s.stop; microk8s.start`. Finally you have to apply your yaml.

These steps apply for any feature gate not enabled by default in Kuber

[2019-11-05 11:16] ktsakalozos commented on #721
Yes, thank you

[2019-11-05 11:16] #721 closed

[2019-11-05 14:03] ktsakalozos commented on #769
I have a semi-working workaround for now.  Edit `/var/snap/microk8s/current/args/kubelet` and add these two lines:
[code]
And then restart MicroK8s with `microk8s.stop; microk8s.start`.

The cluster will come up, but some addons will not work.

This issue is related to https://github.com/ubuntu/microk8s/issues/671 and I have asked what the right way to address the problem at https://forum.snapcraf

[2019-11-05 14:39] Art3mK commented on #290
hmm, looks like retain policy could be configured using `PV_RECLAIM_POLICY` env var for provisioner pod (see https://github.com/juju-solutions/hostpath-provisioner/blob/master/hostpath-provisioner.go#L73). I added that to hostpath-provisioner deployment and volumes are created with `Retain` reclaim policy. But that env variable is [commented](https://github.com/ubuntu/microk8s/blob/master/microk8s

[2019-11-05 22:19] a1exus commented on #769
not quite...

[code]

nothing gets returned on last command(

[2019-11-06 01:23] praveen049 commented on #753
@knkski
Any pointers on how to troubleshoot and fix this issue ?

Thanks

[2019-11-06 08:45] ktsakalozos commented on #769
This semi-workaround will get the kubernetes services running (including the kubectl that was failing), `microk8s.inspect` should confirm this. It is then up to you to deploy pods, deployments, services etc. For example, you should be able to see pods if you do a:
[code]

The good people at snapcraft came back to me with a potential fix, trying it now.

[2019-11-06 10:18] dhassault commented on #448
@ktaletsk Had exactly the same error as yours. Finally I'm using docker instead of containerd. For now it seems working and the nvidia daemon is loading correctly.
'''
vim /var/snap/microk8s/current/args/kubelet
'''
And added '--container-runtime=docker'. I'll try with KubeFlow and see if it still works.

[2019-11-06 22:06] a1exus commented on #769
that is true:

[code]

however, sometimes it works and sometimes it doesn't...

I tried same command from before and now I'm actually getting results (where last time I didn't)

[code]

awesome!!! share! share! share! )))

[2019-11-07 11:01] krichter722 opened #774 "Increase systemd unit timeout for microk8s.stop"
`microk8s.stop` regularly (~20% of times) fails to stop due to

[code]

In this case `microk8s.stop` needs to be repeated and then usually succeeds. Since aborting the stop routine  which already takes more than 60s is a source of trouble (resources left in undefined state or else) increasing the timeout to 120s to even 300s doesn't hurt afaik.

experienced with v1.16.2 (989) on Ubuntu 19.10
[insp

[2019-11-07 11:48] lukitch59 commented on #771
due to a network lack , I will provide u tomrrow the tar from the microK8s.inspect

[2019-11-07 16:05] #769 closed

[2019-11-07 16:07] ktsakalozos commented on #769
@a1exus the fix should be on the edge channel within a day. Let me know it if works for you, thanks:
[code]

[2019-11-07 16:07] ktsakalozos commented on #671
The fix should be on the edge channel within a day. Let me know it if works for you, thanks:
[code]

[2019-11-07 17:15] iatrou opened #777 "microk8s.status doesn't list kubeflow"
The latest beta has support for kubeflow but it's not listed in status:

[code]

Thanks for the great work with microk8s!

[2019-11-07 18:55] wpoosanguansit opened #778 "KubeletNotReady Ubuntu 19.10 raspberry pi 3 B+"
Please run `microk8s.inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.

Hi, I have followed the instruction to install the image ubuntu 19.10 on raspberry pi 3 B+ and I managed to install microk8s.  However, when I do describe node ubuntu I have got the Ready is False:

container runtime status check may not have completed yet, mis

[2019-11-07 19:07] ktsakalozos commented on #778
@wpoosanguansit have a look at this issue: https://github.com/ubuntu/microk8s/issues/728#issuecomment-548722833

How does your `/proc/cgroups` look like? It is possible you need to update `/boot/firmware/nobtcmd.txt` by appending `cgroup_enable=memory cgroup_memory=1` and rebooting.

[2019-11-07 19:17] wpoosanguansit commented on #778
Thank you.  I will recheck that.

[2019-11-07 19:28] camille-rodriguez opened #779 "Dashboard-metrics-scraper image support for ARM64"
Hi!
I am running microk8s on a ARM64 server and the dashboard-metrics-scraper pod kept crashing.

I found that it was already reported upstream here https://github.com/kubernetes/dashboard/issues/4029 and it has been fixed in this https://github.com/kubernetes-sigs/dashboard-metrics-scraper/releases/tag/v1.0.2 .

So I updated the image name with
`microk8s.kubectl edit pod/dashboard-metrics-scraper

[2019-11-07 19:37] ktsakalozos commented on #779
Hi @camille-rodriguez, thank you for reporting this.

The change you propose is already merged (https://github.com/ubuntu/microk8s/issues/779) and should reach the stable channel soon. You can either change the image version as you did, or you can deploy microk8s from the edge channel with `sudo snap install microk8s --classic --channel=latest/edge`

[2019-11-07 20:05] camille-rodriguez commented on #779
Oh perfect then, thanks!

[2019-11-07 20:05] #779 closed

[2019-11-07 20:10] knkski commented on #753
@praveen049: Sorry about the wait. It looks like you've got a proxy issue. Can you either try it without the proxy involved, or post the output from this command?

    microk8s.juju --debug bootstrap microk8s --config juju-no-proxy=10.0.0.1

[2019-11-07 20:55] wpoosanguansit commented on #778
Hi @ktsakalozos I did add the cgroup as recommended and rebooted.  However, now I am seeing

microk8s.status
microk8s is not running. Use microk8s.inspect for a deeper inspection.

ubuntu@ubuntu:~$ microk8s.kubectl get no
Unable to connect to the server: net/http: TLS handshake timeout

ubuntu@ubuntu:~$ microk8s.inspect
Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running

[2019-11-07 23:42] wpoosanguansit commented on #778
I needed to change the localhost from 127.0.0.1 to 127.0.1.1 to have the kubectl get no to work.  Now the node is ready.  Thanks.

[2019-11-07 23:42] #778 closed

[2019-11-08 01:12] praveen049 commented on #753
@knkski thank you for the feedback.

Attached is the output
[juju-noproxy.txt](https://github.com/ubuntu/microk8s/files/3822487/juju-noproxy.txt)

the commands i used:
`KUBEFLOW_DEBUG=true microk8s.enable kubeflow`
This fails as before and then

`microk8s.juju --debug bootstrap microk8s --config juju-no-proxy=10.0.0.1`

Thanks

[2019-11-08 04:02] wpoosanguansit opened #781 "microk8s.status errors but inspect indicate that everything is running."
Please run `microk8s.inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.

I just install microk8s on ubuntu 19.10 raspberry pi 3 B+.

Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running
  Service snap.microk8s.daemon-flanneld is running
  Service snap.microk8s.daemon-containerd is running
  Service snap.microk

[2019-11-08 07:04] lukitch59 commented on #771
Here is tar from the microK8s.inspect

[inspection-report-20191108_075737.tar.gz](https://github.com/ubuntu/microk8s/files/3823304/inspection-report-20191108_075737.tar.gz)

[2019-11-08 08:50] DomFleischmann commented on #737
This issue seems to be related with how hostpath storage handles storage in underlying hosts. According to this quote which can be found over [here](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath):

[2019-11-08 08:51] nottrobin opened #782 "Microk8s stopped listening at 127.0.0.1"
I'm running the microk8s snap v1.15.5 on Ubuntu 18.04.3:

[code]

My microk8s configuration is pretty default, and I'm deploying services and ingresses from our [deployment-configs repository](https://github.com/canonical-web-and-design/deployment-configs). I don't think the details of exactly what I'm deploying matter to this issue, but I can walk you through that if it's important.

I frequently

[2019-11-08 08:55] ktsakalozos commented on #781
@wpoosanguansit I see that trying to access the API server result in a ` Unable to connect to the server: net/http: TLS handshake timeout`. I need to understand what this thange of localhost to 127.0.1.1 is for, how did you end up to this change? Any documentation I could look into?

I wonder if you also need to change the `/var/snap/microk8s/current/certs/csr.conf.template` to use 127.0.1.1 inste

[2019-11-08 09:09] ktsakalozos commented on #782
Could you attach the tarball produced by `microk8s.inspect`?

[2019-11-08 09:13] nottrobin commented on #782
[code]

[inspection-report-20191108_091134.tar.gz](https://github.com/ubuntu/microk8s/files/3823778/inspection-report-20191108_091134.tar.gz)

[2019-11-08 09:14] nottrobin commented on #782
Is that Docker warning relevant? Is that what I need to do?

[2019-11-08 09:26] ktsakalozos commented on #782
The docker warning is relevant only if you are using the registry addon (`microk8s.enable registry`) in which case the docker client needs to trust the addon registry in order to push images there.

[2019-11-08 10:10] nottrobin commented on #782
Ah, not relevant then.

Let me know if there's anything obvious in that tarball, or if there's a way I can help look into it?

[2019-11-08 10:44] ktsakalozos commented on #782
In the logs of the API server I see a lot of error messages like this one:
[code]

The default route is needed to identify the interface where kubernetes should listen to. While the APIserver starts we wait for 2 minutes for the default interface to be set (https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/run-with-config-args#L80). Could you verify that when you see this

[2019-11-08 10:45] ktsakalozos commented on #777
Thank you for reporting this @iatrou , a fix should be available on the edge channel within the day (`sudo snap install microk8s --classic --edge`).

[2019-11-08 10:45] #777 closed

[2019-11-08 11:14] tburschka commented on #671
I'm on CentOS 8, and yes, that fixes it for me. Tank you!

[2019-11-08 13:29] datadot opened #784 "knative HelloWorld Serving Code Example"
Deploy a clean microk8s snap deployment:

`snap install microk8s --current`

Enable DNS, Istio + kNative

`sudo microk8s.enable dns istio knative`

Deploy HelloWorld go service example from:

[code]
The pods will create and fail due to below error:

`Readiness probe errored: rpc error: code = Unknown desc = failed to exec in container: failed to start exec "fc02dba843b84f907e3054501f078791474de71d

[2019-11-08 13:44] ktsakalozos commented on #774
Hi @krichter722 I do not see an obvious way to set the service stop timeout. I asked the snappy people at https://forum.snapcraft.io/t/snap-disable-timeout/14060. Let's see.

[2019-11-08 14:19] ktsakalozos commented on #771
The problem seems to be that your cluster is not healthy. For example, `microk8s.kubectl get all --all-namespaces` shows a lot of pods in an unknown state. This machine seems to be a CentOS (?) which version? Looks old, but could you try the latest edge build? `sudo snap install microk8s --classic --edge`

[2019-11-08 14:20] datadot commented on #784
Ok I have done some further testing, this works with clean 18.04.3 LTS (bionic) however issue exists in 19.10 (eoan).

[2019-11-08 15:33] wpoosanguansit commented on #781
Hi, I have gone through old tickets that I was given in my earlier case.  And I saw that that step might help.  So I just tested that out.  And I was surprised that it worked before I rebooted.  And now, it doesn’t.  Even when I tried changing it back and forth between 127.0.0.1 and 127.0.1.1.  Any suggestion what I need to set to get things to work?  Thanks for your help.

[2019-11-08 18:59] strigona-worksight commented on #737
Hi,

Thanks for your reply to make sure I fully understand what's going on - the Storage Addon sets up a storage class that is using hostPath and that's why I'm having issues on microk8s and not GKE correct?

[2019-11-08 19:02] knkski commented on #753
@praveen049: It looks like the manual bootstrap command worked for you, so I've added in the flag that should fix things for you in PR #785.

[2019-11-08 23:38] praveen049 commented on #753
@knkski  thank you for the fix.

so, i need to deploy again from the channel and enable kubeflow with the below commands ?

[code]

[2019-11-09 03:24] jamesthegiantpeach commented on #729
Hi @ktsakalozos, I am so sorry that I forgot about this issue. I actually stopped using local k8s boxes for a while.

I have recently had to setup some local dev environments for my team, and I ran across this issue. I suspect this isn't an issue with microk8s, but some issue with upstream k8s because I when googling the issue I see it all over the place.

I am actually getting after attempting to

[2019-11-09 03:56] jamesthegiantpeach commented on #729
This seems to have resolved itself after a clean remove and reinstall.

[2019-11-09 04:13] jamesthegiantpeach commented on #729
1) microk8s.enable storage (storage comes up fine)
2) microk8s.enable rbac
3) microk8s.enable dns

result

[code]

1) microk8s.enable storage
2) microk8s.enable dns

result

Everything works fine. Something about microk8s.enable rbac is screwing everything up.

[2019-11-09 06:33] ktsakalozos opened #786 "Remove basic-auth-file it is deprecated"
We should remove the basic-auth-file argument and move any entries to the tokens file.

[2019-11-09 08:06] ktsakalozos opened #787 "Grand more permissions to the cluster-admin when enabling rbac"
We could apply the role binding describe in
https://github.com/ubuntu/microk8s/issues/84#issuecomment-423134519 when enabling rbac.

[2019-11-09 08:22] wpoosanguansit commented on #781
I have made the change in the hosts file to point to 127.0.0.1 as localhost and reinstalled microk8s.  But it still gives me the same errors.

ubuntu@ubuntu:~$ sudo snap install microk8s --classic
microk8s v1.16.2 from Canonical✓ installed
ubuntu@ubuntu:~$ microk8s.kubectl get no
The connection to the server 127.0.0.1:16443 was refused - did you specify the right host or port?

Appreciate your hel

[2019-11-10 07:06] wpoosanguansit commented on #781
I have 4 instances installed and one of them turned up working.  So I attached the inspect for the one working here.  Any direction as how to debug this would be great.  Thanks for your help.

[inspection-report-20191109_081528.tar.gz](https://github.com/ubuntu/microk8s/files/3828157/inspection-report-20191109_081528.tar.gz)

[2019-11-11 00:36] akinsella commented on #384
Please note that if you have username / password defined for you private registry, you will have to also add auth section in containerd.toml file. Defining mirror is not enought. An example:

      [plugins.cri.registry.auths]
        [plugins.cri.registry.auths."http://registry.my-private-domain-name.com:5000"]
          username = "test"
          password = "test"

Solution comes from this stac

[2019-11-11 03:43] dawndiy opened #789 "microk8s is not running on CentOS 7.2"
Please run `microk8s.inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.

I use the stable and beta version, it can't running.

[code]

[inspection-report-20191111_113738.tar.gz](https://github.com/ubuntu/microk8s/files/3829622/inspection-report-20191111_113738.tar.gz)

[2019-11-11 10:06] DomFleischmann commented on #737
Yes, that is correct.

[2019-11-11 20:01] rbt commented on #784
I'm getting a similar error attempting to exec -ti into a pod, something I did regularly during development while under minikube (attempting to switch). The pod has the status of "Running" and has a single container.

[code]

[2019-11-11 20:09] ktsakalozos commented on #784
@rbt can you please attach the tarball from `microk8s.inspect`. I would like to see the error in `dmesg` you are probably seeing.

[2019-11-11 20:23] tjpeden opened #790 "Microk8s is not starting."
[inspection-report-20191111_141518.tar.gz](https://github.com/ubuntu/microk8s/files/3833086/inspection-report-20191111_141518.tar.gz)

[code]

[2019-11-11 20:24] tjpeden commented on #790
If there is more info needed please don't hesitate to ask, I'm an very new to k8s and all of these tools. Thanks!

[2019-11-11 21:22] tjpeden commented on #790
I uninstalled and reinstalled microk8s (via snap) per @ktsakalozos's suggestion. Still not fully working but we're further along, here's my latest inspection.

[inspection-report-20191111_151141.tar.gz](https://github.com/ubuntu/microk8s/files/3833289/inspection-report-20191111_151141.tar.gz)

[2019-11-11 22:46] tjpeden commented on #790
Reseting my iptables (completely) fixed my problem.

[2019-11-11 22:46] #790 closed

[2019-11-11 22:55] rbt commented on #784
1.16/stable: [inspection-report-20191111_173728.tar.gz](https://github.com/ubuntu/microk8s/files/3833486/inspection-report-20191111_173728.tar.gz)

After fiddling with the above, I realized some pods worked. I've narrowed it down to the below setting in the failing deployments. It's possible minikube was incomplete/buggy by allowing access and microk8s is working as expected; albeit with a terribl

[2019-11-12 04:27] ktsakalozos commented on #789
It seems the hostname of your machine includes underscores. This is not a valid node name. Could you try editing `/var/snap/microk8s/current/args/kubelet` to append the line `--hostname-override=mynode` and then restart the cluster with `microk8s.stop; microk8s.start`?

[2019-11-12 11:36] ktsakalozos opened #792 "The Juju add on asks for root to be in the microk8s group"
Although this is not a blocker it is annoying.

The problem seems to be with running juju under sudo in https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/microk8s-juju.wrapper#L25 . I haven't noticed that before is this a new behavior @knkski ?

[2019-11-12 11:48] dawndiy commented on #789
@ktsakalozos
Thank you.
Use  `--hostname-override=mynode` is worked for me to start up the microk8s. **BUT** dns addon will not working. So change the hostname is the right way  to solve my issue. Thanks.

[2019-11-12 11:48] #789 closed

[2019-11-12 13:31] DomFleischmann commented on #774
According to this [reply](https://forum.snapcraft.io/t/snap-disable-timeout/14060/4?u=dominik.f) there seems to be a non trivial bug that doesn't allow us to up the timeout time currently.

[2019-11-12 16:24] crossdot opened #794 "microk8s.daemon-kubelet not running. Error: libnss_dns.so.2: undefined symbol: __res_maybe_init, version GLIBC_PRIVATE"
I'm Arch user.

I hit this issue both in stable and edge builds:

`# microk8s.inspect`
[code]
[inspection-report-20191112_191216.tar.gz](https://github.com/ubuntu/microk8s/files/3837125/inspection-report-20191112_191216.tar.gz)

`# journalctl -u snap.microk8s.daemon-kubelet --lines 20`
[code]

[2019-11-12 22:31] wpoosanguansit commented on #781
Here is another inspect log that I did after commented out all of the IPv6 in the /etc/hosts.  Thanks.

[inspection-report-20191112_222717.tar.gz](https://github.com/ubuntu/microk8s/files/3838513/inspection-report-20191112_222717.tar.gz)

[2019-11-12 23:37] ktsakalozos commented on #781
@wpoosanguansit just noticed you are running on 1GB machine with no swap. Is it possible the kernel is killing some of the running processes and systemd needs to restart them? Do you run any workloads on the cluster?

[2019-11-12 23:43] wpoosanguansit commented on #781
At the moment no workload yet, as I have not been able to make it work yet.  Thanks for your suggestion on swap.  I will look to see how I can enable that.

[2019-11-13 03:28] airzhe opened #796 "how can i change the data directory the to other partition"
currently all mirror data is in the system partition

[2019-11-13 04:31] wpoosanguansit commented on #781
I did follow the suggestion given by Balchu on slack to disable ipv6 as in:

https://itsfoss.com/disable-ipv6-ubuntu-linux/

Now everything seems to work and I am able get the status correctly.

[2019-11-13 04:31] #781 closed

[2019-11-13 07:22] lukitch59 commented on #771
When i use mcrok8s.kubectl get all --all-namespaces all seems to be in a proper state :

![Capture](https://user-images.githubusercontent.com/57354941/68741560-3f440880-05ee-11ea-9bba-aa565ddf82d5.PNG)

My actual CentOS version is :  CentOS  Linux release 7.7.1908 (Core) --> I can upgrade it to 8x versin or maybe change the linux distribution from Centos to Debian or other.... Which distro is the

[2019-11-13 08:17] lukitch59 commented on #771
How to avoid this kind of trouble ?
Maybe upgrade my centos Version ? or change it ?

A workaround solution exist ?

Le ven. 8 nov. 2019 à 15:19, Konstantinos Tsakalozos <
notifications@github.com> a écrit :

[2019-11-13 17:23] davidhopkins opened #798 "Pods not getting killed again"
Looks quite similar to #3 but dmesg is full of this when I attempt to delete a pod

[code]

If I run `aa-disable /etc/apparmor.d/cri-containerd.apparmor.d` then the pods get deleted.

[inspection-report-20191113_170205.tar.gz](https://github.com/ubuntu/microk8s/files/3842559/inspection-report-20191113_170205.tar.gz)

[2019-11-13 23:34] #792 closed

[2019-11-14 02:05] ktsakalozos commented on #771
I was wrong Centos 7.7 is not old, I saw the 3.10 kernel and thought the entire distribution is old.

If you want best compatibility and you have the option to switch to another distribution you would better go to an Ubuntu LTS; bionic for not.

[2019-11-14 20:06] wpoosanguansit opened #800 "microk8s.kubectl get all --all-namespaces returns errors."
Please run `microk8s.inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.

Hi,

I have now 9 nodes connected to a master node.  They all show up Ready when I do:

microk8s.kubectl get no                                                                                            master: Thu Nov

NAME           STATUS   ROLES    AGE

[2019-11-14 20:26] DazWilkin opened #802 "Shim TCP Load-balancer"
microk8s is excellent. Thank you!

I've begun using microk8s as my exemplar Kubernetes deployment and then test additionally elswhere e.g. on Kubernetes Engine and DO.

It's reasonable to assume that each platform provides TCP Load-balancing and thus enables services with `--type=LoadBalancer` but this is untrue for microk8s.

Instead, it's possible (recommended) to `localhost:${NODEPORT}` service

[2019-11-14 22:43] sam-github opened #803 "how can I get JSON logs to be recognized by the fluentd addon?"
Will do if necessary, but my system is very vanilla.

I did a `microk8s.reset; microk8s.enable dns fluentd`, then ran one app that logs lines in JSON to stdout. I can see the lines in Kibana after adding the data source, but the entire json log line is showing up as the value of the `log: ` property, and I can't access its structured internal info.

I thought this might be a problem with the es or

[2019-11-14 23:02] ktsakalozos commented on #802
Thank you for using MicroK8s.

Probably the easiest option to get a loadbalancer in MicroK8s is through MetalLB. We already have a pending PR for this (https://github.com/ubuntu/microk8s/pull/759) but we haven't merge it yet.

Do you have another loadbalancer implementation in mind? We would gladly review and merge it. This is a very interesting topic.

[2019-11-15 02:03] ktsakalozos commented on #800
Hi @wpoosanguansit

Here is a reason why you may be seeing this behavior. On each node you have a service called kube-proxy that takes care of the network configuration of the node at hand. Kube-proxy contacts the API server and asks for any information on pods and services that run on the node. By default kube-proxy assumes the node has registered on the API server with its hostname. However in y

[2019-11-15 12:44] crossdot commented on #794
This error does not reproduce if I use channel 1.14/stable or below

[2019-11-15 14:52] ca-ai opened #805 "cannot validate certificate"
I am using microk8s run kubeflow and whenever i kick off a new wf, i keep getting this cert error on my wf pod

```Get https://192.168.75.8:10250/pods: x509: cannot validate certificate for 192.168.75.8 because it doesn't contain any IP SANs```

Any idea

[2019-11-15 15:43] ktsakalozos commented on #805
Could you please attach the tarball created by `microk8s.inspect`? @knkski have you seen similar behavior in the past?

[2019-11-15 15:45] roxax19 opened #806 "microk8s.enable dns doesn't work"
I use `microk8s.enable dns` and it deploys the dns but the service isn't available.
The results of `microk8s.kubectl get all --all-namespaces` is:
<details>
NAMESPACE     NAME                          READY   STATUS    RESTARTS   AGE
kube-system   pod/coredns-9b8997588-7tl7s   0/1     Pending   0          2m38s

NAMESPACE     NAME                 TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)

[2019-11-15 15:53] ktsakalozos commented on #806
@roxax19 start by describing the pod to see why it stays in the pending state: `microk8s.kubectl decribe  -n kube-system pod/coredns-9b8997588-7tl7s`. Then based on the outcome you should be able to see why it is not scheduled. With `microk8s.inspect` you get a list of all the services running, you can see the logs of each service with `journalctl -u "service_name_reported_in_inspect"`. Please att

[2019-11-15 16:03] ktsakalozos opened #808 "microk8s.remove-node needs sudo"
Calling `microk8s.remove-node` without sudo fails with the exception below even if the user is on the microk8s group.

[code]

Probably the respective file is not created with the right permissions.

[2019-11-15 16:07] roxax19 commented on #806
I have reinstalled microk8s so the name have changed.
I used `microk8s.kubectl describe -n kube-system pod/coredns-9b8997588-7s5xt` and it sais:
<details>
Name:                 coredns-9b8997588-7s5xt

Namespace:            kube-system

Priority:             2000000000
Priority Class Name:  system-cluster-critical
Node:                 <none>
Labels:               k8s-app=kube-dns

[2019-11-15 16:12] ca-ai commented on #805
Attached!

Yes seen it before, also notified @knkski  about it already

[inspection-report-20191115_100632.tar.gz](https://github.com/ubuntu/microk8s/files/3852281/inspection-report-20191115_100632.tar.gz)

[2019-11-15 17:01] ktsakalozos commented on #806
`microk8s.kubectl get no` shows that you have no nodes running. If you look at the kubelet logs with `journalct -u snap.microk8s.daemon-kubelet` you should see it cannot bind to 10250 port because it is in use by another application. The other application is actually a separate kubelet snap. You do not need the kubelet snap because MicroK8s packages its own. You need to `sudo snap remove kubelet`

[2019-11-15 17:05] DazWilkin commented on #802
Thanks for the prompt and helpful reply, @ktsakalozos

MetalLB is a good option.

I think -- and I'm perhaps I'm being overly simplistic here (!?) -- there's an even simpler option.

Classic (!) TCP Load-balancing in Kubernetes is somewhat redundant. The LB exposes an endpoint and proxies traffic to the cluster's nodes via the Nodes' (service's) NodePort. Kubernetes then proxies traffic to one of

[2019-11-15 17:11] ktsakalozos commented on #802
Let me think about this a bit. However, I would like to point out that MicroK8s is not a single node cluster, have a look at https://microk8s.io/docs/clustering

[2019-11-15 17:58] roxax19 commented on #806
Thanks!! That worked perfectly. But now I'm getting an `Error: ErrImagePull`. Could you give me another hand?

The output for `microk8s.kubectl describe -n kube-system pod/coredns-9b8997588-597ls` is:
<details>
Name:                 coredns-9b8997588-597ls

Namespace:            kube-system

Priority:             2000000000
Priority Class Name:  system-cluster-critical
Node:                 lenovo

[2019-11-15 18:23] #800 closed

[2019-11-15 19:02] ktsakalozos commented on #806
Do you happen to be behind a firewall and/or need a proxy to reach the internet?

[2019-11-15 22:44] DazWilkin commented on #802
IDNKT :-)

Yes, this changes things.

Sorry to have wasted your time.

[2019-11-15 22:44] #802 closed

[2019-11-15 23:26] knkski commented on #805
This should be fixed now, with the default Argo executor for kubeflow getting switched to PNS. For posterity's sake the solution for the kubelet executor is to disable Argo's certificate checking, and then add `--anonymous-auth=true` to `/var/snap/microk8s/current/args/kubelet`, then running `sudo snap restart microk8s.daemon-kubelet`. Closing since this should now be fixed, though feel free to re

[2019-11-15 23:26] #805 closed

[2019-11-16 22:33] balchua commented on #803
I think you will have to play with the fluentd configuration, by record transformer.  What is happening as i understand it, fluentd is actually converting the raw log to json.
[code]
Since you are outputting json, it becomes a nested json document.  The field `log` now contains a raw json, which is your output.
I'm not super familiar with fluentd, but maybe you can try this https://stackoverflow.c

[2019-11-16 23:50] sam-github commented on #803
Thanks for the pointers. I can look at that, and will, but I'd still like if someone could explain to me what component is taking my container's log output line, and prepending the unstructured text. The pipeline is  this, AFAICT:

[code]
I'd like to know the entity named "SOMETHING" above, and where its configuration can be found.

Note that fluentd's current microk8s config would already parse t

[2019-11-17 00:13] balchua commented on #803
AFAICT its the containerd writing it to `/var/log/pod`.

[2019-11-17 04:34] ktsakalozos commented on #796
Could this be what you are asking for https://askubuntu.com/questions/1029562/move-snap-packages-to-another-location-directory/1029948 ?

[2019-11-17 06:34] sam-github commented on #803
https://github.com/containerd/cri/pull/421/files#r152399214 makes me think, that, too, and I haven't found any configuration switches for it. So, it looks like fluentd will have to handle this.

[2019-11-17 08:50] balchua commented on #803
@sam-github when you have figured out how to configure fluentd to handle nested json, please let me know. 😁. It will surely come in handy.
Thanks!

[2019-11-17 11:04] tyan4g commented on #234
@ktsakalozos is right .
just label service/kubernetes-dashboard

`microk8s.kubectl label service/kubernetes-dashboard kubernetes.io/cluster-service=true --namespace kube-system`

then use

`
microk8s.kubectl cluster-info`

below is the result

open https://127.0.0.1:16443/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy

[2019-11-17 21:59] praveen049 commented on #753
@knkski
  Based on the discussion on the thread for PR 785, it seems the fix was not merged.  Is there any other solution or workaround to get it working ?

Thanks

[2019-11-18 06:56] charlesa101 commented on #753
installing from  1.16/edge/kubeflow channel worked for me 2 days ago

``sudo snap install microk8s --classic --channel 1.16/edge/kubeflow
microk8s.enable kubeflow```

but now i am getting this error right now

[code]

[2019-11-18 08:28] roxax19 commented on #806
Yes! I'm using a proxy. I have been looking how to configure microk8s when working with a proxy but I haven't found it. How can I add the configuration?

[2019-11-18 10:12] lukitch59 commented on #771
I ve just installed an Ubuntu 19.10 server with snaps and microk8s from ubuntu's package during the server installation.

lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 19.10
Release:        19.10
Codename:       eoan

The cluster has no errors  :

root@devops:~# microk8s.kubectl get all --all-namespaces
NAMESPACE     NAME

[2019-11-18 10:18] lukitch59 commented on #771
i get the same trouble with snap install microk8s --classic --edge

[2019-11-18 13:59] ktsakalozos commented on #806
To let MicroK8s use a proxy enter the proxy details in `/var/snap/microk8s/current/args/containerd-env` and restart the containerd daemon service with:
[code]

[2019-11-18 14:20] morganchristiansson commented on #749
Hello. I had the same issue when trying to run elasticsearch on microk8s.

Adding `--allow-privileged` into /var/snap/microk8s/current/args/kube-apiserver and `microk8s.stop; microk8s.start` resolves it. Thank you @ktsakalozos

[2019-11-18 14:45] #808 closed

[2019-11-18 15:23] knkski commented on #753
@charlesa101: Apologies, can you run `sudo snap switch microk8s --channel edge && sudo snap refresh`? I think that particular channel is no longer getting updated and will disappear due to the feature getting merged into master.

[2019-11-18 21:27] andyljones commented on #448
I had the same issue, and it emerged while I had a GPU-enabled container up and running. The container had been running fine for months, and then... crashed. On restart, I found `nvidia.com/gpu: 0` in the node description. Same logs as ktaletsk, and dhassualt's add-to-kubelet-args fix hasn't worked.

As far as I know no updates had been installed recently. nvidia drivers 418.56, CUDA 10.1, kubelet

[2019-11-18 21:30] Spajderix commented on #375
[inspection-report-20191118_212722.tar.gz](https://github.com/ubuntu/microk8s/files/3860778/inspection-report-20191118_212722.tar.gz)
Same Here. Right after installing. I've done `microk8s.reset` but it did not help

[2019-11-18 21:43] ktsakalozos commented on #375
@Spajderix I see this in the logs of containerd (`journalctl -u snap.microk8s.daemon-containerd`)
[code]
Are you behind a firewall, need a proxy to reach the web?

[2019-11-18 21:46] ktsakalozos commented on #448
@andyljones could you attach the tarball from `microk8s.inspect`?

[2019-11-18 21:47] andyljones commented on #448
Actually, checking `snap changes`, there was an auto-refresh of microk8s to 1.16.3 at about the same time as the crash. Unfortunately the logs don't seem to show what the old version was, but

[code]

fixes it!

Christ, I didn't even realise snap would kill my microk8s instance to upgrade it. That explains a whole separate issue I was suffering.

[2019-11-18 21:56] ktsakalozos commented on #448
@andyljones if you want to have along lasting MicroK8s deployment you would be safer specifying a channel during installation. If you do not specify a channel any updates will track the latest stable k8s releases. We try our best to transition users to the new version but if the underling components change too much this might not be possible.

[2019-11-18 21:58] andyljones commented on #448
Thanks, savvy to that now! Here are inspect tarballs from my broken 1.16.3 install and my working 1.15 install:

[broken.tar.gz](https://github.com/ubuntu/microk8s/files/3860898/broken.tar.gz)
[working.tar.gz](https://github.com/ubuntu/microk8s/files/3860899/working.tar.gz)

[2019-11-18 22:02] Spajderix commented on #375
@ktsakalozos You're right. Had a typo in proxy url. Corrected, but still no luck. For reference: I've set it on `/var/snap/microk8s/current/args/containerd-env`, as follows:
`HTTP_PROXY=http://proxy.entity:3128
HTTPS_PROXY=http://proxy.entity:3128`
Hostname resolves correctly, and when set on bash shell, properly works with curl.

New report for reference:
[inspection-report-20191118_215951.tar.gz

[2019-11-19 00:36] ktsakalozos commented on #448
@andyljones the 1.16 channel should also be safe to use.

The upgrade to containerd 1.3.0 caused this issue. I am reverting this change (moving back to containerd 1.2.5). The fix should be on the latest/edge channel in some hours.

I am really sorry for the trouble we may have caused, apologies.

[2019-11-19 01:58] praveen049 commented on #753
@knkski
I have now tried with the new channel and the proxy issue seems to be resolved. Thank for that.

I have running into a different error :

`Resolving charm: cs:~kubeflow-charmers/seldon-cluster-manager-47
Resolving charm: cs:~kubeflow-charmers/tensorboard-46
Resolving charm: cs:~kubeflow-charmers/tf-job-dashboard-48
Resolving charm: cs:~kubeflow-charmers/tf-job-operator-46
ERROR cannot depl

[2019-11-19 08:10] suharevA commented on #196
rebuilt with tag 127.0.0.1 instead of localhost and everything worked fine

[2019-11-19 09:44] andyljones commented on #448
Not to get into a back-and-forth on the expectations around free software, but I didn't pay for  this and yet I'm getting an awful lot of value out of it. I can't complain if it causes me a bit of hassle once in a blue moon. Thanks for all your work, and sorry for not saying this sooner!

[2019-11-19 19:47] strigona-worksight commented on #737
Ok thanks again. I assume it's safe to close this issue as it's working as intended.

[2019-11-19 19:47] #737 closed

[2019-11-20 15:55] andrewcheny opened #814 "Cluster nodes 'not ready' after RBAC is enabled"
[inspection-report-20191119_152038.tar.gz](https://github.com/ubuntu/microk8s/files/3870074/inspection-report-20191119_152038.tar.gz)

After RBAC is enabled all worker nodes stuck in 'not ready' state. To reproduce:

1. Create cluster without RBAC enabled. The cluster works fine. All nodes in 'Ready' state.
2. On the master node turn on RBAC. kubectl get no returns all worker nodes in 'Not Ready'

[2019-11-20 21:44] recklessop commented on #719
this is a duplicate issue of https://github.com/ubuntu/microk8s/issues/228

[2019-11-20 23:46] CalvinHartwell commented on #719
@recklessop you're correct yes, my apologies. I have hardware available we could use to address the problem.

[2019-11-21 10:12] praveen049 commented on #753
@charlesa101
are you able to deploy Kubeflow from the edge channel ?

[2019-11-21 17:23] asloan7 opened #816 "ssh tunnel documentation"
Following the tutorial at https://tutorials.ubuntu.com/tutorial/install-a-local-kubernetes-with-microk8s#3, but on a remote server, I have successfully set up an ssh tunnel to the kubernetes-dashboard but am having trouble with grafana

microk8s.kubectl get services -A|grep grafa
kube-system   monitoring-grafana          ClusterIP   10.152.183.21    <none>        80/TCP

microk8s.kubectl cluster-i

[2019-11-21 18:13] pisymbol opened #817 "Unable to login into KubeFlow after the addon is enabled"
[inspection-report-20191121_130543.tar.gz](https://github.com/ubuntu/microk8s/files/3876068/inspection-report-20191121_130543.tar.gz)

Installed microk8s on a 32-core/64GB workstation running 18.04LTS latest. The snap install and addon enablement went fine:

snap install microk8s --classic
microk8s.enable registry dns rbac storage knative kubeflow istio
...all worked...

KubeFlow is at 0.6.0-rc0

[2019-11-21 19:05] pisymbol commented on #817
Update: One little tidbit I forgot to mention is that the original enablement of KubeFlow timed out as my pods were initializing (it just takes TIME for me to download the images and the pods to come up to a RUNNING state).

My guess is the ingress it normally creates didn't happen because of it. But that seems still like a bug.

[2019-11-21 22:13] wpwoodjr opened #818 "Chrome OS Crostini support"
At Kubecon, Tim Van Steenburgh and Konstantinos Tsakalozos suggested for me to post here because microk8s on Crostini doesn't work, either in classic mode or sandboxed.

[inspection-report-20191121_134510.tar.gz](https://github.com/ubuntu/microk8s/files/3877010/inspection-report-20191121_134510.tar.gz)
Please run `microk8s.inspect` and attach the generated tarball to this issue.

We appreciate you

[2019-11-21 22:36] balchua commented on #816
@asloan7 what i usually do when i need to access remotely grafana is to run `kubectl port-forward` from my local pc.

https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

Then you can use it like its a localhost.
Maybe this can help.

[2019-11-22 10:49] drwatsno opened #819 "Update Istio to 1.4.0"
The version of Istio installed with MicroK8s is 1.3.4.
1.4.0 was released a couple of days ago and includes many new features.
Could the version be updated to 1.4.0? Or maybe there is a way to tell microk8s which version to install?

[2019-11-22 15:21] asloan7 commented on #816
thx @balchua , and to be comprehensive that also requires on laptop kubectl, .kube/config (is this the output of  microk8s.config?), and on server an addition to .ssh/authorized_keys?
microk8s.config contains a private IP, not a public one, will a swap work?

[2019-11-22 15:42] ramukima opened #820 "Allow custom hooks to be invoked pre/post upgrades"
k8s cluster upgrade is not as simple as updating kubernetes control plane software packages. It involves performing tasks like backing up volumes, draining, upgrading, restoring etc. It would be great to allow custom pre and post upgrade hooks to be invoked.

[2019-11-22 22:44] moredhel opened #821 "Ingress failing when RBAC enabled on edge"
Hi, I'm in the process of installing microk8s, it seems that the Role is misconfigured for the ingress controller on the `--edge` release.

I had to add the the following to get it working:

[code]

Attached is the version info, installed using:

`snap install microk8s --edge --classic`

[inspection-report-20191122_234153.tar.gz](https://github.com/ubuntu/microk8s/files/3881715/inspection-report-2

[2019-11-22 22:49] balchua commented on #816
You will need on your laptop `kubectl` and the kubeconfig.  You can get the kubeconfig by doing this `microk8s.kubectl config view --raw`. Need to save that to a file. Copy that to `~/.kube/config`. You don't need to add any ssh key anymore at the server.  Then you can do kubectl port-forward.

[2019-11-23 08:36] soumplis opened #822 "Microk8s on Fedora 31"
It seems that Fedora 31 drops support (by default) for Cgroups v1 [1] and microk8s.status returns always bad status. After enabling v1 all seems fine.

[1] https://www.redhat.com/sysadmin/fedora-31-control-group-v2

[2019-11-23 20:44] #796 closed

[2019-11-24 05:42] balchua commented on #822
Related to this https://github.com/ubuntu/microk8s/issues/651
Im not sure if containerd supports cgroups v2.  I know its being worked on perhaps in containerd 1.4.

[2019-11-24 13:32] jmichalek132 commented on #771
Same here with `--classic` on Debian buster. as a workaround I edited the dashboard deployment and added arg to skip login
[code]
[code]

[2019-11-24 14:46] ktsakalozos commented on #822
@soumplis how did you enable v1 cgroups? It would be great if we could detect this setup and suggest a fix in the `microk8s.inspect` [1] command.

[1] https://github.com/ubuntu/microk8s/blob/master/scripts/inspect.sh#L104

[2019-11-24 15:34] vbmade2000 commented on #786
@ktsakalozos I believe this is good issue to start with for beginner like me. Do you mind if I take this issue ?

[2019-11-24 16:54] ktsakalozos commented on #786
Thank you for volunteering @vbmade2000. Yes, it is a good first issue to get you familiar with the code. Here are some notes you might find helpful.
- In https://github.com/ubuntu/microk8s/tree/master/microk8s-resources/default-args we keep the default arguments that are copied under `/var/snap/microk8s/current/args` upon installation. You should remove the basic-auth-file entry (https://github.co

[2019-11-24 21:06] omkensey commented on #822
Here are more details on Fedora 31, containers, and cgroups, including how to switch back to CGroups V1 (requires a reboot though): https://docs.fedoraproject.org/en-US/fedora/f31/release-notes/developers/Containers/

[2019-11-25 03:50] praveen049 commented on #753
@knkski

Any suggestions on how to troubleshooting this issue ?

[2019-11-25 05:43] charlesa101 commented on #753
@praveen049  yea i was able to get this running from the edge channel

but before then i had clean up my snap directory

```sudo snap switch microk8s --channel edge && sudo snap refresh``` like @knkski  said

then ```microk8s enable storage dns rbac juju kubeflow``` did it for me

[2019-11-25 06:10] praveen049 commented on #753
@charlesa101  thanks for the info

But these commands are not working for me and it's failing when deploy kubeflow with below error
[code]

I am running behind a proxy and seems to be some issue related to that.

[2019-11-25 11:29] balchua commented on #821
@moredhel I've been looking at the rbac, it does have `ingress` included.
https://github.com/ubuntu/microk8s/blob/797720e2d1e74030fc3d8df5d291469c6082aaac/microk8s-resources/actions/ingress.yaml#L47-L52

May i know what error you are getting?  I also couldn't find any error reported by the apiserver.

[2019-11-25 12:28] moredhel commented on #821
Hi Balchua,

Thanks for the response.

I did get it working, (as mentioned above), but that was not present in the role definition that I was running with.

I've since patched it on my local instance, so don't have access to the logs.

The error was Nginx complaining about creating a ConfigMap for leader election.

The following issue describes what I experienced: https://github.com/kubernetes/ing

[2019-11-25 12:35] moredhel opened #824 "Exposing Nginx-ingress to external traffic"
I am wanting to expose my traffic to the internet,

When I enable ingress and define an ingress route, I have two services running which pick up on it:

- external-dns
- cert-manager

due to the way Nginx-ingress is configured, it does not pick up on the public ip of the running host, but instead defaults to `127.0.0.1`.

It would be useful to enable this as an option to allow serving traffic & au

[2019-11-25 15:44] vbmade2000 commented on #786
Sounds good. Thanks.

Will check and reach out to you in case of query.

[2019-11-25 17:11] knkski commented on #753
@praveen049: Yeah, that could definitely be a proxy issue. @ktsakalozos, do you know how we should handle that?

[2019-11-25 20:19] asloan7 commented on #816
@balchua getting there
microk8s.kubectl config view --raw gives 127.0.0.1, so it wouldn't know how to reach the server:
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://127.0.0.1:16443
So got "Unable to connect to the server: dial tcp [127.0.0.1:16443]: connectex: No connection could be made because the target machine actively refused it"

Changing to server: https://(pu

[2019-11-25 21:46] balchua commented on #816
You can add extra IP addresses in the `/var/snap/microk8s/current/certs/csr.template.conf`.

Example:

[code]
This will automatically generate new certs and restart the apiserver.
After that you need to get the new kubeconfig again.

[2019-11-25 21:46] strigona-worksight commented on #816
You can update the IP in your config file. To fix the certificate issue:

Add Names to Kubernetes API Certificate

Modify:

/var/snap/microk8s/current/certs/csr.conf.template

Add:

DNS.X = <hostname>

Add:

IP.Y = <IP address>

Where X and Y don't conflict with values in csr.conf. Setting a high value such as 20 should be safe. Certificates will be automatically generated after the file is saved.

[2019-11-26 10:41] iam-TJ commented on #719
Does the detail at:

https://microk8s.io/docs/install-alternatives#arm

"... This can be remedied on the Rasberry Pi by editing the boot parameters: ..."

imply that  this is now solved?

[2019-11-26 16:37] displague opened #825 "Add Crossplane addon"
This issue is to gauge interest, obstacles, and traction towards including [Crossplane](https://crossplane.io/docs/v0.5/) in MicroK8s.

Crossplane provides a controller and CRDs for managing Cloud infrastructure  (such as `RDSInstance`, `CloudSQLInstance`, `GKECluster`, `AKSCluster`) from within Kubernetes.  Crossplane adds abstractions such as `MySQLInstance` and `KubernetesCluster` which, simila

[2019-11-26 21:00] supersexy opened #828 "Following Quick Start Guide generates error at step two"
The second command of the [Quick Start Guide](https://microk8s.io/docs/) generates an error:
[code]

It is an obvious one, of course, just a small thing, but as a quick starter I now have to ask myself:
- What are the implications if I add the current user to the microk8s group?
- Will everything still work?
- How can I be sure that adding the user to the group is supported by microk8s?
- Or do I

[2019-11-26 21:20] knkski commented on #753
@praveen049: Can you post the output from `KUBEFLOW_DEBUG=true microk8s.enable kubeflow`? That should output some more useful information

[2019-11-27 03:31] tshauck commented on #817
Were you able to manually fix this then? I'm getting the same error and from what I can tell everything was able to get started w/o a timeout, though I still get `SSL_ERROR_RX_RECORD_TOO_LONG`.

[2019-11-27 03:40] praveen049 commented on #753
@knkski

Attaching the debug output
[microk8s-debug-27Nov.txt](https://github.com/ubuntu/microk8s/files/3894984/microk8s-debug-27Nov.txt)

[2019-11-27 09:42] heckad commented on #289
Hello, everybody. I have the same error. I only eval `microk8s.enable prometheus` and add the port forward to `svc/grafana 3000`.

[2019-11-27 12:13] lukitch59 commented on #771
it's working with this arguments but it's not very secure

[2019-11-27 14:10] ktsakalozos commented on #771
I am sorry I cannot reproduce this. Could you make sure you do not copy any new lines along with the token? I cannot think of anything else.

[2019-11-27 14:19] ktsakalozos commented on #289
After you enable prometheus and having the pods running, can you access grafana through its ClusterIP (with something like `http://10.152.183.153:3000/login`) ?

Can you help me reproduce this? How do you do the port forwarding? Are you running MicroK8s in a VM? Can you share the tarball from `microk8s.inspect`? Thanks

[2019-11-27 14:42] ktsakalozos commented on #753
@wallyworld, how would we put the pods subnet in no-proxy? Looking at https://discourse.jujucharms.com/t/configuring-models/1151 no-proxy does not take a CIDR notation so it can not fit a /16 network. What about juju-no-proxy? Could we use that one?

[2019-11-27 15:23] pisymbol commented on #817
There was A LOT of manual intervention to get this all to work right.

[2019-11-27 15:29] ktsakalozos commented on #828
You are right @supersexy. We should be more precise in our docs. Unfortunate all users that gave the +1 to the docs were already in the microk8s group so we missed this error.

@evilnick I think we should add the `sudo` and point the users to a doc discussing the microk8s group. What do you say?

[2019-11-27 15:33] ktsakalozos commented on #817
I am re-opening this since it seems there more to be discussed.

The issue was closed automatically by the merge of the referenced PR.

[2019-11-27 16:28] ktsakalozos commented on #825
This is very interesting! Do you see this as a `microk8s.enable crossplane` option coupled with a MicroK8s specific provider?

[2019-11-27 16:37] ktsakalozos commented on #719
No the issue is not resolved. The instructions are for arm64 not for armhf. We currently do not build for this architecture. You can try to create a build yourself by git cloneing the repo and running  `snapcraft` possibly in a remote build as described here https://forum.snapcraft.io/t/preview-snapcraft-remote-build/11541 Note that we have not tested this so any patches you can provide are welcom

[2019-11-27 19:55] asloan7 commented on #816
@balchua @strigona-worksight  Added my public IP to the csr.conf.template, did microk8s.stop, microk8s.start
kubectl.exe get nodes now works from my laptop, connecting to server

Still having trouble figuring out the kubectl port-forward line from this info (hopefully all relevant info is here):

microk8s.kubectl cluster-info
Kubernetes master is running at https://127.0.0.1:16443
Grafana is runni

[2019-11-27 20:05] ktsakalozos commented on #824
@moredhel thank you for reporting this. I think it is worth at least document your approach. Could you offer a self contained example on exactly what you are doing? Something that I can reproduce? Could you share the yaml manifests you are applying, eg the rules and a demo service? Thank you.

[2019-11-27 20:19] strigona-worksight commented on #816
What is it that you want to be forwarded to your PC? You don't need to forward the kubernetes internal resources to your PC unless you have some special need to.

Do basic kubectl commands work from your PC to your remote server? Does this succeed? `kubectl.exe get nodes`

[2019-11-27 20:27] moredhel commented on #824
@ktsakalozos sure thing,

I ended up cloning the microk8s repo & making the change there. The following can be run from the root directory of master:

[code]

Then, to test:

1. enable ingress
2. install & configure external-dns
[code]

sample _values.yaml_:
[code]
2. create an ingress resource (doesn't matter what) (eg. mydomain.example.com)

## Expected output
[code]

## Actual
[code]

Looking a

[2019-11-27 21:17] ktsakalozos commented on #820
Hi @ramukima, it was great meeting you at kubecon.

The feature you are suggesting makes sense. A user may want to time an upgrade with ops we cannot predict. While we try to make some time to work on this let me provide some pointers in case anyone wants to contribute.

MicroK8s is a snap. Snaps are made of hooks that are triggered during their lifecycle. The available hooks are described in [1].

[2019-11-27 21:21] ktsakalozos commented on #819
Thank you for bringing up this point @drwatsno. The task could be as easy as updating the version number in https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.istio.sh#L12

[2019-11-27 21:37] balchua commented on #816
If you are going to access grafana from your local pc using port forward here's what i usually do.
`kubectl -n monitoring-grafana port-forward 7777:5555 svc/grafana`

Where:
7777 - is the local pc port you want to use.  So it could be anything.
5555 - is the port defined in your grafana `Service` in kubernetes.

How to access it from your laptop.
`http://localhost:7777/`

[2019-11-27 21:46] asloan7 commented on #816
@strigona-worksight I put too much in the last comment, but yes kubectl get nodes, etc. works now

@balchua grafana is the only one I really want, but thought I'd be able to do it over https with this proxy at 127.0.0.1:16443 if I could get the port-forward line correct.

microk8s.kubectl cluster-info
Kubernetes master is running at https://127.0.0.1:16443
Grafana is running at https://127.0.0.1:1

[2019-11-27 21:53] strigona-worksight commented on #816
Ah, I see. I'm not entirely sure, but I believe that is a somewhat special endpoint? That being said, you can probably replace 127.0.0.1 with your public IP:
` https://<public IP>:16443/api/v1/namespaces/kube-system/services/monitoring-grafana/proxy`
and hit it that way, though I forget how to authenticate to it.

[2019-11-27 23:03] heckad opened #830 "Error in events"
Recently all containers in microk8s cluster were restarted. In events I found
[code]
What does it mean?

[2019-11-27 23:16] heckad commented on #289
1) Yes, I can connect to grafana and success login, but when I try to see metrics I got a red triangle in the corner of the graph. In network tab I found requests with 502 error code on url `http://localhost:3000/api/datasources/proxy/1/api/v1/query?query=1%20-%20avg(rate(node_cpu_seconds_total%7Bmode%3D%22idle%22%7D%5B1m%5D))&time=1574896347`.

2) Port forwarding command: `k port-forward -n kubec

[2019-11-27 23:28] balchua commented on #830
My guess is that some pods are opening sockets, files etc that are not propert closed.  Check the code behind what the livenessProbe or readinessProbe is doing.

You can always increase the linux ulimit to alleviate this.

[2019-11-27 23:30] heckad commented on #830
How to do it for the container?

Thanks for helping

[2019-11-27 23:51] wpoosanguansit opened #831 "Unable to enable dns and storage after remove and reinstall."
Please run `microk8s.inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.

Hi,

I am on Raspberry Pi 3 b+ boards.  I do have 5 instances installed and joined successfully.  But I ran into deployment issues so I decided to start everything fresh.  However, when i did that, snap remove and snap install, I could not get the cluster up an

[2019-11-27 23:56] balchua commented on #830
The number you gave is already high.  Where is this set?

Last time i did this was when im installing elasticsearch on k8s.

The yaml came with an init container.

[code]

[2019-11-28 00:47] charlesa101 commented on #817
yeah I am having the same error as well

[2019-11-28 02:51] andypeng2015 opened #832 "not able to run kubectl logs / kubectl exec"
when I run `kubectl logs / kubectl exec`, I encounter `no route to host` error to connect to api server, as shown below, I already run
[code]
but it doesnot help

[code]

[code]

[inspection-report-20191128_024023.tar.gz](https://github.com/ubuntu/microk8s/files/3899614/inspection-report-20191128_024023.tar.gz)

@ktsakalozos  Appreciate your help.

[2019-11-28 09:12] ktsakalozos commented on #832
The IP 10.0.0.9 does not seem to be the IP of your machine, at least not anymore. The connection to the kubelet on that IP is not present anymore. Perhaps this deployment is on a laptop? What can you tell me about the setup you have? Is there something special about it? When IP changes are detected the apiserver-kicker [1] restarts a few of services. It is worth trying a `microk8s.stop; microk8s.s

[2019-11-28 09:48] ktsakalozos commented on #831
I see that the API server is not healthy. Can you describe in as much detail as possible the steps you have taken after snap installing the master node? I am looking for a way to reproduce the setup you have. How do you setup the cluster? Do you have a script for this purpose?

[2019-11-28 12:23] CalvinHartwell commented on #407
Hitting this error again with kubectl v1.6.3 and microk8s v1.6.3.

[2019-11-28 12:38] ktsakalozos commented on #407
@CalvinHartwell could you share the `microk8s.inspect` tarball?

[2019-11-28 17:32] wpoosanguansit commented on #831
At first, I have the master node with 8 client nodes connected and setup correctly to the point where I could deploy my app.  I tried to have 5 in the replica set but that didn't work so I reduced that down to 3.  That seems to be stable enough so I went on to the next step which is to have ingress pointing to the app.  I created services along with the deployment and followed this article https:/

[2019-11-28 17:42] ktsakalozos commented on #831
The removal does not leave anything behind. I see you wrote above `sudo apt remove microk8s`, the right command is `sudo snap remove microk8s`. Could that be the problem?

[2019-11-28 17:45] heckad opened #833 "How to use halm 3 with microk8s claster?"
I installed halm 3 and tried to install Postgres and got `Error: Kubernetes cluster unreachable`. In debug logs, I found that helm tries to connect to cluster by 8080 port but cluster work on a different port.  Seems that helm cant find kubeconfig file and use default settings. Where I can find kubeconfig file?

[2019-11-28 17:46] wpoosanguansit commented on #831
Oh, it is actually sudo snap remove microk8s.  Without snap it wouldn’t work.

[2019-11-28 18:14] strigona-worksight commented on #833
https://microk8s.io/docs/commands#microk8s.config
Pipe the output of `microk8s.config view --raw` into a file and point kubectl at that file. Typically you'd use ~/.kube/config. See more details here on managing your kube config files: https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

[2019-11-28 18:38] heckad commented on #833
[code]

`--raw` is important?

[2019-11-28 18:42] strigona-worksight commented on #833
Looks like it is not.. I was referring to old/out of date documentation. This should work:
`microk8s.kubectl config view > $HOME/.kube/config`

[2019-11-28 18:50] wpoosanguansit commented on #831
So any suggestion what I should try or do to debug the issue?

[2019-11-28 19:15] ktsakalozos commented on #831
I do not think the removal was clean. I see for example the `--feature-gates=ScheduleDaemonSetPods=false` argument in the arguments list. Could you try a clean removal and installation cycle?

[2019-11-28 19:19] wpoosanguansit commented on #831
So I just need to do sudo snap remove microk8s?  After I do that, how do I check it was a clean removal?

[2019-11-28 19:22] knkski commented on #817
@charlesa101, @tshauck: If the deploy process timed out previously, you won't have the necessary patch to the Ingress for Ambassador. Can you see if `microk8s.kubectl get -n kubeflow ingress -oyaml` shows a `tls` section? A missing `tls` section will be responsible for the `SSL_ERROR_RX_RECORD_TOO_LONG` error.

If not, can you try one of these:

1. Making sure you're on the latest microk8s snap an

[2019-11-28 19:23] ktsakalozos commented on #831
There should not be any `microk8s.*` in your path. There should not be anything under `/var/snap/` or `/snap/`.

[2019-11-28 20:01] wpoosanguansit commented on #831
This is what I have after remove:

ubuntu@node23:~$ sudo snap remove microk8s
microk8s removed
ubuntu@node23:~$ ls /var/snap/
core  lxd
ubuntu@node23:~$ ls /var/snap/core
7920  8042  common  current
ubuntu@node23:~$ ls /snap
README  bin  core  lxd

I will try reinstalling and following Quickstart guide again.

[2019-11-28 21:52] tshauck commented on #817
@knkski thanks for the response...

The output of the the get ingess command:

[code]

It looks like it does have a `tls` section from what I can tell. Manually patching with the second command returns the same things.

If helpful my port forward command and some output...

[code]

[2019-11-28 22:43] balchua commented on #833
`raw` is not deprecated.  There was just a mistake in the command.  It should have been something like this `microk8s.kubectl config view --raw > /tmp/kubeconfig.yaml`

[2019-11-28 22:59] strigona-worksight commented on #833
@balchua Thanks - not enough sleep for me I guess. I combined 2 commands. The repo's README had the correct command the whole time... https://github.com/ubuntu/microk8s

Sorry for the confusion.

[2019-11-29 02:47] andypeng2015 commented on #832
Hi @ktsakalozos thanks for the advice, I am running microk8s in a Ubuntu VM, the IPs are listed below, everything else seems to work well other than this network issue, I tried `microk8s.stop` then `microk8s.start` but the issue is still there, could you please advise how microk8s assign the IP and how to re-configure it? yes, `kubectl` is the alias to `microk8s.kubectl`

[code]

[2019-11-29 07:02] ktsakalozos commented on #832
How does your `/etc/hosts` look like? What is/was on 10.0.0.9? Here is how we setup kubelet https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/run-with-config-args#L22 We do not do anything special. Kubelet should start on the default interface and you should be able to get the pod logs from the 10250 port (if I understand this correctly). How does this 10.0.0.9 came to be?

[2019-11-29 09:08] heckad commented on #833
The problem is solved. Thank you all for your help.

[2019-11-29 09:08] #833 closed

[2019-11-29 09:59] andypeng2015 commented on #832
Hi @ktsakalozos pls find the config below

[code]

[code]

[code]

[code]

[2019-11-29 12:17] ktsakalozos commented on #771
@lukitch59 @jmichalek132 are you running MicroK8s in a VM? As you can read in the upstream docs [1], there are limitations in exposing the dashboard to other hosts.

In the PR above we have revised the docs page to use an alternative approach that can work around the dashboard exposing limitations.

[1] https://github.com/kubernetes/dashboard/blob/master/docs/user/accessing-dashboard/1.7.x-and-abo

[2019-11-29 13:01] vbmade2000 commented on #786
@ktsakalozos Can you please point me to the architectural docs for microk8s ? I checked https://microk8s.io/docs/ but looks like it shows usage mostly. I want to understand how it sets up a single node k8s cluster.

[2019-11-29 13:05] #771 closed

[2019-11-29 14:55] ktsakalozos commented on #814
Thank you for reporting this @andrewcheny. This is an actual bug in how nodes register and is addressed in the linked PR above.

[2019-11-29 15:49] #814 closed

[2019-11-29 22:07] heckad commented on #289
In grafana logs

[code]

Any ideas?

[2019-11-29 23:31] wpoosanguansit commented on #831
After I did a clean install, reinstalling ubuntu and microk8s for master.  But I am still getting these errors:

microk8s.enable dns storage
Enabling DNS
Applying manifest
E1129 23:15:32.725515    1232 request.go:879] Unexpected error when reading response body: net/http: request canceled (Client.Timeout exceeded while reading body)
configmap/coredns created
clusterrole.rbac.authorization.k8s.io/c

[2019-11-30 15:12] vbmade2000 commented on #786
@ktsakalozos Can you point me to the architectural documents for microk8s if any ?

[2019-11-30 19:36] ktsakalozos commented on #786
@vbmade2000 there is no architectural doc. To understand how we setup a cluster, fist look at the basics of snaps [1] (MicroK8s is a snap package). Then read through the daemons and commands defined in spancraft.yaml [2]. The commands and daemons are wrappers [3] around the (k8s) binaries we package.

The single node cluster is straight forward as the daemons start with the default arguments [4] a

[2019-11-30 19:37] ktsakalozos commented on #831
Can I have the `microk8s.inspect` tarball.

[2019-11-30 19:40] wpoosanguansit commented on #831
I attached above.

https://github.com/ubuntu/microk8s/files/3906545/inspection-report-20191129_234159.tar.gz

[2019-11-30 19:56] ktsakalozos commented on #289
@heckad we updated the prometheus operator addon [1]. Can you give the edge snap a try:
[code]

[1] https://github.com/ubuntu/microk8s/pull/823

[2019-11-30 21:21] CalvinHartwell commented on #407
Hey Kos,

We figured it out. At first, I was confused because I've seen errors when the version of kubernetes is different than the version of kubectl used, due to the fact api entries change between versions. A recent example in Kubernetes 1.16/1.15 was the graduation of the Deployment object from apiVersion: extensions/v1beta1 -> apiVersion: extensions/v1 (stable).

Our test platform is as follo

[2019-12-01 07:44] yuxx0248 opened #841 "Is microk8s supporting kubectl plugins?"
Please run `microk8s.inspect` and attach the generated tarball to this issue.
[code]

Is microk8s currently supporting plugins? Or I just mess up some setups...
I installed some popular plugins and kubectl was able to find them with plugin list
[code]

But the ctl cannot find it when I try to use them
[code]

At this moment, I am not sure whether this is a microk8s issue or kubectl issue, but sinc

[2019-12-01 09:07] balchua commented on #841
@yuxx0248 can you try running `microk8s.kubectl` without sudo?

Before that you have to add your user to the `microk8s` group.  Like this `sudo usermod -a -G microk8s <username>`

[2019-12-01 10:49] yuxx0248 commented on #841
Behave the same after doing that
[code]
[code]

[2019-12-01 10:52] yuxx0248 commented on #841
[inspection-report-20191130_233811.tar.gz](https://github.com/ubuntu/microk8s/files/3908094/inspection-report-20191130_233811.tar.gz)

[2019-12-01 17:16] cpu100 commented on #555
mark
[code]

[2019-12-02 03:26] davix opened #842 "Support parameters like "--image-mirror-country" and "--image-repository""
The default k8s.gcr.io is not always available to all areas. In this case, commands like `microk8s.enable dns` will not succeed.

Setting up a HTTPS proxy and configuraing it in `/var/snap/microk8s/current/args/containerd-env` can be an option, but it's not an easy task to find such a proxy.

Another option is to specify the image-repository to use.
Minikube supports parameters as below:

[code]

[2019-12-02 03:32] davix opened #843 "Upgrade to helm 3"
Helm 3 has already been released and it will replace helm 2.

microk8s.helm is still using v2.16.0.

[2019-12-02 03:58] cscheib opened #844 "Prometheus Operator (via add-on) broken on microk8s v1.16"
There appears to be an issue with the version of the prometheus-operator that is installed via `microk8s.enable prometheus`.  This seems to be related to some deprecated APIs in k8s v1.16, specifically apps/v1beta2 for the StatefulSets that the operator generates.

Behaviors observed: after I enable prometheus on v1.16, the prometheus-k8s-0 pod is not created, and I see errors similar to the follo

[2019-12-02 04:04] cscheib commented on #844
Appears to have been resolved by the following issue and pull request in upstream prometheus-operator:
https://github.com/coreos/prometheus-operator/issues/2649
https://github.com/coreos/prometheus-operator/pull/2652

[2019-12-02 05:36] ktsakalozos commented on #844
@cscheib thank you for reporting this. We recently updated the prometheus operator in the 1.16 and latest tracks (PR https://github.com/ubuntu/microk8s/pull/834). While waiting for the update to get propagated to stable can you try the edge channel?
[code]

[2019-12-02 07:42] Gemstone123 opened #845 "microk8s dns show running status but remains in 0/1 state"
i'm trying to customize nginx-ingress controller in microk8s. when i enable dns its status is shown below:

microk8s.kubectl get all --all-namespaces

NAMESPACE     NAME                                          READY   STATUS             RESTARTS   AGE
ingress       pod/nginx-ingress-microk8s-controller-gwm9n   0/1     CrashLoopBackOff   7          12m
kube-system   pod/coredns-9b8997588-k77dd

[2019-12-02 08:02] Gemstone123 commented on #806
@ktsakalozos
kindly visit this:
https://github.com/ubuntu/microk8s/issues/845

[2019-12-02 09:00] maheshreddy32825 commented on #483
@ktsakalozos Can you help with this issue. I am totally new to K8s

root@kmaster:~# kubectl describe pod kubernetes-dashboard-7c54d59f66-s7ckx -n kube-system
Name:           kubernetes-dashboard-7c54d59f66-s7ckx
Namespace:      kube-system
Priority:       0
Node:           <none>
Labels:         k8s-app=kubernetes-dashboard
                pod-template-hash=7c54d59f66
Annotations:    <none>
Status

[2019-12-02 11:50] Maidomax commented on #249
This works for me, but I have to do it after every reboot

[2019-12-02 14:21] antoineco commented on #784
Same issue on a fresh microk8s installation with _any_ `exec` probe.

[code]
[code]
[code]
[code]

🗄 [inspection-report-20191202_151718.tar.gz](https://github.com/ubuntu/microk8s/files/3911657/inspection-report-20191202_151718.tar.gz)

[2019-12-02 20:51] displague commented on #825
`microk8s.enable crossplane` would install crossplane and would allow you to start provisioning managed cloud clusters and other managed cloud services from your MicroK8s cluster.

Stack-Rook is an example of a non-Cloud service that Crossplane can provision.

I think a MicroK8s provider (`stack-microk8s`) would be interesting, but I don't know how Crossplane would go about provisioning more Micro

[2019-12-02 22:38] cscheib commented on #844
@ktsakalozos that does appear to work, thank you.

Sorry for the noob question, but is there a way to tell which version of the add-on manifests actually get applied in any given scenario?  I don't know how 1.16/edge vs 1.16/stable relate to the commit history in this microk8s repo.  Knowledge of that may have helped me figure this out on my own.  The tag/branch structure doesn't seem to directly

[2019-12-03 04:31] yuxx0248 commented on #841
quick question, is this working for any of you? Just want to sure if it's something I didn't do right or it's a feature request

[2019-12-03 05:18] balchua commented on #841
@yuxx0248 i haven't tried it myself.
And what i usually do is that i get the kubeconfig from microk8s and use an external `kubectl`.

To get kubeconfig, you can do `microk8s.kubectl config view --raw > $HOME/.kube/config` from there you can start using your own `kubectl`.

[2019-12-03 09:52] ktsakalozos commented on #845
Firewall is often the reason for such errors. You go over the common issues in https://microk8s.io/docs/troubleshooting#common-issues. Also can you share the output and tarball produced by `microk8s.inspect`. Thank you.

[2019-12-03 17:52] andrewcheny opened #846 "Enable kubeflow stuck at waiting service pod to be ready"
Vanilla installation of microk8s with 4 nodes joint as a cluster. Then enable kubeflow. All goes well but stuck at 'waiting for service pod to be ready'. get po shows 5 pods pulling failures

[inspection-report-20191203_124356.tar.gz](https://github.com/ubuntu/microk8s/files/3917921/inspection-report-20191203_124356.tar.gz)

[2019-12-03 19:10] jmichalek132 commented on #771
Yes. thanks for the update.

[2019-12-03 23:41] balchua commented on #841
@yuxx0248 it could be apparmor is denying the execution of binaries outside the snap confines.

[2019-12-03 23:58] lazzarello opened #847 "Disabled --insecure-port in kube-apiserver breaks service and ingress resources"
I can't include the microk8s.inspect output due to some of my nation's regulations. Apologies in advance. My goal is to reconfigure microk8s for only TLS access using port 8080.

I would like to disable the insecure-port in the kube-apiserver. I couldn't find a way to do this, but setting `--insecure-port=0` seems to disable something. I have updated the config to  `--secure-port=8080`. With this

[2019-12-04 03:14] Hubro commented on #344
I'm guessing this answer might be outdated? I just installed the newest version of microk8s today, and I can't find the command `microk8s.docker` and I can't find the file `/var/snap/microks8/current/args/dockerd-env`. Also, your link is broken (there is no deploy-behind-a-proxy header).

I need a HTTP proxy to reach the internet, so all my pods are stuck in `ContainerCreating`.

[2019-12-04 03:25] Hubro commented on #344
Ah I see, microk8s uses `containerd` on my system. The right file to edit is `/var/snap/microk8s/current/args/containerd-env`.

[2019-12-04 09:13] ktsakalozos commented on #483
@maheshreddy32825 please attach the tarball produced by `microk8s.inspect`. Thanks.

[2019-12-04 13:13] balchua commented on #847
Curious to know, u are using 1.13?

[2019-12-04 21:04] soapergem commented on #421
I see that there's been some movement on this, allowing updates to the `csr.conf.template` file. However I'm running into some issues now when I try to apply changes. I'm trying to add extra lines to that file for `DNS.6` (containing an A record I set up) and also `IP.3` (being the public IP that  forwards to my microk8s machine). However, when I try to edit the file at `/snap/microk8s/current/cer

[2019-12-04 21:40] strigona-worksight commented on #421
@soapergem You are correct that `/snap/microk8s/current/certs/csr.conf.template` is read only. Instead you should be modifying the file in `/var/`, full path is: `/var/snap/microk8s/current/certs/csr.conf.template`. Hope that helps.

[2019-12-04 22:37] soapergem commented on #421
Great, that worked perfectly. I'm going to close this issue because what I was hoping for has been accomplished.

[2019-12-04 22:37] #421 closed

[2019-12-04 22:41] soapergem commented on #461
I believe @haphan was correct and that it was indeed firewall settings. Applying the suggested `ufw` changes seems to have fixed the problem. I also had to run `sudo iptables -P FORWARD ACCEPT` on the host machine. I'll close this issue now as I've got it working.

[2019-12-04 22:41] #461 closed

[2019-12-04 23:04] lazzarello commented on #847
1.15.6

[2019-12-04 23:37] balchua commented on #847
The 1.15.6 secure port is bound to `16443` and you want it to be in `8080`?

[2019-12-05 01:47] lukitch59 commented on #771
Hello,

I'm running MicoK8s on a server not a VM... I've tried 3 linux distribution Centos , Debian & Unbuntu... both 3 the same result.

In order to grab the token I ve used this command :

token=$(microk8s.kubectl -n kube-system get secret | grep default-token | cut -d " " -f1)
microk8s.kubectl -n kube-system describe secret $token

And the result is : ca.crt: 1103 bytes
namespace: 11 bytes
toke

[2019-12-05 18:38] sjmudd commented on #596
Hi,

I bumped into this thread while trying to install microstack on a box with microk8s installed.
In my case this is on Ubuntu 19.10.

The problem is similar but not the same but not sure if the info below may help so posting in case it does.

I am playing with microk8s.  microk8s has been working fine and I just tried installing microstack following the link [here](https://ubuntu.com/openstack/

[2019-12-05 23:39] lazzarello commented on #847
correct. I also want to disable the insecure port.

[2019-12-06 00:13] balchua commented on #847
@lazzarello i am guessing you have changed all the configuration related to `controller-manager`, `scheduler`, `proxy` and `kubelet` to point to the new port 8080?
They mostly reside in `/var/snap/microk8s/current/credentials/`

Strangely enough `--insecure-port` is not listed in the kube-apiserver reference doc.

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

W

[2019-12-06 01:57] praveen049 commented on #753
@ktsakalozos  @wallyworld @knkski

Hi, Any suggestions on how to address this proxy issue ?

Thanks