[2020-06-29 20:06] sean-abbott commented on #1364
Ah, fair enough, I thought it was a sugary "name", not "resolvable name".

[2020-06-29 20:06] #1364 closed

[2020-06-29 22:23] vinhdiesal commented on #1328
`microk8s.kubectl logs --tail 100 -n kubeflow -1 juju-app-jupyter-controller`:
[code]

`microk8s.kubectl logs --tail 100 -n kubeflow -l juju-app=jupyter-web`:

[code]

[2020-06-29 22:24] vinhdiesal commented on #1328
The above was a result of not attaching any volumes.

[2020-06-30 01:55] jcayzac opened #1368 "Fails on macOS Catalina"
None of the commands provided for setting micro8s up or for reporting issues work on Catalina:

[code]

[2020-06-30 05:53] thejray opened #1369 "kubectl logs and exec fail"
On a clean VM running ubuntu 18.04, after installing microk8s 1.17 (incidentally, 1.18 showed the same behavior), I'm unable to `kubectl logs <pod name>` or `kubectl exec <pod name>`.  Other commands, like `kubectl get all` work just fine.  The issue arises with an application I am developing, but can be reproduced just by trying to get the logs from the registry container, which is what's shown h

[2020-06-30 05:59] thejray commented on #1369
Other things I have tried:

- installing kubectl with snap, then writing out the microk8s config with `microk8s.kubectl config view --raw > $HOME/.kube/config` and using the vanilla kubectl
    - The result is the same as above, except in the verbose output, it lists the .kube/config file.  Which is (as you might expect), identical to the one in `/var/snap/microk8s/1489/credentials/client.config`

[2020-06-30 06:25] thejray commented on #1369
The other weird thing is that this is only a problem on new copies of the VM.  I have another VM (same configuration, probably 6-8 months old) that is my normal dev environment, and everything works fine there.  I did a v=9 log request on the container registry there with the same commands and it returned the log.  Visually, everything looks the same up to the point where one returns 401 Unauthori

[2020-06-30 08:10] jobh commented on #489
I see the same on v1.18.4. The cluster has been running under heavy-ish load for about 4 months, but today it suddenly stopped accepting logs requests:
[code]

I have tried microk8s.stop/microk8s.start without success. Most other commands and communication between pods seem to work.

[2020-06-30 08:21] jobh commented on #489
The problem might (seems to, but possibly a coincidence) have started with an automatic snapd update:
[code]
Then a lot of noise in the logs for several minutes (all microk8s services, sandboxes, pods restarted). Many of which are errors, but I don't know if they mean anything or are just transient. After everything had stabilized, this error keeps getting reported in the logs:
[code]
I can provid

[2020-06-30 08:36] jobh commented on #489
Actually I recognize that 503 message. It's from the system's $http_proxy server, which shouldn't be used here of course.

That log message is not logged in the previous 4 weeks, so whatever causes it was triggered by the snapd upgrade.

[2020-06-30 09:08] tomalbrecht commented on #1366
Testing juju setup:

[code]

Did not work. `http://192.168.178.53.xip.io` not reachable locally nor remotely.

Rolled back:
[code]

[2020-06-30 09:29] jobh commented on #489
(Side note: I wasn't aware of the auto refresh policy of snap, and I don't like it. Although I wouldn't call it real production, the services I run under microk8s have users and is meant to be stable and up at all times - unless I decide an upgrade is warranted, and notify the users. I will try to enable the "app awareness" mode of snap to see if it helps to stop the automatic refreshes. https://f

[2020-06-30 11:01] jjlakis commented on #508
I had the same problem. Unfortunately, when starting containerd without CRI plugin, I was unable to see any running container. My solution was:
[code]
Then, apiserver took care on scheduling all the containers again.

[2020-06-30 11:39] balchua commented on #1369
Taking a wild guess here. What about enabling rbac?

[2020-06-30 11:46] balchua commented on #1337
@ktsakalozos the closest i got to a distributed volume is using rook/ceph.  But to set it up is not easy on a laptop.
Do you think an nfs provisioner can help and pinned to the control plane?

[2020-06-30 12:15] thejray commented on #1369
Thanks for checking in.  It has the same error:
[code]

[2020-06-30 13:03] balchua commented on #1369
Can you try adding this `--authentication-token-webhook=true` to the file `/var/snap/microk8s/current/args/kubelet`?
After that you can stop start microk8s. `microk8s stop` then `microk8s start`.

[2020-06-30 13:46] joedborg commented on #1368
Hey @jcayzac, sorry you're experiencing this issue.  It's likely one of these https://multipass.run/docs/troubleshooting-networking-on-macos

Can you try to do:
[code]
to see if you still get the ping error?

Thanks,
Joe

[2020-06-30 13:48] thejray commented on #1369
It has the same error.  Here is the contents of the kublet command:

[code]

[2020-06-30 16:20] vinhdiesal opened #1370 "NVIDIA GPU"
I'm trying to create a `dask-cuda-worker` and asked different communities which concluded I should ask the microk8s community regarding enabling the GPU.

I have tried two methods of enabling GPUS, but the helm charts are having issues detecting the GPUs.

First method:

After I join all the nodes, On the master, I perform a `microk8s enable gpus`.

Alternative Methods:
I performed the instruction

[2020-06-30 16:23] vinhdiesal commented on #1368
Microk8s multipass works on Catalina. However, instead of `microk8s.enable` it needs to be `microk8s enable`.
A few features that doesn't work are enabling Kubeflow and there seems to be issues installing helm charts.

[2020-06-30 18:38] thejray commented on #1369
FWIW, I repeated these steps in a VM created from a freshly downloaded ISO of ubuntu 18.04 and the log query worked:
[code]
The (non-working) VM is based on ubuntu server 18.04 with Xubuntu installed after because it results in a leaner VM environment.  Although, as I said, the log command works in my Dev VM, which is the same base VM image, just been in use for a while, and is only running 1.17.6

[2020-06-30 22:13] balchua commented on #1369
@thejray thanks for providing more info.
Using the non working xubuntu, did you try to do`sudo snap remove microk8s --purge`?

[2020-06-30 23:50] thejray commented on #1369
Purge and reinstall 1.17 has the same outcome.
inspect tarball from the log below
[inspection-report-20200630_234356.tar.gz](https://github.com/ubuntu/microk8s/files/4854874/inspection-report-20200630_234356.tar.gz)

[code]

[2020-06-30 23:57] thejray commented on #1369
Try the same as above 1.17/edge (installs 1.17.8), still no joy:

[inspection-report-20200630_235402.tar.gz](https://github.com/ubuntu/microk8s/files/4854908/inspection-report-20200630_235402.tar.gz)

[code]

[2020-07-01 00:19] thejray commented on #1369
Finally, tried 18.3, still with no difference:

[inspection-report-20200701_001718.tar.gz](https://github.com/ubuntu/microk8s/files/4854956/inspection-report-20200701_001718.tar.gz)

[code]

[2020-07-01 00:21] thejray commented on #1369
I'm unblocked by using a different VM, but I'm willing to keep help troubleshooting if it is valuable.  My worst fear is that I say, "oh, the problem is gone now, so I can ignore it."  And it will come back in some more persistent way, right when some critical release is due or something like that.

[2020-07-01 09:39] devbharat commented on #1003
The bind mount worked. Had to restart the snap.

[2020-07-01 09:47] devbharat opened #1372 "Can't push to local registry"
I cant use docker to push anything to the local registry from microk8s.

[code]

Please run `microk8s inspect` and attach the generated tarball to this issue.
[inspection-report-20200701_114539.tar.gz](https://github.com/ubuntu/microk8s/files/4857496/inspection-report-20200701_114539.tar.gz)

We appreciate your feedback. Thank you for using microk8s.

[2020-07-01 09:52] andsens commented on #1107
Could the ARP problem have something to do with the fact that metallb uses DNAT?
http://linux-ip.net/html/nat-dnat.html

[2020-07-01 10:02] candlerb commented on #1107
I don't think so.  As mentioned above, HyperKit networking is broken in macOS 10.14 anyway.  Two HyperKit VMs on the same network can't ARP for each other's IP aliases.  This problem reproduces without even bringing metallb into the equation.

I think this issue can be closed, as it's nothing that microk8s or metallb can fix.

[2020-07-01 10:05] candlerb commented on #1107
Or before closing you might want to update the note which was added in https://github.com/canonical-web-and-design/microk8s.io/pull/205/files to say that this only applies to some versions of macOS.

[2020-07-01 11:38] jcayzac commented on #1368
@joedborg the uninstall command thanked me for using microk8s and the subsequent install command failed again with the same error.

[2020-07-01 13:26] balchua commented on #1369
@thejray do you have some instructions so we can reproduce this? I couldn't find anything suspicious as to why it fails with logs and exec.

[2020-07-01 13:35] balchua commented on #1372
The containerd mirror configuration is shown like this `local.insecure-registry.io`.  to push to it you need to use that name.  It should also be resolvable.
If you try changing the mirror to `localhost:32000` then restart microk8s to see if it works.

[2020-07-01 13:51] devbharat commented on #1372
You mean in the /var/snap/microk8s/current/args/containerd-template.toml ?

[2020-07-01 13:58] devbharat commented on #1372
I am also trying to setup auth with gcr.io, which is working with docker, but the containerd config required for for microk8s is failing. I followed https://github.com/containerd/cri/blob/master/docs/registry.md and here is what the /var/snap/microk8s/current/args/containerd-template.toml looks like

[code]

[2020-07-01 14:05] joedborg commented on #1368
Hey @vinhdiesal, can you let me know where you're seeing `microk8s.enable` so I can fix it, please?

@jcayzac Thanks for trying.  The quick option would be to use Virtualbox.  If you already have it installed, you can run `sudo multipass set local.driver=virtualbox`.  Otherwise, did you manage to go over the debugging steps in the docs I linked above?

[2020-07-01 14:27] joedborg commented on #1370
Hi @vinhdiesal,

I've installed MicroK8s 1.18/stable on a GPU host.  `microk8s enable gpu` gives me the device plugin, as expected:

[code]

What issue are you seeing from there?

[2020-07-01 14:42] vinhdiesal commented on #1370
Hi @joedborg ,

I don't have issues enabling GPU on the nodes, but when I install the helm chart, it doesn't recognize any nvidia nodes so the pods doesn't start.
I've asked the dask team, but they referred me to ask here because they think it's an issue with microk8s.
Here is the Helm chart, [RAPIDS AI HELM CHART](https://github.com/rapidsai/helm-chart), can you install it can see if you can get

[2020-07-01 14:54] vinhdiesal commented on #1368
Hi @joedborg

On the MAC OSx version of the microk8s, it doesn't take any commands with a period, for example `microk8s.enable` and `microk8s.kubectl` will result in an error no matter what comes after it, instead you have to specify `microk8s enable` and `microk8s kubectl`. I was able to enable dns, dashboard, ingress, istio, fluentd, storage, metallb, etc.
What I had a hard time with is the `mic

[2020-07-01 14:55] vinhdiesal commented on #1328
any solution to the problem?

[2020-07-01 14:55] mavenir-labs commented on #382
Hi
I have been struggling with containerd to set my private secure registry but without success. followed enormous amount of howto's . only way I got it to work is by providing user/pass in command line which is not acceptable by our Dev.
my private reg is  Jfrog .
in addition to microk8s we have also  several k8s clusters running k8s 1.17 with containerd engine v 1.3.4 (same as microk8s) .  I don

[2020-07-01 15:30] thejray commented on #1369
It seems like there is not much more I can do on my end to troubleshoot.  I do have a VM I could provide you with where these problems occur.  The compressed files for the VM about 6.2 GB.  Is there a way you'd like to receive that file?  I'd rather not post a public link, but it also seems like there are no private messaging features on github.

[2020-07-01 16:09] joedborg commented on #1370
Hi @vinhdiesal,

I've quickly tried using the AI helm chart, with both MicroK8s enable GPU and Nvidia helm chart; neither bring the RAPIDS AI pods up.  If I have time later today,  I'll try on a baremetal K8s cluster, but this seems to be an issue with their chart.

Thanks,
Joe

[2020-07-01 16:24] sstubbs commented on #1222
I'm a bit hesitant to use this addon until this issue is resolved. I've installed istio 1.6.4 with `istioctl install --set profile=default` for the time being.

It works however I'm getting this error from the HPA. I don't currently need HPA but just thought I would post the issue if anyone else has run into it before.

[code]

I get the same issue with the metrics-server addon enabled and disable

[2020-07-01 17:09] knkski commented on #1328
@vinhdiesal: Can you post the output from these commands?

    microk8s.kubectl describe -n admin pods/jupyter-0
    microk8s.kubectl describe -n admin statefulset/jupyter

Also, what filesystem (e.g. zfs, ext4) are you using on the system where microk8s is installed?

[2020-07-01 18:00] devbharat commented on #1372
It worked with imagepullsecret generated from docker config json. I guess thats a fine workaround for me. I'll close this.

[2020-07-01 18:00] #1372 closed

[2020-07-01 22:11] tringuyen-yw commented on #1222
@sstubbs This issue had been superceded by #1233 Can you report your observation in that issue instead?

[2020-07-02 01:05] lqdev commented on #1280
@knkski By latest version do you mean the latest stable v 1.18.4? I've run into the same issue using that version. Running an Ubuntu 18.04, 64GB RAM and 80 GB storage VM.

[2020-07-02 08:38] sadoMasupilami commented on #276
Hello,
this problem is still relevant now with flannel.
we do a lot of work from home and many of our internal services run in 10.1.0.0/16

is there any way to change the adresses with flannel?
ui tried to change /var/snap/microk8s/current/args/flannel-network-mgr-config and after a reset and reboot the new range is used. But sometimes it just stops working as flannel daemon can not start with:

J

[2020-07-02 09:00] tomalbrecht commented on #1366
Testing solution from [Nvidia](https://developer.download.nvidia.com/video/gputechconf/gtc/2019/presentation/s9515-up-and-running-with-kubeflow-anywhere.pdf) on microk8s setup:

[code]

[2020-07-02 10:37] Utkagr commented on #1140
Any updates on this?

I'm also getting this output on curl.

curl -vv http://10.64.140.43.xip.io

[code]

[2020-07-02 10:39] vinhdiesal commented on #1370
Hi @joedborg, thanks for looking into this and please let me know what you find out. I really hope the helm chart works with microk8s.

[2020-07-02 12:34] tomalbrecht commented on #1366
Installation as described [at bundle-kubeflow](https://github.com/juju-solutions/bundle-kubeflow), results in the same error 404. Manually deploying kubeflow (as described at kubeflow.org) and patching the LoadBalancer manually, does work, though.

Anyone any idea how to connect remotely when using microk8s.enable?

[2020-07-02 13:48] apnar opened #1378 "Installs on ZFS don't use ZFS snapshotter"
Currently if microk8s is installed on a ZFS filesystem it will use the "native" containerd snapshotter instead of the "zfs" snapshotter.  That allows it to function but is not ideal or efficient.  With ZFS gaining support in Ubuntu, including the ability to install root on ZFS in 20.04 it'd be better to detect and handle this properly.

A few thoughts/ideas:
- leave the current behavior but create

[2020-07-02 13:49] sstubbs commented on #1337
I've been using rook/ceph. The main issue I have with it is that it takes complete control over the block devices. So If I reinstall microk8s it's a pain to set up the osds again.

I'm using this rancher local-path-provisioner for local volumes and then minio using one of these local volumes as it can be run in standalone or clustered mode .

If anyone has a better idea for clustered storage that

[2020-07-02 14:18] tksh164 opened #1379 ""microk8s install" fails on Windows 10 version 2004"
"microk8s install" fails on Windows 10 with the following message:

[code]

But, can install microk8s within microk8s-vm manually.

[code]

I did `microk8s inspect`, but I couldn't found the tarball.

[code]

[2020-07-02 14:23] joedborg commented on #1379
Hi @tksh164,

Could you please try the steps listed here https://multipass.run/docs/troubleshooting-networking-on-windows and let me know if you can run `micrko8s install` afterwards, please?

Thanks,
Joe

[2020-07-02 14:36] mikebell opened #1380 "Error: stat /var/snap/microk8s/common/default-storage/***: no such file or directory"
Hey folks

Setup:

1 master, 3 agents running on PVE.

I'm trying to install the Unifi controller using the following:

`helm install -n unifi unifi stable/unifi`

The pod fails to come up with the following error `CreateContainerConfigError`

[code]

[code]

[code]

All 4 servers have ~20gb of space left on them. The file exists on Agent 1 see:

![image](https://user-images.githubusercontent.com/

[2020-07-02 14:59] tksh164 commented on #1379
Thank you @joedborg,

I did purge existing microk8s-vm, after that remove HNS network and reboot. But, the result was the same. Also, `C:\WINDOWS\System32\drivers\etc\hosts.ics` on my machine had only one `microk8s-vm` entry.

[code]

[code]

(reboot)

[code]

`C:\WINDOWS\System32\drivers\etc\hosts.ics`:

[code]

Thanks,
Takeshi

[2020-07-02 15:15] strigona-worksight commented on #276
Microk8s 1.16+

Modify:

 /var/snap/microk8s/current/args/flannel-network-mgr-config

Change: "10.1.0.0/16" to: "10.8.0.0/16" (or any other range)

Then restart microk8s:

microk8s.stop

microk8s.start

[2020-07-02 17:40] vinhdiesal commented on #1328
`microk8s.kubectl describe -n admin pods/jupyter-0` results in the following:
[code]
`microk8s.kubectl describe -n admin statefulset/jupyter` results in the following:
[code]

[2020-07-02 19:24] knkski commented on #1328
@vinhdiesal: I was basing those pod and statefulset names off of the inspection report you provided earlier. Can you rerun those commands with whatever the pod and statefulset names are for the jupyter notebook server you have deployed? E.g. if you named the notebook server `foo`, it would be `pods/foo-0` and `statefulset/foo`

[2020-07-02 19:29] joedborg commented on #1370
Yep @vinhdiesal, this chart doesn't work on bare metal K8s either, so you'll have to go back to the chart author I'm afraid.

[code]

[2020-07-02 19:29] #1370 closed

[2020-07-02 19:52] knkski commented on #1280
@lqdev: Can you attach the tarball generated from `microk8s.inspect`?

[2020-07-02 21:25] MichaelGooden commented on #1002
This ended up working for me without having to modify the snap itself:
`LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/lib64" microk8s.enable storage`

I was experiencing the same PAM module error.
CentOS Linux release 8.2.2004 (Core)
[code]
[code]

[2020-07-03 00:04] balchua commented on #1380
@mikebell yes your analysis is correct.  The default storage in microk8s is a hostpath parocisioner.  Microk8s currently do not have a storage that supports multi nodes.
I tried sometime ago using rook.  But i find it difficult to setup as it needs the host to have free block devices that it can use. Your mileage may vary.

[2020-07-03 00:12] balchua commented on #1334
Since the pr is merged, closing this one.

[2020-07-03 00:12] #1334 closed

[2020-07-03 02:02] vinhdiesal commented on #1328
`microk8s.kubectl describe -n admin pod/kubeflow-0` results in the following:
[code]
`microk8s.kubectl describe -n admin statefulset/kubeflow-0` results in the following:
[code]

[2020-07-03 12:40] ktsakalozos commented on #1378
This is interesting and look like a good fit for an enable addon as it requires user interaction. Some thoughts/questions:
- how would the interface look like?
- we should expect the admin to have pools already created and just detect and point to the. We may offer some instructions on how to create pools.
- note there is no way to interact with the user when `snap install microk8s`
- we have to i

[2020-07-06 10:14] vinhdiesal commented on #1370
can you run kubectl describe pod on the following?
The RAPIDS AI team are asking for the data.

mynamespace                       pod/rapidsai-scheduler-7675655dc6-9qxtq                       0/1     ErrImagePull   0          60s
mynamespace                       pod/rapidsai-worker-77c9d9d8cb-6jmlt                          0/1     Evicted        0          60s

[2020-07-06 10:39] dick-twocows commented on #1314
It seems to be a valid port especially as scraping metrics is a common way to monitor the cluster, but that's just my opinion...

[2020-07-06 14:04] bench opened #1385 "etcd can not start on fresh installation on archlinux"
On my archlinux installation, etcd snap service cannot start because of

[code]

Please run `microk8s inspect` and attach the generated tarball to this issue.

❯ microk8s inspect

Inspecting Certificates
Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running
  Service snap.microk8s.daemon-flanneld is running
  Service snap.microk8s.daemon-containerd is running
  Service snap.m

[2020-07-06 14:07] bench commented on #1385
[inspection-report-20200706_151709.tar.gz](https://github.com/ubuntu/microk8s/files/4879415/inspection-report-20200706_151709.tar.gz)

here is the tarball

[2020-07-06 14:24] lqdev commented on #1280
@knkski See attached.

[inspection-report-20200706_141912.tar.gz](https://github.com/ubuntu/microk8s/files/4879504/inspection-report-20200706_141912.tar.gz)

[2020-07-06 15:00] bench commented on #1385
seems that 1.0.0.1 is cloudfare secondary DNS resolver. Is there something specific to configure so that snap services can access the this resolver ?

[2020-07-06 16:35] knkski commented on #1280
@lqdev: What exactly is the issue that you're running into? I see from the inspection report you attached that cert-manager isn't included, as expected. Is there another service that's running into issues?

[2020-07-06 19:00] knkski commented on #1366
@tomalbrecht: The easiest way is to use SSH port forwarding, as detailed in this comment:

https://github.com/ubuntu/microk8s/issues/1243#issuecomment-635429958

Specifically, you'll want to run `ssh -D9999 tal@lenovo-lan`, and then configure Firefox to use a SOCKS5 proxy at port 9999, as show here:

https://github.com/ubuntu/microk8s/issues/1243#issuecomment-647137827

Then, you can go to http://

[2020-07-07 08:48] tomalbrecht commented on #1366
@knkski: Thank a lot you for your help. I did miss the point, that I have to setup a DNS resolver. I set it to my router and configured cordns correctly. Now I am able to open the kubeflow dashboard on my remote computer.

[2020-07-07 08:48] #1366 closed

[2020-07-07 10:23] OheyThere opened #1387 "Pods stuck in ContainerCreating after enabling Dashboard"
Hi guys,

I just installed microk8s to test it for our use-case.
However, I am not able to get the dashboard running. I invested about 2-3 hours into this but with no result. Everytime I enable the dashboard the Pods will get stuck at ContainerCreating (same goes for other services I enable):

[code]

I think I definitely identified our company proxy as the problem, as I found problems with pullin

[2020-07-07 10:54] evilnick opened #1388 "add-node message is a bit vague"
The message emitted after running 'add-node' says:

"Join node with:
microk8s join ip-172-31-20-243:25000/DDOkUupkmaBezNnMheTBqFYHLWINGDbf"

or similar. For some people following along, this is interpreted  to mean execute that command immediately (i.e. not from a joining node). Suggest a wording change to make it clearer

[2020-07-07 10:57] #540 closed

[2020-07-07 10:57] #534 closed

[2020-07-07 10:57] #496 closed

[2020-07-07 10:57] #506 closed

[2020-07-07 10:57] #481 closed

[2020-07-07 10:57] #487 closed

[2020-07-07 10:57] #259 closed

[2020-07-07 10:57] #451 closed

[2020-07-07 10:57] #463 closed

[2020-07-07 10:57] #62 closed

[2020-07-07 10:57] #73 closed

[2020-07-07 10:57] #64 closed

[2020-07-07 10:57] #81 closed

[2020-07-07 10:57] #87 closed

[2020-07-07 10:57] #92 closed

[2020-07-07 10:57] #108 closed

[2020-07-07 10:57] #106 closed

[2020-07-07 10:57] #119 closed

[2020-07-07 10:57] #134 closed

[2020-07-07 10:57] #159 closed

[2020-07-07 10:57] #174 closed

[2020-07-07 10:57] #157 closed

[2020-07-07 10:57] #163 closed

[2020-07-07 10:57] #189 closed

[2020-07-07 10:57] #205 closed

[2020-07-07 10:57] #197 closed

[2020-07-07 10:57] #223 closed

[2020-07-07 10:57] #215 closed

[2020-07-07 10:57] #228 closed

[2020-07-07 10:57] #166 closed

[2020-07-07 12:14] ktsakalozos commented on #1387
Hi @OheyThere

I see your flanneld did not came up. It reports:
[code]

etcd does not look healthy either:
[code]

Is it possible you proxy all traffic including the one going towards local services?

[2020-07-07 12:24] #244 closed

[2020-07-07 12:25] #251 closed

[2020-07-07 12:25] #142 closed

[2020-07-07 12:25] #265 closed

[2020-07-07 12:25] #268 closed

[2020-07-07 12:25] #152 closed

[2020-07-07 12:25] #245 closed

[2020-07-07 12:25] #277 closed

[2020-07-07 12:25] #285 closed

[2020-07-07 12:25] #291 closed

[2020-07-07 12:25] #280 closed

[2020-07-07 12:25] #180 closed

[2020-07-07 12:25] #297 closed

[2020-07-07 12:25] #252 closed

[2020-07-07 12:25] #305 closed

[2020-07-07 12:25] #309 closed

[2020-07-07 12:25] #294 closed

[2020-07-07 12:25] #284 closed

[2020-07-07 12:25] #158 closed

[2020-07-07 12:25] #330 closed

[2020-07-07 12:25] #334 closed

[2020-07-07 12:25] #173 closed

[2020-07-07 12:25] #256 closed

[2020-07-07 12:25] #341 closed

[2020-07-07 12:25] #354 closed

[2020-07-07 12:25] #353 closed

[2020-07-07 12:25] #363 closed

[2020-07-07 12:36] OheyThere commented on #1387
Well,
I won't say it's not possible. Should I specify NO_PROXY inside /var/snap/.../containerd-env ?
My /etc/environment file is correctly configured and has a no_proxy field...

[2020-07-07 13:35] krichter722 commented on #540
Not stale

[2020-07-07 13:37] adharshmk96 commented on #452
@ktsakalozos , I couldn't understand. I'm very new to this stuff.. if you don't mind I'd like some guidance

[2020-07-07 14:06] #191 closed

[2020-07-07 14:06] #364 closed

[2020-07-07 14:06] #274 closed

[2020-07-07 14:06] #369 closed

[2020-07-07 14:06] #371 closed

[2020-07-07 14:06] #379 closed

[2020-07-07 14:06] #386 closed

[2020-07-07 14:07] #348 closed

[2020-07-07 14:07] #257 closed

[2020-07-07 14:07] #406 closed

[2020-07-07 14:07] #385 closed

[2020-07-07 14:07] #359 closed

[2020-07-07 14:07] #432 closed

[2020-07-07 14:07] #436 closed

[2020-07-07 14:07] #445 closed

[2020-07-07 14:07] #164 closed

[2020-07-07 14:07] #286 closed

[2020-07-07 16:39] babvin opened #1390 "Cert-Manager (v0.15.1) Certificate generate error"
kubectl apply -f cert.yaml
namespace/cert-manager-test unchanged
Error from server (InternalError): error when creating "cert.yaml": Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post "https://cert-manager-webhook.cert-manager.svc:443/mutate?timeout=30s": x509: certificate is valid for k8s-pi-master, not cert-manager-webhook.cert-manager.svc
Error from server (Internal

[2020-07-07 20:53] lehmamic commented on #803
@sam-github do you already have a solution for this problem? Also the Kubernetes logs like pod name, namespace etc seems to be logged as json instead of beeing parsed.

[2020-07-07 22:29] balchua commented on #1390
Its strange i dont see the cert managers pod running.

[2020-07-07 23:32] sam-github commented on #803
No solution, its still broken, I believe that it is caused by an incomplete implementation of the contained/cri log format, the fluented config lost JSON support at that time. See some of the linked issues above. Not something I work with directly ATM, though, so I won't be looking into  it anymore.

[2020-07-08 00:50] lqdev commented on #1280
The issue is, my add-on says it's enabled. However, the pods and services don't all come up.

[2020-07-08 06:39] ktsakalozos commented on #1280
@lqdev could you attach a `microk8s.inspect` tarball when the pods are failing?

[2020-07-08 08:15] Just4test opened #1391 "Kube config file token lost after "microk8s refresh-certs -i" in version 1503"
After I run `microk8s refresh-certs -i`, my microk8s can't work. I found it lost token in kubeconfig, and can't fix by `microk8s reset`.

[code]
[code]
[code]
[code]
So I create a kube config file manually. I delete "username: admin" and "password:", then add admin token:
[code]

With this kube config file, I can connect to the microk8s cluster and find it work normally.

[inspection-report-202007

[2020-07-08 10:40] ktsakalozos commented on #1391
Thank you for reporting this @Just4test. This is a bug in our code. We recently changed the default authtype to be token only so the admin token should be fetched from the `known_tokens` file.

We are working on a fix.

[2020-07-08 11:53] ktsakalozos commented on #452
Sure, kubelet periodically tries to free up the space occupied by images that are not in use (garbage collection). You can configure kubelet to be more or less aggressive via the configuration arguments shown in [1, 2].

You can edit the file `/var/snap/microk8s/current/args/kubelet` to configure the garbage collection based on your needs. After editing the kubelet args file you will need to resta

[2020-07-08 12:09] ktsakalozos commented on #1387
Yes, please try that.

On the etcd logs the message `failed to connect to {0.0.0.0:12379 ... X-Squid-Error: ERR_CONNECT_FAIL` probably means that your local traffic goes through the squid proxy (but I am not a network expert).

[2020-07-08 12:34] #548 closed

[2020-07-08 15:46] babvin commented on #1390
ubuntu@k8s-pi-master:~$ kubectl get pods -A
NAMESPACE            NAME                                        READY   STATUS             RESTARTS   AGE
container-registry   registry-5d5b754549-m8zl6                   1/1     Running            2          33h
default              echo1-bfb568c8b-7fchh                       0/1     CrashLoopBackOff   287        24h
default              echo1-bfb568c8

[2020-07-08 15:48] babvin commented on #1390
Please find the latest inspect report tarball @balchua - Thank you for the respnse and kindly look into this

[2020-07-08 16:25] #1391 closed

[2020-07-08 23:41] balchua commented on #1390
Im totally unfamiliar with cert-manager, but google led me to this. https://github.com/jetstack/cert-manager/issues/2752#issuecomment-605883456
It seems to suggest using `cert-manager` namespace , instead of another can lead to better result.

[2020-07-09 08:58] johnlane opened #1394 "unable to start microk8s etcd fails with lookup localhost on 127.0.0.1:53: no such host"
I am unable to start microk8s. I can see that `etcd` fails with an error about
[code]
I use arch linux with zfs and I have made the [suggested changes](https://microk8s.io/docs/install-alternatives), although `containerd-template.toml` was slightly different for me, I had to replace `snapshotter = "${SNAPSHOTTER}"` with `snapshotter = "zfs"`. It feels like this isn't related however thought worth

[2020-07-09 08:58] OheyThere commented on #1387
Well, I tried it with no success, this is my containerd-env file:
[code]

And the problem remainds. Those errors you pointed out inside the inspection files were still there...
The machine itself does not use a proxy for addressing local services, only microk8s seems to do so...

[2020-07-09 09:24] johnlane commented on #1385
Hey, I just opened a similar issue. Just wondring whether 1.0.0.1 is what you have configured in `/etc/resolv.conf` ? I'm having exactly the same symptom except with `127.0.0.1:53` which matches what I have in mine. I still don't know how to fix it though!

[2020-07-09 11:47] #1270 closed

[2020-07-09 12:23] tomalbrecht commented on #1366
Asked the kubeflow team, to update their configuration.

[2020-07-09 13:51] balchua commented on #1394
Can you check if `localhost` exist in `/etc/hosts` file?

[2020-07-09 14:38] bench commented on #1385
hey @johnlane, happy to read that I am not alone in that case. Indeed this maches my `/etc/resolv.conf`. But I still have no ideas atm.

[2020-07-09 15:40] grebennikov opened #1395 "Enable gpu metrics in Prometheus with gpu plugin"
With gpu plugin activated it'd be great to expose gpu metrics in grafana via prometheus as well.
This requires to run a daemonset of gpu exporter with this spec:

And also to update Prometheus' configmap with the following pattern:

[2020-07-09 15:55] ktsakalozos commented on #1395
We could introduce a flag in [1] eg, `microk8s enable gpu:report-metrics=true` with which the user could state his intentions.

If that flag is enabled we would enable the prometheus addon and apply the suggested config map.

Would that work @grebennikov ?

[1] https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.gpu.sh

[2020-07-09 16:25] babvin commented on #1390
vinay@pramukha:~$ kubectl get namespace
NAME                 STATUS   AGE
cert-manager         Active   9h
cert-manager-test    Active   2d1h
container-registry   Active   2d10h
default              Active   2d10h
ingress              Active   2d10h
kube-node-lease      Active   2d10h
kube-public          Active   2d10h
kube-system          Active   2d10h
kube-verify          Active   2d10h
kube-v

[2020-07-09 17:29] johnlane commented on #1394
@balchua thank you that was the problem. After putting that in, everything just worked :)
Don't know why it wasn't there - usually is.

[2020-07-09 17:29] #1394 closed

[2020-07-09 23:10] balchua commented on #1390
What does it look like when you do this?
`kubectl get certificate -o wide --namespace cert-manager`.
If you don't mind, can you use markdown code formatting? It is difficult to read them when its not in markdown code format.
Thanks.

[2020-07-09 23:26] balchua commented on #1387
@OheyThere in your `/etc/environment` what does `no_proxy` look like?
May want to add your local network's subnet for example `10.0.0.0/8`. Atleast that's what i do.

[2020-07-10 01:58] babvin commented on #1390
`ubuntu@k8s-pi-master:~$ kubectl get namespace
NAME                 STATUS   AGE
cert-manager         Active   18h
cert-manager-test    Active   2d10h
container-registry   Active   2d19h
default              Active   2d20h
ingress              Active   2d19h
kube-node-lease      Active   2d20h
kube-public          Active   2d20h
kube-system          Active   2d20h
kube-verify          Active   2d1

[2020-07-10 02:05] balchua commented on #1390
That could be the reason why the apiserver couldn't talk to the cert manager webhook.
I think its best to check with the cert-manager project team.

[2020-07-10 06:48] OheyThere commented on #1387
@balchua That was the solution :) Thank you guys very much!

[2020-07-10 06:48] #1387 closed

[2020-07-10 09:29] ktsakalozos opened #1396 "Juju file permissions after adding user to microk8s group"
If a user enables kubeflow with sudo, juju creates state files as the root user. If then the user adds himself to the microk8s group enabling kubeflow is failing with:
[code]

To reproduce try:
[code]

A command like `sudo chown -R  $USER /var/snap/microk8s/current/juju/share/juju/` could work but the safest approach for now is to always `sudo microk8s enable kubeflow`.

[2020-07-10 09:39] belsakn commented on #1332
So we managed to deploy microk8s in an offline environment. We changed https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.cilium.sh#L45 to grab https://github.com/cilium/cilium/archive/v1.6.tar.gz from the file system and made a special microk8s build.
But before enabling the cilium plugin, we also imported images to microk8s with `microk8s.ctr images import cilium_im

[2020-07-10 09:56] ktsakalozos opened #1397 "Kubeflow enable checks deadlock"
We have two checks for checking the status of kubeflow, the ambassador operator [1] and the uk8s model [2]. If the uk8s model exists but the operator is not running the use addon can neither be enabled nor disabled.

A way to reproduce this is:
[code]
[1] https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/wrappers/addon-lists.yaml#L143
[2] https://github.com/ubuntu/microk8s/blob/mas

[2020-07-10 10:09] bench commented on #1385
OK, I found a solution thanks to https://github.com/ubuntu/microk8s/issues/1394 and @johnlane.
I had no `locahost` into my `/etc/hosts`.
Works now :+1:

[2020-07-10 10:09] #1385 closed

[2020-07-10 10:50] balbirthomas opened #1398 "Networking setup fails when launching centos8 with microk8s profile"
When a new centos container is launched using the command `lxc launch -p default -p microk8s images:centos/8 centos8` networking setup fails. However an identical command with centos7 `lxc launch -p default -p microk8s images:centos/7 centos7` works, with networking setup correctly.

If the centos8 container is launched without the microk8s profile as in `lxc launch -p default  images:centos/8 cen

[2020-07-10 14:49] knkski commented on #1396
We could either refuse to enable kubeflow as root, or detect a failure to read the juju ssh directory and spit out an error message that tells the user to run `sudo chown -R $USER /var/snap/microk8s/current/juju/share/juju/`. @ktsakalozos, opinions?

[2020-07-10 15:20] ktsakalozos commented on #1396
I would go with the "always sudo" approach, at least for now.

When testing the "chown" approach I saw that the `controler.yaml` file got recreated with root only permissions so I am not confident with that approach.

[2020-07-10 18:40] grebennikov opened #1399 "Microk8s snap doesn't consume environment variables properly"
Trying to store snap's data in non-default location using env variables.

(from inside the snap)
[root@bm1-microk8s-ha ~]# env|grep home
SNAP_COMMON=/home
SNAP_DATA=/home
However containerd is running using default /var/snap location:

247907 ?        Ssl    3:15 /snap/microk8s/1533/bin/containerd --config /var/snap/microk8s/1533/args/containerd.toml --root /var/snap/microk8s/common/var/lib/contai

[2020-07-10 18:43] grebennikov opened #1400 "Microk8s doesn't populate all IP addresses into the template"
the certificate is supposed to be created using all current IP adresses of the machine.
On the laptop:

agrebennikov@andreygX1:~$ ip a|grep -B2 192
2: enp0s31f6: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group default qlen 1000
    link/ether 54:e1:ad:67:8b:73 brd ff:ff:ff:ff:ff:ff
    inet 192.168.1.172/24 brd 192.168.1.255 scope global dynamic noprefixroute enp0s31f6

3:

[2020-07-10 18:46] grebennikov opened #1401 "When the node is trying to join the cluster the api server stops listening on 16443 address, the node doesn't show up in the list of nodes"
HA mode. microk8s is deployed successfully.
Performing microk8s join <initial node>
The process runs fine showing "node joining" and completes.
However the new node is not showing up in the list of nodes and the api server doesn't listen on the endpoint anymore:

[root@bm2-microk8s-ha ~]# k get nodes
NAME              STATUS   ROLES    AGE   VERSION
bm2-microk8s-ha   Ready    <none>   85s   v1.18.

[2020-07-10 22:45] balchua commented on #1400
@grebennikov can you check the generated `csr.conf` instead of the `csr.conf.template`?.

`var/snap/microk8s/current/certs/csr.conf | grep -A8 ' alt_names'`

[2020-07-10 23:07] balchua commented on #1399
I don't think changing the environment variable like that affects snap.
If the intention is to have `/var/snap` use a different file system, simply mount `/var/snap` to `/home`

If i recall it looks something like this.
`mount --bind /var/snap /home/var/snap`

And to survive restart, need to add to `/etc/fstab`

[2020-07-11 02:43] balchua opened #1402 "[HA] Issue with enabling dns when hostname-override is not resolvable"
I am trying to do `microk8s enable dns` and it fails to perform the `distributed_ops`, due to the fact that it tries to access the nodes using the node's `hostname`.

If the node's `hostname` name is not resolvable, it could not connect to the nodes, preventing the enable command to update the nodes.

I think we should always contact the cluster agent using the node's IP addresses instead of the n

[2020-07-12 01:48] balchua commented on #1127
Hi, say i have a 3 node ha cluster, 2 of them went down for some time, one after the other.  What happens to the cluster?
What i noticed
* kubernetes reports `NotReady` on the node that went down.  This time only one node goes down.

* Pods previously scheduled on that node are not rescheduled on to other nodes.  I didn't change the any configuration.  Waited more than 5 minutes.

* When the secon

[2020-07-12 07:26] freeekanayaka commented on #1127
I'm not sure about the first 2, but the third is normal. You need a quorum of nodes to be up in order for the cluster to be operational. So if you have 3 nodes, you need at least 2 to be up.

[2020-07-12 08:01] balchua commented on #1127
Thanks @freeekanayaka. That makes sense.

[2020-07-12 15:46] lqdev commented on #1280
Hi @ktsakalozos ,

I took down my VM and no longer have access to it. Thanks for your help. I'll evaluate microk8s on a local machine instead of the cloud.

Thanks

[2020-07-13 06:42] ktsakalozos commented on #1401
I cannot confirm/reproduce this. Does this happen consistently? Can you attach the `microk8s.inspect` tarball?

`k` is an alias to what? Is it possible `k` uses the kubeconfig file of the node before joining? Can you try with `microk8s.kubectl`?

[2020-07-13 06:47] ktsakalozos commented on #1400
@grebennikov, please follow @balchua's suggestion. MicroK8s replaces the `#MOREIPS` part of `csr.conf.template` with any IPs it finds and then produces the `csr.conf ` file. The `csr.conf` is the file that will be used in issuing certificates.

[2020-07-13 08:39] ktsakalozos commented on #1127
@balchua, just reproduced the scenario you mention, in three nodes (u1, u2, u3) I removed u3 and saw the dns pod re-scheduled to another pod after the 5 min period.
[code]

What pod remained unscheduled in your case?

[2020-07-13 11:12] balchua commented on #1127
The calico kube controller wasn't rescheduled to a different node. It stays as running.

[2020-07-13 11:18] balchua commented on #1402
Closing the issue. Pr merged

[2020-07-13 11:18] #1402 closed

[2020-07-13 11:31] #1319 closed

[2020-07-13 12:51] ktsakalozos commented on #1127
What else can you share about this incident @balchua? Do you have a `microk8s.inspect` tarball? In the ran below you can see the calico controller re-scheduled.
[code]

[2020-07-13 13:15] balchua commented on #1127
Its unfortunate that i didnt get the inspect tarball.
I will test it more this weekend.

[2020-07-13 19:58] grebennikov commented on #1400
@balchua yes, the csr.conf does contain app IPs of the node.
Does it mean that currently used cert should be fine then? Is there a way to retrieve current cert itself? Or it is recommended to just probe it via openssl client?

[2020-07-13 22:56] balchua commented on #1400
Yes it should be included in the certificate.

All certs will be in `/var/snap/microk8s/current/credentials`

[2020-07-14 09:25] doismellburning opened #1404 "microk8s cleaner/clearer failure on vanilla LXD"
I recently installed the microk8s snap on a vanilla LXD container. At the time I hadn't come across https://microk8s.io/docs/lxd and it took a little while before I noticed that some components hadn't started up properly and I found my way to that doc.

Having found the documentation, it's excellent, thank you - following the instructions there left me with a very happy microk8s instance. From a u

[2020-07-14 14:13] balbirthomas commented on #1002
I was unable to reproduce this issue on a Centos 8.2.2004 [image](https://www.osboxes.org/centos/) from osboxes.org. The image was run in Virtualbox. I tried reproducing with both current stable and 1.17 version of microk8s snap package but enabling storage worked in both cases (see screenshot below).

![mk8storage](https://user-images.githubusercontent.com/1672069/87435590-da5d0a00-c5e3-11ea-8d98

[2020-07-14 19:44] hussainsultan-mss commented on #1324
@vinhdiesal I am having the same issue. How did you end up providing the traefik.yaml file to helm?

[2020-07-14 21:19] #1328 closed

[2020-07-14 21:30] balbirthomas commented on #1398
The offending part of the microk8s profile is the `raw.lxc` configuration . Removing it, done by the attached patch, seems to fix this problem.

[netfix-patch.txt](https://github.com/ubuntu/microk8s/files/4921614/netfix-patch.txt)

[2020-07-15 10:39] LeKristapino commented on #75
I'm also facing the same issue. `sudo iptables -P FORWARD ACCEPT` didn't help and `ufw` is inactive.

This is my configmap:

[code]

I can ping any external IP address, but as soon as I try `ping google.com` it does not work

I also get these weird log errors, but I can't seem to find the cause of the problem:

[code]

[2020-07-16 02:40] bangbangjim commented on #1280
@lqdev I am wondering if you are still experiencing the same problem on a local machine?

[2020-07-16 04:16] jimmyjimmy94 opened #1407 "Failed to enable kubeflow"
### Description

Trying to enable kubeflow with `microk8s.enable kubeflow`, stuck on "Deploying Kubeflow..." step for about 20 minutes and ended as shown as below:
[code]

running kubectl get pods -n kubeflow shows the following:
[code]

### Rough description for reproducing the issue

I am using a google VM with Ubuntu 18.04.4 LTS (GNU/Linux 5.3.0-1030-gcp x86_64). Enabled all ports, http and htt

[2020-07-16 08:29] davigar15 opened #1408 "Pods don't have internet access after reboot"
I have OSM deployed in Microk8s, and when I reboot my machine I don't have internet access in the OSM pods.

Here is the inspect;

[inspection-report-20200716_100808.zip](https://github.com/ubuntu/microk8s/files/4930249/inspection-report-20200716_100808.zip)

Please run `microk8s inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.

[2020-07-16 08:30] davigar15 opened #1409 "microk8s.inspect should generate a zip, not tar.gz"
Github doesn't support tar.gz files, so it would be nice to generate a .zip with `microk8s.inspect`. That way we don't have to extract it and compress it with again :P

EDIT: uploading a tar.gz in the issue description.
[inspection-report-20200716_114554.tar.gz](https://github.com/ubuntu/microk8s/files/4930434/inspection-report-20200716_114554.tar.gz)

[2020-07-16 08:57] ktsakalozos commented on #1409
Test of attaching a tar.gz in a reply.
[inspection-report-20200716_114554.tar.gz](https://github.com/ubuntu/microk8s/files/4930401/inspection-report-20200716_114554.tar.gz)

[2020-07-16 09:03] ktsakalozos commented on #1409
I cannot confirm this bug @davigar15 can you describe in more detail what is failing?

[2020-07-16 11:29] blacksailer commented on #991
I've met same issue. I've configured coredns to resolve address (as explained [here](https://jaas.ai/kubeflow/bundle/207#Setup+microk8s) ) but can't download through proxy

How to configure containerd? containerd-env file is not hepling

[2020-07-16 11:37] devbharat commented on #1003
microk8s now seems to fail to mount NFS persistent volumes into pods after I created a rbind mount /var/snap/microk8s/common/ to an external disk. I get the error:
[code]

I have nfs common installed and (as root) mounting the said NFS volume works on the node.

[2020-07-16 11:51] balbirthomas opened #1410 "Support user supplied CA cert and key"
Use Case
-------------
During installation of microk8s a CA cert and key is autogenerated. However at present the `microk8s-refersh-certs.wrapper` script does not support using a CA cert and key supplied by the user. This is a useful feature to have.

Interface
------------
It is proposed that new command line options (`-r` and `--refresh`) be added to the `microk8s-refresh-certs.wrapper` script.

[2020-07-17 08:44] ahmedmahershaaban commented on #249
fixed my problem thanks  ^_^

[2020-07-17 09:03] ktsakalozos commented on #1404
Hi @doismellburning

Thank you for the suggestion. Here is how we could approach this.

In the suggest_fixes of the inspect script [1], we could cat the `/proc/1/environ` and if we see something like `container=lxc` we would know if we are on an lxc container. Then we could try to see if `/dev/kmsg` is available. If not show a message that possibly the profile is missing and point the user to the

[2020-07-17 11:05] bipinm commented on #1140
Was getting similar error but can confirm that following steps work and i can access all the application urls from within the dashboard. Just had to combine the answers @ both these links
https://github.com/kubeflow/manifests/issues/974
https://stackoverflow.com/questions/60973804/microk8s-broken-k8s-dashboard-and-kubeflow-dashboard

1. Ping your AWS EC2 instance and fetch the IP address
`ping ec2

[2020-07-17 19:38] knkski commented on #1407
@bangbangjim: Can you post the output from `snap info microk8s`? The code that printed the line `Waited too long for cert manager webhook operator pod to appear.` should no longer exist in 1.18/stable.

[2020-07-18 07:24] pelojoy opened #1418 "Redhat Linux 7.6: failed to get cgroup stats for "/system.slice/snap.microk8s.daemon-kubelet.service""
Getting this error in Redhat Linux 7.6 system:

`
7月 07 16:07:49 redhat76mini microk8s.daemon-kubelet[19949]: E0707 16:07:49.669333   19949 summary_sys_containers.go:47] Failed to get system container stats for "/system.slice/snap.microk8s.daemon-kubelet.service": failed to get cgroup stats for "/system.slice/snap.microk8s.daemon-kubelet.service": failed to get container info for "/system.slice/sn

[2020-07-18 09:44] gdubicki commented on #50
The "Experience MicroK8s" is misleading at least for macOS users, as it tells you to run:
[code]
...while in fact you should also check the vm IP with:
[code]
...and add `--external-ip 192.168.64.2` to the command.
Then of course you should `curl 192.168.64.2`.

[2020-07-18 11:55] bangbangjim commented on #1407
[code]

Here's what i get with `snap info microk8s` @knkski

[2020-07-19 09:14] vadimeisenbergibm opened #1419 "Disable SSL Medium Strength Cipher Suites Support"
To handle https://github.com/kubernetes/kubernetes/issues/41038.

The Kubernetes solution is to use `--tls-cipher-suites` described in https://github.com/kubernetes/kubernetes/pull/48859.

Is it possible to configure microk8s to use that option, or maybe you can just remove the medium strength cipher suites by default?

[2020-07-19 10:40] #557 closed

[2020-07-19 11:18] balchua commented on #1419
You can configure kube-apiserver's arguments.
Go to `/var/snap/microk8s/args/kube-apiserver`.
While the kubelet's file is in `/var/snap/microk8s/args/kubelet`.  After modifying, you can restart microk8s.

[2020-07-19 11:40] #556 closed

[2020-07-19 14:01] vadimeisenbergibm commented on #1419
Thanks a lot, @balchua ! Let me try.

[2020-07-19 19:50] vadimeisenbergibm commented on #1419
Great, I have added the `--tls-cipher-suites` parameter to the following files on Ubuntu:

- `/var/snap/microk8s/current/args/kube-apiserver`
- `/var/snap/microk8s/current/args/kube-scheduler`
- `/var/snap/microk8s/current/args/kube-controller-manager`
- `/var/snap/microk8s/current/args/kubelet`

and it seems to work. Closing the issue. Thanks, @balchua !

[2020-07-19 19:50] #1419 closed

[2020-07-20 15:09] chris-sanders commented on #1127
I'm not sure if I should start a new bug or just put this here since ha is in preview currently. I'll start here and if you prefer a new bug I can do that.

A fresh install on bionic KVMs with this branch is not working, possibly because this environment uses a proxy.

The setup is 4 KVM's
[code]

The nodes add but calico pods never show ready
Example pod: https://pastebin.ubuntu.com/p/GSWx58Qv3p/

[2020-07-20 17:51] chris-sanders commented on #1127
Scratch that, I've got a typo in my bundle and have some of these snaps on LXD rather than KVM. I'll do a clean re-deploy and test from the top.

[2020-07-20 19:36] chris-sanders commented on #1127
Using all KVM's this time went smoother, and kube-proxy is running all of the nodes now. I am still having failures on both hostprovisioner and the calico controller. Both fail with this same message.

Warning  FailedCreatePodSandBox  54s                 kubelet, juju-f5fb96-13-kvm-0  (combined from similar events): Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup net

[2020-07-20 19:55] joedborg commented on #1368
Hi @vinhdiesal

We're aware that, if you're used to using the period separator for commands, using the space separator can be confusing.  However, we do believe all of our documentation is up-to-date; showing the space separator.  If you spot any that isn't, please let us know.

[2020-07-20 20:10] joedborg commented on #1379
Hey @tksh164,

Thanks for trying that, sorry it didn't fix the issue.

What happens if you try:

[code]

(this will create a VM called `primary`)

Once you get a shell inside the VM, can you please try

[code]

And let me know the results, please?

(You can then delete and purge the `primary` VM).

Thanks,
Joe

[2020-07-20 21:42] chris-sanders commented on #1127
I believe I have it working now, for future travelers and possibly for inclusion in the docs. It appears the API calls are picking up the containerd proxy setting from `/var/snap/microk8s/current/args/containerd-env`.

Fortunately, Go seems to accept CIDR notation for NO_PROXY so I added a NO_PROXY line along with the HTTPS_PROXY and after a restart calico is finally happy.

I'm using: ```NO_PROXY

[2020-07-21 05:12] Telemarking commented on #1327
I do have the same problem.

[2020-07-21 08:22] ktsakalozos commented on #1127
Hi @chris-sanders

Thank you for getting to the bottom of this. The 10.1.0.0/16 is the cluster-cidr [1]. The 10.152.0.0/16 includes the services-cidr [2]. I am not sure where 10.0.8.0/23 comes from.

Our doc on setting up the cluster behind a proxy [3] is not great and expects a certain degree of expertise. Any suggestions and improvements are much appreciated.

I wonder if we could improve the `m

[2020-07-21 09:33] balbirthomas commented on #1410
Created a [pull request](https://github.com/ubuntu/microk8s/pull/1423) for this issue. A restart of the host system (for instance virtualbox machine) is required after updating CA certificates. I would be grateful for any feedback.

[2020-07-21 10:59] davigar15 commented on #1409
Create a new bug, and drag and drop the .tar.gz into the bug description. In my case, it is getting stuck and it says that the format is not supported.

[2020-07-21 11:04] ktsakalozos commented on #1409
What browser are you using?

![upload](https://user-images.githubusercontent.com/11489452/88047862-f53afb80-cb5a-11ea-8b2d-7ab6b2994b2b.png)

[2020-07-21 11:16] #726 closed

[2020-07-21 15:56] chris-sanders commented on #1127
@ktsakalozos I don't appear to be able to update or recommend document changes, or I don't know how to via discourse.

The 10.0.8.0/23 space is unique to my environment it's the ip addresses for the machines. I'm not sure if that is necessary, but I knew it never needed a proxy so I included it.

My recommendation for the docs is to mention NO_PROXY in the install-proxy docs, and include an exampl

[2020-07-21 17:04] bipinm commented on #958
Got same error on Ubuntu 20.04 Desktop. I am not behind any firewall and can manually fetch https://api.jujucharms.com/charmstore/v5/~kubeflow-charmers/ambassador-104/archive?channel=stable which downloads ambassador.zip (2.6 MB). I do not face this error on Unbutu 20.04 Server (in AWS)

Tried with both
microk8s  v1.18.4
microk8s  v1.18.6   1560  latest/edge

`microk8s.kubectl get configmap -n kub

[2020-07-21 21:28] sstubbs commented on #1339
Hi,
I just wanted to check when will this be available in the ha-preview snap?

[2020-07-22 04:18] leopd commented on #481
Looks like this might be a relevant bug report for snapd: https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1784774

[2020-07-22 16:44] grebennikov commented on #1401
@ktsakalozos sorry, k was alias for microk8s.kubectl
This is very reproducible

[2020-07-22 20:39] knkski opened #1427 "i/o timeout in coredns pod"
Copying from https://github.com/ubuntu/microk8s/issues/958#issuecomment-661986123, as this looks to be the crux of the issue. For some reason, some queries to 8.8.8.8 and 8.8.4.4 for `api.jujucharms.com` are failing:

[code]

[2020-07-22 20:40] knkski commented on #958
@bipinm: I'm going to open up a new issue with that output, that looks like the crux of the issue, and unrelated to the original issue for this thread:

https://github.com/ubuntu/microk8s/issues/1427

[2020-07-23 06:42] ktsakalozos commented on #1401
In the attached tarball I see the apiserver failing to start with "Error: context deadline exceeded".

This may mean the dqlite cluster was not formed and most probably indicates some network configuration issue.

Dqlite listens on port 19001 by default on each node. The cluster nodes should be able to "see" each other _not_ through a nat/proxy.

Could you describe the exact steps you follow. Coul

[2020-07-23 07:55] sstubbs commented on #1337
I've been trying https://openebs.io/ which works well and is versatile in terms of providing local pvs as well as there own clustered solutions. it's easy to add different storageclasses for different host paths.

[2020-07-23 09:07] ktsakalozos commented on #1427
@davigar15 has reported the same issue.

This is sporadic, right? Some things we could try is to use the host to resolver. `forward . /etc/resolv.conf` or maybe increase the case to something longer than 30 secs [1].

Could anyone try any of the above and report back any results?

[1] https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

[2020-07-23 10:31] balchua commented on #1337
Is it easy to get it up and running without the complexity of rook ceph? 😁

[2020-07-23 10:45] sstubbs commented on #1337
Yes very easy took a few minutes to go through the docs. Adding and removing extra storage classes is also painless so far which is nice. WIll be testing it today with deleting and recreating clusters and restoring microk8s dqlite for disaster recovery and see how it behaves.

[2020-07-23 11:48] eosantigen commented on #1337
Hi and Many Thanks for microk8s! I would like to ask here (as I think it's a related question) whether an NFS storage class provisioner is supported, and what would the implications be if the storage backend under the hostpath pvc's directory _(/var/snap/microk8s/common/default-storage)_ is on an external NFS server - meaning, if I manually get to attach it as it is without the storage class (simp

[2020-07-23 15:47] grebennikov commented on #1401
sudo cat  /var/snap/microk8s/current/var/kubernetes/backend/cluster.yaml
[sudo] password for ubuntu:
- Address: 10.243.38.195:19001
  ID: 3297041220608546238
  Role: 0
- Address: 10.243.38.201:19001
  ID: 1352879667948006471
  Role: 2
- Address: 10.243.38.202:19001
  ID: 14991859051565241993
  Role: 0

Single interface.

$ cat /etc/hosts
127.0.0.1 localhost
127.0.1.1 bm-microk8s-node1

# The follo

[2020-07-23 16:11] bipinm commented on #958
@knkski Thanks. Was actually referring to post from [@atamahjoubfar on Jun 10th](https://github.com/ubuntu/microk8s/issues/958#issuecomment-641751380). i got the same error.
Will continue to check further when i get time and post any updates in the new issue you have created

[2020-07-23 16:22] bipinm commented on #1427
Do not think this is a sporadic/transient issue. I have tried for 3 days continuously (`microk8s.enable kubeflow`), sometimes at different times of day and got the same error each time. Tried to debug a little bit after N failures and then found the errors in coredns pod. Also went into one another pod and tried `ping 8.8.8.8`, which worked fine but pings to other public IPs/api.jujucharms.com fai

[2020-07-23 19:22] evilfactory commented on #375
I have also the same problem

[code]

[2020-07-23 23:51] atamahjoubfar commented on #1427
I just tried this on another machine with Ubuntu 18.04. Same error in the past one month:
[code]

[2020-07-24 13:03] sstubbs opened #1430 "Error While Disabling Prometheus"
When disabling prometheus addon I get this error
[code]
Everything seems to disable fine and I can reenable it without problems but just thought I would add this in case it causes problems down the line.

[2020-07-24 13:04] ktsakalozos commented on #375
@evilfactory I believe you machine does not register as a node in Kubernetes because there are underscores in its hostname. Could you change to a hostname that does not include underscores and capital letters and retry?

[2020-07-24 13:33] sstubbs commented on #1337
I'm no storage expert but from experience kubernetes is quite particular about access modes of storage classes. I would be hesitant to add a provisioner designed for local to something network attached. I would suggest using an NFS provsioner like https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client. If your app can use s3 api why not install minio on th remote side and

[2020-07-24 13:38] sstubbs commented on #1337
One more benefit of openebs I've found is that the pvc chart in the microk8s chart shows the correct capacity and usage. I wasn't getting any data in it when I was the using the microk8s storage addon. I have a two local pv storage classes and quite a few pvcs and they all showing correctly which is nice.

[2020-07-24 14:02] sstubbs opened #1431 "Feature Request - Update metallb"
The current version of metallb included with microk8s is quite old. It would be really great if this could be upgraded.

[2020-07-24 15:49] sstubbs commented on #1431
I'm happy to do a pr for it.

[2020-07-24 17:04] kfirfer commented on #784
Im facing the same problem

[2020-07-24 20:52] anonymouse64 commented on #784
@ktsakalozos sorry I forgot to respond to your ping, were you able to sync with @joedborg about the runC patches ?

[2020-07-24 20:58] jsfeutz commented on #1178
#Just patch the Controller like this:

#Label the nodes you want the ingress to run with a selector like this, you can add selectors for types: arm64, etc
kubectl label nodes <your-ingress-nodename> node-role.kubernetes.io/ingress="true"

#then patch the microk8s ingress controller with the selector you want

kubectl -n ingress patch daemonset nginx-ingress-microk8s-controller -p '{"spec": {"templ

[2020-07-25 02:46] #570 closed

[2020-07-25 03:55] balchua commented on #1431
Well im planning to add IPs in cidr format at the same time upgrade metallb.  But if ur up for it, it will be my pleasure. 😁

[2020-07-25 04:46] #561 closed

[2020-07-25 07:10] felipecruz91 commented on #334
Hi,

I'm experiencing the same issue with Microk8s v1.14 stable.

[2020-07-25 08:02] felipecruz91 commented on #334
I just realized the liveness probe was not working due to the fact that the `restartPolicy: Never` property was generated when creating the pod using the `kubectl run --restart=Never ...` imperative command, and therefore, it was preventing the pod to be restarted by the liveness probe.

[2020-07-25 09:13] sstubbs commented on #1430
I get the same error when I disable DNS. Is https://github.com/ubuntu/microk8s/pull/1429 related to this? Is it better to run sudo microk8s for everything or will this PR fix it?

[2020-07-25 09:30] khteh commented on #334
Why is this issue closed?

[2020-07-25 11:09] felipecruz91 commented on #334
@khteh It was closed by a bot because of no recent activity.

[2020-07-25 11:52] sstubbs commented on #1431
Checked the yaml file and it's very similar.

Here is an updated yaml file that should work:

[code]

I can't edit the yaml file in the installed snap. How would I test changes to microk8s? Perhaps it would be better for you to do it @balchua if you time. Do addons update automatically when the snap updates?

[2020-07-25 12:04] balchua commented on #1431
@sstubbs you need to checkout microk8s repo.  You can follow the [docs](https://github.com/ubuntu/microk8s/blob/master/docs/build.md).  Usually if the snap updates, it doesn't change the addons which are already deployed.
One needs to disable the addon and enable it back.  I can take this up. And thanks for the yaml you posted.  It will surely make it easier to update.

[2020-07-25 12:10] sstubbs commented on #1431
Thanks that will be great.

[2020-07-25 12:46] #566 closed

[2020-07-25 19:16] kfirfer opened #1432 "Failed to find plugin "cilium-cni" - Cilium & DNS"
Hello

When I trying to enable cilium, the dns shows me this:
[code]

When I disable cilium, everything works as intended

Issuing microk8s.inspect:
[code]

[code]

Attached `inspection-report-20200725_191304.tar.gz
[inspection-report-20200725_191304.tar.gz](https://github.com/ubuntu/microk8s/files/4976249/inspection-report-20200725_191304.tar.gz)
`

[2020-07-25 20:16] vassilvk opened #1433 "[Question] How to set default sysctl net.ipv6.conf.all.disable_ipv6 for cluster"
We need to have IPv6 disabled by default for all pods that will run on our `microk8s` clusters (`sysctl net.ipv6.conf.all.disable_ipv6=1`).

This has been the default value for that kernel parameter on all K8s clusters we have used so far (i.e. RKE, Kubernetes on Docker).
Now we are considering using `microk8s` for our development workflows, but the default value for `net.ipv6.conf.all.disable_ipv

[2020-07-25 22:46] #465 closed

[2020-07-25 23:12] evilfactory commented on #375
thanks! it worked :D

[2020-07-26 15:26] beni20 commented on #448
fyi (for Windows folks) i guess this workaround will not work with ubuntu WSL2 (latest insider version) as nvidia is providing docker driver/wrapper and no proper/expected lib is installed

[2020-07-26 16:25] #562 closed

[2020-07-26 19:39] paravatha commented on #1140
@bipinm Thanks for the update. I tried with the below setup and it worked for me as well
AMI: Ubuntu 18.04
Size : t3a.xlarge (4 cpu, 16GB)
microk8s : v1.18.6

[2020-07-26 19:39] #1140 closed

[2020-07-26 23:43] paravatha commented on #713
This issue is resolved, please refer to #1140

[2020-07-26 23:43] paravatha commented on #1083
This issue is resolved #1140

[2020-07-27 03:21] jaaanko opened #1436 "Microk8s 1.15 unbound variable error"
Hi, I am getting the following error when running `microk8s.kubectl config view --raw > $HOME/.kube/config` on microk8s 1.15.

`/snap/microk8s/1301/microk8s-kubectl.wrapper: line 16: args[@]: unbound variable`

I cannot upgrade my microk8s version due to compatibility issues with another application.

[2020-07-27 06:14] ktsakalozos commented on #1436
Hi @jaaanko

Can you help me reproduce this.  Could you share the output of `cat /snap/microk8s/1301/microk8s-kubectl.wrapper` and the tarball of the `microk8s.inspect` command? Does this `args[@]: unbound variable` error appear in other `microk8s.kubectl` commands?

[2020-07-27 08:15] ktsakalozos commented on #1432
Hi @kfirfer

Could you give me a minimal script/set of commands I can run on a clean system to reproduce the issue? How do you install cilium and dns? I assume through the `microk8s enable` command, right? Have you tried disabling and re-enabling dns/cilium?

The  `cilium-cni` should be available in `/var/snap/microk8s/1551/opt/cni/bin`. I wonder why kubelet is searching in `/snap/microk8s/1551/op

[2020-07-27 08:35] ktsakalozos commented on #1430
You see this error on the `latest/edge/ha-preview` channel when your user is on the `microk8s` group, right? Yes, this error should be fixed in with https://github.com/ubuntu/microk8s/pull/1429

[2020-07-27 08:39] ktsakalozos commented on #784
Yes, thank you.

[2020-07-27 08:58] kfirfer commented on #1432
Hi

I couldnt reproduce or getting the same error

and i formatted the machine(no history)

but i can tell that i played with the install/uninstall aggressivly, also interupted the installation/disabling/enabling with ctrl+c in the middle of it few times

[2020-07-27 09:11] jaaanko commented on #1436
Hi @ktsakalozos, yes the error appears in other `microk8s.kubectl` commands.

Here is the tarball:
[inspection-report-20200727_085407.tar.gz](https://github.com/ubuntu/microk8s/files/4981030/inspection-report-20200727_085407.tar.gz)

And here is the output of `cat /snap/microk8s/1301/microk8s-kubectl.wrapper`:
[code]

[2020-07-27 10:46] balchua commented on #1127
Hi @ktsakalozos i noticed that in the HA preview running `microk8s status` shows the long format.
Better give a heads up if the plan is to make that the default.
I remember we rolled back that due to some users script rely on the short form.
See issue https://github.com/ubuntu/microk8s/issues/1041

[2020-07-27 13:03] sstubbs commented on #1430
yes on the `latest/edge/ha-preview` channel. ok great thanks.

[2020-07-27 13:23] ktsakalozos commented on #713
Thank you all for your input. Feel free to reopen the issue if you feel it is not resolved.

[2020-07-27 13:23] #713 closed

[2020-07-27 13:24] ktsakalozos commented on #1083
Thank you all for your input. Feel free to reopen the issue if you feel it is not resolved.

[2020-07-27 13:24] #1083 closed

[2020-07-27 13:49] dmirandab commented on #1351
Hi!

Is there any update on this? I installed yesterday on Windows 10 pro version 2004 and I'm getting the same error. Path seems to be correct.

Thanks,
Daniel.

[2020-07-27 14:34] knkski commented on #1407
@bangbangjim: Can you run `sudo snap refresh`? It looks like revision 1496 does indeed have references to `cert-manager`, but that is no longer the most revision revision on `1.18/stable`, it's 1.18.6, revision 1550.

[2020-07-27 14:36] knkski commented on #1427
@bipinm: can you expand a little more on this?

Which pod(s) did you go into, and which other public IPs did you try?

[2020-07-27 14:57] knkski commented on #1280
1.18.4 may still contain references to `cert-manager`, if anyone is still running into this issue, you can run `sudo snap refresh` to refresh to the latest version of microk8s (1.18.6 as of right now)

[2020-07-27 14:57] #1280 closed

[2020-07-27 15:01] ktsakalozos commented on #991
@blacksailer have you tried the instructions in https://microk8s.io/docs/install-proxy ? What is the state of your cluster? Can you attach an `microk8s inspect` tarball? Thank you. Apologies for the late reply.

[2020-07-27 15:11] joedborg commented on #1351
Hi @mmattersdorfer, apologies for the late reply, GitHub notifications really suck...

It looks like PATH is set correctly (`C:\Program Files\MicroK8s`).

Could you please open a `cmd` and run `multipass exec microk8s-vm -- sudo snap list` and check that `microk8s` is listed?

Thanks,
Joe

[2020-07-27 15:48] joedborg commented on #1351
@wjpbiblio @dmirandab ^ if you could try that too, it'd be a great help.  thanks!

[2020-07-27 16:10] mmattersdorfer commented on #1351
Hi Joe,

here is the result:
`No snaps are installed yet. Try 'snap install hello-world'.`

Greetings
Marcus

[2020-07-27 16:14] mmattersdorfer commented on #1351
Trying to install microk8s snap manually ends in this:
`
multipass exec microk8s-vm -- sudo snap install microk8s --classic --channel=1.18/stable

error: cannot install "microk8s": persistent network error: Post
       https://api.snapcraft.io/v2/snaps/refresh: dial tcp: lookup api.snapcraft.io: Temporary
       failure in name resolution
`

[2020-07-27 16:21] blacksailer commented on #991
Well, I removed it already and installed through kubeadm.

Yes, I've tried instructions in site, but juju was complaining on network, will check it later on week. Also tried to configure env variables for proxy (juju_no_proxy, juju_http_proxy) for juju, didn't help

[2020-07-27 18:36] knkski commented on #1427
After debugging with @davigar15, I think this issue is not actually Kubeflow-specific, and is a general networking issue that starts happening after a computer with microk8s is rebooted. @bipinm, @atamahjoubfar, can you verify that this is related to rebooting the host machine for microk8s? @davigar15 says that when he runs into this issue, reinstalling the microk8s snap fixes things for him.

[2020-07-27 18:37] knkski commented on #958
I think all of the issues in this thread have been resolved. If not, feel free to open up a new issue

[2020-07-27 18:37] #958 closed

[2020-07-27 18:42] knkski commented on #1315
I'm going to close this as a duplicate of #1427, as that's happening due to the host machine for microk8s getting restarted. @RFMVasconcelos, if you run into this again, can you paste the output from `microk8s.kubectl logs -n kube-system -l k8s-app=kube-dns`, and reopen this issue if there aren't any error messages that look like the logs from that issue?

[2020-07-27 18:42] #1315 closed

[2020-07-27 18:45] joedborg commented on #1351
Hey @mmattersdorfer,

Ah, thanks.  We do check for networking issue during install, so not sure why that was missed.

Assuming

[code]

both fail, can you try looking over https://multipass.run/docs/troubleshooting-networking-on-windows to see if that fixes your issue.  If not, you could also switch to using Virtualbox instead of Hyper-V.  I know this can be inconvenient, but if it's an option it'

[2020-07-27 18:45] knkski commented on #1245
@calanchue: I'm going to close this as a duplicate of #1396, as it looks like this issue is related to permissions, as in that ticket.

[2020-07-27 18:45] #1245 closed

[2020-07-27 18:56] #1243 closed

[2020-07-27 18:59] knkski commented on #1128
I believe [this comment](https://github.com/ubuntu/microk8s/issues/1140#issuecomment-660044973) solves this issue, so closing. If it doesn't, feel free to reopen.

[2020-07-27 18:59] #1128 closed

[2020-07-27 19:01] knkski commented on #1101
@jkim711: does following this comment help you connect?

https://github.com/ubuntu/microk8s/issues/1140#issuecomment-660044973

[2020-07-27 19:08] dmirandab commented on #1351
Hey all,

I ended up following this blog post which lead to a successful installation of microk8s over WSL2: https://wsl.dev/wsl2-microk8s/

Cheers!

[2020-07-28 00:12] atamahjoubfar commented on #1427
I reinstalled `microk8s`, and enabled `kubeflow` without reboot. I still get the same error message.

[2020-07-28 01:49] kriswuollett opened #1438 "Need docs linked from inspect to fix nf_conntrack sizing by lxc guest for daemon-proxy"
Seems same issue as in the closed #119, daemon-proxy in microk8s is attempting to update my system's `/sys/module/nf_conntrack/parameters/hashsize`. Based on some research it sounds like it needs to update it since my Ubuntu 20.04 machine has a lot of CPU cores. There should be a mechanism like in microk8s.inspect to detect this type of error that causes `daemon-proxy` to fail to start, and link t

[2020-07-28 04:11] lao-white opened #1439 "Failed to enable kubeflow"
[inspection-report-20200728_120622.tar.gz](https://github.com/ubuntu/microk8s/files/4985914/inspection-report-20200728_120622.tar.gz)

- Error Message:

[code]

- microk8s version:
[code]

[2020-07-28 07:07] ktsakalozos commented on #1438
Thank you for reporting this @kriswuollett and offering a workaround.

Indeed updating the inspection script to detect this case would be the a first step.

Have you tried adding `--conntrack-max-per-core=0` in `/var/snap/microk8s/current/args/kube-proxy`?

Another approach would be to see why the lxc profile in `https://github.com/ubuntu/microk8s/blob/master/tests/lxc/microk8s.profile` did not al

[2020-07-28 07:12] ktsakalozos commented on #1433
@vassilvk I do not have an good answer. What is the `net.ipv6.conf.all.disable_ipv6` on the host machine?

[2020-07-28 08:28] vadimeisenbergibm opened #1440 "Fix Sweet32 vulnerability for microk8s versions before 1.18"
[Sweet32 vulnerability](https://sweet32.info) is described in [this etcd issue](https://github.com/etcd-io/etcd/issues/8320) and is handled by [this PR](https://github.com/etcd-io/etcd/pull/9801) in etcd. The solution is to provide a list of strong ciphers using the [--cipher-suites](https://etcd.io/docs/v3.4.0/op-guide/security/) parameter.

To apply the etcd solution described above, etcd versio

[2020-07-28 08:42] vassilvk commented on #1433
It’s 1.

[2020-07-28 09:32] bipinm commented on #1427
Without a restart after `sudo snap install microk8s --classic` , Kubeflow was deployed successfully. So far I was always restarting after seeing this message
[code]
This time instead of a re-start, ran `sudo usermod ...` & `gnome-session-quit` commands followed by rest
[code]
In my previous tests on Ubuntu 2004 server i followed similar restart step, but did not encounter this problem. Only seem t

[2020-07-28 11:08] ktsakalozos commented on #1427
@bipinm immediately after a reboot the k8s networking is not correctly setup. During that period I was getting:
[code]
Within 2 to 3 minutes the pods were reporting state `Unknown` and the control plane was rescheduling them getting them into `Ready` state again. After that point name resolution is working again.

[2020-07-28 11:52] balchua commented on #1436
Could it be that the `bash` in your system is old?

[2020-07-28 15:02] mikebell opened #1442 "After coredns pod delete dns won't enable again."
[code]

I've been having multiple issues with my 4 node microk8s setup, the coredns pod had been stuck terminating for a few days so I deleted it `k delete pod -n kube-system coredns-588fd544bf-w4n6m --force`  I expected the pod to come back up but it hasn't.

[code]

I've cleared out the "not present" nodes but they're still appearing in the logs when I try and enable dns. This is probably anothe

[2020-07-28 15:14] RFMVasconcelos commented on #1315
Trying to replicate the error. Will send the logs if I can replicate it.

[2020-07-28 15:22] bipinm commented on #1427
@ktsakalozos, i was running `nslookup` > 15+ minutes post reboot. Sequence of steps which always failed for me
1. sudo snap install microk8s --classic
2. sudo usermod -a -G microk8s _user_
3. Reboot
4. After system is up, check status with `microk8s.status --wait-ready`
5. Also confirm all pods are running
6. `microk8s.enable dns dashboard storage`
7. Open dashboard UI and confirm everything is fi

[2020-07-28 15:49] jaaanko commented on #1436
Reinstalling seems to have fixed this issue.

[2020-07-28 15:49] #1436 closed

[2020-07-28 16:59] alxchalkias opened #1443 "Kubeflow enable failure"
Hi team, microk8s enable kubeflow on my Dell Latitude (4cores 2.4G, 16GB RAM) workstation gave out the following issue. I'm using the HA branch.

[inspection-report-20200728_174555.tar.gz](https://github.com/ubuntu/microk8s/files/4989808/inspection-report-20200728_174555.tar.gz)
[kubeflow_addon_err.log](https://github.com/ubuntu/microk8s/files/4989809/kubeflow_addon_err.log)

[2020-07-28 19:16] knkski commented on #1312
@RFMVasconcelos: Closing this as a duplicate of #1397, feel free to reopen if that's wrong.

[2020-07-28 19:16] #1312 closed

[2020-07-28 21:12] ktsakalozos commented on #1443
The error here is not related to kubeflow. We fail to enable kubeflow here because we cannot configure the nodes of the cluster. There seem to be a few nodes registered that are unreachable (eg 10.93.108.118).

The main issue I see here is that we throw out the exception instead of displaying a meaningful error message.

[2020-07-28 21:37] muhammadnasr opened #1444 "cannot work with insecure gitlab container"
Thanks for the awesome project.

I am trying to setup gitlab autodevops over microk8s, autobuild seem stuck at build due to some HTTP/HTTPs problem

Logging to GitLab Container Registry with CI credentials...
Error response from daemon: Get https://172.22.0.92:5050/v2/: http: server gave HTTP response to HTTPS client

I tried to edit /var/snap/microk8s/current/args/containerd-template.toml
and res

[2020-07-28 21:38] #498 closed

[2020-07-28 21:45] joedborg commented on #1444
Sadly this is a bug in containerd https://github.com/containerd/cri/issues/1433

We’ll have to wait until 1.4 comes out to bundle into microk8s.

[2020-07-28 21:54] muhammadnasr commented on #1444
Thank for the prompt reply.

Is there any workarounds? For ex: using self-signed crt or skip crt verification

[2020-07-28 22:10] muhammadnasr commented on #1444
just tried skip tls verify:
   [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
        endpoint = ["https://registry-1.docker.io", ]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."http://172.22.0.92:5050"]
        endpoint = ["http://172.22.0.92:5050"]
      [plugins."io.containerd.grpc.v1.cri".registry.m

[2020-07-29 12:11] #1388 closed

[2020-07-29 13:16] balchua commented on #1444
What i normally do is to add that certificate to your system's trusted certificate.

[2020-07-29 13:18] sreenivass24 commented on #903
Hi @balchua @devslam  - could you please let me know where i should add tail -f /dev/null..  i got same issue and struggling to fix it

[2020-07-29 13:26] joedborg commented on #1444
Ah thanks @balchua.  Would you happen to have 5 mins to list the steps?  I can then add that to our docs until containerd 1.4 is released.

[2020-07-29 16:42] LinoBert commented on #1427
@ktsakalozos , same here.
I'm running microk8s on my Ubuntu 18.04 dev machine. After booting the machine none of the Pods are starting because they are downloading some files but can't resolve the domain names so can't resolve the imports(Deno).

After manually stopping and starting the cluster via `microk8s start / microk8s stop` DNS resolution works perfectly fine, so something with the automati

[2020-07-29 20:10] knkski commented on #1439
@lao-white: Are you able to run this command from the machine you're experiencing this error with MicroK8s on?

    curl -v https://api.jujucharms.com/charmstore/v5/~kubeflow-charmers/ambassador-88/icon.svg

[2020-07-29 20:48] knkski opened #1446 "Switch to unix-style argument handling for addon enabling"
This is a proposal to switch to regular unix-style argument handling when enabling addons. Briefly, instead of this:

    microk8s.enable kubeflow:"bundle=lite"

switch to this:

    microk8s.enable kubeflow --bundle lite

The big issue to solve is that right now, users can enable multiple addons at once like this:

    microk8s.enable gpu kubeflow

So, we run into an issue of how to handle argume

[2020-07-29 21:34] balchua commented on #1444
Sure. I will have to recall the exact steps coz its not something i do all the time hahaha.
I will post the steps here.

[2020-07-29 21:44] balchua opened #1447 "[HA] enabling / disabling cilium addon"
Enabling Cilium on HA cluster does not disable Calico.
This makes it 2 cni running in the cluster.

In short enabling Cilium addon must stop calico while disabling Cilium must enable calico.

[2020-07-29 21:50] balchua opened #1448 "[HA] initial node in NotReady state fails when joining."
When the initial node is in `NotReady` state, joining another node will fail.
Propose to have `microk8s status --wait-ready` to wait until all nodes in the cluster are `Ready`.

[2020-07-29 21:52] joedborg commented on #1444
That's awesome, thanks so much.

[2020-07-29 22:02] balchua commented on #1444
Here's roughly how i add a self signed cert in ubuntu.

* Go to `/usr/local/share/ca-certificates/`
* Create a new directory (ex. "my-ca") to identify the self signed CA.
* Copy the CA's certificate in  `.crt` format into the  directory you just created.
* Run `sudo update-ca-certificates`
Any other self signed cert signed by this CA is now host trusted.

Make sure you do this to all the nodes in

[2020-07-29 22:13] balchua commented on #903
Usually in the pod's `command` or `args`.
You can also add it to the image's `entrypoint`

[2020-07-29 22:34] ArrowRaider commented on #234
@ghost What does that mean and why is it not documented here?  https://microk8s.io/

[2020-07-29 23:37] muhammadnasr commented on #1444
Thank you for your support.

Are you sure these will work with microk8s? it uses DinD and containerd so
we will have to do that to all new pods which is technically not practical.
Correct me if I am wrong.

On Thu, Jul 30, 2020 at 1:02 AM balchua <notifications@github.com> wrote:

[2020-07-29 23:49] balchua commented on #1444
MicroK8s is not using DinD.  All cluster components are in fact managed by systemd, including containerd.

[2020-07-30 03:26] atamahjoubfar commented on #1427
@ktsakalozos not rebooting the machine or `microk8s stop/start` did not resolve the issue for me:
[code]

[2020-07-30 10:36] arnoldfranz opened #1451 "Fluentd can't connect to elasticsearch: memory leak and crash on a fresh install"
Hi,
I did a fresh install of microk8s on a Virtualbox VM Ubuntu 10.04 fully updated today. (6 GBi RAM, 2 cores)
I install microk8s following the documentation: https://microk8s.io/docs
I enable the addons in this order :
sudo microk8s enable storage
sudo microk8s enable rbac
sudo microk8s enable dns
sudo microk8s enable fluentd
sudo microk8s enable metrics-server
sudo microk8s enable dashboard
sud

[2020-07-30 10:37] arnoldfranz commented on #1451
Ubuntu 18.04 and not 10.04 :-)

[2020-07-30 10:59] lao-white commented on #1439
Yes ,it works  well
![image](https://user-images.githubusercontent.com/68886759/88915375-ba417200-d296-11ea-8fd8-16cc80a67b55.png)

[2020-07-30 11:47] balchua commented on #1451
The fluentd addon image is rather old.  I guess its time to update it.  I will try to make a PR updating fluentd addon.
The addon is mostly taken from here https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch

[2020-07-30 11:55] kriswuollett commented on #1438
I reduced `hashsize` on the host and I can confirm `--conntrack-max-per-core=0` in the config file works. Thanks for pointing that out to me.

Otherwise, regarding the profile config itself, is there any special meaning to devices named with a [prefix `aadisable`](https://github.com/ubuntu/microk8s/blob/1e18f12fa3314eaa1f72bab5b6e300a11a6943ee/tests/lxc/microk8s-zfs.profile#L14)? I couldn't find a

[2020-07-30 11:59] mmattersdorfer commented on #1351
Hi @joedborg ,

the firewall of my company vpn blocked the calls. I deactivted it and then the pings and installation worked. Also the microk8s commands are now working.

Thanks,
Marcus

[2020-07-30 13:24] joedborg commented on #1351
Perfect, thanks for the update @mmattersdorfer

[2020-07-30 13:24] #1351 closed

[2020-07-30 14:33] knkski commented on #1439
@lao-white: Can you post the output from `env KUBEFLOW_DEBUG=true microk8s.enable kubeflow`?

[2020-07-30 15:07] tringuyen-yw opened #1454 "OCI runtime exec failed: apparmor failed to apply profile: write /proc/self/attr/exec"
Maybe this is a duplicate of #784 and #1214 This issue give you a way to reproduce the issue easily

[code]

Install Cassandra Operator:
[code]

This operator creates a pod, which fails to start because Readiness and Liveness probes failed:

[code]

From #784 and #1214 I applied this workaround, which has fixed the issue. But yesterday, the pod could start but still failed the health check.

[code

[2020-07-30 15:13] kfirfer commented on #1454
Im getting the same errors, the workaround isn't sufficient
the pods keep getting the errors

[2020-07-30 15:19] tringuyen-yw commented on #1454
@kfirfer that was what I encounter yesterday too. But today the workaround seems to work OK. However, the most stable workaround is to comment out the line `allowPrivilegeEscalation: false` (around line 6380 in the yaml)

Hope to have some feedbacks of the microk8s dev team. This bug is long standing and doesn't show up when using KIND.

[2020-07-30 17:44] decewei commented on #1444
Which microk8s has this issue? We used revision 1515. It doesn't have the version. Now it automatically update to 1550, and it stops working. We updated to latest revision 1551 which is using microk8s.ctr 1.3.4, the issue still preserves. Wasn't sure why it wasn't an issue in 1515. It's kind of a big roadblock for us now.

[2020-07-30 17:51] joedborg commented on #1444
@decewei which channel / track are you following?

[2020-07-30 17:54] decewei commented on #1444
Was 1.18/stable. For revision 1551, we switched to the stable/ channel.

[2020-07-30 17:57] joedborg commented on #1444
@decewei I would suggest reverting to 1.18/stable until this is fixed upstream.  From what I understand, it's been a issue in multiple (and not necessarily concurrent) versions of containerd as there are multiple bugs and PRs to address it.

[2020-07-30 18:12] decewei commented on #1444
Thanks for the prompt reply. The thing is 1.18/stable which the team updated over the weekend was also broken... we didn't have this last week....

[2020-07-30 18:21] arnoldfranz commented on #1451
Thank you,
I have rebuilt again a new installation with 6 Gi of RAM and the error messages disappeared.
I think my problem was due to the size of the machine.
However, the logger is flooded by by metrics-server witch emits a message every 50 ms !! I open an issue on this topic.
So I close the issue.

[2020-07-30 18:21] #1451 closed

[2020-07-30 18:48] arnoldfranz opened #1455 "Metrics-server floods the logger with messages ERROR: logging before flag.Parse: E0730 17:44:28.043770"
Hi,
My Box is a Microk8s Ubuntu 18.04 last update, 6Gi RAM 200 Gi SSD VM Virtualbox
Installation was done today, following the doc https://microk8s.io/docs. The cluster works fine. Nothing installed or done after basic installation. It is just fresh out of the box.  Addons have been installed: storage, rbac, dns, fluentd, metrics-server, dashboard, ingress.
The issue:
Every 50 ms the metrics serve

[2020-07-30 21:43] ktsakalozos commented on #1448
There is a bug at https://github.com/ubuntu/microk8s/blob/master/scripts/wrappers/common/utils.py#L45 . We should be checking for " Ready" (note the space) because "Ready" is also part of "NotReady". This should make `microk8s status --wait-ready` to report True if any one of the nodes are Ready. Why do we need *all* nodes to be Ready?

[2020-07-30 22:19] balchua commented on #1448
Not really necessary to have all nodes to be in `Ready`. We just need the seed (or initial) node be in `Ready` state so joining nodes can join appropriately.
Yeah i saw this bug as soon as i created the issue. 😊

[2020-07-30 22:25] invertigo commented on #196
This seriously needs some built-in documentation - here we are several years later and people (like me) are only getting the solution from a closed github issue?

[2020-07-30 23:15] balchua commented on #1455
Thanks for reporting this.  I looked at the inspection report.  I can see that it is still running heapster and old metrics server. Which we recently upgraded and heapster is decommissioned.  Perhaps its not in the 1.18 channel.
The error seems to be related to rbac for the addon-resizer.  What if we turn off RBAC?  Just testing it out.

[2020-07-31 06:52] ktsakalozos commented on #1444
The 1.18 branch [1] has been frozen for some time now. From revision 1515 to 1550 nothing went into that branch. Containerd is pinned to specific commit.

Where can I read more on your setup (setup gitlab autodevops with microk8s)? Is it something I can do easily in order to reproduce the error? I have not used gitlab in the past.

[1] https://github.com/ubuntu/microk8s/commits/1.18

[2020-07-31 07:49] balchua commented on #1448
Fix merged. Closing the issue.

[2020-07-31 07:49] #1448 closed

[2020-07-31 09:23] ktsakalozos commented on #1443
Closed via https://github.com/ubuntu/microk8s/pull/1450

[2020-07-31 09:23] #1443 closed

[2020-07-31 09:35] ktsakalozos commented on #1440
Hi @vadimeisenbergibm, thank you for bringing this to our attention. I added a couple of PRs to update the 1.17 and 1.16 releases. Unfortunately we do not have any incentives to provide any more patches for releases that have gone out of support from upstream [1, 2] so we will not be updating 1.14.

https://kubernetes.io/docs/setup/release/version-skew-policy/
https://github.com/kubernetes/sig-rel

[2020-07-31 10:18] arnoldfranz commented on #1455
Thank you for your help.
I did while microk8s was started:
microk8s disable rbac
At this point, still log flooding by metrics-server
After I did:
microk8s stop
microk8s start
The problem is still there.
Conclusion: disabling rbac didn't fix the issue.

[2020-07-31 13:16] decewei commented on #1444
We didn't use gitlab autodevops with microk8s. Our setup is only a `snap install microk8s --channel=1.18/stable`.
We removed the last release install, that's no where to find. But it is definitely revision 1515.

To reproduce error, I reproduced this on my home vm machine too is:

1. `snap install microk8s --channel=1.18/stable` (install the revision 1550)
2.1 Start an insecure private registry wi

[2020-07-31 14:52] nicks commented on #196
@invertigo "several years"??? O.o

@ktsakalozos if you're willing to re-open this issue, i have a suggestion on how to move forward. What we did in Tilt is try to detect if someone is using a microk8s registry, and if they are, double-check if localhost resolves to an ipv4 address. If it doesn't resolve, we error out and don't let them push to the registry.

Here's what it looks like: https://gith

[2020-07-31 15:01] vadimeisenbergibm commented on #1440
Hi @ktsakalozos, I see, thank you!

[2020-07-31 15:03] decewei commented on #1444
Some thoughts, I've looked through some code in containerd/containerd and container/cri.

It seems like the error message we get is coming from containerd. E.g. [Here in containerd/containerd pull.go](https://github.com/containerd/containerd/blob/d184a0a3430dc4a17a47cce37fb36126ac0c699a/pull.go), Pull calls fetch which causes the `failed to reference` error indicating above. There is no endpoint c

[2020-07-31 15:25] muhammadnasr commented on #1444
I have the same problem with the gitlab private repository that is
connected to microK8s cluster for autodevoos
 I tried  configuration using insecure and using secured self signed
certificate but both does not work.

I am think of trying k3s but first will try the mention solution of
installing certificate on my ubuntu nodes

في جمعة، 31 يوليو، 2020 في 6:03 م، كتب decewei <notifications@github.co

[2020-07-31 15:26] muhammadnasr commented on #1444
As suggested by @balchua

في جمعة، 31 يوليو، 2020 في 6:25 م، كتب Muhammad Hassan Nasr <
muhammad.hassan.nasr@gmail.com>:

[2020-07-31 16:18] ktsakalozos commented on #1444
@decewei  I must be missing something. I am following the instructions on https://microk8s.io/docs/registry-built-in with no problems on an AWS machine. Here is a full run:
[code]

What am I doing differently?I must be missing something. I am following the instructions on https://microk8s.io/docs/registry-built-in with no problems on an AWS machine. Here is a full run:
[code]

What am I doing diff

[2020-07-31 16:22] ktsakalozos commented on #1444
Might be worth taking a look at https://github.com/ubuntu/microk8s/issues/196#issuecomment-667160883

[2020-07-31 16:54] ktsakalozos commented on #196
@nicks sounds like a plan. Do you think we should fail the installation of the registry or throw a warning on what to do?

[2020-07-31 16:58] decewei commented on #1444
Let me perform this on a clean install. I'll report the result back. The thing is we have multiple machines having the same problem. There must be something missing here.

In the meantime, for people who steps on this issue, and need quick solution. For RHEL, uses the following command to install the CA you used to sign your registry certficate on your microk8s machine:
[code]

[2020-08-01 10:29] balchua commented on #1194
Closing this issue.  Fixed by the multus addon available currently on edge channel.

[2020-08-01 10:29] #1194 closed

[2020-08-01 10:31] balchua commented on #867
Since multus is now an addon on edge channel, closing the issue.

[2020-08-01 10:31] #867 closed

[2020-08-01 10:33] balchua commented on #1455
I tried reproducing this issue today.  I get some logs from metrics server but it is not continuously spewing this out.
Tried with bare bones microk8s, addons enabled: prometheus, linkerd, rbac, fluentd and metrics-server.

[2020-08-01 12:17] bangbangjim opened #1464 "Master node's status notReady upon reboot in Centos7"
As stated, the master node was rebooted as i wanted to test if it affects the services, it became notReady as a result, as shown in the output of `kubectl get nodes`:
[code]

Running `microk8s.inspect` gives me
[code]

Running `systemctl status snap.microk8s.daemon-kubelet` gives:
[code]
Running `sudo systemctl restart snap.microk8s.daemon-kubelet` and checking the status again will gives the same

[2020-08-01 16:21] kfirfer opened #1465 "Log rotation configuration"
Hello

I have tried to append this configuration inside `/var/snap/microk8s/current/args/kubelet`:
[code]

And its seems he respect only the "max-files" parameter and ignoring "max-size"
the "max-size" seems like he always set to 1GB+-

Full config:
[code]

Reproduce:
Make a simple job that print lots of lines to the stdout:
[code]

[inspection-report-20200801_161839.tar.gz](https://github.com/ubu

[2020-08-01 18:57] #584 closed

[2020-08-02 11:09] #266 closed

[2020-08-02 20:55] maximveksler opened #1466 "Enable GPU addon when master is "CPU" and a node has Nvidia drivers installed?"
Hi,

I have a 2 nodes cluster, the master being a CPU only node running control plane. A second node in the cluster has cuda installed and has 2 GPU's.

[code]

[code]

Is this mode supported where clsuter nodes have GPU however plugins are used to enable them?

Please run `microk8s inspect` and attach the generated tarball to this issue.
[inspection-report-20200802_205010.tar.gz](https://github.c

[2020-08-02 22:20] balchua commented on #1464
This line is strange.
[code]
Is it possible to show the content of `/var/snap/microk8s/current/args/kubelet`

[2020-08-03 04:13] bangbangjim commented on #1464
I added that line a long time ago.... i can restart kubelet once removing that line! thanks a lot.

[2020-08-03 04:13] #1464 closed

[2020-08-04 01:30] wknickless opened #1468 "multus host-device breaks when StatefulSet restarts a pod"
Under microk8s v1.18.6 rev 1551 there seems to be a race condition when a StatefulSet restarts a pod containing a multus cni host-device.  The network namespace of the old pod doesn't go away, so the host-device isn't available in the default network namespace for multus to put in the new pod.

To replicate, create a veth pair with a known MAC address:

[code]

Then apply this YAML with `kubectl a

[2020-08-04 03:04] shojiro000 opened #1469 "refresh failed"
Now I'm using microk8s v1.18.4 on Ubuntu 18.04.1 and snap is tries to refresh it to v1.18.6, but it always fails at the same step.
I attach the log file.
[refresh-failed.log](https://github.com/ubuntu/microk8s/files/5019830/refresh-failed.log)

The error message in the log file is in Japanese.

It means

Are there any workarounds?

[2020-08-04 11:54] balchua commented on #1468
@apnar will you be able to help the user?
Many thanks!

[2020-08-04 11:58] balchua commented on #1466
Thanks for reporting this issue.  In the current cluster setup commands related to `microk8s` are limited to the main node as you have already pointed out.
But in the ha-cluster preview version any node can issue `microk8s` commands.

[2020-08-04 19:37] AnishAnil opened #1471 "How to expose a ssh port tcp/29418 using ingress"
microk8s status
microk8s is running
addons:
dashboard: enabled
dns: enabled
ingress: enabled
registry: enabled
storage: enabled
cilium: disabled
fluentd: disabled
gpu: disabled
helm: disabled
helm3: disabled
istio: disabled
jaeger: disabled
knative: disabled
kubeflow: disabled
linkerd: disabled
metallb: disabled
metrics-server: disabled
prometheus: disabled
rbac: disabled

I have setup ingress in

[2020-08-05 05:18] tomalbrecht opened #1472 "microk8s v1.18 seems to prevent installing kubeflow from manifests"
It seems, that microk8s prevents installing kubeflow from manifests.
- Why is it not possible to install kubeflow via manifests?
- What do I have to change, so I am able to deploy the kubeflow manifests?

What am I trying to do?
- Installing microk8s v1.18.6
   - `microk8s.enable dns dashboard storage gpu`
   - Patching Istio configuration for trustworthy JWTs
- Deploying kubeflow manually (not mi

[2020-08-05 09:52] axelekwall opened #1473 "Port forward issue"
Hello! I just got up and running with microk8s and I'm trying to make the dashboard available. When running the `kubectl` port-forward command it changes the port from `443` to `8443` for some reason resulting in errors when trying to access the service. Does anyone know hot to fix this issue?

[code]

[2020-08-05 10:02] axelekwall commented on #1473
I think this might be related, I get the same error as described here: https://discuss.kubernetes.io/t/dashboard-service-connection-refused/11786

[2020-08-05 10:08] axelekwall commented on #1473
I figured it out, UFW issue. It works with the firewall disabled. Closing the issue.

[2020-08-05 10:08] #1473 closed

[2020-08-05 11:00] balchua commented on #1471
I have not tried this.  You need to edit the configmap `nginx-ingress-tcp-microk8s-conf` in the `ingress` namespace.
[code]
Got the information from here https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/

[2020-08-05 11:59] balchua commented on #1472
Coredns doesn't look healthy
[code]
Does this server have access to the internet?

[2020-08-05 14:00] BitRacer opened #1474 "First installs stuck in Pending"
I'm new to microk8s so this may be an obvious miss on my part.

I am using microk8s to better understand service mesh, istio/envoy etc.  I have tried installing coredns, dashboard and they seem stalled.

Also when I run  'microk8s install envoy' as noted here:
https://istio.io/latest/docs/setup/platform-setup/microk8s/

It does not seem to do work...

root@master:~# microk8s.enable envoy
Nothing t

[2020-08-05 16:34] AnishAnil commented on #1471
Hello Balchua,

Thank you for the suggestion, I had gone through the documenation already.

I'm wondering why are we creating a configmap to just expose a ssh port???
Config maps are used for a different purpose all together is my understanding.

I will give this a try.

Thank you,
Anish

[2020-08-05 21:56] balchua commented on #1471
@AnishAnil normally ingress proxies http/https requests to your services through port 80 and 443.  Since ssh isn't an http request, you need to tell the ingress (in this case nginx) a way to proxy requests to your service from which port to which port.
So far this is what i understood from the docs. 😊

[2020-08-05 22:04] #533 closed

[2020-08-05 22:09] balchua commented on #1474
@BitRacer thanks for using MicroK8s.
First, i think you need to setup the cgroups on your system for raspberry PIs.
Here's link.
https://discuss.kubernetes.io/t/alternative-installs-macos-windows-10-multipass/11257
Or here
https://microk8s.io/docs/install-alternatives#heading--arm

Second, There is no istio available for `arm64` architecture.
And envoy isn't included as microk8s addon, that is why

[2020-08-06 03:56] AnishAnil commented on #1471
Hello Balchua,

That is exactly what even i understood from the documentation. :-)
https://microk8s.io/docs/addon-ingress

But what confused me is, we are using the same nginx as a reverse proxy in docker container and a similar set of instructions fails when implementing the same on Kubernetes.

So here is the setup
Nginx 1.16
gerrit Application: 3.2
Gerrit port 8080 and 29418
on nginx we exposed

[2020-08-06 04:53] balchua commented on #1471
I believe in docker the port 29418 is directly exposed to the host and it is not passing thru nginx.  If u stop nginx in docker can you still ssh to your container in docker? My guess is yes.

[2020-08-06 05:28] bergkvist commented on #1154
Seems like this might have happened because the VPS I was running on ran out of disk space (80GB). This never struck me as a possibility at the time - since I imagined 80GB would never run out that quickly.

[code]

The reason the syslog file is so huge is because it is full of k8s-errors which are likely caused by a lack of storage space. (almost making this a "bootstrap paradox")

Regarding the

[2020-08-06 07:49] #589 closed

[2020-08-06 08:41] tomalbrecht commented on #1472
Yes. I did a fresh install (without VPN, maybe I ran microk8s.inspect while on VPN).
[inspection-report-20200806_103648.tar.gz](https://github.com/ubuntu/microk8s/files/5033631/inspection-report-20200806_103648.tar.gz)

[2020-08-06 11:00] balchua commented on #1154
Containerd images are in `/var/snap/microk8s/common/var/lib/containers`
If you are using the `storage` addon, then it will be in `/var/snap/microk8s/common/default-storage`
The `registry` addon uses the `storage` addon.

[2020-08-06 13:00] BitRacer commented on #1474
@balchua the istio guys pointed me here.  just thought I would share it https://www.envoyproxy.io/docs/envoy/latest/install/building#arm64-binaries

it does look like there are two docker containers available, would this work?

[2020-08-06 13:24] balchua commented on #1474
Im not that familiar with envoy.  I think you can manually install envoy into your cluster.  It should be able to get the arm64 image. But for the istio addon in microk8s, dont think we have an arm64 version.

[2020-08-06 16:08] jackielii opened #1475 "joining ha fail silently"
I had a stable version installed previously, can't remember if it was working. But earlier today I installed the ha-preview version as instructed from docs. Joining seems to fail silently.

Also tried `sudo snap remove --purge microk8s` and install again. it still wouldn't work.

[inspection-report-20200806_170128.tar.gz](https://github.com/ubuntu/microk8s/files/5036183/inspection-report-20200806_

[2020-08-06 19:13] BitRacer commented on #1474
ok, thanks for the feedback.  certainly makes the learning curve a little steeper, but Ill figure it out.  thanks

[2020-08-06 19:13] #1474 closed

[2020-08-06 22:50] bergkvist commented on #1154
Actually, it seems like running out of storage space was only part of the problem. After restarting microk8s and waiting a few hours - the syslog starts being spammed with errors every 10 seconds again - and all the pods restart.

Typical logs that are printed every 10 seconds or so to syslog:
[code]

[2020-08-06 23:07] balchua commented on #1154
Thanks for looking into this one.  Will it still be possible to grab the inspect tarball again?
Also prior to that, what do you have running in there?

[2020-08-06 23:15] balchua commented on #1475
Very strange i keep seeing this log.
[code]
After you do `sudo snap remove microk8s --purge`. Do you still see the folder `/var/snap/microk8s`?

[2020-08-06 23:25] bergkvist commented on #1154
Tarball:
[inspection-report-20200806_230915.tar.gz](https://github.com/ubuntu/microk8s/files/5038513/inspection-report-20200806_230915.tar.gz)

All the pods that are running:
_(Notice that coredns says 0/1 Running)_
[code]

<details><summary>kubectl describe pod coredns-588fd544bf-fpvsj -nkube-system</summary>

[code]

</details>

[2020-08-06 23:47] balchua commented on #1154
I can see that coredns isnt healthy.  I will start first by disabling elasticsearch, fluentd.  As elasticsearch seems to be pretty resource intensive.  Well just to see if the system gets to stable state.

[2020-08-07 00:01] bergkvist commented on #1154
Okay - I tried disabling elasticsearch/fluentd now using `microk8s disable fluentd`. I guess I will see in the next few days if it remains stable.

How much memory does the fluentd/elasticsearch addon usually consume?

[2020-08-07 00:49] balchua commented on #1154
The elasticsearch resource usage depends on how much logs we are putting into it.  If your pod logs are verbose then it can be resource heavy.
We recently updated metrics server.
The update removed some components which are not required or made obsolete by the metrics server.

[2020-08-07 01:25] balchua commented on #1154
@bergkvist do you also mind disabling the metrics-server? Thanks.

[2020-08-07 11:18] bergkvist commented on #1154
After running `microk8s disable fluentd`, none of my pods have restarted during the last 11 hours. I think you were right about elasticsearch causing the problems here/being resource heavy.

---

I didn't realize metrics-server was part of microk8s addons, so I had originally added it with the command below (which didn't seem to work anyways):
[code]

I disabled it using
[code]

[2020-08-07 12:28] balchua commented on #1154
@bergkvist good to hear that it seems to make the cluster stable.  I believe that the more logs fluentd forwards to ES, the more resources it needs to index them.
And as you said, some pods can be affected.  You can try grafana [loki](https://github.com/grafana/loki) if your need is simply to search for logs and dont do any analytics on it. It cuts storage needs by a lot.

[2020-08-07 13:36] jackielii commented on #1475
@balchua I saw that in the log as well. That's why I added `--purge` in the first place. I checked and there is no `microk8s` folder under `/var/snap`

[2020-08-08 09:08] #595 closed

[2020-08-08 16:26] codebeard1 commented on #1466
I'm having a similar issue with enabling GPU on Microk8s with WSL2. I have a single node Microk8s cluster and have followed all of the steps for the [NVIDIA driver](https://docs.nvidia.com/cuda/wsl-user-guide/index.html#installing-wsl2) for which I'm able to use my machines GPU with Docker and Tensorflow without any issues. However, when I run microk8s.enable gpu I still get the following message.

[2020-08-08 16:38] codebeard1 commented on #1466
For setting up microk8s I used the instructions [here](https://wsl.dev/wsl2-microk8s/) to get to this point. Also, I'm wondering if I have to go through this [exercise](https://github.com/NVIDIA/kubevirt-gpu-device-plugin) first in order for the GPU to be recognized by microk8s?

[2020-08-09 08:01] balchua commented on #1127
Another observation here.
Scenario 1: abrupt shutdown of a voting node.
4 node cluster.  MicroK8s reports this.
[code]
I shutdown the node `10.3.0.7`. Then MicroK8s reports this.

[code]
All good.  The standby nodes became voter node.

Scenario 2: voter node leaves the cluster on purpose.

Still 4 node cluster.  Initial state of the cluster.

[code]
Purposely leave the node `10.3.0.7` from the clu

[2020-08-09 08:08] balchua commented on #1475
@jackielii how many nodes do you have in this setup?

[2020-08-09 09:05] jackielii commented on #1475
I have 4 of them, this is the 5th. They all have Ubuntu 20.04 on them

On Sun, 9 Aug 2020, 09:08 balchua, <notifications@github.com> wrote:

[2020-08-09 09:30] balchua commented on #1475
All 4 have joined the ha cluster successfully?

[2020-08-09 09:43] jackielii commented on #1475
Indeed, the other 4 joined without problems. I think the only difference in
this one is it had microk8s installed before and my user is added to the
microk8s group

On Sun, 9 Aug 2020, 10:30 balchua, <notifications@github.com> wrote:

[2020-08-09 10:02] balchua commented on #1475
Thanks. So i just want to confirm, all 4 nodes where using this channel `latest/edge/ha-preview`?
If you run `microk8s status` on any of the 4 nodes, what do you see?

[2020-08-09 10:04] jackielii commented on #1475
Yes all 4 nodes have exact same version. You can imagine I was doing a bit
copy and paste. All worked except the 5th. Quite bizarre.

On Sun, 9 Aug 2020, 11:02 balchua, <notifications@github.com> wrote:

[2020-08-09 10:06] jackielii commented on #1475
sorry, here is the output:

[code]

[2020-08-09 10:16] jackielii commented on #1475
I can give you access to the machine if that helps

[2020-08-09 10:18] balchua commented on #1475
So the 5th node which is new.  Just checking here, are these the steps you did when joining the 5th node.
* on the 5th node, `sudo snap install microk8s --classic --channel=latest/edge/ha-preview`
* On any other node `microk8s add-node`
* Then just do `microk8s join....` on the 5th node.

Just wanted to see that you **do not** need to run `microk8s enable ha-cluster`

[2020-08-09 10:26] jackielii commented on #1475
yes, exactly.

In the first try, I did:

* `sudo snap refresh microk8s --classic --channel=latest/edge/ha-preview`
* on the first ha node: `microk8s add-node`
* copy & paste to this machine the `microk8s join ...`

this failed silently, then I tried `sudo snap remove mocrok8s --purge` then `sudo snap install microk8s --classic --channel=latest/edge/ha-preview`

I even tried rebooting the machine.

[2020-08-09 10:38] balchua commented on #1475
Sorry for the back and forth...
We can try.
* On the 5th node `sudo snap install microk8s --classic --channel stable`
* Still on the 5th node, `microk8s enable ha-cluster`
* On a node which is part of the cluster, do `microk8s add-node`
* Then on the 5th node do a `microk8s join...`.

Fyi the `microk8s add-node` can accept arguments to put in your token.
Ex. `microk8s add-node --token [32 random c

[2020-08-09 10:55] jackielii commented on #1475
No problem at all! Appreciate you being so responsive. I can give you access to the machine if it helps?
[inspection-report-20200809_115336.tar.gz](https://github.com/ubuntu/microk8s/files/5047285/inspection-report-20200809_115336.tar.gz)

I followed steps exactly:

[code]

[2020-08-09 11:04] balchua commented on #1475
It takes sometime for the node to get to ready state.  Usually i run `microk8s status --wait-ready` on other nodes.
Unfortunately Im not with my pc right now.

[2020-08-09 11:06] balchua commented on #1475
I see this in the logs.

[code]
Any sort of firewall in between these?

[2020-08-09 11:09] balchua commented on #1475
The previous post was an old log.  Sorry for the confusion.

[2020-08-09 11:11] jackielii commented on #1475
no. I saw that too. no firewall at all:

[code]

Strangly 10.10.10.92 is not the IP of this server, it's the IP of a relay node of tailscale network. I use it to forward tailscale network into 10.10.10.x IPs.

I thought about if this is the cause of the issue. But the problem is other nodes also have tailscale running and installed without any problem.

[2020-08-09 11:20] jackielii commented on #1475
If it helps, I have a Tmux session running here: https://d6fcab8be620.ngrok.io you only need the browser to access. I can PM user/pass to you

[2020-08-09 11:52] balchua commented on #1475
I can try when i get the chance.  Are u on slack?

[2020-08-09 11:57] jackielii commented on #1475
Just joined, and messaged you

On Sun, 9 Aug 2020 at 12:52, balchua <notifications@github.com> wrote:

--
Jackie

[2020-08-09 13:26] giner commented on #784
The same issue applies to Ubuntu 20.04 (focal) and prevents us from upgrading to the fresh LTS version of Ubuntu

[2020-08-09 17:08] giner commented on #784
Apparently something changed between Linux kernel 4.15.0 (works) and 4.18.0 (doesn't work)

[2020-08-10 06:21] ktsakalozos commented on #1475
@jackielii could you share the output of `microk8s.status --format yaml` on one of the 4 nodes already in the cluster?

I wonder if the cluster assumes the failing node to be part of the cluster because of an old join attempt.

[2020-08-10 06:32] ktsakalozos commented on #1469
Hi @shojiro000 what channel are you currently on? Can you share the output of `snap list microk8s` or the tarball produced by `microk8s.inspect`? Could you also share the output of `snap changes microk8s`? I need to understand what is the refresh path that is failing. Thank you.

[2020-08-10 07:35] jackielii commented on #1475
[code]

[2020-08-10 08:05] #598 closed

[2020-08-10 08:06] ktsakalozos commented on #1127
@balchua I cannot reproduce scenario 2. Is this scenario reproducible on your side? Some time is needed (a few seconds) before a standby node is promoted to a voter (and appear in the `datastore master node` list) but I trust you gave it enough time to see what happens. Do you have the inspection tarball?

@freeekanayaka might have some ideas on what may be happening and/or what information we nee

[2020-08-10 09:01] ktsakalozos commented on #1475
When a node joins a cluster it contacts the cluster node indicated in the connection string (eg  the leading IP in  `10.228.72.121:25000/2755ef457217c856d9244c57e0ac9`). The cluster's node responds with the IP it sees the join request coming from. That IP has to be one of the IPs of the joining node. The datastore (dqlite) uses that IP to listen to connections.

The error: `listen tcp 10.10.10.92:

[2020-08-10 09:21] balchua commented on #1127
@ktsakalozos I don't have the inspect tarball anymore. Sorry.  I eventually join another node and forced it to go offline ungracefully.  This made the standby node became a voter.
Yes i did wait for sometime, probably around 5 mins.

[2020-08-10 09:46] balchua commented on #1337
@sstubbs this is great. 😊 Is this something you keen to contribute?  A storage that can work for single node and multi node is perfect.

[2020-08-10 09:54] freeekanayaka commented on #1127
As far as I can tell from the code, if at any point in time you have 2 online voters and 1 online stand-by, then that stand-by should get promoted to voter within 30 seconds.

There **shouldn't** be race conditions involved here, so I'm not sure why @ktsakalozos was not able to reproduce it. Perhaps there is some piece missing? @balchua if you could try to reproduce it on your end and see if the b

[2020-08-10 09:58] balchua commented on #1127
@freeekanayaka i will try to reproduce it this time ill take the inspect tarball.

[2020-08-10 10:09] jackielii commented on #1475
@ktsakalozos that is a good analysis, I think it's the most likely cause. However the other nodes all have exactly same tailscale setup.

My setup is like this:

- 5 node with microk8s HA mode reside in the same physical network: `10.10.10.0/24`
- these 5 node all have tailscale without any special routing table: no `--accept-routes`
- 1 extra machine for tailscale relay: `sudo tailscale up --adve

[2020-08-10 10:15] ktsakalozos commented on #1472
Hi @tomalbrecht,

Thank you for using MicroK8s. I see the pods on the cluster up an running. Could you provide more details on how exactly the tutorial is failing? For example which point is failing, with what error. As soon as the error comes up can you create a `microk8s.inspect` tarball so we grab the state the cluster is in?

[2020-08-10 12:50] tomalbrecht commented on #1472
@ktsakalozos here it is.

tal@ki-server1:~/workspace/ki-stack$ kubectl get pods -A | grep calc
kubeflow               calculation-pipeline-hwvjr-1240467882                          0/2     Completed   0          6d4h
kubeflow               calculation-pipeline-zpvvt-3399156013                          0/2     Completed   0          6d4h

[inspection-report-20200810_124008.tar.gz](https://github.co

[2020-08-10 19:46] #1444 closed

[2020-08-10 22:14] balchua commented on #1431
Pr merged

[2020-08-10 22:14] #1431 closed

[2020-08-10 22:15] balchua commented on #1447
Pr merged

[2020-08-10 22:15] #1447 closed

[2020-08-10 22:16] balchua commented on #1440
Pr merged into 1.17, 1.16

[2020-08-10 22:16] #1440 closed

[2020-08-10 22:17] balchua commented on #1430
Pr merged

[2020-08-10 22:17] #1430 closed

[2020-08-11 12:12] knkski commented on #1472
@tomalbrecht: I suspect you need to switch to the PNS executor:

https://argoproj.github.io/argo/workflow-executors/#process-namespace-sharing-pns

The default executor for Argo (which Kubeflow Pipelines builds on) is a docker executor, which isn't used by MicroK8s.

[2020-08-12 05:24] shojiro000 commented on #1469
Hi @ktsakalozos . Thank you for your response.
Here are some snap commands and outputs.

I don't think that you need to see the output of microk8s.inspect but if you do I'll share it.
Thank you.

[2020-08-12 07:20] hpcaicom commented on #1439
I have the same problem

[2020-08-12 07:54] ktsakalozos commented on #1469
What can you tell me about the deployment you have? How old is it? Where you always following the latest/stable channel? What addons do you have enabled? Any special configuration you have?

The `opt/cni/bin` is where kubernetes finds the CNI utils. The path to the cni utils used to be `/snap/microk8s/current/opt/cni/bin/`. With the multus support we moved the path to the cni utils in the writeabl

[2020-08-12 08:29] mogwai commented on #1282
I'm also having this problem running microk8s in 20.04. I have tried  sudo iptables -P FORWARD ACCEPT

I cannot ping 8.8.8.8, dig google.com or curl example

[2020-08-12 10:39] shojiro000 commented on #1469
Hi @ktsakalozos . Thank you for your information.
I'm using microk8s since April. Always using latest/stable channel.

Here attachments are the file list of directories and some files you requested.
[containerd-template.toml.txt](https://github.com/ubuntu/microk8s/files/5062115/containerd-template.toml.txt)
[kubelet.txt](https://github.com/ubuntu/microk8s/files/5062116/kubelet.txt)
[ls-snap-microk

[2020-08-12 11:34] tomalbrecht commented on #1472
@knkski: Patching pns into argo executor does solve the problem. The kubeflow pipeline succeeds now. Thanks for your help.

![image](https://user-images.githubusercontent.com/17781570/90010628-72601900-dca0-11ea-87b0-b5e27176e725.png)

![image](https://user-images.githubusercontent.com/17781570/90010693-93286e80-dca0-11ea-9efd-295fb7f865ce.png)

[2020-08-12 11:34] #1472 closed

[2020-08-12 13:51] knkski commented on #1439
@hpcaicom: A check was recently added for this in #1477. That's only on the edge snap, so in the meantime, what does this command output for you?

    microk8s.kubectl run --rm -it --restart=Never --image=ubuntu connectivity-check -- bash -c "apt update && apt install -y curl && curl ttps://api.jujucharms.com/charmstore/v5/~kubeflow-charmers/ambassador-88/icon.svg"

[2020-08-12 13:53] sstubbs commented on #1337
I would happily contribute this.  I've looked at this. https://github.com/ubuntu/microk8s/blob/master/docs/build.md
My dev machine is a mac though. How do I go about this? Do I need to run a vm?

[2020-08-12 13:55] sstubbs commented on #1337
It would be great if there was a way of doing this in docker.

[2020-08-12 14:00] sstubbs opened #1481 "Future channel for ha-preview"
Hi,

I'll be setting up a production cluster in a few days for some smaller workloads. I've been testing the ha-preview channel for a while and its working well. Once it's out of preview will there be a stable ha channel that I can change the installation to use? Or will I have to reinstall microk8s?

[2020-08-12 14:11] sstubbs commented on #1337
currently I'm using openebs for direct pvs on nvme drives and then minio using direct csi drive for object storage on 4 ssds using their direct csi driver. It seems to be a lot better performance wise than ceph and a lot simpler to setup.

They merged a PR I did which makes it compatible with microk8s https://github.com/minio/direct-csi/issues/11

Storage seems to be the biggest nightmare that I'v

[2020-08-12 14:17] sstubbs commented on #1337
Perhaps minio is out of scope of microk8s but openebs would definitely be great.

[2020-08-13 00:55] ninja- opened #1483 "Microk8s stop + start results in dead pods"
Running microk8s stop and then start results in dead pods in etcd and then attempt to view pod logs for example will result in:

[code]

I would expect pods to survive microk8s restart, or at least be wiped during restart...
Pods are not going to run after restart if I don't manually delete them

EDIT: looks like it recovers by itself after a few minutes...but I would still be interested to know i

[2020-08-13 07:00] shojiro000 commented on #1469
Hi. @ktsakalozos .
Your workaround has worked.
If you need more information, I'll share them.
Thank you.

[2020-08-13 09:48] mogwai opened #1484 "Pods don't have internet access"
I have a single node cluster running on a Ubuntu 20.04 machine. None of the pods are able to ping ips or resolve dns requests. The coredns kube-system pod is able to receive requests but isn't able to resolve them:

[code]

[inspection-report-20200813_094313.tar.gz](https://github.com/ubuntu/microk8s/files/5068303/inspection-report-20200813_094313.tar.gz)

`cat /proc/sys/net/ipv4/ip_forward` is `1

[2020-08-13 11:35] balchua commented on #1483
microk8s stop will stop kubelet, containerd, apiserver etc.. which mean the pod is terminated.

[2020-08-13 11:40] wmentzel opened #1485 "pod has unbound immediate PersistentVolumeClaims"
I am trying to apply this deployment:

`microk8s kubectl apply -f https://raw.githubusercontent.com/nats-io/k8s/master/nats-streaming-server/single-server-stan.yml`

[code]

from [here](https://docs.nats.io/nats-on-kubernetes/minimal-setup). but it fails with

I already ran:

`microk8s enable storage`

because it was disabled before.

`microk8s kubectl get storageclass` returns

`microk8s inspect`

[2020-08-13 12:15] balchua commented on #1485
Usually this happens when pvc was first created before the storageclass exist
I can see that the pvc `stan-sts-vol-stan-0 ` was created minutes before the storage addon was enabled.
[code]
What you can do is delete stan.

[code]
Then delete the pvc `stan-sts-vol-stan-0`
`microk8s kubectl delete pvc stan-sts-vol-stan-0`

Then apply stan manifests.

[2020-08-13 12:17] balchua commented on #1484
Do you have proxy?

[2020-08-13 12:25] mogwai commented on #1484
No I haven't setup a proxy on the machine. I'm able to perform dig, curl and pings on the node without being in a container.

[2020-08-13 13:13] wmentzel commented on #1485
That was it! Thanks for answering me so quickly, really great! :+1: :1st_place_medal:

[2020-08-13 13:13] #1485 closed

[2020-08-13 14:20] AnishAnil commented on #1471
Do we need to expose 29418 aswell in the ingress?? Since eitherwayz ingress will not be used to push the data????

Do we use deamonset or ingress  like the documentaion --> https://microk8s.io/docs/addon-ingress

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-ingress-tcp-microk8s-conf
  namespace: ingress
data:
  6379: "default/redis:6379"
---
apiVersion: apps/v1
kind: DaemonSet
metada

[2020-08-13 15:16] ktsakalozos commented on #1481
Hi @sstubbs,

The HA work will go into the master branch within the next two weeks so it will get released with the v1.19 kubernetes.

If you deploy now from the latest/stable there will be instructions on how to enable HA when released.

Thank you for trying out the HA preview. Your feedback is very valuable.

[2020-08-13 19:57] mogwai commented on #1484
Here are the iptables on the node:

[code]

[2020-08-13 19:58] mgonzaga1990 opened #1487 "docker.d location"
I'm just new to microk8s and would like to ask one question.

So I was setting up ```registry``` in my kubernetes cluster running on my raspberry pi and part of the configuration is to set up ```insecure-registries```. However, I don't have docker installd on my machine as I have heard from my collegue that micok8s has some sort of docker daemon inside.

Since I have no ```docker``` installed on m

[2020-08-13 20:19] ktsakalozos commented on #1487
I suspect you are looking for the container runtime endpoint in `/var/snap/microk8s/common/run/containerd.sock`?

[2020-08-13 20:23] mgonzaga1990 commented on #1487
I'm not sure but according to docs of drone ci

https://docs.drone.io/runner/docker/installation/linux/

it is mounting to /var/run/docker.sock

anyway i'll try that and let you know the result.

thanks

On Fri, Aug 14, 2020, 4:19 AM Konstantinos Tsakalozos <
notifications@github.com> wrote:

[2020-08-13 20:39] ktsakalozos commented on #1484
Here is what might be happening.

When you `microk8s enable dns` you let kubernetes (the kubelet service) know of the existence of the dns service. When pods are created kubelet will inject the coredns endpoint in the containers so that coredns is used when resolving dns requests.

In the attached logs I see the coredns pod created 13 hours ago and all the pods before that. So, is it possible you

[2020-08-14 07:30] #1173 closed

[2020-08-14 07:32] mogwai commented on #1484
I disabled and enabled the dns an attempt to resolve the issues I was having. The dig requests from the pods are making it to the coredns service. The problem is that no request from the k8s cluster is able to reach any IP outside of the node. The core dns included it seems.

[2020-08-14 10:47] mgonzaga1990 commented on #1487
Hi @ktsakalozos ,

Here is the set up I tried.

[code]

[code]

Here i'm mounting ```drone``` path ```/var/run/docker.sock``` to ```/var/snap/microk8s/common/run/containerd.sock```

But on the log there result is this
[code]

**microk8s inspect**
[code]

[2020-08-14 13:37] andreas-ahman opened #1489 "Unable to deploy in microk8s using local file. Mac OS"
After installation of microk8s i enabled the dns plugin.

[code]

Which works fine. But when deploying any workload using a local deployment specification I get the following error.

[code]

Any ideas?

[2020-08-14 17:54] sstubbs commented on #1481
ok that is great news. Thanks.

[2020-08-14 19:57] taintedkernel commented on #574
@ktsakalozos is there any other information I can provide to help debug this further?

[2020-08-15 12:29] balchua commented on #1487
I think you should use the drone kubernetes runner.  It says here in the drone docker runner that one should use the kubernetes runner.
https://docs.drone.io/runner/docker/overview/

[2020-08-15 12:31] balchua commented on #1471
Yes the ingress addon is using daemonset.

[2020-08-15 16:19] hpcaicom commented on #1439
have the same problem

[2020-08-15 16:22] hpcaicom commented on #1439
Any workaround to skip this.

[2020-08-15 16:24] knkski commented on #1439
@hpcaicom: can you post the output from running that command? Also, can you post the tarball generated by `microk8s.inspect`?

[2020-08-15 16:46] hpcaicom commented on #1439
[inspection-report-20200815_194148.tar.gz](https://github.com/ubuntu/microk8s/files/5079157/inspection-report-20200815_194148.tar.gz)
[output.txt](https://github.com/ubuntu/microk8s/files/5079158/output.txt)
I am sure I have the internet access, and I can  download icon.svg success.

[2020-08-15 17:33] knkski commented on #1439
@hpcaicom: It looks like that inspection report was done on a freshly-installed MicroK8s instance. Can you run:

    KUBEFLOW_DEBUG=true microk8s enable kubeflow

And then post the output from that command, as well as an inspection report generated after that command has finished running?

[2020-08-15 19:44] mgonzaga1990 commented on #1487
@balchua thanks got it to work

[2020-08-15 22:30] balchua commented on #1487
Great!

[2020-08-15 22:30] #1487 closed

[2020-08-15 22:45] #1481 closed

[2020-08-15 23:14] hpcaicom commented on #1439
The report attached in last post is collected after I run the microk8s enable kubeflow command

I do it again, and here is the new report.

[root ~]# KUBEFLOW_DEBUG=true microk8s enable kubeflow
Couldn't contact api.jujucharms.com
Please check your network connectivity before enabling Kubeflow.
Failed to enable kubeflow

[inspection-report-20200815_194148.tar.gz](https://github.com/ubuntu/microk8s

[2020-08-16 01:01] knkski commented on #1439
@hpcaicom: Can you post the output from `snap info microk8s`?

[2020-08-16 10:17] hpcaicom commented on #1439
snap info microk8s
name:      microk8s
summary:   Lightweight Kubernetes for workstations and appliances
publisher: Canonical✓
store-url: https://snapcraft.io/microk8s
contact:   https://github.com/ubuntu/microk8s
license:   unset
description: |
  MicroK8s is the smallest, simplest, pure production Kubernetes for clusters, laptops, IoT and
  Edge, on Intel and ARM. One command installs a single-no

[2020-08-16 12:03] shankardevy opened #1491 "Provide more clear message in the csr.conf.template for adding new IPs"
When connecting to microk8s remotely, I got the error:

Unable to connect to the server: x509: certificate is valid for 127.0.0.1, 10.152.183.1, 10.0.0.4, 10.1.26.0, 172.17.0.1, not x.x.x.x
(where x.x.x.x is the public IP of my server)

These Github issues discuss about it:
https://github.com/ubuntu/microk8s/issues/415
https://github.com/ubuntu/microk8s/issues/376
https://github.com/ubuntu/microk8

[2020-08-16 13:58] jareks commented on #784
I am experiencing same issue after upgrading to 20.04.
Luckily, fix mentioned earlier with removing/adding apparmor seems to work for me.

[2020-08-16 14:49] tksh164 commented on #1379
Hi @joedborg,

Sorry for the late reply. The results are the following:

[code]

Thanks,
Takeshi

[2020-08-16 15:19] gnilesh4 opened #1492 "Microk8s Master only"
Hi Microk8s Team,

We are trying to setup a multinode cluster with microk8s.
To add slave nodes to the microk8s cluster, we are running the add-node command and generating the join command.

When we do deployment ( Angular UI ) in Master Node the pods are created as expected.

The issue is the pods are created in Master & we are able to access the site from Master + child node,
How do we restrict

[2020-08-16 17:53] vadimkhm commented on #717
Hi guys! Can anyone help me with this, it was downloadable in the morning... Thanks.
I am on the latest stable version. The Internet is ok, other things are being downloaded normally.

microk8s enable helm
Enabling Helm
Fetching helm version v2.16.7.
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Lef

[2020-08-17 04:08] balchua commented on #1492
Hi @gnilesh4 you do not want the pod to be scheduled on the master node?
Normally it is done using taints and tolerations.  MicroK8s by default do not set these taints.
There's a good documentation at the kubernetes docs. https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/

[2020-08-17 09:47] SemanticBeeng commented on #233
Mind having another try using `x11docker` https://github.com/mviereck/x11docker ?

See also
1. https://dev.to/brickpop/my-dream-come-true-launching-gui-docker-sessions-with-dx11-in-seconds-1a53
1. https://medium.com/@techupbusiness/running-gui-apps-securely-in-docker-sandbox-5d945288929b
1. https://github.com/mviereck/x11docker/wiki/Remote-access-with-SSH
1. https://www.cbtechinc.com/desktop-docke

[2020-08-17 13:16] gnilesh4 commented on #1492
@balchua , i will try the solution today & update you
Thanks for the support.

[2020-08-18 07:04] ktsakalozos commented on #717
@vadimkhm does the problem persist? I was just able to get the addon running.

[2020-08-18 07:15] vadimkhm commented on #717
@ktsakalozos thank you for checking, I figure out that the internet provider was blocking specific URLs, now all is good and all components are connected and working!

[2020-08-18 12:17] ktsakalozos opened #1495 "Multus may block microk8s refreshes"
In the configure hook if we detect the multus addon enabled we disable and re-enable it [1]. This operation has to be performed within 5 minutes or else the configure script will fail (see below). Do we need to disable/enable multus? @apnar, is there a better way to achieve this?

[code]

[1] https://github.com/ubuntu/microk8s/blob/master/snap/hooks/configure#L373

[2020-08-18 13:14] apnar commented on #1495
@ktsakalozos happy to take a look.  Honestly I wasn't too familiar with what exactly the "refresh" was supposed to accomplish so I went on the safe side with a reinstall (with the bonus being it updating the daemon set to the latest version).  What is the specific goal of the refresh?  Do all existing pods and config files make it through unharmed?

[2020-08-18 13:28] ktsakalozos commented on #1495
Thank you for the prompt reply @apnar

The configure hook [1] is called
- right after the install hook
- during a snap refresh
- when a user refonfigures the snap (snap set microk8s foo=bar), we do not have this in MicroK8s

During a refresh snap d will stop all MicroK8s services, will take a snapshot of the $SNAP_DATA directory, unpack the contents of the new snap revision under $SNAP and it will

[2020-08-18 13:36] apnar commented on #1495
Thanks for the level of detail @ktsakalozos.  Given that description, at first thought, I don't believe any action should need to be taken during the refresh for multus.  I'll give it a closer look and submit a PR to resolve in the next couple days.

[2020-08-18 20:01] jdstrand commented on #784
This 'works' for you because when you remove the profile (-R), the containerd process is put under the 'unconfined' profile and adding (-a) the profile back does not reattach the existing process to the added profile (ie, it is still unconfined). Whenever you stop/start containerd, I would expect the issue to come back up.

[2020-08-18 20:03] jdstrand commented on #784
When people see this issue, are there any security violations in the logs? Eg: 'journalctl --since yesterday |grep audit'.

[2020-08-18 20:18] antoineco commented on #784
@jdstrand unfortunately not: https://github.com/ubuntu/microk8s/issues/784#issuecomment-571704446

[2020-08-18 20:53] jdstrand commented on #784
Ok, I tried to reproduce this with the instructions in the initial report and I see many denials related to no new privs when enabling the various services. While I didn't see the same errors others did when creating the helloworld-go pod (perhaps I didn't create it properly?), I can say for sure that unless containerd is handling nnp properly, the kernel nnp feature will sometimes prevent contain

[2020-08-19 09:38] natdan opened #1497 "Metallb libssl_conf.so missing(?)"
On arm64 (aarch64) snap versions:
  latest/candidate: v1.18.8  2020-08-14 (1615) 187MB classic
  latest/edge:      v1.18.8  2020-08-19 (1625) 186MB classic

BTW latest/stable (v1.18.6) is fine...

[code]

[2020-08-19 10:16] ktsakalozos commented on #1497
Thank you for following the candidate channel and for reporting this issue @natdan. What distribution is this on?

@balchua I think we missed the OPENSSL_CONF variable [1].

[1] https://github.com/ubuntu/microk8s/pull/985/files

[2020-08-19 10:33] natdan commented on #1497
LOL - I was, kind of, avoiding to say immediately! O: )

It is on Raspberry Pi  64bit PiOS (formerly known as Raspbian)...

I'm looking forward giving it a go as soon as your PR goes through.
Thanks for the quick fix, too! :)

[2020-08-19 11:27] natdan commented on #1497
Now I am confused. @ktsakalozos your PR is adding
[code]
but that line is already in the master! :( (and there are other changes)...

[2020-08-19 11:38] natdan commented on #1497
BTW - I've just given it a go and script with your changes worked well (no error reported). I am yet to test metallb as I've completely undone my cluster and I'll need to build it up again before I can see if metallb works or not. But 🤞  😃

[2020-08-19 12:11] #1497 closed

[2020-08-19 15:01] panlinux commented on #824
I'm a microk8s newbie, and just enabled ingress. I then followed the steps from https://kubernetes.io/docs/concepts/services-networking/ingress/ and I think all is correct, but I'm also seeing `127.0.0.1` as the "public" ip:
[code]
And:
[code]
And:
[code]
What am I missing? I was expecting to have a "public" IP available for me to connect to, and not `127.0.0.1`.

[2020-08-19 15:03] panlinux commented on #824
To be more precise, I'm accessing this microk8s deployment from another machine, after having configured `kubectl` there with the output of `microk8s config`.

[2020-08-19 15:08] panlinux commented on #824
Ok, I understood this bit now. Definitely in `actions/enable.ingress.sh` you are hardcoding `127.0.0.1` instead of using the ip of the microk8s host:
[code]
And since this is a snap, I can't edit that file prior to enabling ingress again.

[2020-08-19 15:45] panlinux commented on #824
How about this patch:
[code]

[2020-08-19 16:17] apnar commented on #1495
@ktsakalozos Took a closer look and in principal I don't see an issue not taking any action during a refresh.  In practice though it's an issue as things sit.  Both the multus pod volume mounts and args directly reference the real paths (ie /var/snap/microk8s/21/) instead of the "current" symlink.  That's due to substituting templates with SNAP_DATA during install.  I can deference that at install

[2020-08-19 18:32] knkski commented on #1439
@hpcaicom: It looks like there's a bug in that version of microk8s, can you run this and then try to enable Kubeflow again?

    sudo snap switch microk8s --channel=latest/candidate
    sudo snap refresh

[2020-08-19 19:00] AnishAnil opened #1500 "error: error validating "microing.yaml": error validating data: ValidationError(DaemonSet.spec.selector): unknown field "name" in io.k8s.apimachinery.pkg.apis.meta.v1.LabelSelector;"
Hello Microk8s

I'm trying to expose a custom ssh port that will be used for connecting and cloning the git repo.

Ex: Command that i run:

git clone ssh://aanil@androidhubgit.com:29418/All-Projects

If i create a nodeport and change it to 30000 and then run a clone it works perfectly.
However we cannot expose 30000  and it needs to be 29418.

I went through the documentation and found the followi

[2020-08-19 21:55] balchua commented on #1500
@AnishAnil it will be great if you can format your relevant manifests using markdown code blocks.
https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

First question, did u use `microk8s enable ingress`? It seems like you are trying to install your own ingress.

[2020-08-19 21:56] balchua commented on #1500
Related to https://github.com/ubuntu/microk8s/issues/1471

[2020-08-19 23:24] balchua commented on #1500
@AnishAnil your `DaemonSet` definition is not correct. Try this.

[code]

[2020-08-20 01:45] apnar commented on #1469
If I recall correctly before the merge of multus (and switch to default CNI bin to var with links), if calico was enabled it just copied all the CNI bin files over to /var/snap/microk8s/current/opt/cni/bin/ and never really cleaned them up.  Shouldn't be possible now, but for anyone who had enabled calico in the past (which I think came via HA?) they might need to manually clean them up before upg

[2020-08-20 01:51] apnar commented on #1468
This looks to be an issue with Multus itself as opposed to how it's being used in microk8s.  I'd suggest opening up an issue over on their page: [https://github.com/intel/multus-cni](url) and see if you can get some better feedback there.

[2020-08-20 04:07] AnishAnil commented on #1500
Yes, it is done.

[code]

[2020-08-20 04:11] #615 closed

[2020-08-20 04:21] AnishAnil commented on #1500
I had tried the same data that you suggested as it was part of the documentation and it had errored out and hence used the new
yaml file.
[code]
NOTE: I'm not trying to use an external ingress, Rather making use of the one provided in microK8s as  we want to really understand how the functionality is working as compared to other Kubernetes products and are staying and using native solution provide

[2020-08-20 04:40] impravin22 commented on #886
I have solved the issue. Do not run in root mode. Try running in user mode.

# k8s-master@k8s-master:-$ sudo microk8s.status

[2020-08-20 05:08] ktsakalozos commented on #1469
You are right @apnar. However, I do not think we ever exposed calico in latest/stable.

@shojiro000 is it possible you temporarily refreshed to latest/edge/ha-preview or tried to enable HA in any other way?

[2020-08-20 05:45] balchua commented on #1500
`DaemonSet` doesn't have `spec.selector.name` that is what the error says.
Do you also mind pointing us what error you get when you use the manifest file as mentioned in the documentation of microk8s? Thanks

[2020-08-20 07:09] ktsakalozos commented on #1495
Yes, this is understood. It is great we caught this before reaching latest/stable.

[2020-08-20 07:10] ktsakalozos commented on #1495
Thank you again for this work.

[2020-08-20 07:10] #1495 closed

[2020-08-20 07:56] srinathganesh1 opened #1503 "No default storageclass present"
`microk8s kubectl get storageclass` is returning empty for me.

Is there any way to auto create a default storageclass? like minikube comes with a built in storageclass

-------

`microk8s inspect`
Inspecting Certificates
Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running
  Service snap.microk8s.daemon-containerd is running
  Service snap.microk8s.daemon-apiserver is runni

[2020-08-20 08:16] AnishAnil commented on #1500
@balchua,

[code]
kubectl apply -f microk8singress.yaml
error: error validating "microk8singress.yaml": error validating data: ValidationError(DaemonSet.spec): missing required field "selector" in io.k8s.api.apps.v1.DaemonSetSpec; if you choose to ignore these errors, turn validation off with --validate=false

[2020-08-20 09:02] ktsakalozos commented on #1503
For local development you could try: `microk8s enable storage`

[2020-08-20 09:10] ktsakalozos commented on #1489
MicroK8s still runs on a VM on MacOS. You will need to transfer the yaml manifest file in the VM with `multipass transfer` or `multipass mount`, see [1]

[1] https://multipass.run/docs/working-with-instances

[2020-08-20 09:11] andreas-ahman commented on #1489
Yes I became aware of that and forgot to close the issue. I was under the impression that the transfer of the manifests was handled by the microk8s cli tool.
But eventually found some documentation.

[2020-08-20 09:11] #1489 closed

[2020-08-20 09:15] ktsakalozos commented on #1500
I think you are also missing a seletor. You can find more information on the Daemonset manifest in [1]

[1] https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

[2020-08-20 09:59] pschmitt opened #1504 "DNS resolution fails on all but one node"
### Description

I run a 3 node cluster and have installed the HA tech preview like so:

[code]

After having the nodes join the cluster with the join token obtained with `microk8s add-node -l -1` on node 1 and enabling the DNS addon with `microk8s enable dns` I noticed that all pods scheduled to run on nodes 2 and 3 are unable to do DNS resolution.

I've tried restarting the services, the nodes,

[2020-08-20 11:34] balchua commented on #1500
@ktsakalozos i think we should also update our docs to reflect the valid yaml.

[2020-08-20 12:11] sstubbs opened #1505 "Upgrade Metallb"
I see https://github.com/ubuntu/microk8s/pull/1434 has been merged. I've just done a clean install on a single server with the latest/stable channel and noticed it still has version 0.8.2

This will have some small production workloads on it in the next few days and what worries me a bit is how I'm going to upgrade this seeing as I have a custom install of istio using istioctl using this and then

[2020-08-20 12:44] pschmitt commented on #1504
I found the culprit: docker 🤦

Stopping `docker.service` on all nodes did the trick.

Maybe this should be added to the documentation.

[2020-08-20 13:52] balchua commented on #1504
Im running docker with a single node microk8s, never gave me problem.  Perhaps there is some container running in docker interfering with it.

[2020-08-20 14:39] sstubbs commented on #1505
It's only really metallb I'm worried about as I'm using istioctl for istio which allows upgrades. Certmanager also depends on both istio and metallb so I would like to try and get a clean way of updating it.

[2020-08-20 14:40] AnishAnil commented on #1500
Is there a file that you can share, I tested several combinations but it fails with "name" attribute which it looks to be fetching from ur code. Kindly help understand the exact attribute that is failing

[2020-08-20 14:53] AnishAnil commented on #1500
Further the yaml shared in the example with "- name: **proxied-tcp-6379**" also failed with the length and it needs to be reduced.

[2020-08-20 14:56] balchua commented on #1500
Check the link provided above regarding daemonset.  You can also check the microk8s ingress file and how the daemonset is defined.

https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/ingress.yaml

[2020-08-20 14:58] pschmitt commented on #1504
On a single host, docker is not interfering.

My bet is on the iptables rules that docker creates. But I don't know for sure.

[2020-08-20 15:06] balchua commented on #1504
Thanks @pschmitt 👍

[2020-08-20 15:14] balchua commented on #1500
I think the existing manifest provided in the docs are not meant to be used with `kubectl apply` instead a `kubectl patch`. You need to edit the current running ingress daemonset.
Thats about it.

[2020-08-20 15:24] AnishAnil commented on #1500
[code]

It now fails with the below errors:

[code]

[2020-08-20 15:42] ktsakalozos commented on #1504
It would have been great to understand how the IP table rules clash.

@pschmitt could you describe the sequence of steps I need to follow to reach your setup and how you recovered the cluster? Did you stop the docker service only? Did you stop containerd service as well? Did you get docker from the distributions repo or from docker? Did you have to restart any services or nodes? Thanks

[2020-08-20 16:03] bangbangjim opened #1506 "microk8s enable dns - Failed to perform a change of argument --cluster-domain to cluster.local on node"
Running `microk8s enable dns` gives the following output
[code]
Theres some failure despite DNS is enabled.

The file /var/snap/microk8s/current/args/kubelet looks like:
[code]
so it seems like --cluster-domain and --cluster-dns did actually get appended.

All the deployment also looks fine, when i run `kubectl get all -n kube-system` gives:
[code]

`microk8s inspect` gives
[code]
[inspection-repo

[2020-08-20 16:11] AnishAnil commented on #1500
I used the yaml file provided in the link, since using only an excerpt gave other errors,

This time it failed with the below errors:

[code]
I see that the file provided in a yaml editor and it looks good though.

Can we raise this as a defect or fix the documentation on how to deploy the ingress for custom ports.

[2020-08-20 18:28] panlinux commented on #824
You mean the ingress object I created? I tried changing the `ip` key in `status.loadBalancer.ingress.ip`, got no error, but it didn't change from `127.0.0.1`:
[code]
I ran this from another machine, which is pointing to the microk8s node via `~/.kube/config`.

Or did you mean some other command that would edit `/snap/microk8s/current/microk8s-resources/actions/ingress.yaml`?

[2020-08-20 19:25] AnishAnil commented on #1500
root@ip-172-31-47-59:~/files# kubectl patch -f ingress3.yaml
Error: required flag(s) "patch" not set

The command never runs

[2020-08-20 21:52] balchua commented on #1500
@AnishAnil i didn't mean that you run the whole ingress definition that you see in the microk8s source. It came with the role definitions that you do not need to rerun.
Let's bring back the ingress controller to its correct form.
`microk8s disable ingress` followed by `microk8s enable ingress`.
Now lets edit the `nginx-ingress-tcp-microk8s-conf`.
* To edit the `ConfigMap` do `microk8s kubectl edit

[2020-08-21 05:17] pschmitt commented on #1504
@ktsakalozos
To get to where I was:
- Docker Service enabled on all nodes + Swarm setup (no services deployed though)
- Setup microk8s HA cluster

To recover (on all nodes):
- `sudo systemctl stop docker; sudo systemctl mask docker`
- `microk8s stop; microk8s start`

[2020-08-21 05:39] bangbangjim commented on #1506
I have remove all the nodes except the master nodes and run `kubectl describe nodes` and notice getting the follow error:
[code]

[2020-08-21 05:51] bangbangjim commented on #1506
I am closing this because I think it's clear that MissingClusterDNS is the problem. I will open a new issue in the future if the problem still persist.

[2020-08-21 05:51] #1506 closed

[2020-08-21 06:52] ktsakalozos commented on #1506
Is it possible you joined the master-node to itself?

[2020-08-21 07:47] ktsakalozos commented on #1505
The metallb update is merged in master and you should be able to find it in latest/beta.

If you are doing a production deployment it is better you install MicroK8s from specific channel eg `sudo snap install microk8s --classic --channel=1.18/stable` and avoid the latest track (latest/stable, latest/beta etc). If you for example follow the 1.18/stable channel you will be getting k8s patch releases

[2020-08-21 16:09] quinnromanek opened #1507 "DNS Fails to be ready, possibly because node can't access master"
I'm running a 2-node microk8s cluster using ubuntu server 20.04 on two raspberry pis.  Domain resolution wasn't working for a pod running on the node, so followed the microk8s troubleshooting information and enabled/disabled the dns extension. ufw/firewalld are both enabled, and I applied the IPtables policy change with no affect.  My node can successfully ping the master over the network.  Howeve

[2020-08-22 00:56] sstubbs opened #1508 "Thanos sidecar prometheus addon"
Hi,

Would it be possibly to add an option to the prometheus addon to disable grafana and add a thanos sidecar to it? This would make it easy to integrate a more long term thanos solution into it. This addon works so much better than a lot of the other prometheus options I've tried but isn't really an option for long term storge at the moment. The same could be done for the istio addon but I know

[2020-08-23 02:44] kensykora opened #1510 "Raspberry PI4 - invalid capacity 0 on image filesystem"
[inspection-report-20200823_022916.tar.gz](https://github.com/ubuntu/microk8s/files/5113426/inspection-report-20200823_022916.tar.gz)

I'm following this guide on how to setup microk8s on a raspberry pi 4. <https://ubuntu.com/tutorials/how-to-kubernetes-cluster-on-raspberry-pi#4-installing-microk8s> I've managed to get it up and running and can connect with kubectl, but when I try to install dns a

[2020-08-23 18:43] ktsakalozos opened #1511 "Pod to pod network connectivity failing an calico (HA-enable) clusters"
### The probelm
When a calico node enters a cluster it advertises an IP through which other nodes can reach it [1]. By default calico will autodetect one and the policy used is "first-found"; "the first valid IP address on the first interface (excluding local interfaces such as the docker bridge)". This may cause problems in hosts with for example multiple interfaces, or even with lxd installed (l

[2020-08-23 18:46] AnishAnil commented on #1500
Last question on this topic, after the changes i got this working.

I had to edit both  the DS and the Config maps to get this working.
This should be controlled using the file provided in the document else one will end up doing a lot of task to get this fixed.

I will wait for 1.19 to further check this for now, I'm more than happy to work with .18.
Thank you for all your help n hopefully it is f

[2020-08-23 18:46] #1500 closed

[2020-08-23 21:47] #1492 closed

[2020-08-23 21:48] #1505 closed

[2020-08-23 21:49] #1483 closed

[2020-08-23 21:54] balchua commented on #1410
PR #1486 merged which fixes this one.

[2020-08-23 21:54] #1410 closed

[2020-08-24 09:31] ktsakalozos commented on #1510
Hi @kensykora

Thank you for reporting this.

I just updated the docs [1] to point out the kernel command line parameters are distribution specific. We also have a pending PR [2] against `microk8s inspect` that could detect missing cgroups and will point to the docs.

[1] https://discuss.kubernetes.io/t/alternative-installs-macos-windows-10-multipass/11257
[2] https://github.com/ubuntu/microk8s/pu

[2020-08-24 09:40] ktsakalozos commented on #1504
@pschmitt here is the opnened issue https://github.com/ubuntu/microk8s/issues/1511

I hope to have this merged to latest/edge soon.

It should, yes

I do not think this will make any difference.

[2020-08-24 10:07] ktsakalozos commented on #1444
Hi @muhammadnasr

The containerd upgrade to v1.3.7 should be on `latest/candidate` and will be on the v1.19 release (1.19/* channels) but will not be backported to 1.16 channels (so it is not on 1.16/stable).

[2020-08-24 10:37] rossdanderson commented on #552
Same issue - thanks for the workaround. I did not need to do the link in step 5.

[2020-08-24 10:38] #1511 closed

[2020-08-24 14:40] ktsakalozos commented on #1504
@pschmitt the patched version is on `latest/edge`. Would you be able to take it for a test-drive to see if it fixes the connectivity issues you have?

[2020-08-24 14:59] pschmitt commented on #1504
Yup. Will totally do that. I'll try to do this today even - but I am travelling. I'll let you know. Thanks for the quick fix!

[2020-08-24 15:11] ktsakalozos commented on #1504
Thank you

[2020-08-24 16:51] AnishAnil opened #1513 "How to use a custom conf file for Ingress"
Hello microk8s

In nginx we can use a custom "conf" file to redirect the error pages to the ones hiding the internal information about the used reverse proxy server.

For EX: if the Application server is down and if a user accesses  the Ingress URl it shows the version of nginx installed on the system and is a security breach. What is ideally done to harden the NGINX is to provide custom html erro

[2020-08-24 18:00] bergkvist commented on #1154
Seems like the cluster has gone unstable again:

[code]

[code]

[2020-08-24 20:59] ktsakalozos commented on #1154
@bergkvist would it be posible to upload the `microk8s inspect` tarball?

[2020-08-24 21:09] DanHartman commented on #1264
I am also able to reproduce this.  I am not creating any CRDs.
* `uname -a`
  * `19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64 x86_64`
* `microk8s uninstall`
* `microk8s install`
* `microk8s config > ~/.kube/config`
[code]
`microk8s reset`
which prints:
[code]

And then it does not complete.  I am able to "force" it by removing the finalizer

[2020-08-24 22:43] #1475 closed

[2020-08-25 03:53] kensykora commented on #1510
Wonderful, thank you @ktsakalozos!

[2020-08-25 03:53] #1510 closed

[2020-08-25 11:39] bergkvist commented on #1154
@ktsakalozos Here you go:
[inspection-report-20200824_231322.tar.gz](https://github.com/ubuntu/microk8s/files/5123479/inspection-report-20200824_231322.tar.gz)

[2020-08-25 13:49] ktsakalozos commented on #1154
@bergkvist the tarball you attached was one you got yesterday, right? I see there that k8s (containerd) had problems creating containers (forking). Often this is due to some resource shortage. I see the amount of free memory your system had was rather low, that could be a reason. there was a lot of memory used in buffers but I could not pinpoint which process was causing this. How does your `free

[2020-08-25 14:39] bergkvist commented on #1154
The tarball is from yesterday, yes. Running `free -m` right now gives me:

[code]

My understanding is that the "available" column is the relevant one - and that the linux operating system will always try to keep the "free" memory as low as possible. See https://askubuntu.com/questions/867068/what-is-available-memory-while-using-free-command

[2020-08-25 16:06] djjudas21 opened #1514 "Joining nodes fails with openssl config error"
I'm trying to set up a sandbox microk8s cluster but I'm failing at the `microk8s join` stage. My environment is CentOS 8 Virtualbox VMs, with bridged networking.

On the master:
[code]

On the worker:
[code]

The worker complains about `/usr/lib/ssl/openssl.cnf` but produces no errors. It never joins the cluster, but you have to run `microk8s leave` if you want to try again.

Output of `microk8s i

[2020-08-25 16:28] #682 closed

[2020-08-25 17:55] SemanticBeeng commented on #382
This feels like a problem but still trying to understand because have not developed with `containerd`.

So basically we can use `docker` for a production `kubernetes`  but not possible in development now with `microk8s`s ?
Does not feel right.

[2020-08-25 21:30] djjudas21 commented on #1514
For what it's worth, I tried setting up the same config on Ubuntu 20.04 and it did not throw the `openssl.cnf` error

[2020-08-25 22:13] ktsakalozos commented on #1514
Thank you for reporting this @djjudas21 and for your time in investigating.

Could you try installing the latest/edge revision: `sudo snap install microk8s --classic --channel=latest/edge`

[2020-08-26 05:19] RoSk0 commented on #394
Same issue on v1.18.6.
Instructions from @ktsakalozos doesn't help - link returns 401 and doesn't ask for auth.
Please help

[2020-08-26 06:03] ktsakalozos commented on #994
This is addressed

[2020-08-26 06:03] #994 closed

[2020-08-26 08:39] djjudas21 commented on #1514
Thanks @ktsakalozos. I have switched to `latest/edge` as you recommended:

[code]

There's no change in the behaviour when joining:

[code]

So here are the latest inspection reports:

[master-inspection-report-20200826_093512.tar.gz](https://github.com/ubuntu/microk8s/files/5128589/master-inspection-report-20200826_093512.tar.gz)
[worker-inspection-report-20200826_093521.tar.gz](https://github.co

[2020-08-26 08:59] ktsakalozos commented on #382
Hi @SemanticBeeng

Some time ago docker donated its runtime [2] called containerd to cncf. Kubernetes needs only that runtime (containerd) to function. K8s does need the docker daemon, it only needs the containerd daemon, have a look at [1].

We do not package docker in MicroK8s. Your developer workload may involve docker for testing and building images or you may use some other tool-chain for bui

[2020-08-26 09:54] ktsakalozos commented on #784
Hi all, thank you for your time, effort and patience. Could anyone provide feedback on the fix available through:
[code]

Many thanks.

[2020-08-26 10:48] SemanticBeeng commented on #382
Read thr

Link broken atm.

[2020-08-26 11:53] ktsakalozos commented on #1513
Hi @AnishAnil

Would something like [1] work for you?

[1] https://kubernetes.github.io/ingress-nginx/user-guide/custom-errors/

[2020-08-26 12:48] tvansteenburgh commented on #382
I think that originally pointed to https://microk8s.io/docs/registry-images

[2020-08-26 14:18] ktsakalozos commented on #1514
@djjudas21 I am not able to reproduce the issue you report however I see who this may happen and I would like to do a bling fix to put some guards in place. Anything else you can tell me that would help me reproduce the issue would be great. What centos image did you use?

Could you please do a clean reinstall of MicroK8s from latest/edge?
[code]
After doing so could you also please try a:
[code]

[2020-08-26 15:33] ayqazi opened #1517 "knative not working on microk8s 1.18 (Ubuntu 20.04)"
I am following the instructions to install microk8s and then knative, and then installing a sample knative app. The deployment seems to occur fine but then when I inspect the running services, they cannot seem to access the internet to download the image I pushed to Docker Hub. It is definitely a public image.

I am running Ubuntu 20.04 (Ubuntu MATE flavour). I install microk8s using snap, and it

[2020-08-26 15:44] SemanticBeeng commented on #382
@ktsakalozos thanks, this helps.

I am studying a few more resources (below); indeed, based on the evolution of `containerd`, the change makes perfect sense.
But it is also quite clear that this change affects the `docker` based development workflow and the impact is quite severe.

For example Intellij IDEA has powerful support for remote debugging of `docker` containers. The version they just rel

[2020-08-26 15:48] ktsakalozos commented on #1517
Hi @ayqazi

This issue looks similar to https://github.com/ubuntu/microk8s/issues/784

Would you care reinstalling microk8s from the `latest/edge/runc-nnp` channel as described in https://github.com/ubuntu/microk8s/issues/784#issuecomment-680781229

It would be great to get some feedback on the fix so we can proceed with merging and releasing it. Thank you.

[2020-08-26 17:56] rbalint commented on #892
I've just given the microk8s v1.18.6 snap a try on 20.10 development release and it worked even when iptables defaulted to iptables-nft:
[code]
It created legacy tables though.

[2020-08-26 18:44] joedborg opened #1518 "`microk8s start` does not start VM in MacOS and Windows wrappers"
Seems to be a missing method in the installer wrapper.  Also, running other commands should just start them.

[2020-08-26 19:18] ayqazi commented on #1517
The version you asked me to use gave a new error:
[code]

microk8s inspect
[code]

[inspection-report-20200826_201645.tar.gz](https://github.com/ubuntu/microk8s/files/5132369/inspection-report-20200826_201645.tar.gz)

[2020-08-27 07:32] beskow commented on #1368
I had the same problem (`ping: snapcraft.io: Temporary failure in name resolution`). It was caused by dnsmasq already running. After uninstalling it via brew and stopping the process (`sudo launchctl unload /Library/LaunchDaemons/homebrew.mxcl.dnsmasq.plist`), `microk8s install` worked without errors.

[2020-08-27 07:59] AnishAnil commented on #1513
No Not exactly,

Please find my conf file:

***************
# generated 2020-08-19, Mozilla Guideline v5.6, nginx 1.16.1, OpenSSL 1.1.1c, intermediate configuration, no OCSP
# https://ssl-config.mozilla.org/#server=nginx&version=1.16.1&config=intermediate&openssl=1.1.1c&ocsp=false&guideline=5.6
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    return 301 https://$host$

[2020-08-27 08:57] davigar15 opened #1520 "Pods stuck in unknown state after reboot"
I'm using latest/edge (with calico cni) and after rebooting the machine I'm getting all pods in Unknown state.

Logs of the calico node:
[code]

An interesting this if that calico is detecting the network used for LXD.

Following @ktsakalozos suggestions, I added this in /var/snap/microk8s/current/args/cni-network/cni.yaml and apply that spec.

[code]

The calico node did not restart, so I kill it

[2020-08-27 09:00] #618 closed

[2020-08-27 09:37] ktsakalozos opened #1521 "Kubeflow on cluster should not check for min memory"
In a cluster the min RAM requirement does not make sense as the pods are spread across nodes.

[2020-08-27 13:16] sstubbs commented on #1508
Here is the where thanos is added. https://github.com/prometheus-operator/kube-prometheus/blob/master/jsonnet/kube-prometheus/kube-prometheus-thanos-sidecar.libsonnet

Istio now has service monitors which work well. https://github.com/istio/istio/blob/master/samples/addons/extras/prometheus-operator.yaml So the current prometheus in microk8s is already a great collection point for metrics. If the

[2020-08-27 13:20] sstubbs opened #1522 "Prometheus RBAC For Other Namespaces"
I needed to add this to allow prometheus to use service monitors in other namespaces. If anyone else has this problem here is an option:
[code]

[2020-08-27 14:13] sstubbs commented on #1508
And here are the istio grafana dashboards. https://grafana.com/orgs/istio

[2020-08-27 14:30] DanHartman commented on #1264
I'm not sure if this is relevant but if I `kubectl delete ns ${FOO}` before issuing `microk8s reset` everything proceeds as expected

[2020-08-27 15:52] pastarace commented on #1049
I'm in the same situation of @AlbertoDePena . I've a 3 nodes cluster with the ingress enabled. My deployments, services and ingresses are correctly setup and running in a dedicated namespace.

While my expectation was to reach my services always using the master node ip having the ingress acting as a router/loadbalancer, I noticed that since the ingress pods are running on each node (as @ktsakaloz

[2020-08-28 02:47] RoSk0 commented on #803
Things getting a bit more complicated as current fluentd plugin is broken and outdated. See https://github.com/ubuntu/microk8s/issues/701

[2020-08-28 04:04] balchua commented on #803
We recently updated fluentd addon.  Perhaps it will be in 1.19 channel or latest/edge.

[2020-08-28 06:33] hyacin75 commented on #384
I had some painful issues with this and couldn't really find the solution online anywhere and had to piece it together, so in case anyone comes along with the same issue of being unable to pull images from a self-signed Docker registry, I had to modify the [plugins."io.containerd.grpc.v1.cri".registry] section of /var/snap/microk8s/current/args/containerd-template.toml to skip verification like so

[2020-08-28 09:55] RawSanj commented on #988
Is there a way to install microk8s without using snap at all?
I wanted to install microk8s in WSL2, there's a lengthy blog that explains how to do that but after several tries and errors I gave up. So I was wondering if there is some easier way to this on WSL2.

[2020-08-28 10:20] ktsakalozos commented on #988
I am sorry there is no way to install MicroK8s without snapd.

[2020-08-28 10:52] mkretz opened #1524 "Pod to service connectivity lost after upgrade to microk8s snap version 1.18.8"
[inspection-report-20200828_084931.tar.gz](https://github.com/ubuntu/microk8s/files/5141632/inspection-report-20200828_084931.tar.gz)

We have upgraded our microk8s one node instance running on Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-112-generic x86_64) from snap version 1.18.6 to snap version 1.18.8. After the upgrade everything was first looking fine. Then after a reboot of the node, all of our pod

[2020-08-28 11:43] ronatartifact commented on #1127
I am starting to set up a 10 node cluster based on rPi4 (4GB) in a Bitscope rack. I would like to run them with no local disks and have them boot from the LAN. My goal is to make the cluster easier to manage and maintain.
I expect to use it for both production and development  to support an in-house ISP - web sites, mail, nexus, github, svn as well as Spring Boot applications with Keycloak, Consul

[2020-08-28 11:53] ktsakalozos commented on #1524
@mkretz I see that there are services reported with `kubectl get svc` but the `ServiceList` in `kubectl cluster-info --dump` is almost empty.  Is there anything special with the deployment you have? Anything that may interfere with the network/firewall of the node? How did you do the upgrade? Just checked that it has been months since we pushed anything to the 1.18 branch [1] so the only thing tha

[2020-08-28 11:54] ktsakalozos commented on #1522
Should this be part of the docs or even the prometheus addon?

[2020-08-28 13:03] whiskerch opened #1525 "Microk8s is not applying docker.io mirror changes"
Hi,

I'm trying to change microk8s to use an internal mirror of docker hub to pull all images through, but it does not seem to apply the changes in the configuration I have made.

I am using a Sonatype/Nexus3 docker proxy to cache images we are using, and need to get microk8s to pull images from there instead of going direct to the https://registry-1.docker.io url

To do this I have modified the f

[2020-08-28 13:25] sstubbs commented on #1522
I'm not sure if there is some sort of security reason for `prometheus-k8s` role and rolebinding not to be cluserrole and clusterrolebinding but it if not it would probably make the most sense to change them instead of adding this. I thought I would add it here in case anyone else has this issue and needs a quick fix.

[2020-08-28 13:28] pastarace commented on #1049
Moreover they use a Deployment (with one replica) instead of a DeamonSet, having a single point o ingress into the cluster

[2020-08-28 14:02] pastarace commented on #1049
I solved creating a service of type NodePort to be able to access the ingress controllers from any node of the cluster.

As described [here](https://www.net7.be/blog/article/kubernetes_ingress_bare_metal_load_balancing.html), I should then use in front a loadbalancer like HAproxy to balance the usage of the service on all the nodes.

Could it be a reference architecture for the ingress use case in

[2020-08-28 14:17] whiskerch commented on #1525
I think this issue could be the cause of my problems: https://github.com/containerd/containerd/issues/4011

[2020-08-28 20:13] dajester2013 opened #1526 "Cannot pull image from secured private registry"
I added the registry to /var/snap/microk8s/current/args/containerd-template.toml as follows

[code]

But it couldn't resolve.  So I changed the endpoint to use the IP.

[code]

There was an error with the cert where the IP address was not listed in the SANs - so I re-issued the cert with the IP address in the SANs.  Went back to not resolving.  Keep in mind, I can successfully pull the image speci

[2020-08-28 21:19] cbrendanprice commented on #1071
@ktsakalozos was this issue actually "fixed"? not sure if this problem is more specific to running microk8s within wsl2 (with nested virtualization) but if i enable rbac i am unable to get anything to work properly. however, once rbac is disabled, everything works nominally. happy to provide whatever details you think would be useful.

[2020-08-28 21:51] balchua commented on #1526
Hi what version of microk8s you are using?

[2020-08-29 00:10] dajester2013 commented on #1526
Sorry, was in a hurry.

Running on Fedora 32, installed with snap, version 1.18.6.

This is the rendered toml:
https://gist.github.com/dajester2013/65343e838dae397e89620b356487e256

I can't remember the exact error from home, but it's something to the effect of  `failed to resolve docker.my.domain/my/app:latest`.

Its being served from a nexus 3 registry server.

[2020-08-29 01:23] balchua commented on #1526
I see that you customized the `containerd.toml` to use version 2.
I suppose that the registry is using a self signed cert.  You probably need to configure certs like described here.
https://github.com/containerd/cri/blob/release/1.3/docs/registry.md

I also noticed that the path to `cni` is hardcoded to the snap version ex. `"/var/snap/microk8s/1551/opt/cni/bin"`, it tends to change when the snap

[2020-08-29 02:08] dajester2013 commented on #1526
Well, the only thing I personally modified was adding the last 4 lines.

Where would you recommend I place the CA cert in order for it to be picked
up properly?

On Fri, Aug 28, 2020, 8:24 PM balchua <notifications@github.com> wrote:

[2020-08-29 02:14] balchua commented on #1526
Strange, the `containerd.toml.template` is based on version 1.  The template is then rendered to become `containerd.toml`, when you start the containerd.
Where we normally store the certs for kubernetes is `/var/snap/microk8s/current/certs` the advantage of putting it together with MicroK8s `$SNAP_DATA` files is that it gets backed up automatically when the snap is refreshed.

The usual way to cha

[2020-08-29 05:54] ktsakalozos commented on #1071
Hi @cbrendanprice,

Could you try installing MicroK8s from the `latest/candidate` channel (`sudo snap install microk8s --classic --channel=latest/candidate`)? Could you also attach the tarball produced by `microk8s.inspect`?

[2020-08-29 06:25] ktsakalozos commented on #1127
Hi @ronatartifact

I do not know if you are asking for more trouble than it is worth but the industry is going towards containerized applications with kubernetes as the orchestrator. So it sounds like a logical step.

My suggestion is to go with the HA setup on Ubuntu. Get MicroK8s from the 1.19/stable channel (`sudo snap install microk8s --classic --channel=1.19/stable`) following the instruction

[2020-08-29 07:07] balchua commented on #1127
@ronatartifact running java apps on PIs can be extremely slow atleast from my experience.

I noticed that you intend to run Kafka on it.  Kafka does require a lot of resources plus zookeeper.
Kafka requires fast IO too with an eMMC storage is just going to frustrate you.

[2020-08-29 15:29] pschmitt commented on #1504
I finally have some time to test this.

Is the patch only available on the latest/edge channel?

[2020-08-30 11:38] kkzz8888 opened #1528 "No pods (including kube-system pods) starting due to no IP addresses available in range set: 10.1.75.1-10.1.75.254"
Please run `microk8s inspect` and attach the generated tarball to this issue.

We appreciate your feedback. Thank you for using microk8s.

My microk8s (on Ubuntu WSL2 distro) has been running well until now and getting the following errors, no pods are starting although all services seem to be fine (i.e., kubectl works):
 Failed to create pod sandbox: rpc error: code = Un ││ known desc = failed to

[2020-08-30 12:49] balchua commented on #1528
I think i've seen this before but not with microk8s.
Remember stopping flannel and deleting the `subnet.env`.

In microk8s, this is located in
`/var/snap/microk8s/common/run/flannel/subnet.env`.  do a `microk8s stop` delete the `subnet.env` then `microk8s start`.

[2020-08-30 12:58] demanLiu commented on #1046
https://github.com/kubernetes/dashboard/issues/2995#issuecomment-551309479
This worked

[2020-08-30 13:03] ronatartifact commented on #1127
I could have been more clear on the application architecture.
Kafka, MongoDB and the NSF file storage are running on a RAID-10 file
server on an Intel(R) Core(TM) i3-7100 CPU @ 3.90GHz, with 4 cores and
8Gb of RAM.
I suspect that I will be network bound but not too seriously.

Any idea about why Java would be slow? These are all headless REST
services so graphics is not an issue.
Spring applicatio

[2020-08-30 13:17] balchua commented on #1127
Most java apps i've worked with uses a lot of memory even just by booting up. It can also be attributed to using jdk 8 which is not very cgroups aware unlike jdk 11.
Yeah rpi with 8GBs will be good.

[2020-08-30 19:31] ronatartifact commented on #1127
Sorry for the confusion between the tech stack and services.

I ran a simple benchmark on a compute bound Java app running on different CPUs to see where the PI fits.
The app does not use Spring or very much Java.
`
import java.lang.management.*;
import java.util.Set;
import java.util.HashSet;
import java.nio.file.Files;
import java.nio.file.Paths;
public class Testprime {
  public static void mai

[2020-08-30 20:13] kkzz8888 commented on #1528
thanks for the quick reply! This is very strange, this worked once for me with many times of failure. Isn't subnet.env supposed to be generated with different ip range every microk8s.stop/start? I have upgraded to the latest microk8s, feels like a bug.

[2020-08-30 21:03] balchua commented on #1528
Wait. You upgraded to 1.19/stable? How did u upgrade? Using `sudo snap refresh ...`?

[2020-08-30 21:47] kkzz8888 commented on #1528
Yes.

[2020-08-30 22:03] balchua commented on #1528
I am not too sure about regenerating the file though. I am guessing wsl2 may have changed the network.  Im purely guessing here though.  Maybe recreating the flannel interface here may help.

 Can you try stopping microk8s.  Delete `flannel.1` interface.

[code]
Delete the `subnet.env` file.

Then start microk8s.  Hopefully it recreate the network interface.  I guess pods need to be recreated.

[2020-08-31 07:10] ktsakalozos commented on #1528
You could also try re-installing MicroK8s from the 1.19/stable channel as we have switched the default CNI from flannel to calico.
[code]

[2020-08-31 07:26] ktsakalozos commented on #1504
The patch is on latest/edge latest/beta latest/candidate and on the 1.19 track (1.19 all channels).

Thank you.

[2020-08-31 07:33] ktsakalozos commented on #1507
Apologies for the late reply. I looked at the logs you attached but could not figure out why the connection between master and worker is blocked. Did you manage to get it working?

[2020-08-31 08:21] #612 closed

[2020-08-31 10:06] pschmitt commented on #1504
Okay, then I already tested it. I've redeployed using 1.19/stable and the DNS resolution is working fine inside pods (on any node).
Thanks again!

[2020-08-31 10:14] ktsakalozos commented on #1504
Thank you on your help fixing this.

[2020-08-31 10:14] #1504 closed

[2020-08-31 10:38] kkzz8888 commented on #1528
what is the difference btw snap refresh... and remove/install? The issue was there even before I refreshed the microk8s. Reinstalling would destroy all my workloads, including database (I run db as statefulset using bitnami/postgresql), I would rather not to do that. Any manual steps to setup calico?

[2020-08-31 11:04] balchua commented on #1528
@ktsakalozos would running `microk8s enable ha-cluster` turn it to using calico and dqlite instead of flannel and etcd even though it is a single node?

[2020-08-31 11:29] ktsakalozos commented on #1528
Indeed running `microk8s enable ha-cluster` will move you to calico. However, as we are not on a healthy system that we care not to ruin, I am not sure if this transition will fix the issue or cause more problems.

@kkzz8888 are there any other pods/machines on lets say the opensuse system on the subnet flannel is trying to use?

[2020-08-31 11:35] kkzz8888 commented on #1528
@ktsakalozos thanks for your insights! my microk8s running in WSL2 has been running for months without any issue... until I was playing with k3s in a different openSuSE distro on the same windows 10 machine (that could be an issue as the node points to the same host name).. I specifically terminated that instance before starting microk8s (which runs in ubutu distro).

[2020-08-31 11:48] ktsakalozos commented on #1528
I think @balchua's suggestion in https://github.com/ubuntu/microk8s/issues/1528#issuecomment-683476219 is what you should try first. The machines in WSL2 share the same network stack?

[2020-08-31 16:39] LSChyi commented on #824
@panlinux is that a good idea? The host IP may change, I think the better way would be using the [`valueFrom`](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/). The host IP is dynamically assigned to the ingress controller.

[2020-08-31 19:17] hyacin75 commented on #1127
Did 1.19 release go HA by default?  I just turned up a new node, got 1.19 release since that is what comes from the 1.19 channel now, tried to join it to my happy 1.19-RC4 cluster and am getting -

`Failed to join cluster. Error code 501. Not possible to join. This is not an HA dqlite cluster.`

I installed it the exact same way I installed 1.19-RC4 on my other nodes a week or two ago though.

[2020-09-01 07:54] lead4good commented on #1432
We are experiencing the same issue here as well. Tried to enable cilium because our app depends on network policies.
[code]
Newly created pods now freeze in ContainerCreating state, with the following warning
[code]
Dis- and enabling dns and cilium had no effect. Also patching `/var/snap/microk8s/current/args/kubelet` did not help. The cluster does not have any special networking configuration.

[

[2020-09-01 09:54] ktsakalozos commented on #1432
Hi @lead4good I would like you to edit `/var/snap/microk8s/current/args/containerd-template.toml` find the line that says: `bin_dir = "${SNAP}/opt/cni/bin"` and change it to `bin_dir = "${SNAP_DATA}/opt/cni/bin"`. Then do a `microk8s.stop` and `microk8s.start`.

If you have a long lasting MicroK8s deployment you would better try to deploy from a specific channel eg:
[code]

Starting from the `1.19

[2020-09-01 13:19] joedborg commented on #1518
https://github.com/ubuntu/microk8s/pull/1529

[2020-09-01 13:19] #1518 closed

[2020-09-01 14:48] panlinux commented on #824
What do you mean? The bare metal host in this case had microk8s deployed on it, I wouldn't expect its IP to change. It's the `--publish-status-address` parameter that tells the controller which IP to use, no?

[2020-09-01 14:57] #1432 closed

[2020-09-01 15:16] LSChyi commented on #824
You can assume the host IP will never change, but using `valueFrom` is a more elegant way, not only that you don't need to take care of retrieving IP by your self, but also it can handle the case when the host IP is changed.

[2020-09-02 03:03] gaofeng1973 opened #1534 "microk8s worker node join without any error, but master node cannot show the worker node"
my environment:
master node: ubunut20.04/PC    IP:192.168.0.59
worker node: ubuntu20.04 server /raspi4   IP:192.168.0.66
both master and worker node: sudo snap install microk8s --classic --channel=1.18/stable

1. in master(192.168.0.59) node, create the token string
[code]

2. in worker(192.168.0.66) nod join the master, no output seems successfully joined
[code]

3. in master node , list cluster

[2020-09-02 03:34] gaofeng1973 commented on #935
I am also getting the same issue both with --channel=latest/stable and --channel=1.18/stable

[2020-09-02 05:29] ktsakalozos commented on #935
@gaofeng1973 could you please attach the `microk8s.inspect` tarball?

[2020-09-02 05:45] ktsakalozos commented on #1534
Hi @gaofeng1973 , is there any time difference between the nodes? Is the time correctly set on both machines?

[2020-09-02 06:32] lead4good commented on #1432
@ktsakalozos thanks, this worked :+1:
Also thanks for the hint regarding default cni, will wait till snap auto updates to 1.19, then disable cilium again.

[2020-09-02 06:55] gaofeng1973 commented on #1534
yes. I will attach the newest inspection tar.gz after retest them after re-install microk8s

both time zone and date is : Wed Sep  2 14:53:12 CST 2020

master node:
[inspection-report-20200902_144929.tar.gz](https://github.com/ubuntu/microk8s/files/5160577/inspection-report-20200902_144929.tar.gz)

worker node:
[inspection-report-20200902_144937.tar.gz](https://github.com/ubuntu/microk8s/files/516

[2020-09-02 08:17] mkretz commented on #1524
@ktsakalozos the point about the service list not matching is indeed strange. We will investigate that. Thanks for the hint!

There is nothing special about the deployment, at least not intentionally. It's a snap-based microk8s on an Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-112-generic x86_64) server.

[2020-09-02 10:49] Nocturem commented on #828
Seconding this I ran straight into this issue and the first result on googling takes you off to [microk8s.kubectl requires sudo](https://github.com/ubuntu/microk8s/issues/606)

its not ideal to run into this on the second item in a guide on https://microk8s.io/
perhaps while the project is still actively developing it may be prudent to redirect users to the github readme as that looks to be accura

[2020-09-02 12:04] balchua commented on #1534
@gaofeng1973 i think you have some squid proxy running in the master node.  For example etcd on master couldn't connect to itself.

[code]
You need to add an environment variable `no_proxy` to exclude your nodes from passing by the squid proxy. Usually this can be added to `/etc/environment`

[2020-09-02 12:21] goblinrieur opened #1536 "update on Ubuntu 20.04.1 LTS - snap install microk8s --channel=1.19 --classic"
whould install microk8s I check it is not already present :

[code]

check version :+1: I should run `snap install microk8s --channel=1.19 --classic`

result is here :
[code]
so I have squashfs it is somewhere in install script the ubuntu 20.04.1LTS case using mksquashfs not set ?

[2020-09-02 13:20] ktsakalozos commented on #1536
Hi @goblinrieur

Is this on a VM on any cloud?

This is a snapd issue, here is a related issue on the snapcraft forum https://forum.snapcraft.io/t/system-does-not-fully-support-snapd/14767/7

[2020-09-02 13:59] ktsakalozos commented on #824
This is correct. One of the use cases of MicroK8s is local development. If you are on a laptop the host IP will change as you switch networks.

[2020-09-02 14:52] panlinux commented on #824
Does @LSChyi 's approach address this?

[2020-09-02 14:55] goblinrieur commented on #1536
It is a baremetal OVH server

[2020-09-02 15:31] LSChyi commented on #824
yes, as explained above, the host IP is retrieved when the pod is created as the env `HOST_IP` is referencing the host IP then.

[2020-09-02 20:20] sstubbs opened #1538 "Cannot See External Traffic IP WIth Istio And Metal LB"
Hi,

I'm not sure if this is the right place to ask this but all traffic using the istio ingress gateway shows the ip of the ingress gateway not the external one. Has anybody else had this issue?

I've tried patching it like this:
[code]
suggested here https://istio.io/latest/docs/tasks/security/authorization/authz-ingress/

and according to the metal lb docs https://metallb.universe.tf/usage `ext

[2020-09-03 01:35] gaofeng1973 commented on #1534
thanks and I will try to set the environment variable no_proxy.

[2020-09-03 02:20] gaofeng1973 commented on #935
@LuffyyyffuL will it be possible to attach the inpect tarball? You can produce that by executing microk8s.inspect.

I meet the same question but I  found this issue was caused by the host has run some squid proxy.
[code]
my /etc/environment setting is :
[code]
when `no_proxy` variable set without `localhost,127.0.0.1`, the ***/var/snap/microk8s/common/run/flannel/subnet.env*** missing issue will h

[2020-09-03 06:44] gaofeng1973 commented on #1534
@balchua thanks, confirmed and I though you can close this issue now

[2020-09-03 07:34] ktsakalozos commented on #1536
Does this look relative: https://github.com/ubuntu/microk8s/issues/362 ?

What is your kernel version (`uname -a`)?

[2020-09-03 07:35] ktsakalozos commented on #1534
Thank you.

[2020-09-03 07:35] #1534 closed

[2020-09-03 09:10] LeonSebastianCoimbra opened #1539 "How is it possible to change/enhance the default configuration files for the standard Nginx ingress?"
This is not a true issue but a question that aims to overcome a problem.

I am configuring my microservices/docker application (developed locally using docker and Envoy as reverse proxy) in MicroK8s. The applications are written in .net core 2.1 and do use IdentityServer4 as an OAuth2 provider (it is a docker service among the other services).

The services configured in my local environment (with

[2020-09-03 11:26] balchua commented on #1539
Many of the nginx configuration can be added to the `Ingress` resource as annotations.

I don't think there is a need to actually change the nginx ingress controller.

Here's the link to all nginx ingress annotations.
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/

Not particularly sure the actual mapping between the annotation and nginx conf though.

[2020-09-03 11:35] balchua commented on #1539
This might also help you configure nginx ingress.

https://github.com/dotnet/aspnetcore/issues/19293

[2020-09-03 11:40] LeonSebastianCoimbra commented on #1539
Hi @balchua and thanks for the response.

After further search and tests, i found the following page:

https://www.b2-4ac.com/nginx-ingress-controller-errors/

(it is a confirm of the previous thread mentioned in my original comment, and the proof that some additional configuration is needed)

After that i added some annotation to the ingress, in particular the following:

    nginx.ingress.kubern

[2020-09-03 11:45] balchua commented on #1539
Different workloads will always require different configurations.

I think the way to configure nginx ingress controller is to edit the ConfigMap.  Give it a try and let us know how it goes. 👍

[2020-09-03 11:50] LeonSebastianCoimbra commented on #1539
I will, thanks again!!

[2020-09-03 12:02] ruudboon commented on #1046
This is blcoking me as well

[2020-09-03 12:11] goblinrieur commented on #1536
here my uname :
`Linux squadlabo 4.9.87-xxxx-std-ipv6-64 #1 SMP Tue Mar 13 18:41:47 CET 2018 x86_64 x86_64 x86_64 GNU/Linux`

it somehow looks like [#362](https://github.com/ubuntu/microk8s/issues/362) I did similarly diagnostic tests in facts without results

[2020-09-03 15:08] ktsakalozos commented on #1046
This might be related: https://www.techprowd.com/automatic-ssl-certificates-for-home-microk8s-setup-using-letsencrypt/

Also you may want to read the comments at https://news.ycombinator.com/item?id=24361930

[2020-09-03 15:48] LeonSebastianCoimbra commented on #1539
I can confirm that both approaches work:

- By specifying the values as annotation of the ingress:
`
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/proxy-buffering: "on"
    nginx.ingress.kubernetes.io/proxy-buffer-size: 16k
    nginx.ingress.kubernetes.io/proxy-body-size: 8m
`
- By creating a patch to the default nginx configmap:
`
apiVersion: v

[2020-09-03 15:48] #1539 closed

[2020-09-03 19:41] mogwai commented on #1484
Reinstalling microk8s seems to have resolved the issues. I'll close for now but I didn't discover why there was an issues with connectivity within the pods

[2020-09-03 19:41] #1484 closed

[2020-09-04 00:16] balchua commented on #1538
@sstubbs is this something we can ask the folks at metallb?

[2020-09-04 03:11] giner commented on #784
@ktsakalozos, `latest/edge/runc-nnp` works for me

[2020-09-04 10:26] uGiFarukh opened #1540 "microk8s installation not working on Ubuntu 20.04.1 AWS EC2"
ubuntu@ip-172-31-29-202:~$ sudo snap install microk8s --channel=1.19 --classic
error: cannot perform the following tasks:
- Run configure hook of "microk8s" snap if present (run hook "configure":
-----
+++ /snap/microk8s/1667/sbin/ifconfig cni0
+++ echo '172.31.29.202 '
++ local 'IP_ADDRESSES=172.31.29.202 '
++ cp /var/snap/microk8s/1667/certs/csr.conf.template /var/snap/microk8s/1667/ce

[2020-09-04 10:35] uGiFarukh commented on #1540
microk8s v1.18.6 from Canonical✓ installed

So the stable channel installation is working. But somehow the latest 1.19 which I want to use is not installing. Also, I noticed that the download speed for the stable channel was much quicker compared to the 1.19 channel which was around the 300KB/s neighborhood. Is there anything particularly wrong with the 1.19 channel?

[2020-09-04 10:46] uGiFarukh commented on #276
Right now, what is the best option to achieve this local IP range change for the latest 1.19 microk8s without breaking any addons or functionality? And

[2020-09-04 11:05] ktsakalozos commented on #1540
Hi @uGiFarukh

The error you see is because the API server did not manage to start within 5 minutes from the installation of the snap. A `t2.micro` has not enough resources (mainly RAM) to host MicroK8s and any workloads. The 1.18 deployment displays a different behavior in such cases. It will deploy and will let you debug any issues present later. We have seen for example cases where in-node proc

[2020-09-04 12:06] VictorNine opened #1541 "Causing issues for wireguard VPN (iptables)"
I'm running microk8s channel=1.19 on ubuntu 18.04. I have a wireguard connection to my master node witch works perfectly as long as microk8s is not running. As soon as it's started the wireguard connection stops working. This issue seems to be in iptables:

`DROP       all  --  anywhere             anywhere             /* kubernetes firewall for dropping marked packets */ mark match 0x8000/0x8000`

[2020-09-04 13:23] goblinrieur commented on #1536
I tried update but still no fix included.

[2020-09-04 13:38] ktsakalozos commented on #1536
This is not the kernel Ubuntu 20.04 LTS ships with [1]. Canonical puts a lot of effort in patching and testing the kernels used in Ubuntu. Taking the kernel out of the distribution may cause such bugs and hurt its users. You should talk to OVH to see what are your options in getting the original kernel and maybe asking if there are other changes to the distribution you should be aware of. I am not

[2020-09-04 13:50] goblinrieur commented on #1536
OK thanks I going to both :
- Ask OVH about that (_I think you're right they should have given a personalized kernel to allow virsh and other stuff_)
- Use a virtual machine for microk8s while waiting for the next available server I will manage.

So I will close this incident here.

[2020-09-04 13:50] #1536 closed

[2020-09-04 17:06] uGiFarukh commented on #1540
Hello @ktsakalozos

I thought microk8s is designed to work on IoT ARM devices. These devices contains very low amount of RAM to work with. My application is mainly focused on IoT devices and EC2 t2.micro instances. What would you recommend the best approach for my use case? I really do wanted to use the latest 1.19 kubernetes with everything. Is there any way, I can make it work in this RAM constr

[2020-09-04 22:17] balchua commented on #1541
I don't think this is a. MicroK8s issue.  But someone seems to have a solution to this.

https://discuss.kubernetes.io/t/kubernetes-wireguard-flannel-overlay-network-on-vms-blocked-by-kubefirewall/4602

Can you try this one?

[2020-09-05 10:06] bclermont commented on #1343
I'm looking to run microk8s with IPv6. And if possible with no IPv4

[2020-09-05 14:21] dkozlov commented on #543
You can use the following script as a workaround:
[code]

[2020-09-05 17:13] ktsakalozos commented on #1540
Could you try adding some swap memory to your nodes? Here is how I got MicroK8s on t1.micro:
[code]

I do not know when CDNs (or whatever mechanism is caching snaps on AWS) get updated.

[2020-09-05 17:22] #640 closed

[2020-09-05 18:08] uGiFarukh commented on #1540
@ktsakalozos

I am using the most latest ubuntu 20.04.1 LTS server on t2.micro - So, basically have 1vCPU and 1GB RAM

Can you please let me know using what sets of linux commands I can set permanent swap so that microk8s 1.19 works properly without any problem? Do I need to add anymore commands to the ones you provided on the last reply to make the 3GB swap permanent? Please let me know in detail

[2020-09-05 18:09] uGiFarukh commented on #1540
And what should I do if I want to run microk8s 1.19 in production IoT devices which has 512MB or 1GB ram? should I add permanent swaps to them also? And will this method work properly without any problems?

[2020-09-05 18:16] uGiFarukh commented on #276
@ktsakalozos any idea on how to achieve this properly without breaking anything?

[2020-09-05 19:41] sirpeanut commented on #1538
I'm having the same problem with nginx. I asked on MetalLB's Slack channel but they seemed to think MetalLB has nothing to do with this and it's more likely a problem elsewhere. I ended up filing kubernetes/kubernetes#94563 which has more details.

[2020-09-05 20:42] ktsakalozos commented on #1540
To make swap permanent have a look at [2]. Also make sure you go through [1] to understand the effects of swap on kubernetes. I am afraid it is a challenge to fit the OS, kubernetes and any workload in 512MB.

[1] https://discuss.kubernetes.io/t/swap-off-why-is-it-necessary/6879
[2] https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-20-04

[2020-09-05 21:11] ktsakalozos commented on #276
There are two main IP ranges you may want to change.
1. The range where cluster IPs are from. By default this is set to 10.152.183.1/24. To change the cluster ip range you need to:
    - Edit `/var/snap/microk8s/current/args/kube-apiserver` and update the `--service-cluster-ip-range=10.152.183.0/24` argument of the API server.
    - After `microk8s enable dns` you need to update the `--cluster-dns

[2020-09-06 03:29] uGiFarukh commented on #1540
@ktsakalozos btw I had couple of other questions for which I thought I shouldn't open up another issue.

microk8s is a single binary kubernetes? or it uses multiple binaries to achieve different features? Also, what is the exact storage and memory footprint of microk8s? And will it run properly on ARMv6 hf architecture? Planning to use dietpie and microk8s on top of it.

Btw, k3s by rancher labs s

[2020-09-06 06:03] uGiFarukh commented on #1540
@ktsakalozos

Well, microk8s installed on the t2.micro with the extra swap space but it is practically unusable. I tried to use the kubernetes dashboard and I think it crashed the API. Not sure how the use case of microk8s will be in IoT or embedded devices :(